@charset "UTF-8";
/* CSS Document
Client: Informatics, Inc
Company: Informatics, Inc
Author: Jeff S
Date: JUN-SEP 2020
*/

:root {
    --primary: #a2b245;
    --secondary: #e9811b;
    --tertiary: #aa4cc1;
    --dark: #00304d;
    --light: #eee;
    --primary-dark: #6c7d26;
    --bkg: #fcfcfc;
    --theme-gradient: linear-gradient(-45deg, var(--primary), #748c23);
    --dark-gradient: linear-gradient(-50deg, #0e5163, var(--dark));
    --text: rgba(0,0,0,.65);
    --light-text: rgba(255,255,255,.75);
    --header: 'Soleil', sans-serif;
    --body: 'Muli', sans-serif;
    --script: 'Minion', serif;

    --box-shadow: 0 0 50px rgba(0,0,0,.1);
    --light-line: rgba(255,255,255,.25);
    --spacer: 25px;
    --side-width: 25px;
    --max-width: 1100px;
}

/* ANIMATE */
/* Fast */
.animate-fast, .ccm-page a, #menu, #menu-toggle .fa, #menu a:before, #menu ul, .feature img, .blog-item *, .page-link *, .hover-link figure:before, p.author a::after, #page-list ul a:before, .form-group label, #contact-close, .btn-theme > a:after, a.btn-theme:after, button.btn-theme:after, input.btn-theme:after, .stack-link i, .gallery-item h3, #values-pagination li {transition: all 0.35s cubic-bezier(0, 0.55, 0.45, 1);}
/* Slow */
.animate-slow, #site-header, .mini-nav, #site-header:after, .blog-item *, a.blog-item, .cta-item * {transition: all 0.75s cubic-bezier(0.33, 1, 0.68, 1);}
/* Fun */
.swing, .we-are-good img, .page-desc p, .cta-item, .cta-item a:after, .text-link, .text-link:after, #contact, .swiper-slide, #values-pagination li:after, .team-item figure img {transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);}
.animate-zip {transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);}

.site-offline {width: 100vw; height: 100vh; display: flex; justify-content: center; flex-direction: column; align-items: center; background: var(--dark);}

body {font-family: var(--header);}
.text {color: #fff; text-align: center; padding: 25px;}
.text img {max-width: 400px; margin: 25px auto; width: 80%;}
.text h2 {font-size: 1.75rem; text-transform: uppercase; color: var(--primary)}
.text p {font-size: 1.5rem; font-weight: 300; opacity: .7;}

/* TYPOGRAPHY */
@media (min-width: 1200px) {
  #site-header {padding: 45px var(--side-width);}
  #site-header.scroll {padding: 0px var(--side-width);}
  #menu ul a {font-size: 1.2rem; padding: 25px 15px;}
  #menu ul ul a {font-size: .95rem; padding: 10px}
  #menu .sub-menu > a::after  {top: 8px; margin-left: 8px;}
  #menu ul ul {width: 280px; left: calc(50% - 140px);}
}
