@charset "UTF-8";
/* CSS Document
Client: Informatics, Inc
Company: Informatics, Inc
Author: Jeff S
Date: JUN-SEP 2020
*/
#pricing {padding: 50px;}
#pricing h1 {color: var(--dark);}
#pricing h2 {margin: 0 0 1rem 0;}
#pricing h3 {border-bottom: 1px solid var(--dark); padding: 0 0 1rem 0; margin: 0 0 1rem 0;}
#pricing p {font-size: 1.1rem; font-weight: 300; padding: 0 50px 0 0;}
#pricing .price-grid + h3 {margin-top: 1.25rem;}
.price-grid {display: grid; grid-template-columns:  1.5fr 1fr 1fr 1fr; font-size: 1rem; gap: 15px; align-items: flex-end;}

.price-grid .fa {color: var(--primary);}
.price-grid li {border-bottom: 1px dotted #ddd; padding: 5px; display: flex; justify-content: center; flex-direction: column;}