@charset "UTF-8";
/* ----------------------*/
/* -- MENU AND HEADER -- */
/* ----------------------*/
#header {position: absolute; top: 0; width: 100%; z-index: 15; padding: 20px; font-family: var(--header);}
#logo {max-width: 150px; margin-right: auto;}
.logo-color {display: none;}
#navbar {border: none; box-shadow: none;}
#nav-main {margin: 1rem 0; border: 0;}
#nav-main a {font-size: .7rem; color: #fff; font-weight: 700; text-decoration: none; display: block; flex-grow: 1;}
#nav-main a:hover {background: none;}
#nav-main li ul {width: 100%; padding: 0;border-top: 1px dotted var(--light-border);}
#nav-main li ul li {border: 0;}
#nav-main li ul li a {font-size: .9rem; font-weight: 400; padding: 10px 15px 10px 25px; font-family: var(--body);}
#nav-main a {padding: 15px;}

#nav-main .hdr-cta {border: none; margin: .5rem 0;}
#nav-main .hdr-cta a {font-weight: 700; text-transform: uppercase; border: 2px solid var(--dark);background: #fff; color: var(--dark); border-radius: 25px; font-size: .85rem; letter-spacing: .5px; text-align: center;}
#nav-main .hdr-cta + .hdr-cta a {color: #fff; background: var(--dark);}
#nav-main .hdr-cta a:after {display: none;}

.screenreader-text {
    position: absolute;
    left: -999px;
    width:1px;
    height: 1px;
    top: auto;
  
    &:focus {
      background: var(--primary);
     color: #fff;
      display: block;
      height: auto;
      width: auto;
      position: static;
      margin: auto;
      text-align: center;
      padding: 5px;
    }
  }

.ico-links {display: grid; grid-template-columns: 45px 45px; grid-template-rows: 45px 45px; align-items: flex-start; gap: 5px; font-family: var(--body); align-items: center;}
.ico-links a {display: block; font-size: .6rem; color: #fff; width: 45px; height: 45px; display: flex; align-items: center; flex-direction: column; justify-content: center; text-decoration: none; border-radius: 4px; background: var(--orange);}
.ico-links a:hover {cursor: pointer;}
.ico-links a .fa {display: block; font-size: 1.2rem; margin: 0 0 2px 0;}
.ico-links a span {opacity: 0; position: relative; margin-bottom: -15px; transition: var(--transition);}
.ico-links a:hover {background: var(--orange); opacity: 1; color: #fff;}
.ico-links a:hover span {margin-bottom: -5px; opacity: 1;}
.ico-links a:nth-of-type(2) {background: var(--green);}
.ico-links a:nth-of-type(3) {background: var(--purple);}
.ico-links a:nth-of-type(4) {background: var(--teal);}

/* ONLY MOBILE */
@media (max-width: 992px) {
.mobile-menu {display: flex; justify-content: flex-end; align-items: center; gap: 15px;}
#toggle {color: #fff; text-transform: uppercase; font-weight: 700; letter-spacing: .5px; margin: 0; border: none; border-radius: 0; font-size: .6rem; border-radius: 4px;}
#toggle .menu-label {display: block;}
#toggle .fa {font-size: 2rem;}

#nav-main a {font-size: 1.1rem; padding: 15px 10px; font-weight: 700;}
#nav-main button {border: none; background: none; color: var(--primary); padding: 13px 20px; border-left: 1px dotted var(--light-border);}
#nav-main button .fa {transform: rotate(180deg);}
#nav-main button.collapsed .fa {transform: rotate(0deg);}
#nav-main li {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; border-bottom: 1px dotted var(--light-border);}
#nav-main li ul li:last-of-type {margin: 0 0 1rem 0;}
.hdr-locations .col {padding: 10px; display: grid; grid-template-columns: 1.25fr 2fr; background: var(--light); border-radius: 5px; align-items: center;}
}

/* DESKTOP */
@media (min-width: 992px) {
#logo {display: block; height: 100%; margin: auto; display: flex; justify-content: center; flex-direction: column; max-width: 210px; position: relative;}
#header {display: flex; align-items: center; justify-content: space-between; position: fixed; padding: 20px; transition: var(--transition);}
#header.scroll, #header.scrolled {background: #fff; padding: 5px; box-shadow: 0 15px 15px -15px rgba(0,0,0,.1);}
#header.scroll li a, #header.scrolled li a {color: var(--dark);}
.logo-color {display: block;position: absolute; left: 25px; top: 0; width: 100%; visibility: hidden; opacity: 0; transition: var(--transition);}
#header .logo {opacity: 1; left: 0; transition: var(--transition);}
#header.scroll .logo, #header.scrolled .logo {opacity: 0; left: -25px;}
#header.scroll .logo-color, #header.scrolled .logo-color {visibility: visible; opacity: 1; left: 0;}

#navbar {margin: 0; padding: 0; display: flex !important; align-items: center; gap: 15px;}
#navbar:before, #navbar:after {display: none;}

#nav-main {margin: 0; padding: 0; display: flex; align-items: center;}
#nav-main li button {display: none;}
#nav-main a {padding: 40px 10px; font-size: .9rem; letter-spacing: -.5px;}
#nav-main .hdr-cta a {font-size: .75rem; padding: 10px 15px; margin-left: 10px;}

#nav-main > li:hover > a, #nav-main > li.active > a {background: none;}
#nav-main > li > a:after {width: 0; height: 4px; position: absolute; left: 50%; bottom: 25px; content: ""; background: var(--blue); opacity: 0; transition: var(--transition);}
#nav-main > li:hover > a:after {opacity: 1; width: 30px; left: calc(50% - 15px);}
#nav-main > li.active > a:after {opacity: 1; width: 30px; left: calc(50% - 15px);}

#nav-main li ul { border: none;position: absolute; display: block; top: 105%; left: calc(50% - 125px); width: 250px; background: #fff; z-index: 5;list-style: none;box-shadow: 0 5px 10px rgba(0,0,0,.15); padding: 10px 10px 10px 30px; margin: 0; opacity: 0; visibility: hidden; transition: var(--transition); z-index: 15; border-radius: 5px; list-style: square;}
#nav-main li ul li::marker {color: var(--purple);}

#nav-main li:hover ul {top: 100%; opacity: 1; visibility: visible;}
#nav-main li ul li a {padding: 10px 10px 10px 0; border-radius: 5px; color: var(--text); transition: var(--transition); font-size: .9rem;}
#nav-main li ul li a:hover {padding: 10px 5px 10px 5px; background: var(--secondary-light); border: 1px solid var(--secondary-light-border);}

/*
#nav-main li:nth-last-of-type(2n) ul li::marker {color: var(--green);}
#nav-main li:nth-last-of-type(3n) ul li::marker {color: var(--blue);}
#nav-main li:nth-last-of-type(4n) ul li::marker {color: var(--orange);}
#nav-main li:nth-last-of-type(5n) ul li::marker {color: var(--purple);}

#nav-main li:nth-last-of-type(2n) a::after {background: var(--green);}
#nav-main li:nth-last-of-type(3n) a::after {background: var(--blue);}
#nav-main li:nth-last-of-type(4n) a::after {background: var(--orange);}
#nav-main li:nth-last-of-type(5n) a::after {background: var(--purple);}
*/
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
    #header {padding: 30px;}
    #logo {max-width: 225px;}
    #nav-main a {font-size: 1rem; padding: 40px 15px;}
}
/* SUPER WIDE DESKTOP */
@media (min-width: 1400px) {
    #logo {max-width: 225px;}
    #nav-main a {font-size: 1.1rem; padding: 40px 20px;}
}

/* Bootstrap Expand Nav Tablet Too */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}