/* CSS Document
Client: Informatics Starter Theme
Company: Informatics, Inc
Author: Jeff S
Date: Feb 2023
*/

// Abstracts
@import "abstracts/mixins"; 
@import "abstracts/variables";
@import "abstracts/utility";

// Vendors 
/* Bootstrap Reqs */

// Core
@import "core/reset";
@import "core/animations";

// Wordpress Theme
@import "layout/wpcols-for-demo";  // can delete once in WP
@import "theme/brand";
@import "theme/block_styles";
@import "theme/buttons";
@import "theme/layout";

// Theme Layouts
@import "layout/header_top";
@import "layout/header";
@import "layout/footer";
@import "layout/blog";


// Theme Components
@import "components/page-headers";
@import "components/image_blocks";
@import "components/flickity";
@import "components/cards";
@import "components/showcase";
@import "components/hero";
@import "components/sidebar"; 
@import "components/contact_form";  
@import "components/member-grid";  
@import "components/fullimg-cards";  
@import "components/event-list";  