@charset "UTF-8";
/* CSS Document
Client: ABOMS
Company: Informatics, Inc
Author: JS
Date: Sep 2021
*/

/* Variables */
:root {
    /* Typography */
    --header: 'Montserrat', sans-serif;
    --body: 'Montserrat', sans-serif;
    --serif: 'Georgia', serif;
    --spacer: 25px;
     --box-shadow: 0 0 15px #dbe3ec;
    /* ROC Colors */
    --bkg: #eaf0f7;
    --bkg-light: #f9fafb;
    --theme-dark: #334357;
    --theme-med: #5d5678;
    --theme-headers: #222;
    --theme-primary: #A1D403;
    --theme-secondary: #9ed8ee;
    --theme-link: #53a5c3;
    --theme-neutral: #e6ebf1;
  
    /* Interface Colors */
    --success: #53a041;
    --success-bkg: #edf6eb;
    --inprog: #6fb0ce;
    --inprog-bkg: #e1f1f8;
    --failed: #c12929;
    --failed-bkg: #f7e2e2;
    --zero: #e6ebf1;
    --zero-bkg: #f2f5f8;  
  }

/* Animations */
.animate-fast, .ccm-page a, .btn-text a:after, .feature-link *  {transition: all 0.35s cubic-bezier(0, 0.55, 0.45, 1);}
.swing {transition: all 0.6s cubic-bezier(0.68, -0.6, 0.32, 1.6);}
.animate-zip, #menu {transition: all 0.3s cubic-bezier(0.86, 0, 0.07, 1);}

/* TYPOGRAPHY */
html {font-size: 90%;}
body {margin: 0; background: #fff; font: .9rem/1.5 var(--body), sans-serif; color: var(--text);-moz-font-feature-settings: "liga" on; overflow-x: hidden; font-feature-settings: normal;}
.light-on-dark {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;}
img {max-width: 100%; height: auto;}

h1, h2, h3, h4 { font-family: var(--header); color: var(--dark); margin: 0 0 1rem 0; line-height: 1.2; font-weight: 600;}
h1 {font-size: 1rem; color: #fff; margin: 0;}
h2 {font-size: 1.25rem; letter-spacing: -.5px; position: relative;}
h3 {font-size: 1.1rem; letter-spacing: -.25px;}
h4 {font-size: .8rem; font-family: var(--header); margin: 0 0 .75rem 0; text-transform: uppercase;}
p, ul, ol {margin: 0 0 1.5rem 0;}
.preheader {color: var(--primary); text-transform: uppercase; font-weight: 800; letter-spacing: 2px; margin: 0 0 .5rem 0;}

/* LINKS */
a {color: var(--primary);}
a {text-decoration: underline;}
a:hover {text-decoration: none;}
.btn {font-size: .75rem; border: none;font-weight: 600; border: 3px solid rgba(0,0,0,.15); border-top: 0; border-left: 0; text-decoration: none; padding: .475rem .75rem .375rem .75rem;}
.btn-theme {font-size: .75rem; background: var(--theme-primary); color: #fff; position: relative; z-index: 2; text-decoration: none;}
.btn-theme:hover {background: var(--theme-primary); color: #fff;}
.btn-theme:after {position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #fff; content: ""; opacity: 0; z-index: -1; mix-blend-mode: overlay;}
.btn-theme:hover:after {opacity: .2;}
.btn-link {border: none;}
.btn-text {display: inline-block; padding: 10px 15px; background: #e4f0f2; border: 1px solid #cbdde0; font-weight: 700; text-align: center; border-radius: 5px;}
.btn i {margin-right: 3px;}
.good {color: #15b136; font-weight: bold;}
.bad {color: #c42323; font-weight: bold;}
.soso {color: #c9a33e;  font-weight: bold;}

/* FRAME */
.frame {width: 100vw; min-height: 100vh; display: flex; justify-content: center; flex-direction: column; align-items: center; overflow-y: scroll;}
.frame-phone {width: 375px; height: 812px; border: 20px solid #333; border-radius: 45px; box-shadow: 15px 15px 25px rgba(0,0,0,.2); display: block; margin: 25px; position: relative; overflow: hidden; background: var(--bkg)}
.frame-phone:before {position: absolute; top: 0; left: 0; width: 335px; height: 50px; background: url(../img/phone-top.png); content: ""; background-size: 100% 30px; background-repeat: no-repeat; background-position: 50% top;}
.page-content {padding: 20px 20px 150px 20px; height: 100%; overflow-y: scroll; position: relative;}

/* App Nav */
#app-nav {position: absolute; bottom: 0; left: 0; width: 100%; background: var(--theme-dark); z-index: 5;}
#app-nav ul {list-style: none; padding: 0; margin: 0; display: grid; grid-template-columns: repeat( auto-fit, minmax(30px, 1fr)); }
#app-nav ul a {display: block; text-align: center; width: 100%; font-size: .75rem; padding: 15px 0; color: rgba(255,255,255,.65); text-decoration: none; position: relative; border-right: 1px solid rgba(0,0,0,.3);}
#app-nav ul a i {display: block; text-align: center; margin: 0 0 5px 0; font-size: 1rem;}
#app-nav ul .active a:before {background: var(--theme-primary); width: calc(100% + 1px); height: 5px; content: ""; position: absolute; left:0; top: 0;}
#app-nav ul .active a {color: var(--theme-primary);}

/* COMPONENTS */
#app-head {background: var(--theme-dark); text-align: center; padding: 30px 5px 0 5px; display: grid; grid-template-columns: 50px auto 50px; align-items: center;}
#app-head h1 {grid-column: 2;}
#app-head > * {padding: 15px;}
#app-head a {padding: 15px; color: #fff;}
#app-head a.arrow-back {margin-right: auto;}
.panel {padding: 25px; background: #fff; border-radius: 5px;}
.title-info {font-size: .85rem; display: block; align-items: center; margin: 0 0 1rem 0;}
.title-status-yes:before {content: "\f00c";font-family: FontAwesome; margin-right: 5px; color: var(--success);}
.title-status-no:before {content: "\f00d";font-family: FontAwesome; margin-right: 5px;}
.title-info > * {padding: 0 8px 0 0; margin: 0 6px 0 0; border-right: 1px dotted #aaa; color: #333;}
.title-info > *:last-child {border: none;}
.divider {border-top: 1px solid #ddd; padding: 10px 0; margin: 1.5rem 0 0 0; text-align: center;}
.cert-title {text-align: center;}
.cert-title h2 {margin: 0 0 5px 0; font-size: 1.5rem;}

/* Current Reqs */
.item-wrap {display: grid; grid-gap: 20px; padding-bottom: 20px;}
.cert-item {padding: 35px 15px 15px 15px; background: #fff; position: relative; border-radius: 5px; box-shadow: 0 0 15px #dbe3ec;}
.cert-item h3 {font-size: 1rem; margin: 0 0 3px 0; font-weight: 400;}
.cert-item:after {position: absolute; top: 0; left: 0; width: 100%; padding: 3px 5px; display: block; content: "Unstarted"; font-size: 10px; text-transform: uppercase; background: #7893b3; color: #fff; letter-spacing: 1px; opacity: .8; height: 21px; border-radius: 5px 5px 0 0; font-weight: 700; text-align: center;}
.cert-item .type, .type {text-transform: uppercase;letter-spacing: 1px; margin: 5px 0; font-weight: 700; font-size: .75rem; }
.cert-item hr {margin: 0; border-color: #ccc; margin: 10px 0;}
.cert-item .cert-btn {display: inline-block; padding: 4px 8px; border-radius: 4px; background: #888; color: #fff; font-size: 12px; opacity: .8;}
.cert-item .cert-btn:hover {opacity: 1;}
.cert-item:hover:after {opacity: 1;}
.cert-item p a {text-decoration: underline;}
.cert-item p a:hover {color: #333; text-decoration: none;}
.cert-item p {margin: 00; font-size: .75rem;}
.cert-item p + p {margin: 5px 0 0 0;}
.cert-item a i {margin-left: 5px;}
.cert-item.status-complete:after {background: #4ca94c; content: "Complete";}
.cert-item.status-fail:after {background: #d9291c; content: "Incomplete";}
.cert-item.status-inprogress {background: #e8f2fa;}
.cert-item.status-inprogress:after {background: #3787c9; content: "In Progress"; z-index: 4;}
.cert-item.status-inprogress:before {display: block; width: 5px; background: rgba(255,255,255,.25); content: ""; height: 21px; position: absolute; right: 0px; top: 0px; z-index: 5;
    background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,
    transparent);
    background-size: 1.5rem 1.5rem;
}
.cert-item.status-waived {background: #fcf0cb;}
.cert-item.status-waived:after {background: #d7b038; content: "Waived";}
.cert-item.status-override:before {content:"\f00c"; font-family: "Fontawesome"; position: absolute; left: 5px; top: 1px; color: #fff; z-index: 5;}

.progress-10:before {width: 90% !important;}
.progress-20:before {width: 80% !important;}
.progress-30:before {width: 70% !important;}
.progress-33:before {width: 66% !important;}
.progress-40:before {width: 60% !important;}
.progress-50:before {width: 50% !important;}
.progress-60:before {width: 40% !important;}
.progress-66:before {width: 33% !important;}
.progress-70:before {width: 30% !important;}
.progress-80:before {width: 20% !important;}
.progress-90:before {width: 10% !important;}
.progress-100:before {width: 0 !important;}

/* NEW DASH PANEL */
.dash-panel {display: grid; gap: 35px;}
.dash-panel .col {padding: 0;}
.dash-panel .col:nth-of-type(2) {border-left: 1px dotted #ccc; padding-left: 35px;}
.dash-panel h3 {margin: 10px 0 25px 0;}
.dash-group {margin: 0 0 10px 0;position: relative;}

/* DASH ITME */
.dash-item {align-items: center; padding: 15px 10px 15px 15px; position: relative; background: #fff; border-radius: 10px; margin: 0 0 10px 0; display: grid; grid-template-columns: auto 75px; gap: 10px; box-shadow: 0 0 15px #dbe3ec;}
.dash-item .text {border-right: 1px solid #eee; padding-right: 10px;}
.dash-item h4 {font-size: 1rem; margin: 0 0 3px 0; font-weight: 400; text-transform: none;}
.dash-item p {margin: 0; font-size: .85rem;}
.dash-item .badge {padding: 4px 4px 4px 4px; color: #fff;}
.renewal {background: #ef476f; color: #fff; padding: 4px 7px; margin: 0 0 5px 0;}
.exam {background: #06d6a0; color: #fff; padding: 4px 7px; margin: 0 0 5px 0;}
.application {background: #dea010; color: #fff; padding: 4px 7px; margin: 0 0 5px 0;}
.certification {background: #80b918; color: #fff; padding: 4px 7px; margin: 0 0 5px 0;}
.inprog {background: var(--inprog); padding: 4px 7px; margin: 0 0 5px 0;}
.void {background: #d9291c; color: #fff; padding: 4px 7px; margin: 0 0 5px 0;}
.complete {background: #4ca94c; padding: 4px 7px; margin: 0 0 5px 0;}
.dash-item hr {margin: 0; border-color: #ddd; margin: 10px 0;}
.dash-item.no-btn {display: block; padding: 15px;}
.dash-item.no-btn .text {padding: 0; border: none;}

/* EXPAND HEADER */
.expand-hdr {padding: 10px; background: #f4f4f4; border-radius: 5px; background: var(--bkg-light); box-shadow: var(--box-shadow);}
.expand-hdr:hover {cursor: pointer;}
.expand-hdr i {float: right; opacity: .3;transform: rotate(180deg);}
.expand-hdr.collapsed i.fa {transform: rotate(0deg);}

/* DASH ITEM EXPAND */
.dash-item .expand-hdr {box-shadow: none; font-size: .75rem; text-transform: uppercase; margin: 1rem 0;}

/* TABLE */
.table td {padding: 5px 10px; font-size: .65rem;}
.rocp-table.table-striped tr:nth-of-type(2n+1) {background-color: var(--bkg);}
p + .rocp-table {margin-top: 1rem;}

/* FORMS */
.rocp-form label {font-weight: 700; text-transform: uppercase; font-size: .7rem; position: relative;}
.rocp-form .col-sm-2 {max-width: 100%;}
.rocp-form label:before {display: block; width: 8px; height: 8px; background: var(--theme-primary); content: ""; float: left; margin: 4px 5px 0 0; position: absolute; left: 0; top: 0;}

/* SCREEN - LOGIN */
#login {background: var(--theme-dark); display: flex; justify-content: center; flex-direction: column; padding-bottom: 100px;}
#login #logo {margin: 0 0 1.5rem 0;}
#login .btn {padding: 10px; font-size: 1rem;}
#login .btn-link {text-align: center; display: block; width: 100%; margin: 1rem 0 0 0; font-size: .9rem; font-weight: 400; text-decoration: underline;}
.signup {text-align: center; color: var(--bkg-light); margin: 2rem 0 0 0;}
.signup a {color: var(--bkg-light); display: block; padding: 5px;}

/* PROFILE */
.info-list {list-style: none; margin: 0 0 1rem 0; padding: 0;}
.info-list li {display: grid; grid-template-columns: 100px auto; border-top: 1px dotted #ccc; padding: 3px; align-items: center;}
.info-list li:first-of-type {border-top: none;}
.info-label {text-transform: uppercase; font-size: .65rem;}
.profile-pic {text-align: center; position: relative;margin: 0 auto 1.5rem auto;}
.profile-pic img {width: 160px; height: 160px; overflow: hidden; border-radius: 50%; border: 5px solid #fff;  object-fit: cover;}
.profile-pic a {position: absolute; right: calc(50% - 90px); bottom: 10px; width: 45px; height: 45px; border-radius: 50%; font-size: 1.25rem; border: 3px solid #fff; line-height: 26px; text-align: center;}

/* PAGE NAV */
#page-nav {margin: 0 0 1.5rem 0;}
#page-nav ul {list-style: none; padding: 0; margin: 0; display: grid; grid-template-columns: 1fr 1fr; border-radius: 5px;}
#page-nav ul a {display: block; padding: 10px 5px 12px 5px; text-align: center; font-size: .8rem; background: #fff; color: #444; text-decoration: none; border: 1px solid rgba(0,0,0,.1);}
#page-nav ul li:first-of-type a {border-radius: 5px 0 0 5px;}
#page-nav ul li:last-of-type a {border-left: none; border-radius: 0 5px 5px 0;}
#page-nav ul .active a {text-decoration: none; color: #fff; font-weight: 600; position: relative; background: var(--theme-dark);}
#page-nav ul .active a:after { border-left: 6px solid transparent; border-right: 6px solid transparent; border-top: 6px solid var(--theme-primary); position: absolute; content: ""; left: calc(50% - 8px); bottom: 2px;}

/* -------------------*/
/*  TABLET           */ @media (min-width: 768px) {
/* -----------------*/
/* GLOBALS */ 

}

/* -- Fade In Up -- */
@keyframes fadeInUp {
    0% {opacity: 0;transform: translate3d(0, 4%, 0) scale(1);}
    100% {opacity: 1;transform: none;}
  }
  .page-content {
  opacity: 0;
  animation-name: fadeInUp;
  animation-delay: none;
  animation-timing-function: ease-in-out;
  animation-duration: .45s;
  animation-fill-mode: forwards;
  }