/* ==============================
   PRIMARY BUTTON
   ============================== */

.btn-theme {
    padding: .6rem 1.25rem;
    background: var(--blue);
    color: var(--light);
    border: 2px solid var(--blue);
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    gap: var(--gap-sm);
    font-weight: 600;
    text-decoration: none;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .12);
    transition: all 150ms ease;
}

.btn-theme:hover {
    background: var(--darkblue);
    border-color: var(--darkblue);
    transform: translateY(-2px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, .12);
    text-decoration: none;
}

.btn-theme:hover i {
    margin-left: .5rem;
    ;
}
.btn-text {font-weight: 700;}
.btn-text i {color :var(--green); transition: var(--transition); position: relative;transition: var(--transition)}
.btn-text:hover i {transform: scale(1.2); right: -5px;}

/* ==============================
   SECONDARY (Soft Green Tint)
   ============================== */

.btn-theme.secondary {
    background: var(--tan);
    color: var(--blue);
    border: 2px solid var(--green-ada);
}

.btn-theme.secondary:hover {
    background: var(--light);
    color: var(--dark);
    border-color: var(--green-ada);
}

/* ==============================
   GHOST / OUTLINE BUTTON
   ============================== */

.btn-theme.ghost {
    background: transparent;
    color: var(--blue);
    border-color: var(--blue);
}

.btn-theme.ghost:hover {
    background: var(--blue);
    color: var(--light);
}


/* ==============================
   LINK STYLE BUTTON
   ============================== */

.btn-theme-1 {
    background: none;
    border: none;
    padding: 0;
    color: var(--blue);
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: var(--green);
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;
    border-radius: 0;
    transition: color 150ms ease;
}

.btn-theme-1:hover {
    color: var(--darkblue);
}




/* ==============================
   BUTTON SPACING
   ============================== */

