.call-to-action {background:#fff; padding: 3rem; border-radius: var(--border-radius-sm);  }
.call-to-action h3 {color: var(--primary);font-size:1.6rem}
.call-to-action .wp-block-button__link {font-size: 1.15rem;}

.call-to-action .wp-block-button__link:after {content: "\f061";font-family: FontAwesome; margin: 0 0 0 5px; transition: var(--transition);}
.call-to-action .wp-block-button__link:hover:after {margin: 0 0 0 10px;}

/* TABLET */
@media (min-width:768px){
}

@media (min-width: 992px) {
.call-to-action {grid-template-columns: auto 175px; align-items: center;}
}