/* CSS Document
Client: SHIVE-HATTERY
Company: Informatics, Inc
Author: Jeff S
Date: Feb 2023
*/

// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Vendors 
/* Bootstrap Reqs */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/transitions";
@import "../bootstrap/scss/forms/form-check";
@import "../bootstrap/scss/forms/form-select";
/* Swiper */
@import "vendors/swiper/swiper";

/* Bootstrap Components */
@import "../bootstrap/scss/accordion";

// Swiper
@import "vendors/swiper/swiper";

// Lightbox
@import "vendors/glightbox";

// Core
@import "core/reset";
@import "core/animations";
@import "core/theme";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/layout";
@import "layout/blog";
@import "layout/wordpress";

// Components
@import "components/alerts";
@import "components/page-headers";
@import "components/sec-nav";
@import "components/gallery";
@import "components/scroll-items";
@import "components/cta";
@import "components/hero";
@import "components/img-feature";
@import "components/facility";




