/* Theme Buttons */
.wp-block-button,.wp-block-button__link.btn-theme,.wp-block-button__link.btn-light  {display: inline-block;}
.wp-block-button__link.btn-theme, #submit.btn-abp,.btn.btn-default{font-weight:800;font-size:0.85rem;display:inline-block;padding:18px 25px 12px 25px;transition:var(--transition);background:var(--primary);color:#fff;border:none;border-radius:100px;}
.wp-block-button__link:hover.btn-theme:hover,.wp-block-button__link:focus,#submit.btn-abp:hover{text-decoration: none;cursor:pointer;background:var(--secondary);color:var(--primary)}

/* Text Only Buttons */
.wp-block-button__link.btn-text{font-size:0.85rem;font-weight:800;text-transform: uppercase;color:var(--primary)}
.wp-block-button__link.btn-text:hover{text-decoration: none;color:var(--secondary)}

/* Underlined Buttons */
.wp-block-button__link.btn-line{font-size:0.85rem;font-weight:800;text-transform:uppercase;            padding-bottom:5px;color:var(--secondary);position:relative;align-self: end;}
.wp-block-button__link.btn-line:hover{text-decoration: none;color:#fff}
.wp-block-button__link.btn-line::after{content:"";position:absolute;bottom:-2px;left:0;width:100%;height:2px;background-color:var(--secondary);transform-origin:left center;transition:transform 0.3s ease;}

/* Icon Buttons */
.wp-block-button__link.btn-icon {font-size:0.85rem;font-weight:800;text-transform: uppercase;}
.wp-block-button__link.btn-icon:after{content:"\f18e";font-family:"Font Awesome 5 Free";font-weight:900;font-size:1rem;}
.wp-block-button__link.btn-icon:after{transition:padding-left 0.5s ease;padding-left:6px;color:var(--secondary-light);}
.wp-block-button__link.btn-icon:hover:after{padding-left:10px}
