/* Variables */
:root {
  /* Colors NEW */
  --theme-dark: #030D26;
  --theme-primary: #DD3639;
  --theme-ada-red: #B22222;
  --theme-secondary: #292E4C;
  --theme-accent: #def1f8;
  --theme-accent-2: #A2DCF0;
  --theme-blue: #20428D;
  --theme-gray: #808693;
  --dark: #222;
  --bkg: #f9f9f9;

  /* Colors */
  --primary: #030D26;
  --primary-dark: #6740D8;
  --accent-1: #2fb1bf;
  --accent-2: #BCABAE;
  --light: #FBFBFB;
  --dark: #111;
  --gray: #ccc;
  
  /* Fonts */
  // --header: "schwager-sans", sans-serif;
  --header: "Platypi", serif;
  --body: -apple-system, BlinkMacSystemFont, Roboto, roboto slab, droid serif, segoe ui, system-ui, Arial, sans-serif;
  --serif: "Times New Roman", Georgia, serif;
  --text-color: rgba(0,0,0,.9);
  --text-color-inverse: rgba(255,255,255,.85);

  /* Globals */
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --box-shadow-sm: 0 0 15px rgba(0,0,0,.1);
  --box-shadow-lg: 0 15px 25px rgba(0,0,0,.15);
  --shadow: 10px 10px 35px rgba(0,0,0,.05);
  --border-radius-xl: 50px;
  --border-radius-lg: 25px;
  --border-radius-sm: 5px;
  
  /* Spacing */
  --max-width: 1120px;
  --side-padding: 5vw;
  --spacer: 1.5rem;
  --spacer-vert: 2rem;
  --column-gap: 2rem;
  --column-gap-lg: 4rem;
  --fixed-header-height: 115px;
  --side-width: calc(((100vw - var(--max-width))/2) + var(--spacer));
} 

/* TYPOGRAPHY */
html {font-size: 100%;}
body {font-family: var(--body); font-weight: 400; font-size: 1rem; background: var(--bkg); color: var(--text-color); padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility; overflow-x: hidden;}

h1, h2, h3, h4, h5 {font-family: var(--header); line-height: 1.1; margin: 0 0 1rem 0; font-weight: 400; letter-spacing: -1.5px; color: var(--theme-dark);}
h1 {font-size: 4rem; font-weight: 300; line-height: 1.1;}
h2 {font-size: 2.75rem; font-weight: 400;}
h3 {font-size: 1.65rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.4rem;}
p {letter-spacing: -.25px;}
p, ul, ol {margin-bottom: 1.25rem;}
p strong {color: #222;}
ul {padding: 0 0 0 15px;}
ul li::marker {color: var(--accent-2);}
blockquote {font-size: 150%; font-family: var(--serif); font-style: italic;}
hr {border: none; border-top: 1px solid #ccc; margin: 3rem 0;}
/* Links */
a {transition: var(--transition); color: var(--theme-primary); text-underline-offset: 4px; text-decoration-color: var(--theme-primary);}
a {text-decoration: none; text-underline-offset: 2px; text-decoration-thickness: 1px;}
a:hover {text-decoration: underline;}
p a {text-decoration: underline;}
p a:hover {color: #222;}
// a:visited { color: #6a5acd; /* Muted purple, subtle but noticeable */}
a:focus {outline: 2px dashed var(--primary); /* High contrast for accessibility */outline-offset: 2px;text-decoration: underline;}

/* Paragraphs */
.is-style-eyebrow {text-transform: uppercase; font-weight: 300; color: var(--theme-primary); letter-spacing: 2px; font-size: .85rem; display: inline-block; padding: 0; display: inline-block; align-self: flex-start; font-weight: 500; display: flex; align-items: center;}
.is-style-eyebrow:before {width: 50px; height: 2px; background: var(--theme-primary); content: ""; display: block; margin: 0 1rem 0 0;}
.lead, .is-style-lead {font-size: 1.65rem; line-height: 1.4; font-weight: 300; font-weight: 300; margin: 2rem 0;}
.is-style-label {background: var(--theme-primary); padding: 5px 8px; font-size: .65rem; text-transform: uppercase; font-weight: 600; letter-spacing: 1px; display: inline-block;}

/* Utility Classes */
.box {padding: var(--spacer); border: 1px solid rgba(0,0,0,.1); box-shadow: 0 0 25px rgba(0,0,0,.05);}
.is-style-bkg-light {background: #fff;}

.dgn-flair {position: relative;}
.dgn-flair-box:after {display: block; content: "";width: 150px; height: 150px; border: 25px solid var(--theme-accent-2); position: absolute; right: -25px; bottom: -75px; box-shadow: 10px 10px 15px rgba(0,0,0,.05);}

/* Fixed Two Col */
.sticky-twocol {display: grid;grid-template-columns: 1fr 1fr;gap: 2rem;align-items: start;}
.col-sticky {position: sticky;top: 150px; /* Adjust as needed */height: fit-content;}

.grid-list {display: grid; grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) ); gap: 2rem;}


/* TABLET */
@media (min-width: 768px) {

} 

/* DESKTOP */
@media (min-width: 992px) {
  :root {
  --spacer-vert: 4rem;
  }

}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
  :root {
  --spacer-vert: 7rem;
  }
  h1 {font-size: 5rem;}
  h2 {font-size: 3rem;}
  h3 {font-size: 1.75rem;}
}
