/* Fix Height Layout */
.default-calendar {background-color: initial; height: 540px; position: relative;}
@media (max-width: 600px) {.default-calendar {background-color: initial; height: 615px; position: relative;}}

/* Show Calendar in Left Col */
#dateRangeDiv {visibility: hidden; height: 0px !important; width: 0px !important;}
.daterangepicker .calendar-table td.off.ends {visibility: hidden;}
#append_datepicker_section:before {display: none;}
#append_datepicker_section .daterangepicker {display: block !important; top: 0px !important; width: 100%; box-shadow: none;}
#append_datepicker_section .daterangepicker:after, #append_datepicker_section .daterangepicker:before {display: none;}
#append_datepicker_section .drp-calendar {padding: 10px; max-width: none;}
.daterangepicker .calendar-table td {height: auto; width: auto; padding: 10px 5px; font-size: .85rem;}

/* Global Calendar Styles */
.daterangepicker {font-family: var(--body) !important;}
.daterangepicker .calendar-table th {line-height: inherit !important; padding: 0;}
.daterangepicker td {border: 2px solid #fff !important;}
.daterangepicker .month {padding: 0 !important;}
.daterangepicker .month select {border: none; padding: 5px !important; font-size: .85rem !important; background: #f9f9f9; border-radius: 5px !important; border: 1px solid #ccc !important;}
.daterangepicker thead .monthselect, .daterangepicker thead .yearselect, .daterangepicker thead .next span, .daterangepicker thead .previous span {margin-bottom: 1rem !important;}
.daterangepicker thead tr:nth-of-type(2) th {font-weight: 700; opacity: .75;}

.daterangepicker .nonselectabledates {background: none !important; opacity: .7;}
.daterangepicker .available {color: #111; opacity: 1; font-weight: 500;}
.daterangepicker .selected-date {text-decoration: none !important; color: #222 !important;}
.daterangepicker td.available:hover, .daterangepicker th.available:hover {background: #fff !important; border-color: var(--dark); box-shadow: inset 0 0 0 2px var(--primary);}
.daterangepicker .group-date {background: var(--light) !important; border: 2px solid #fff;}
.cal-legend ul {list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; gap: 1rem;}
.cal-legend ul li {font-size: .70rem; display: flex; gap: .35rem; align-items: center;}
.cal-legend ul li:before {display: block; content: "7"; width: 15px; height: 15px; background: #fff; border-radius: 3px; display: grid; align-content: center; text-align: center; text-decoration: line-through; color: #888; border: 1px solid #999;}
.cal-legend ul li.cal-legend-selection:before {background: var(--primary-light); content: "";}
.cal-legend ul li.cal-legend-together:before {background: var(--light); content: "";}

/* Legend */
.color-heading { padding: 10px; background-color: #f9f9f9; border-bottom: 1px solid #ddd; display: flex; border-radius: 4px 4px 0 0; }
.color-heading p { margin: 0; font-size: 12px; line-height: 1.5; margin-right: 10px; }
.color-box { display: inline-block; width: 10px; height: 10px; margin-right: 5px; vertical-align: middle; }

/* Error Message */
.validation-heading {color: #842029; background-color: #f8d7da; border-color: #f5c2c7; margin: 20px 20px 0 20px; padding: 1rem; border-radius: 4px;}
.validation-heading ul {margin: 0; padding: 0;}
.invalid-dates {display: none !important; color: #cd2e3d; font-weight: 500; line-height: 1.3; font-size: .85rem;}
.invalid-dates.active {display: block !important;}
.validation-heading {display: none;}
.validation-heading.active {display: block !important;}
.validation-heading .invalid-dates i {margin-right: 2px;}

/* Just Mobile Calendar Items */
@media (max-width: 992px) {
.daterangepicker {width: calc(100% - 45px);}
.daterangepicker .drp-calendar {max-width: none !important; width: auto;}
.color-heading p {font-size: 10px !important;}
}

/* Tablet */
@media (min-width: 654px) {
#append_datepicker_section .drp-calendar {width: 50%; padding: 1.5rem;}
.daterangepicker .drp-calendar.left, .daterangepicker .drp-calendar.right {margin: 0 !important; padding: 1rem .5rem 1rem 1rem !important;}
.daterangepicker .drp-calendar.right {padding: 1rem 1rem 1rem .5rem !important;}
#sidebar-affix .daterangepicker {width: 545px; left: auto !important; right: 0 !important;}
.daterangepicker.opensright:before {left: auto !important; right: 241px !important;}
.daterangepicker.opensright:after {left: auto !important; right: 242px !important; border-bottom-color: #f9f9f9 !important;}
}
