/* FACILITY */
/* Globals */

.detail-header figure {display: grid; grid-template-columns: 2fr .7fr .7fr; gap: 5px; border-radius: 15px; overflow: hidden; grid-template-rows: 100px 100px;}
.detail-header figure img:nth-of-type(1) {grid-row: span 2; grid-column: 1;}
.detail-header figure img:nth-of-type(2) {grid-row: 1; grid-column: 2;}
.detail-header figure img:nth-of-type(3) {grid-row: 2; grid-column: 2;}
.detail-header figure img {width: 100%; height: 100%; object-fit: cover;}
.detail-header figure img:hover {cursor: pointer;}
.gbtn {border: none; color: var(--primary);}
.detail-header {display: grid; gap: 15px; margin: 0 0 2rem 0; text-align: center; border-top: 1px solid var(--gray); padding-top: 2rem;}
.detail-header h1 {margin: 0 0 .5rem 0;}
.detail-header .hdr-row {margin: 0 0 2rem 0;}
.detail-header.no-img {margin-bottom: 0;}

.detail-header .features {font-size: .825rem;}
.detail-header .features a {font-weight: 400;}
.detail-header .date {font-size: 1rem; margin: 1rem 0 1rem 0; font-weight: 400; text-transform: uppercase; letter-spacing: 1px;}
.detail-header .date i {font-size: 4px; margin: 0 5px; color: var(--tertiary);}

.additional-links {text-align: center; padding: 25px 0;}
.additional-links p {margin: .25rem 0;}
.additional-links a {font-weight: 400; font-size: .9rem;}

.cal-legend ul {list-style: none; padding: 0; margin: 1rem 0; display: flex; flex-wrap: wrap; gap: 1rem;}
.cal-legend ul li {font-size: .8rem; display: flex; gap: .35rem; align-items: center;}
.cal-legend ul li:before {display: block; content: ""; width: 15px; height: 15px; background: #ababab; border-radius: 3px;}
.cal-legend ul li.cal-legend-selection:before {background: #50a7de;}
.cal-legend ul li.cal-legend-together:before {background: #83a76b; }

/* TABLET */
@media (min-width: 768px) {
.detail-header figure {grid-template-rows: 200px 200px;}
.detail-header .date {display: flex; align-items: center; border-right: 1px solid var(--gray); padding-right: 1rem;}
.features-flex {display: flex; padding: 10px 0; gap: 15px; align-items: center; margin: -1rem 0 0 0; justify-content: center;}
.features-flex > * {margin: 0; font-size: .9rem;}

}

/* DESKTOP */
@media (min-width: 992px) {
.detail-header {text-align: left;}
.detail-header .hdr-row {display: flex; justify-content: space-between; align-items: center; margin: 0 0 0rem 0;}
.detail-header .hdr-row h1 {font-size: 3rem;}
.detail-header figure {grid-template-rows: 250px 250px;}

.grid-twocol {display: grid; grid-template-columns: 2fr 1fr; align-items: flex-start; margin: 0 0 3rem 0; position: relative;}
.grid-twocol > .col:nth-of-type(2) {padding-top: 2rem;}
.grid-twocol > .col:first-of-type {order: 2;}
ul.two-col {list-style: none; padding: 0; display: grid; grid-template-columns: 1fr 1fr 1fr;}
ul.two-col li {font-size: .9rem; padding: 5px 5px 5px 0;}
ul.two-col li i {width: 25px; text-align: center; font-size: 1rem;}

.features-flex {justify-content: flex-start;}
#sidebar-affix {padding-top: 2rem; position: relative; position: sticky; top: 0;}
// #sidebar-affix.sticky {position: fixed; top: 0; right: var(--side-width); width: 350px;}
}

@media (min-width: 1200px) {
.grid-twocol {gap: 50px;}

}