
.item-details {display: flex; justify-content: space-between; align-items: center;}
.item-details p {font-size: .825rem; margin: 0;}
.item-details p strong {font-size: 1.15rem;}
.item-details a {font-weight: 400;}
.search.sidebar-search {gap: 5px;}
.search.sidebar-search .item-details {margin: 0;}
.search.sidebar-search input {background: var(--light); font-size: .85rem;}
.search.sidebar-search hr {margin: 1rem 0;}
.search.sidebar-search .btn-text {text-align: center; font-size: .85rem; font-weight: 400;}
.search.sidebar-search .btn-text i {margin-right: 5px;}
.search.sidebar-search ul {padding: 0 0 0 1rem;}
.search.sidebar-search ul strong {font-size: .85rem; display: inline;}

/* TABLET */
@media (min-width: 768px) {
}

/* DESKTOP */
@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}