.login figure {display: none;}
.login .content {padding: 50px; text-align: center; background: url(../img/bkg-pattern.jpg);}
.login .content img {width: 150px; margin: 0 auto 1rem auto;}
.login .content h1 {margin: 0 0 2rem 0; font-size: 1.5rem;}
.login .content p {font-size: .85rem; margin: .5rem 0 0 0;}
.login .content p + p {margin: 0;}

/* TABLET */
@media (min-width: 768px) {

} 

/* DESKTOP */
@media (min-width: 992px) {
.login {display: grid; grid-template-columns: 1.5fr 2fr; min-height: 100vh;}
.login figure {display: block; height: 100%;}
.login figure img {width: 100%; height: 100%; object-fit: cover;}

.login .content {padding: 100px 100px 250px 100px; display: flex; justify-content: center; flex-direction: column;}
}
