/* Reservations */
.filter .ll-form > .flex {flex-wrap: wrap;}
.filter .ll-form > .flex > * {flex: 1;}

/* Account */
.account h2 {font-weight: 500; margin: 1rem 0;}

/* TABLET */
@media (min-width: 768px) {
} 

/* DESKTOP */
@media (min-width: 992px) {
}
