.icon-links {display: grid; grid-template-columns: 1fr; gap: 15px;}
.icon-link {background: var(--light); border-radius: 5px; display: block; position: relative; padding: 10px 15px 10px 65px; color: var(--dark); text-decoration: none; font-weight: 700; font-size: .9rem;}
.icon-link .fa {background: var(--primary); color: #fff; padding: 10px; width: 50px; height: 50px; border-radius: 50%; display: flex; justify-content: center; flex-direction: column; text-align: center; font-size: 1.25rem; margin: 0 0 1rem 0; position: absolute; left: 5px; top: calc(50% - 25px); transition: var(--transition);}
.icon-link:hover {background: none; text-decoration: underline;}
.icon-link:hover .fa {transform: scale(1.05);}


/* TABLET */
@media (min-width:768px) {
.icon-links {display: grid; grid-template-columns: 1fr 1fr; gap: 15px;}
}
