.theme-img {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    position: relative;
    margin: 0 0 2rem 0;
    position: relative;
    z-index: 5;
  }
  
  .theme-img img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .theme-img.two-images img:nth-of-type(2) {min-height:450px;padding-left:25%}
  .theme-img.two-images img:nth-of-type(1) {position:absolute;left:0;z-index:0;width:50%;max-height:calc(100% - 50px);align-self:center;border:solid var(--light) 10px}

  .theme-img.dots:after {
    background: url(../img/dots.svg);
    width: 150px;
    height: 150px;
    position: absolute;
    left: -38px;
    top: -38px;
    content: "";
    background-size: cover;
    z-index: -1;
  }



.theme-img.shape::after {
  background: var(--secondary);
  opacity: 0.8;
  width: 20px;
  height: 250px;
  position: absolute;
  left: -10px;
  top: calc(50% - 125px);
  content: "";
  background-size: cover;
}

  .theme-img.callout-text {
    background: url(../img/dots.svg);
    width: 150px;
    height: 150px;
    position: absolute;
    left: -38px;
    top: -38px;
    content: "";
    background-size: cover;
    z-index: -1;
  }
  /* Two Images Circles */
.theme-img.callout{
h4{position:absolute;right:100px;top:100px;background:#999}
}

/* Text Box - Images */
.theme-img.text-image {
  figcaption {
    h5,h4,h3,h2 {
      font-family: var(--header);letter-spacing:1px; line-height: 1.3;
      font-size: 1.65rem;
      margin-bottom: 0;
      font-weight: 500;
    }
    p {
      font-size: 1.1rem;
      line-height: 1.1;
      
      &:last-child {
        margin-bottom: -10px;
      }
    }
    h4 + p, 
    h3 + p, 
    h2 + p, 
    h5 + p {
      margin-top: 10px;
    }
  }
}

.theme-img.text-image figcaption figure{margin-bottom:20px;width:40px;height:40px;position: relative;}
.theme-img.text-image figcaption figure img{object-fit: fill;min-height:100%}
.theme-img.text-image figcaption{border-radius:var(--border-radius-sm);box-shadow:var(--box-shadow-lg);width:90%;background:var(--light);padding:25px 25px;margin:-70px 5% -20px 5%;position:relative;z-index:5}
.theme-img.text-image figcaption img{width:100%;height:100%;top:0;border:none;box-shadow: none;position: absolute;}


/* Full Side Image */
.image-background img{width:100%;height:100%;top:0;border:none;box-shadow:none;position:absolute}
.image-background{position:absolute;right:0;bottom:0;width:100%;height:240px;z-index:0;margin:0}
.wp-block-group .theme-img{margin-bottom:0}

/* Full Side Image - Video Background */
.image-background figure {background:var(--tan); position: absolute; inset: 0; border-top: 1px solid rgba(0,0,0,.085); margin: 0;}
.image-background video{opacity: 0.75;width: 100%; height: 100%; object-fit: cover;}

@media(min-width: 782px) {
.image-background img{width:100%;height:100%;top:0;border:none;box-shadow:none;position:absolute}
.image-background{width:calc(50% - 130px);position:absolute;bottom:0;height:100%;z-index:0;margin:0;right:0}
.image-background.bkg-left{left:0}
.theme-img.image-background {margin-bottom:0px!important}


}
@media (max-width: 782px) {
.wp-block-columns.are-vertically-aligned-center.is-layout-flex:has(.bkg-left){display:flex;flex-direction:column;}
.wp-block-columns.are-vertically-aligned-center.is-layout-flex:has(.bkg-left) > .wp-block-column:first-child{order:2;}
.wp-block-columns.are-vertically-aligned-center.is-layout-flex:has(.bkg-left) > .wp-block-column:last-child{order:1;}
}

  .theme-img.image-shape:after {
    background:  url(../img/shapes/shape-image-right.svg);
    background-size: auto;
    width: 120px;
    height: 200px;
    position: absolute;
    right: -10px;
    bottom: -30px;
    content: "";
    background-size: cover;
}

/* DESKTOP */
@media (min-width: 992px) {
 .theme-img.shape:after{width:40px;height:250px;left:-20px;}
  .theme-img.image-shape:after{width:170px;height:250px; right: -35px;}
  .theme-img.text-image img:nth-of-type(1){padding-right:100px;padding-bottom:40px}
  .theme-img.text-image figcaption img:nth-of-type(1){padding:0px}
  .theme-img.text-image figcaption{position:absolute;z-index:2;width:330px;padding:40px;bottom:0px;right:0px;margin:0;}
  .image-background{position: absolute;right:auto;bottom:0;width:calc(50% - 300px);height:100%;z-index: 0;margin:0;right:0}
  .theme-img.text-image.text-left img:nth-of-type(1){padding-right:0;padding-left:100px}
  .theme-img.text-image.text-left figcaption{left:0px}
  .theme-img.text-image.text-left figcaption img:nth-of-type(1){padding:0px}
}

@media (min-width: 1200px) {
}



