/* Full Background Image Text over Top */
.bg-image{background:rgba(29,41,68,.9);}
.bg-image figure{z-index:-1;position:absolute;top:0;left:0;right:0;bottom:0;margin:0;}
.bg-image figure img{object-fit:cover;width:100%;height:100%;}

.full-img-content {position: relative; color: #fff;}
.full-img-content h2, .full-img-content h3 {color: #fff;}
.full-img-content .row {display: grid; gap: var(--spacer); margin-top: var(--spacer-vert); margin-bottom: var(--spacer-vert);}
.full-img-content figure {position: absolute; inset: 0; background:rgba(29,41,68,.9);}
.full-img-content figure img {width: 100%; height: 100%; object-fit: cover; opacity: .2; mix-blend-mode: overlay;}
.full-img-content .container {position: relative; z-index: 5; overflow: hidden;}

 /* Dark Blue Background - Shapes in Corners */
 .corner-left{z-index:-1;background:url("../img/left-angles.svg")no-repeat;position:absolute;left:0;bottom:0;width:410px;height:250px;opacity:35%;}
 .corner-right{z-index:-1;background:url("../img/right-angles.svg")no-repeat;position:absolute;right:0;top:0;width:410px;height:315px;opacity:35%;}
 .overlay-bg{background:var(--navy);width:100%;height:100%;position:absolute;z-index:-3;}
 .overlay-dark{background:#000;width:100%;height:100%;position:absolute;z-index:-3;}

 @media (min-width: 992px) {
    .full-img-content .row {grid-template-columns: 1fr 1fr;}
    .full-img-content .row .col {display: flex; justify-content: center; flex-direction: column;}
 }