/* Combo Side by Side Images */
.img-combo {display: grid; grid-template-columns: 1fr 1fr; gap: 25px; position: relative; margin: 0 0 2rem 0;}
.img-combo img, .img-combo-overlap img{width:100%;object-fit:cover;object-position: center;}
.img-combo img:nth-of-type(2) {margin: 50px 0 0 0;}

/* Combo Overlay Images */
.img-combo-overlap {position: relative; padding: 0 0 85px 0; display: block; margin: 0;}
.img-combo-overlap img:first-of-type {width: 85%; margin-left: 15%;}
.img-combo-overlap::after{content:"";position:absolute;bottom: 50px; right: 0; width:145px;height:24px;background:url("../img/dots.svg")no-repeat ;background-size: cover;z-index: 9999;}
.img-combo-overlap img:nth-of-type(2) {width: 50%; height: auto; position: absolute; bottom: 25px; left: 25px; border: 20px solid #fff;}
.is-style-bg-cream .img-combo-overlap img:nth-of-type(2), .bg-cream .img-combo-overlap img:nth-of-type(2) {border:solid 18px #FAF7F7}
.blue-bg .img-combo-overlap img:nth-of-type(2) {border:solid 18px var(--navy)}


.left-side .img-large {padding-left:75px;}
.left-side .img-large::after{right:0}
.left-side .img-small{ grid-area: 4 / 1 / 5 / 3;}

.right-side .img-large {padding-right:75px;}
.right-side .img-large::after{left:0}
.right-side .img-small{ grid-area: 4 / 3 / 5 / 5;}

/* TABLET */
@media (min-width: 768px) {
.img-small {border:solid 20px #fff;}
.bg-cream .img-small {border:solid 16px #FAF7F7}
.blue-bg .img-small {border:solid 16px var(--navy)}
} 

@media (min-width: 1200px) {
.img-small {border:solid 20px #fff;}
.bg-cream .img-small {border:solid 20px #FAF7F7}
.blue-bg .img-small {border:solid 20px var(--navy)}
.img-large::after{width:177px;height:24px;}
}
