/* CSS Document
Client: Starter File
Company: Informatics, Inc
Author: Jeff S
Date: Aug 2022
*/

@import "base/reset";
@import "layout/header-microsite";
@import "layout/footer";
@import "components/slider";
@import "components/slider-custom";
@import "themes/custom";
@import "themes/cafe"; 
