/* Background Block Left / Right Side */
.is-style-bkg-left, .is-style-bkg-right {padding: 1px 0; position: relative; z-index: 5; overflow: hidden; max-width: none; background: #fff;}

.is-style-bkg-left:after, .is-style-bkg-right:after {position: absolute; top: 0; left: 0; height: 100%;width: calc((100vw - var(--max-width)) / 2 + 20%);background: url(../img/bkg-design-1.jpg) right top no-repeat var(--light); border-radius: 0 10px 10px 0; content:""; z-index: -1;}

.is-style-bkg-right:after {left: auto; right: 0;}

/* Background Dark */
.is-style-bkg-dark {background: url(../img/dgn-connect.png) center right var(--primary) no-repeat; padding: 1px 0; color: var(--text-color-inverse);}
.is-style-bkg-dark h2 {color: #fff;}

/* Background Light */
.is-style-bkg-light {background: #fff; padding: 1px 0;}
