/* MOBILE */
.hidden-sm {display: none;}
.grid {display: grid; gap: var(--spacer);}
.flex {display: flex; gap: var(--spacer);}

/* TABLET */
@media (min-width: 768px) {
.hidden-sm {display: inline;}
.grid-2 {grid-template-columns: 1fr 1fr; gap: var(--spacer);}
.grid-3 {grid-template-columns: 1fr 1fr 1fr; gap: var(--spacer);}
.grid-2x2-md {grid-template-columns: 1fr 1fr;}
.grid + .grid {margin-top: 2rem;}
}

/* TABLET */
@media (min-width: 550px) {
    .grid-2x2-md {grid-template-columns: 1fr 1fr;}
    }
    
@media (min-width: 992px) {
.grid-3-lg {grid-template-columns: 1fr 1fr 1fr; gap: var(--spacer);}
   
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
.grid-4-lg {grid-template-columns: 1fr 1fr 1fr 1fr; gap: var(--spacer);}

}

/* SUPER WIDE DESKTOP */
@media (min-width: 1500px) {
}