@use "../tokens" as *;

.data-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.data-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: $space-4;
    padding-block: $space-2;
    transition: $transition-base;
}
.data-row:hover {
    background: $gray-50;
    box-shadow:
            10px 0 0 $gray-50,
            -10px 0 0 $gray-50;
}
.data-row:hover {
    .data-row__title {
        color: #000;
    }
}
.data-row__main {
    display: flex;
    align-items: center;
    gap: $space-4;
    min-width: 0;
}

.data-row__icon {
    width: 40px;
    height: 40px;
    border-radius: 999px;
    background: $gray-100;
    flex: 0 0 auto;
    place-content: center;
    text-align: center;
}

.data-row__content {
    min-width: 0;
}

.data-row__title {
    font-weight: $font-weight-medium;
    line-height: 1.2;
    font-size: $font-size-md;
}
.data-row__support {
    font-size: $font-size-xs;
    color: $color-text-muted;
}
.data-row__meta .btn {
    min-width: 7rem;
    font-size: .8rem;
}
.data-row__meta {
    color: $color-text-muted;
    font-size: $font-size-sm;
    white-space: nowrap;
    display: flex;
    gap: $space-2;
    align-items: center;
}
.status-complete {
    // border: 1px solid $color-success-border;
    background: $color-success-bg;
    color: $color-success-text;
    gap: 5px;
}
.status-complete:before {   
    font-family: "Font Awesome 6 Free";
    content: "\f00c";
    display: inline-block;
}

/* Mobile: stack meta/actions under title */
@media (max-width: 47.99rem) {
    .data-row {
        align-items: flex-start;
        flex-direction: column;
    }

    .data-row__aside {
        width: 100%;
        justify-content: space-between;
    }

    .data-row__meta {
        white-space: normal;
    }
}

/* Media Object */
.media-object {
    display: grid;
    grid-template-columns: 1.45fr 3fr;
    gap: $space-6;
}
.media__title {
    font-weight: $font-weight-bold;
    margin: 0;
}
.media__body {
    display: grid;
    gap: $space-3;
    align-content: flex-start;
    justify-items: flex-start;
}
.media__meta {
    font-size: $font-size-xs;
}