.footer {background: var(--primary); padding: 25px; display: grid; margin: 2rem 0 0 0; text-align: center; border-top: 5px solid var(--secondary);}
.footer img {max-width: 300px; margin: 0 auto 1rem auto;}
.footer p {color: rgba(255,255,255,.75); font-size: .825rem; margin: 0;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 1350px) {
}