.bkg-texture {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.25;
  z-index: -1;
  mix-blend-mode: multiply;
  right: -5vw;
}

.bkg-texture img {
  transform: rotate(0);
  width: 80%;
}

.media-wide {
  aspect-ratio: 16 / 6;
  box-shadow: var(--box-shadow-lg);
}
.media-wide > * {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.display {
  font-size: 2.25rem;
}

p.wimpy {
  opacity: .75;
}
#content {
  perspective: 4000px;
}

.bkg-texture {
  position: absolute;
  inset: 0;
  transform-style: preserve-3d;
  will-change: transform;
}
/* GRIDS */
.grid {display: grid; gap: var(--grid-gap);}
.grid-1-2 {grid-template-columns: 1fr 2fr;}
.grid-3-1 {display: grid; grid-template-columns: 3fr 1fr;}
.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--grid-gap);
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}
.grid-4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.gap-lg {gap: 2rem;}
.white-space {padding: var(--spacer-sm);}

.item-list {
  list-style: square;
  padding: 0 1rem;
}

.item-list li {
  text-transform: uppercase;
  font-size: .85rem;
  letter-spacing: 1px;
}

#content section {
  position: relative;
}

.has-bkg-img-overlay {
  position: relative;
  z-index: 5;
}

.bkg-img-overlay {
  position: absolute;
  inset: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
  mix-blend-mode: screen;
  opacity: .15;
  overflow: hidden;
}

.bkg-img-overlay>* {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: var(--transition);
  transition-duration: 4s;
}

.has-bkg-img-overlay:hover .bkg-img-overlay img {
  transform: scale(1.2);
}


.align-center {
  align-items: center;
}

.warble {
  display: inline-block;
}

ol {
  padding: 0 0 0 1.35rem;
}

ol li::marker {
  font-weight: 700;
  color: var(--blue);
}


.border-top {
  border-top: 1px solid var(--gray);
  padding-top: 6rem;
}

.content-wrap {
  padding: 0 var(--spacer);
  margin: 6rem auto;
}

.padding-sm {
  padding: var(--spacer-sm);
}
.flair-plus {
  position: relative;
}
.flair-plus:after {
  width: 120px;
  height: 120px;
  background: url(../img/plus.svg);
  content: "";
  display: block;
  position: absolute;
  top: -60px;
  right: -60px;
  background-size: 100%;

}

.flair-plus .clip-reveal {
  position: absolute;
  inset: 0;
  z-index: 5;
}

.sticky {
  position: sticky;
  top: 50px;
}

.align-top {
  align-items: flex-start;
}

.align-middle {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.flex {
  display: flex;
  gap: var(--gap-sm);
}

.flex-wrap-true {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-content: center;
}

.two-col {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.two-col figure {
  width: 100%;
}

.two-col .text {
  background: var(--blue);
  color: #fff;
  padding: var(--spacer);
}

.two-col .text>* {
  color: #fff;
}

.clip-reveal {
  display: block;
  clip-path: inset(0% 0% 100% 0%);
  will-change: clip-path;
}

.is-bkg-dark {
  background: var(--darkblue);
}

.is-bkg-dark * {
  color: #fff;
}

/* ==============================
   UTILITIES
   ============================== */

.display {
  font-size: 2.25rem;
}

.wimpy {
  opacity: .75;
}

.mono {
  font-size: var(--font-sm);
  text-transform: uppercase;
}

.mono:before {
  content: "[ ";
}

.mono:after {
  content: " ]";
}

.flex {
  display: flex;
  gap: var(--gap-sm);
}

.flex-wrap-true {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.align-top {
  align-items: flex-start;
}

.align-middle {
  align-items: center;
}

.align-bottom {
  align-items: flex-end;
}

.aspect-wide {
  aspect-ratio: 12 / 2;
}

.padding-sm {
  padding: var(--spacer-sm);
}

.is-bkg-dark {
  background: var(--darkblue);
}

.is-bkg-dark * {
  color: #fff;
}

.expand {
  transition: var(--transition);
  transition-duration: 400ms;
}
.expand.active {
  transform: scale(108%);
}
.expand.active figure .media-wide {

}