/* CSS Document
Client: ROC-P
Company: Informatics, Inc
Author: Jeff S
Date: Nov 2025
*/

// 1. Tokens (design language)
@use 'tokens' as *;

// 2. Base
@use 'base/reset';
@use 'base/base';
@use 'base/typography';
@use 'base/ui-demo';

// @use 'base/base';
// @use 'base/links';
// @use 'base/ada';
// @use 'base/animations';

// 3. Utilities (mixins/functions used by layout/components)
// @use 'utilities/functions';
// @use 'utilities/mixins';
// @use 'utilities/helpers';

// 4. Layout
@use 'layout/app-shell';
@use 'layout/layout';
// @use 'layout/submenu-toggle';
// @use 'layout/header';
// @use 'layout/sidebar';
// @use 'layout/nav';
// @use 'layout/login';

// 5. Components
@use 'components/buttons';
// @use 'components/forms/inputs';
// @use 'components/forms/selects';
// @use 'components/forms/checkbox-radio';
// @use 'components/forms/file-upload';
// @use 'components/forms/validation';

// @use 'components/navigation/tabs';
// @use 'components/navigation/pagination';

// @use 'components/feedback/alerts';
// @use 'components/feedback/badges';
// @use 'components/feedback/toasts';

// @use 'components/data-display/cards';
// @use 'components/data-display/table';
// @use 'components/data-display/empty-states';

// @use 'components/overlays/modal';

// 6. Vendors
// @use 'vendors/choices';

// 7. Themes (override last)
// @use 'themes/default';
// @use 'themes/dark' with (...); // if you go that route 
 