/* GLOBAL */
#hdr-top {background: var(--primary) url(../img/toolbar-bg.webp)no-repeat;background-size:cover;
text-align: center; color: var(--text-color-inverse); padding: .65rem 0; font-size: 85%;}
#hdr-top p {margin: 0;}
#hdr-top ul { list-style: none; padding: 0; margin: 0; display: flex; gap: 1rem; justify-content: right;}
#hdr-top ul li {position: relative;margin:0;padding:5px 0}
#hdr-top ul li:after {width: 1px; height: 1rem; display: block; position: absolute; right: -1.5rem; top: 5px; background: #fff; opacity: .5; content: ""; margin: 0 1rem;}
#hdr-top ul li:last-of-type:after {display: none;}
#hdr-top ul a {color: var(--text-color-inverse);text-decoration: none;}
#hdr-top ul a:hover{text-decoration: none;color:rgba(255,255,255,1);}
#hdr-top i{margin-left:5px}

/* TABLET */
@media (min-width: 768px) {
#hdr-top .container {display: flex; justify-content: space-between;}
}
@media (min-width: 992px) {
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
}

/* SUPER WIDE DESKTOP */
@media (min-width: 1500px) {
}