.sidebar-grid {margin: var(--spacer-vert) 0;}
.sidebar-grid, .blog-item {display: grid; gap: var(--column-gap);}
.post-detail .container {max-width: 800px;}
.post-header {border-bottom: 1px solid #ccc; padding: 3rem 0; margin: 0 0 3rem 0; text-align: center;}
.share {margin: 0 0 3rem 0; text-align: center;}
.share ul {
  display:flex;
  justify-content:center;
  list-style:none;
  padding:0;
  margin:1rem 0;
  gap:10px
 }
 .share .social a {
  font-size:2.5rem;
  margin:auto 2px
 }
 .share .social a:hover {
  color: var(--accent-1);
 }

/* TABLET */
@media (min-width: 768px) {
.blog-item {grid-template-columns: 1fr 2fr;}
// .blog-item .blog-text {}
} 

/* WIDE DESKTOP */
@media (min-width: 992px) {
.sidebar-grid {display: grid; grid-template-columns: 3fr 1fr;}
.post-header {margin-top: var(--fixed-header-height);}
}
