@charset "UTF-8";
/* CSS Document
Client: Temple Har Zion
Company: Informatics, Inc
Author: Jeff S
Date: Jun 2022
*/
/* ----------------------*/
/* -- MENU AND HEADER -- */
/* ----------------------*/
.hdr-topper {background: var(--dark); box-shadow: inset 0 -5px 5px rgba(0,0,0,.1);}
.hdr-tools {display: flex; justify-content: center;}
.hdr-tools a {display: block; padding: 5px; color: var(--light-text); font-size: .8rem;}
#logo {max-width: 150px; margin-right: auto;}

#nav-main {margin: 1rem 0;}
#nav-main a {font-size: 1.1rem; color: var(--dark); font-weight: 700; text-decoration: none; display: block; flex-grow: 1;}
#nav-main li ul {width: 100%; padding: 0;}
#nav-main li ul li {border: 0;}
#nav-main li ul li a {font-size: 1rem; font-weight: 400; padding: 10px 15px 10px 35px;}

#hdr-search {grid-column: span 2; padding: 15px 0;}
#hdr-search form {display: flex; width: 100%;}
#hdr-search form input[type="text"] {border-radius: 0; border: 1px solid #ccc; border-right: none; padding: 20px 10px; height: auto;}
#hdr-search form input[type="submit"] {border-radius: 0; border: none; background: var(--primary); color: #fff; padding: 10px 20px;}

ul.hdr-social {list-style: none; display: flex; padding: 0; margin: 0; align-items: center; color: #fff; font-size: .8rem; text-transform: uppercase; letter-spacing: 1px; font-weight: 700;}
ul.hdr-social a {font-size: .8rem; padding: 10px 7px; letter-spacing: normal; text-transform: none; font-weight: 400;}
ul.hdr-social a::after {height: 15px;width: 1px;background: rgba(255,255,255,.25);content: "";position: absolute;right: 0;top: 13px;}
ul.hdr-social a .fa {color: var(--secondary); margin: 0 3px 0 0;}
ul.hdr-social a:hover {color: var(--secondary);}
ul.hdr-social li:last-of-type a:after {display: none;}

@media (min-width: 768px) {
    #logo {max-width: 175px;}
}
/* ONLY MOBILE */
@media (max-width: 992px) {
#header {margin: 0; box-shadow: 0 5px 10px var(--light);}
#header .container {width: 100%; padding: 0;}
.mobile-menu {display: flex; justify-content: flex-end; align-items: center; gap: 15px; padding: 15px;}
#toggle {background: none; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; margin: 0; border: none; border-radius: 0; font-size: .6rem;}
#toggle .menu-label {display: block;}
#toggle .fa {font-size: 1.5rem;}
#navbar {margin: 0; border-top: 1px solid var(--secondary-light-border);}
#header .btn-theme span {letter-spacing: normal;}
#nav-main a {padding: 15px;}
#nav-mini {display: grid; grid-template-columns: 1fr 1fr; list-style: none; padding: 0; margin: 0 0 1rem 0; gap: 5px;}
#nav-mini a {padding: 10px 15px; font-size: .8rem; display: block; background: var(--light); color: var(--text); border-radius: 5px; border: 1px solid var(--light-border);}

#nav-main button {border: none; background: none; color: var(--secondary); padding: 10px 20px; border-left: 1px dotted var(--light-border);}
#nav-main button .fa {transform: rotate(180deg);}
#nav-main button.collapsed .fa {transform: rotate(0deg);}
#nav-main li {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; border-bottom: 1px dotted #ccc;}
#nav-main li ul li:last-of-type {margin: 0 0 1rem 0;}
#nav-main .hdr-cta {display: none;}

.hdr-search-toggle {display: none;}
}

/* TABLET */
@media (min-width: 992px) {
#header {position: fixed; width: 100%; top: 0; left: 0; z-index: 50; transition: var(--transition); background: #fff;}
#header.scroll {background: #fff; box-shadow: 0 10px 10px rgba(0,0,0,.025);}
.header {margin-top: 140px;}
#header .container {display: flex; align-items: center; justify-content: space-between;}
#header .container:before, #header .container:after {display: none;}
#header .hdr-topper .container {display: block;}
#logo {display: block; max-width: 175px;}

.hdr-tools {justify-content: flex-start;}
.mobile-menu .hdr-cta {display: none;}
#navbar {padding: 0;}
#nav-main {display: flex; align-items: center; margin: 0;}
#nav-main li button {display: none;}
#nav-main a {display: flex; align-items: center; font-size: 1rem; padding: 42px 10px; letter-spacing: -.5px; opacity: .9;}
#nav-main > .active > a {color: var(--primary);}
#nav-main > .active > a::after { border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid var(--primary); position: absolute; bottom: 25px; left: calc(50% - 7px); content: "";}

#nav-main .hdr-cta .btn-theme {color: #fff; font-weight: 700; font-size: 1rem; padding: 15px 15px; margin: 0 0 0 15px; letter-spacing: normal;}
#nav-main .hdr-cta .btn-theme:after {display: none;}

#nav-mini {position: absolute; top: -28px; right: 15px; display: flex; align-content: center; list-style: none; padding: 0; margin: 0;}
.hdr-tools a, #nav-mini a {font-size: .8rem; position: relative; padding: 10px 0; color: #fff; text-decoration: none; opacity: .8;}

#nav-mini {top: -33px;}
#nav-mini a {padding: 10px;}
#nav-mini a:after {height: 15px; width: 1px; background: rgba(255,255,255,.25); content: ""; position: absolute; right: 0; top: 13px;}
#nav-mini a:hover, .hdr-tools a:hover {text-decoration: underline; color: #fff; opacity: 1;}

.hdr-search-toggle {display: block; border: none; background: none; color: #fff; margin: 0 0 0 5px;}
#hdr-search {padding: 0;}
#hdr-search .hdr-search-form {position: fixed; left: 0; top: 0; width: 100%; background: #fff; padding: 40px 15px;
opacity: 0; visibility: hidden; z-index: 15; transition: var(--transition);}
#hdr-search.active .hdr-search-form {opacity: 1; visibility: visible;}
#hdr-search .hdr-search-form .hdr-search-toggle {padding: 10px 25px; color: var(--text);}

#nav-main a:hover {background: none; opacity: 1;}
#nav-main .hdr-cta .btn-theme:hover {background: var(--secondary);}
#nav-main li:hover a:after {color: var(--primary);}
#nav-main li ul {position: absolute; display: block; top: 105%; left: calc(50% - 125px); width: 250px; background: #fff; z-index: 5;list-style: none;box-shadow: 0 5px 10px rgba(0,0,0,.05); padding: 10px; margin: 0; opacity: 0; visibility: hidden; transition: var(--transition); z-index: 15; border-top: 5px solid var(--secondary);}
#nav-main li:hover ul {top: 100%; opacity: 1; visibility: visible;}
#nav-main li ul li a {padding: 10px; border-radius: 5px;}
#nav-main li ul li a:hover {padding: 10px 5px 10px 15px; background: var(--secondary-light); border: 1px solid var(--secondary-light-border);}

}


/* WIDE DESKTOP */
@media (min-width: 1200px) {
#logo {max-width: 225px;}
#nav-main a {font-size: 1.1rem; padding: 45px 15px;}
#nav-main .hdr-cta .btn-theme {padding: 15px;}
}

/* Bootstrap Expand Nav Tablet Too */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}