@charset "UTF-8";
/* CSS Document
Client: Informatics, Inc
Company: Informatics, Inc
Author: Jeff S
Date: JUN-SEP 2020
*/

:root {
    --primary: #ED655E;
    --secondary: #1f361c;
    --dark: #041F4F;
    --light: #eee;
    --bkg: #f9f9f9;
    --gradient: linear-gradient(150deg, rgba(167,58,53,1) 0%, rgba(237,101,94,1) 100%);

    --text: rgba(0,0,0,.75);
    --light-text: rgba(255,255,255,.75);
    --header: 'p22-mackinac-pro', Georgia, serif; 
    --body: 'DM Sans', Lato, Tahoma, sans-serif;
    --script: 'p22-mackinac-pro', Georgia, serif; 

    --box-shadow: 0 0 50px rgba(0,0,0,.1);
    --spacer: 50px;
    --side-width: 25px;
    --max-width: 1050px;
    --transition: all 0.35s cubic-bezier(0, 0.55, 0.45, 1);
}

/* Fast */

/* TYPOGRAPHY */
html {font-size: 100%;}
body {margin: 0; font-size: 1rem; background: var(--bkg); font: 1rem/1.5 var(--body), sans-serif; color: var(--text);-moz-font-feature-settings: "liga" on; overflow-x: hidden; font-feature-settings: normal;}
.ccm-page {overflow-x: hidden;}
.light-on-dark {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;}

h1, h2, h3, h4 {color: var(--dark); margin: 0 0 1rem 0; line-height: 1.1; font-family: var(--header); font-weight: 500;}
h1 {font-size: 2.5rem; color: #fff; line-height: 1;font-family: var(--header);}
h2 {font-size: 2rem; letter-spacing: -.5px; font-weight: 500; position: relative; padding: 0 0 25px 0;}
h2:after {width: 50px; height: 4px; background: var(--primary); content: ""; position: absolute; left: 0; bottom: 0;}
.hgroup {text-align: center; max-width: 800px; margin: 0 auto 4rem auto;}
.hgroup h2:after, h2[style="text-align: center;"]:after {left: calc(50% - 25px);}
h2[style="text-align: center;"] + p {margin-bottom:3.5rem;}
h3 {font-size: 1.5rem; letter-spacing: -.25px; font-family: var(--body); font-weight: 700;}
h4 {Font-size: .9rem; font-family: var(--header); margin: 0 0 .75rem 0;}
p, ul, ol {margin: 0 0 1.5rem 0;}
p strong {color: var(--dark);}

.preheader {color: var(--primary); text-transform: uppercase; font-weight: 800; letter-spacing: 2px; margin: 0 0 .5rem 0;}
.lead {font-size: 1.25rem; font-weight: 300; line-height: 1.6; color: #222;}
.lead strong {font-weight: 700;}
hr {width: 100%; border: none; border-top: 1px solid #ccc; margin: 2rem 0; position: relative;}
hr:after {position: absolute; left: calc(50% - 6px); top: -4px; width: 8px; height: 8px; background: #ccc; content: ""; transform: rotate(-45deg); box-shadow: 0 0 0 3px var(--bkg);}

.content ul {list-style: none; padding: 0; margin: 0 0 2rem 0;}
.content ul li {position: relative; padding: 0 0 0 25px; color: var(--dark); margin: 7px 0;}
.content ul li:before {content: "\f058";font-family: FontAwesome; position: absolute; left: 0; top: 0; color: var(--primary);}

html.noscroll {overflow: hidden;}
body.noscroll {overflow: visible; height: 100%;}
img {max-width: 100%; height: auto;}

.box {background: var(--light); padding: 25px;}
.form-group {margin: 0 0 1rem 0;}
.form-group label {display: block; text-transform: uppercase; font-weight: 700; font-size: .7rem; color: var(--dark);}
.form-group .form-control {width: 100%; border: 1px solid #ccc; padding: 5px;}

/* LINKS */
a {color: var(--primary); transition: var(--transition);}
a:hover {text-decoration: none;}
a.btn-theme, .btn-theme > a {background: var(--gradient); padding: 15px; font-weight: 700; text-transform: uppercase; font-size: .9rem; letter-spacing: 1px; box-shadow: 5px 5px 2px rgba(0,0,0,.1); position: relative; color: #fff; text-decoration: none;}

a.btn-theme:after, .btn-theme > a:after {position: absolute; inset: 3px; content: ""; border: 1px solid rgba(255,255,255,.3); transition: var(--transition); border-radius: 0;}
a.btn-theme:hover:after, .btn-theme a:hover:after {inset: 0; border-color: rgba(255,255,255,.5);}

.btn-text > a {position: relative; text-decoration: none; color: var(--dark); font-weight: 600;}
.btn-text > a:after {width: 100%; height: 4px; background: var(--primary); content: ""; position: absolute; left: 0; bottom: -10px; transition: var(--transition); }
.btn-text > a:hover:after {bottom: -13px;}
.btn-text > a:hover {color: var(--primary);}
.btn-text.visible > a:after {animation: 1s ease-in-out 1.2s 1 both grow;}

/* LAYOUT & UTILITY */
.content section {padding: var(--spacer) var(--side-width); position: relative;}
.grid {display: grid; gap: 25px;}
.auto-grid {display: grid; grid-template-columns: repeat(auto-fill, minmax(175px, 1fr) );}
.auto-grid-3 {display: grid; grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));}
.bkg-dark {background: var(--dark); color: var(--light-text);}
.bkg-dark-pattern {background: url(../img/pattern.jpg) var(--dark); color: var(--light-text);}
.bkg-dark-pattern h2, .bkg-dark h2 {color: #fff;}
.bkg-img > img {position: absolute; inset: 0; opacity: .1; width: 100%; height: 100%; object-fit: cover;}
.img-combo {position: relative; padding: 0 0 150px 0;}
.img-combo img:nth-of-type(1) {width: 90%;}
.img-combo img:nth-of-type(2) {width: 50%; position: absolute; right: 0; bottom: 0; border: 15px solid var(--bkg); border-right: 0; border-bottom: 0;}
.img-combo:after {width: 125px; height: 125px; background: url(../img/dots.png); content: ""; position: absolute; left: 75px; bottom: 85px; background-size: 150%;}

/* CONTENT */
.ico-item {text-align: center;}
.ico-item img {max-width: 75px; margin: 1rem auto; transition: var(--transition);}
.ico-item h3 {font-family: var(--body); font-weight: 700; font-size: 1.25rem;}
.ico-item:hover img {transform: scale(1.1);}

.person-item {text-decoration: none; max-width: 350px; margin: 0 auto;}
.person-item figure {overflow: hidden; position: relative; overflow: hidden;}
.person-item figure img {width: 100%; height: 100%; object-fit: cover; transition: var(--transition);}
.person-item figure:after {position: absolute; inset: 5px; border: 1px solid rgba(255,255,255,.2); content: "";}
.person-item .text {width: 80%; left: 10%; background: #fff; padding: 15px 5px; text-align: center; position: relative; margin-top: -75px;}
.person-item .text h3 {margin: 0 0 .5rem 0; font-size: 1.25rem;}
.person-item .text p {margin: 0; font-size: .75rem;}
.person-item .text:after {content: "View Bio"; color: var(--dark); text-transform: uppercase; letter-spacing: 1px; border-top: 1px solid #ccc; padding: 10px; display: inline-block; margin: 1rem 0 0 0; font-size: 1rem;}
.person-item text:before {position: absolute; inset: 10px; border: 2px solid rgba(0,0,0,.1); content: "";}
.person-item .details {color: var(--light-text); font-size: 1rem; text-align: center; margin: 2rem 0; padding: 0 1rem;}
.person-item:hover img {transform: scale(1.05);}

/* HEADER */
.header {padding: 125px var(--side-width) 75px var(--side-width); width: 100%; position: relative; background: var(--dark); overflow: hidden; text-align: center; z-index: 5;}
.header figure {position: absolute; inset: 0; z-index: -1;}
.header figure img {width: 100%; height: 100%; object-fit: cover; opacity: .15;}
.header .breadcrumb {display: flex; color: rgba(255,255,255,.5); margin: 0 auto; justify-content: center; font-size: .9rem;}
.header .breadcrumb li + li:before {content: "/"; margin: 0 5px;}
.header h1 {position: relative; z-index: 25;}
.header:before {content: ""; width: 100%; height: 50px; background: var(--bkg); position: absolute; left: 0; bottom: 0; z-index: 15; clip-path: polygon(50% 100%, 100% 0, 100% 100%, 0 100%, 0 0);}
.header:after {width: 125px; height: 125px; background: url(../img/dots-orange.png); content: ""; position: absolute; right: 5%; bottom: 55px; background-size: 150%; z-index: 15;}
@keyframes grow {
    from {width: 0;}
    to {width: 100%;}
}
@keyframes scale {
    from {transform: scale(1);}
    to {transform: scale(1.2);}
}

#hero h1 {color: var(--primary); font-size: 1.1rem; font-family: var(--body); text-transform: uppercase; font-weight: 700; letter-spacing: 1px;}
#hero .h1-like {font-family: var(--header); color: #fff; font-size: 3rem; line-height: 1.1;}
#hero .text {height: 100%; display: flex; justify-content: center; flex-direction: column;}
#hero h1 {font-size: 1.3rem; letter-spacing: 3px;}
#hero .h1-like {font-size: 4rem; max-width: 800px; margin: 0 auto 2rem auto;}
#hero figure {background: var(--dark); animation: 7s ease-in-out .2s 1 both scale;}
#hero img {opacity: .1; }
#hero a {font-style: italic; font-weight: 700; font-size: 1.25rem; color: #fff; text-decoration: none; position: relative;}
#hero a:after {width: 100%; height: 5px; background: var(--primary); content: ""; position: absolute; left: 0; bottom: -10px; transition: var(--transition); animation: 1s ease-in-out 1.2s 1 both grow;}
#hero a:hover {color: var(--primary);}
#hero a:hover:after {bottom: -12px;}

.ico-card {padding: 25px; background: #fff; box-shadow: 5px 5px 25px rgba(0,0,0,.1); font-size: .9rem; color: var(--text); text-decoration: none; text-align: center; display: flex; justify-content: center; flex-direction: column; position: relative; height: 100%; transition: var(--transition);}
.ico-card img {max-width: 75px; margin: 2rem auto; transition: var(--transition);}
.ico-card .preheader {margin-top: auto; display: inline-block; position: relative; align-self: center;transition: var(--transition); left: 0;}
.ico-card .preheader:after {content: "\f30b";font-family: FontAwesome; margin: 0 0 0 10px; position: absolute; right: -30px; opacity: 0;transition: var(--transition);}
.ico-card:hover {transform: scale(1.05);}
.ico-card:hover img {transform: scale(1.05);}
.ico-card:hover .preheader {left: -10px;}
.ico-card:hover .preheader:after {right: -20px; opacity: 1;}

/* Footer */
.footer {background: url(../img/pattern.jpg) var(--dark); font-size: .9rem; color: rgba(255,255,255,.75); margin-top: 225px; padding-top: 10px;}
.footer-cta {text-align: center; position: relative; padding: 6rem 0; background: #111; z-index: 5; width: 90%; left: 5%; margin-top: -225px; overflow: hidden;}
.footer-cta:after {position: absolute; inset: 10px; border: 1px solid rgba(255,255,255,.2); content: ""; z-index: -2;}
.footer-cta > img {position: absolute; width: 100%; height: calc(100% + 75px); object-fit: cover; inset: 0; object-position: center -75px; opacity: .5; z-index: -1; transition: var(--transition); transition-duration: 6s;}
.footer-cta h2:after {left: calc(50% - 25px);}
.footer-cta p {font-size: 1.4rem;}
.footer-cta:hover img {transform: scale(1.1); opacity: .3;}

.footer h2, .footer h3 {color: #fff;}
.footer-cols {display: grid; gap: 25px; row-gap: 50px; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );padding: var(--spacer) var(--side-width) 0 var(--side-width);}
.footer-cols img {max-width: 275px; margin: 0 0 25px 0;}
.footer-cols a {color: #fff; display: block; text-decoration: none; padding: 5px 5px 5px 0; color: rgba(255,255,255,.75);}
.footer-cols a:hover {color: #fff; padding: 5px 0 5px 5px;}
.footer-cols ul {list-style: none; padding: 0; margin: 0;}
.footer-cols .social {display: flex; margin: 0 0 2rem 0;}
.footer-cols .social a { width: 40px; height: 40px; border: 1px solid #fff; display: flex; justify-content: center; flex-direction: column; text-align: center; border-radius: 50%; margin: 0 10px 0 0; padding: 0;}
.footer-cols .social a:hover {background: var(--primary); padding: 0;}

.footer .copy {margin: var(--spacer) 0 0 0; display: flex; justify-content: space-between; padding: 25px var(--side-width); background: rgba(0,0,0,.25);}
.footer .copy p {text-align: center; margin: 0; font-size: .8rem; opacity: .65;}
.footer .copy a {color: var(--light-text);}

.ftr-contact strong {color: #fff; margin: 0 5px 0 0; width: 150px; display: block;}

#approach-nav {width: 100%; display: flex; margin: 0 0 1rem 0; position: relative; gap: 15px; flex-wrap: wrap;}
#approach-nav li {color: #fff; width: auto; height: auto; border-radius: 0; opacity: 1; background: none; flex-grow: 1; margin: 0; padding: 25px; border-bottom: 5px solid rgba(255,255,255,0);background: rgba(0,0,0,.2); transition: var(--transition);}
#approach-nav li:before {display: none;}
#approach-nav li:hover {background: rgba(0,0,0,.4);}
#approach-nav .swiper-pagination-bullet-active {background: rgba(0,0,0,.35); border-color: var(--primary);}

.swiper-slide {padding: 2rem 0;}
.swiper-slide h3 {color: #fff;}
.swiper-slide ul {margin: 0;}
.swiper-slide li, .swiper-slide a {color: #fff !important;}

.skinny {max-width: 850px; margin: 2rem auto;}
.blog-list-item {margin: 0 0 3rem 0;}
.blog-list-item img {margin: 0 0 1rem 0;}
.blog-list-item h2 {font-size: 1.75rem;}
.blog-list-item a {font-size: .75rem;}

.blog-sidebar ul {list-style: square; padding: 0 0 0 1.25rem;}
.blog-sidebar ul li:before {display: none;}
.blog-sidebar ul li {padding: 5px; margin: 0;}
.blog-sidebar .list-inline {display: flex; flex-wrap: wrap; list-style: none; padding: 0;}
.blog-sidebar .list-inline li:before {display: none;}
.blog-sidebar .list-inline a {background: var(--light); padding: 3px 6px; font-size: 1rem;}

.blog-header {border-bottom: 1px solid #ccc; margin: 8rem 0 2rem 0; text-align: center;}
.blog-header h1 {color: var(--dark);}
.social-share {text-align: center; border-top: 1px solid #ccc; padding-top: 2rem; margin-top: 1rem;}
.social-share ul {text-align: center; font-size: 2rem; display: flex; justify-content: center; padding: 0;}
.content .social-share li {margin: 0 5px; padding: 0;}
.social-share li:before {display: none; padding: 0;}
.social-share > a:last-of-type {font-size: .85rem;}

.callout {border-top: 1px dotted #ccc; padding: 15px 0; display:grid; grid-template-columns: auto 150px; align-items: center;}
.callout h4 {text-transform: none; margin: 0 0 5px 0;}
.callout p {margin: 0; font-size: .9rem;}
.callout strong {font-size: 1.5rem; text-align: right;}

.contact-info h4 {font-family: var(--body); text-transform: uppercase; font-weight: 700; margin: 0 0 5px 0;}
.contact-info p {font-size: 1.1rem;}

.bio {margin-top: 50px; font-size: 1rem;}
.bio h1 {color: var(--dark);}
.bio .contact-info {background: var(--light); padding: 25px; text-align: center; position: relative; border: 1px solid #ccc;}
.bio .contact-info:after {inset: 7px; border: 1px solid rgba(0,0,0,.1); content: ""; position: absolute;}
.bio .contact-info *:last-of-type {margin: 0;}

/* ---------*/
/*  TABLET  */ @media (min-width: 768px) {
/* ---------*/
/* GLOBALS */
:root {--spacer: 50px; --side-width: 50px;}
h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}

/* LAYOUT */
.grid-3 {grid-template-columns: 1fr 1fr 1fr;}
.grid-hero {display: grid; grid-template-columns: repeat( auto-fill, minmax(225px, 1fr) ); gap: 25px !important;}
.grid-hero .text {grid-column: span 2; display: flex; justify-content: center; flex-direction: column; padding: 0 50px; border-left: 1px dashed #ccc;}
.blog-list-item {display: grid; grid-template-columns: 1fr 2fr; gap: 25px; border-bottom: 1px dotted #ccc; margin: 0 0 2rem 0;}

/* CONTENT */

/* FOOTER */
}

/* ----------*/
/*  DESKTOP  */ @media (min-width: 1000px) {
/* ----------*/
/* GLOBALS */ 
.content {font-size: 1.2rem;}
.preheader {font-size: .8rem;}
h1 {font-size: 4rem;}
h2 {font-size: 2.75rem;}
h3 {font-size: 1.5rem;}
.lead {font-size: 1.5rem; line-height: 1.4;}
.img-right {float: right; margin: 0 0 1rem 1rem; max-width: 50%;}
.img-left {float: left; margin: 0 1rem 1rem 0; max-width: 50%;}
hr {margin: 3rem 0;}

/* LAYOUT */
.grid {gap: 50px;}
.grid .col {display: flex; justify-content: center; flex-direction: column;}
.grid-2 {grid-template-columns: 1fr 1fr; gap: 75px;}
.grid-1-2 {grid-template-columns: 1fr 2fr;}
.color-img-left {background: #fff; position: relative; z-index: 5;}
.color-img-left:after {position: absolute; left: 0; top: 0; height: 100%; width: 35%; background: url(../img/pattern.jpg); content: ""; z-index: -1;}
.blog-sidebar {grid-template-columns: 3fr 1fr; gap: 50px;}
.blog-sidebar .col {justify-content: flex-start;}

/* HEADER */
.header {padding: 200px var(--side-width) 150px var(--side-width); height: 50vh; min-height: 500px; display: flex; justify-content: center; flex-direction: column;}
.footer-cols {grid-template-columns: 2fr 1fr 1fr 1fr;}
.footer-cta {left: var(--side-width); width: calc(100% - (var(--side-width) * 2));}
#hero {height: 80vh; min-height: 700px;}
#hero a {font-size: 1.5rem;}
.header:before {height: 125px;}

/* CONTENT */
.person-item .text {padding: 25px 10px;}
.person-item .text h3 {font-size: 1.45rem;}
.person-item .text {transition: var(--transition);}
.person-item .text:after {position: absolute; bottom: 5px; left: calc(50% - 50px); opacity: 0;transition: var(--transition);}
.person-item:hover .text {padding-bottom: 70px; margin-top: -120px;}
.person-item:hover .text:after {opacity: 1; bottom: 15px; transition-delay: .2s;}

#approach-nav {margin-bottom: 4rem;}
.swiper-slide h3 {font-size: 2.5rem; font-weight: 400;}
.swiper-slide .grid-2 {grid-template-columns: 1fr 1.5fr;}
.swiper-slide .grid-2 .col:nth-of-type(1) {order: 2;}
.swiper-slide .grid-2 .col:nth-of-type(2) {order: 1;}

.blog-list-item h2 {font-size: 2rem;}
.blog-list-item img {margin: 0;}
.blog-list-item {font-size: 1rem; margin: 0; padding: 2rem 0;}

.blog-header h1 {font-size: 3.75rem;}
.skinny h2 {font-size: 2.15rem;}
.skinny p + h2 {margin-top: 3rem;}

.bio {margin-top: 125px;}
.bio .grid-2 {grid-template-columns: 1fr 2fr; gap: 50px;}
.bio .grid-2 .col {justify-content: flex-start;}

}

/* -------------------*/
/*  BIG OLE' DESKTOP  */ @media (min-width: 1300px) {
/* -------------------*/
:root {--spacer: 75px; --max-width: 1175px; --side-width: calc( (100vw - var(--max-width))/2 );}
}

/* -----------------*/
/*   MENU MOBILE   */ 
/* ---------------*/
/* MENU GLOBAL */
html.noscroll {overflow: hidden;}
body.noscroll {overflow: visible; height: 100%;}

#site-header {position: fixed; top: 0; width: 100%; z-index: 15; padding: 15px var(--side-width); transition: var(--transition);}
#site-header.scroll {background: rgba(3,25,63,.85); box-shadow: 0 0 10px 10px rgba(0,0,0,.1); backdrop-filter: blur(5px);}
#logo {max-width: 225px; display: block;}
#site-header.fill-in {background: rgba(3,25,63,.85); box-shadow: 0 0 10px 10px rgba(0,0,0,.1);}

.nav-main a {position: relative; text-decoration: none; font-weight: 700;}
.nav-main > .nav-path-selected > a:after {border-left: 7px solid transparent; border-right: 7px solid transparent; border-top: 7px solid var(--primary); position: absolute; left: -25px; top: calc(50% - 3px); content: ""; transform: rotate(-90deg);}
#menu .nav-path-selected > a {font-weight: 700; opacity: 1;}
#menu .nav-main a:hover {color: #fff; opacity: 1;}
ul.nav-mini a {color: #fff; display: block; padding: 5px 0; text-transform: uppercase; letter-spacing: 1px; text-decoration: none;}
ul.nav-mini a i {color: var(--primary); width: 20px;}

/* MENU DEVICE ONLY */
@media (max-width: 1000px) {
#menu-toggle {background: none; border: none; color: #fff; font-size: .7rem; position: absolute; right: 0; top: 0; padding: 20px; transition: var(--transition);}
#menu-toggle .bar {display: block; width: 100%; height: 4px; background: var(--primary); margin: 0 0 8px 0;}
#menu-toggle .menu-text {font-weight: 700; position: relative; top: -3px;}

#menu {padding: 100px 50px 150px 50px; position: absolute; transform: scale(1.1); right: 0; top: 0; width: 100vw; height: 100vh; background: url(../img/pattern.jpg) var(--dark); z-index: -1; color: var(--light-text); background-size: cover; opacity: 0; visibility: hidden; transition: var(--transition);}
#menu.active {transform: scale(1); opacity: 1; visibility: visible; overflow-y: scroll;}
#menu.active .nav-main li {right: 0; opacity: 1;}
#menu.active .nav-mini {right: 0; opacity: 1; transition-delay: 0;}

ul.nav-main {padding: 0 25px;}
.nav-main > li {position: relative; right: -10px; transition: var(--transition); transition-delay: .1s; opacity: 0;}
.nav-main li:nth-of-type(2) {transition-delay: .15s;}
.nav-main li:nth-of-type(3) {transition-delay: .2s;}
.nav-main li:nth-of-type(4) {transition-delay: .25s;}
.nav-main li:nth-of-type(5) {transition-delay: .3s;}
.nav-main li:nth-of-type(6) {transition-delay: .35s;}
.nav-main li:nth-of-type(7) {transition-delay: .4s;}
.nav-main a {color: #fff; display: block; padding: 10px 0; font-size: 1.5rem; position: relative; right: 0;}
.nav-main > .btn-theme > a {text-transform: none; border: none; background: none; font-weight: normal;}
.nav-main .btn-theme:hover a:before {transform: scaleX(1);transform-origin: bottom left;}
.nav-main > li:last-of-type:hover > a {color: var(--primary);}

ul.nav-mini {position: relative; right: -20px; opacity: 0; transition: var(--transition); border-bottom: 1px dotted rgba(255,255,255,.2); padding: 0 0 2rem 0; margin: 0 0 2rem 0;}

.nav-main ul {list-style-type: square; margin: 0 0 1rem 0;}
.nav-main ul li::marker {color: var(--primary);}
.nav-main ul a {font-size: 1rem; opacity: .75;}
#menu .btn-theme {font-size: .9rem; text-align: center; width: calc(100% + 50px); margin: 25px -25px; padding: 15px;}
}
@media (max-width: 1199px) {
    
}
@media (min-width: 768px) and (max-width: 999px) {
    #menu {padding: 250px 150px;}
    .nav-mini {display: flex; justify-content: space-around;}
}
@media (min-width: 768px) {

}

/* ----------*/
/*  DESKTOP  */ @media (min-width: 1000px) {
/* ----------*/
#site-header {display: flex; justify-content: space-between; align-items: center; padding: 0 var(--side-width) 0 var(--side-width);}
#menu-toggle {display: none;}
#logo {max-width: 185px}
#menu {position: relative;}
#menu .btn-theme {padding: 15px; font-size: .9rem; margin: 0 0 0 15px; opacity: 1;}
.nav-main {display: flex; align-items: center; margin-left: 25px; position: relative; z-index: 10;}
.nav-main a {padding: 55px 15px; display: block; text-decoration: none; color: #fff; opacity: .8;}
.nav-main .nav-path-selected a:after {transform: none; left: calc(50% - 7px); top: 75%;}

ul.nav-mini {display: flex; justify-content: flex-end; gap: 15px; position: absolute; right: 0; top: 10px; opacity: 1; transition: var(--transition); z-index: 15;}
ul.nav-mini a {font-size: .75rem;}
ul.nav-mini a i {margin: 0 5px 0 0; width: auto;}
ul.nav-mini a:hover {text-decoration: underline;}

#site-header.scroll ul.nav-mini {top: -25px; opacity: 0;}
#site-header.scroll .nav-main a {padding: 35px 15px;}
#site-header.scroll .nav-main .btn-theme {padding: 15px 15px;}
}
/* ----------------*/
/* LARGE DESKTOP  */ @media (min-width: 1200px) {
/* --------------*/
#logo {max-width: 225px;}
.nav-main a {font-size: 1.1rem;}
.nav-main > li {margin: 0 0 0 5px;}
}

.pagination {
    display:inline-block;
    padding-left:0;
    margin:20px 0;
    border-radius:4px
   }
   .pagination>li {
    display:inline
   }
   .pagination>li>a,
   .pagination>li>span {
    position:relative;
    float:left;
    padding:6px 12px;
    margin-left:-1px;
    line-height:1.42857143;
    color:#337ab7;
    text-decoration:none;
    background-color:#fff;
    border:1px solid #ddd
   }
   .pagination>li:first-child>a,
   .pagination>li:first-child>span {
    margin-left:0;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px
   }
   .pagination>li:last-child>a,
   .pagination>li:last-child>span {
    border-top-right-radius:4px;
    border-bottom-right-radius:4px
   }
   .pagination>li>a:focus,
   .pagination>li>a:hover,
   .pagination>li>span:focus,
   .pagination>li>span:hover {
    color:#23527c;
    background-color:#eee;
    border-color:#ddd
   }
   .pagination>.active>a,
   .pagination>.active>a:focus,
   .pagination>.active>a:hover,
   .pagination>.active>span,
   .pagination>.active>span:focus,
   .pagination>.active>span:hover {
    z-index:2;
    color:#fff;
    cursor:default;
    background-color:#337ab7;
    border-color:#337ab7
   }
   .pagination>.disabled>a,
   .pagination>.disabled>a:focus,
   .pagination>.disabled>a:hover,
   .pagination>.disabled>span,
   .pagination>.disabled>span:focus,
   .pagination>.disabled>span:hover {
    color:#777;
    cursor:not-allowed;
    background-color:#fff;
    border-color:#ddd
   }
   .pagination-lg>li>a,
   .pagination-lg>li>span {
    padding:10px 16px;
    font-size:18px
   }
   .pagination-lg>li:first-child>a,
   .pagination-lg>li:first-child>span {
    border-top-left-radius:6px;
    border-bottom-left-radius:6px
   }
   .pagination-lg>li:last-child>a,
   .pagination-lg>li:last-child>span {
    border-top-right-radius:6px;
    border-bottom-right-radius:6px
   }
   .pagination-sm>li>a,
   .pagination-sm>li>span {
    padding:5px 10px;
    font-size:12px
   }
   .pagination-sm>li:first-child>a,
   .pagination-sm>li:first-child>span {
    border-top-left-radius:3px;
    border-bottom-left-radius:3px
   }
   .pagination-sm>li:last-child>a,
   .pagination-sm>li:last-child>span {
    border-top-right-radius:3px;
    border-bottom-right-radius:3px
   }
#pagination {font-size: 1rem; justify-content: center; display: flex; margin: 2rem 0 0 0;}
#pagination li:before {display: none;}
#pagination a {color: var(--primary);}
#pagination .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: var(--primary);
    border-color: var(--primary);
}