.feature-img {
    position: relative;
    box-shadow: var(--box-shadow-lg);
}

.feature-img img {
    opacity: .9;
    min-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.feature-img .text {
    background: var(--green);
    padding: 1.5rem 2rem;
    position: absolute;
    bottom: -1px;
    display: none;
}

.feature-img .text>* {
    margin: 0;
    font-size: 1rem;
}

.feature-img:after {
    width: 150px;
    height: 150px;
    background: url(../img/plus.svg);
    content: "";
    display: block;
    position: absolute;
    top: -75px;
    left: -75px;
    background-size: 100%;
    // mix-blend-mode: screen;
}

.feature-img .clip-reveal {
    position: absolute;
    inset: 0;
    z-index: 5;
}

.aspect-wide {
    aspect-ratio: 12 / 2;
}