.img-scroll-wrapper {
    width: 100%;
    overflow: hidden;
}

.img-track {
    display: flex;
}

.img-track img,
.img-track video {
    max-width: 40vw;
    transition: var(--transition);
    border-radius: var(--border-radius);
}

.link-wrap {
    position: relative;
    transform: scale(1);
    transition: var(--transition);
}
.link-wrap:hover {
    transform: scale(1.2);
}
.link-wrap-text {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, .45);
    color: #fff;
    display: grid;
    align-content: center;
    text-align: center;
    font-family: var(--mono);
    font-family: monospace;
    transition: var(--transition);
    opacity: 0;
    transition-duration: 2s;
}

.link-wrap:hover .link-wrap-text {
    opacity: 1;
    text-decoration: underline;
}

.link-wrap:hover {

}