@use "../tokens" as *;

// /* Mobile first */
.app-shell {
  min-height: 100vh;
  background: $color-bg-body;
}
.app-sidebar {
    background: $brand-dark-800;
    color: $color-text-inverse;
    
}
.app-sidebar-fixed {padding: $space-3 $space-4;}
.app-mobile-header {display: flex; justify-content: space-between; align-items: center;}

/* Menu Toggle */
#menu-toggle {font-size:.65rem; letter-spacing: 0.5px; text-transform: uppercase; background: none; padding: 0; margin: 0; border: none;  font-weight: 700; color: var(--text); position: relative; display: grid; padding: 5px;}
#menu-toggle .icon-menu {font-size: 1.25rem;}

/* Menu Expand */
.submenu {height: 0; overflow: hidden; interpolate-size: allow-keywords; transition: $transition-base;}
.submenu.open {height: auto; margin: $space-4 0;}
.has-submenu {position: relative;}

.sidebar-logo img {height: 50px;}
.app-sidebar hr {border-color: $color-line-inverse;}

.app-sidebar ul {list-style: none; padding: 0; margin: 0;}
.app-sidebar ul a {color: $color-text-inverse;}
.sidebar-user-info {display: grid; grid-template-columns: 40px auto; gap: $space-4; font-size: $font-size-md; align-items: center;}
.sidebar-user-info figure {aspect-ratio: 1 / 1; overflow: hidden; border-radius: 100%; border: 3px solid $gray-200;}
.sidebar-user-info figure img {object-fit: cover; width: 100%; height: 100%;}
.sidebar-user-info ul {font-size: $font-size-xs; display: flex; align-items: center; gap: 5px;}
.sidebar-user-info ul li + li {border-left: 1px solid $gray-500; padding-left: 5px;}

.app-sidebar {
.app-menu .menu-active > a {background: rgba(255,255,255,.15); color: #fff; font-weight: $font-weight-bold; box-shadow: $shadow-sm;}
.app-menu a, .app-menu button {font-size: $font-size-md; text-decoration: none; display: block; padding: .5rem 1rem; font-weight: $font-weight-medium;border-radius: $radius-sm; background: none; border: none; color: $color-text-inverse; display: flex; justify-content: space-between; align-items: center; width: 100%; transition: $transition-base;}
.app-menu a span, .app-menu button span {font-size: 12px;}
.app-menu a:hover, .app-menu button:hover {color: #fff;background: rgba(255,255,255,.1);}
.app-menu ul a {font-size: $font-size-sm; font-weight: $font-weight-regular; padding: .25rem 1rem .25rem 1.5rem;}
.app-menu ul li:last-of-type {margin-bottom: $space-2;}
}

.sidebar-header {padding: 0 1rem; font-weight: $font-weight-bold; margin-bottom: $space-2; display: block;}
.sidebar-links a {padding: 2px 1rem; text-decoration: none; font-size: $font-size-sm; display: block;}
.sidebar-links a:hover {text-decoration: underline; color: #fff;}

/* Tablet */
@include respond-lg {
  .app-shell {
    display: grid;
    grid-template-columns: 220px 1fr;
    #menu-toggle {display:  none;}
    #mobile-nav {height: auto; visibility: visible; opacity: 1; position: relative; top: 0;}
  }
  .app-sidebar {display: grid; align-content: flex-start; gap: $space-3;}
  .app-sidebar-fixed {position: fixed; width: 220px; display: grid; gap: $space-4;}
  .app-main {order: 2;}
}

/* Desktop */
@include respond-xl {
  .app-shell {
    grid-template-columns: 260px 1fr;
  }
  .app-sidebar-fixed {position: fixed; width: 260px;}

}

/* Main Page Header */
.app-header {padding: $space-3 $space-4; background: #fff; border-bottom: 1px solid $gray-200; display: flex; justify-content: space-between; align-items: center;}
.app-header h1 {margin: 0; font-size: $font-size-lg;}
/* Breadcrumb */
.breadcrumb ol {list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; gap: 10px; font-size: $font-size-sm;}
.breadcrumb ol li + li:before {content: "|"; margin-right: 10px; color: $gray-400;}
/* Tablet */
@include respond-lg {
  .app-header {position: fixed; top: 0; left: 220px; right: 0;}
  .app-header + #main {margin-top: 50px;}
}
@include respond-xl {
  .app-header {left: 260px;}
}
