@use "../tokens" as *;

.login {
    min-height: 100vh;
}


.login .col {
    padding: 2rem;
    display: grid;
    gap: 1rem;
    align-content: flex-start;
    align-content: center;
    background: #fff;
}

.login .form img {
    max-width: 175px;
    margin: 0 0 3rem 0;
}

.login .form-wrap {
    max-width: 300px;
    margin: 0 auto;
    width: 100%;
}

.login .info {
    background: #222;
    position: relative;
    z-index: 5f;
}

// .login .form form {
//     display: grid;
//     gap: .5rem;
// }

// .login .form label {
//     display: block;
//     font-weight: 700;
//     opacity: .7;
// }

// .login .form input {
//     display: block;
//     padding: 10px;
//     width: 100%;
//     border-radius: 5px;
//     border: 1px solid #ccc;
//     background: var(--light);
// }

.login .info .panel {
    max-width: 450px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    z-index: 5;
}
.login .media-object {
    max-width: 450px;
    position: relative;
    z-index: 5;
    background: #fff;
}

.info-item {
    max-width: 425px;
    margin: 0 auto;
    padding: 1.5rem 1rem 1.5rem 125px;
    position: relative;
    font-size: .9rem;
    border-radius: 5px;
    background: rgba(255, 255, 255, .9);
    transition: var(--transition);
}

.info-item h3 {
    font-size: 1.15rem;
}

.info-item .btn-text {
    background: var(--light-2);
}

.info>img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: .5;
}

.info-item .btn-text:hover {
    background: var(--light);
}

/* TABLET */
@media (min-width: 768px) {}

/* WIDE DESKTOP */
@media (min-width: 992px) {
    .login {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
    }

    .info-item {
        padding-left: 140px;
    }

    .info-item img {
        width: 135px;
    }

}

/* WIDE DESKTOP */
@media (min-width: 1120px) {}