
/* Obituary Headers */
.obituary .page-hdr figure {position: absolute; inset: 0; background: var(--primary-dark); border-top: 1px solid rgba(0,0,0,.085); margin: 0;}
.obituary .page-hdr video,.obituary .page-hdr figure img {width: 100%; height: 100%; object-fit: cover; opacity: 0.5;mix-blend-mode: multiply;}
.obituary .page-hdr .content h1 {position: relative;font-size: 3.25rem;letter-spacing: 0;color:#fff}
.obituary .page-hdr .content p{color:var(--secondary-light); font-size:0.9rem;}
.obituary .page-hdr{padding-bottom:60px;}
.theme-img.obit-img{max-width:550px;margin:-110px auto 50px auto;box-shadow:var(--box-shadow-lg)}
.theme-img.obit-img:after{background:var(--secondary);opacity:0.8;width:200px;height:20px;position:absolute;top:-10px;left:calc(50% - 100px);content:"";background-size:cover;}
.obituary h2 {font-size: 3.25rem;}

.detail-callout{border-left:solid 5px var(--secondary-light);padding-left:15px;margin: 5px 0px 40px 0;}
.detail-callout p:last-of-type{margin-bottom:0}
.detail-callout p{font-size:0.95rem;margin-bottom:10px;line-height:1.35}
.detail-callout p a{margin-top:25px}
.detail-callout img{max-width:100px;max-height:100px}
.detail-callout h3{display: block;margin-bottom:10px;color:var(--primary)}
.detail-callout .wp-block-buttons {margin-bottom:0}

.condolences h2{font-size:2.6rem;letter-spacing:3px;position:relative;margin-bottom:20px;}
.condolences h2:before{opacity:0.2;background:url(../img/shapes/quote-marks.svg);width:48px;height:40px;content:"";position:absolute;background-size:cover;margin-left: -30px;top:-20px}
.condolences blockquote p{font-size:1.1rem;line-height: 1.3;margin-bottom:10px}
.condolences blockquote footer{font-size:0.9rem;font-weight: 700;}
.condolences blockquote .date{letter-spacing: 1px;display: block;margin-bottom:0}
.condolences blockquote{border-bottom:dotted var(--secondary) 2px;padding:25px }
.condolences blockquote:last-of-type{border-bottom:none }


/* Obit Listings Page */
.is-style-btn-special .wp-block-button__link{padding:15px;border-radius:0;color:var(--dark);background:#ddddd4 url(../img/shapes/pattern.svg) repeat;right:0px;bottom:0px;content:"";background-size:200px;}
.is-style-btn-special .wp-block-button__link:hover{background:var(--primary) url(../img/shapes/pattern.svg) repeat;background-size:200px;;color:var(--light)}
.obit-listing .date{letter-spacing: 1px;}
.obituary-search-form{display:flex;flex-wrap:wrap;gap:16px;background:var(--tan);padding:25px;}
.obituary-search-form .wp-block-buttons{margin:20px 0 0 0;align-content:end;}
.search-field{flex:1;min-width:220px;}
.search-field label{display:block;margin-bottom:8px;font-weight:bold;}
.search-field input,.search-field select{width:100%;padding:8px;font-size:1rem;border:1px solid #ccc;border-radius:4px;}
@media (max-width:768px){.search-field{flex:1 1 50%;}
}

/* WIDE DESKTOP */
@media (min-width:992px){
.obituary-search-form{padding:35px}
.search-field{flex:1;min-width:300px;}
.theme-img.obit-img:after{background:var(--secondary);opacity:0.8;width:250px;height:30px;position:absolute;top:-15px;left:calc(50% - 125px);content:"";background-size:cover;}
.obituary .page-hdr .content h1 {font-size: 4.65rem;}
.obituary .page-hdr{padding-bottom:350px;padding-top:50px}
.theme-img.obit-img{margin:-375px auto 50px auto;}
.detail_information{display:flex;gap:40px;margin-bottom:30px}
}




.mosaic-gallery{display:grid;margin-top:50px;grid-template-columns:repeat(4,1fr);gap:15px;}
.gallery-item{position:relative;overflow:hidden;aspect-ratio:1;}
.gallery-item:hover img{position:relative;overflow:hidden;aspect-ratio:1;scale:1.1;}
.gallery-item img{transition:var(--transition);width:100%;height:100%;scale:1;object-fit:cover;}
@media (max-width: 768px) {
  .mosaic-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

.video-gallery {margin-top:50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;

.gallery-item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 16/9;
}
}
.gallery-item:hover
.video-overlay img {scale:1;
opacity:1;
}
  
.video-overlay{position:relative;width:100%;height:100%;background:rgba(0,0,0,1);}
.video-overlay img{transition:var(--transition);width:100%;height:100%;object-fit:cover;display:block;opacity:0.8;}
.play-button{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);width:60px;height:60px;background:var(--primary);border-radius:50%;display:flex;align-items:center;justify-content:center;}
.play-button::after{content:'';display:block;width:0;height:0;border-style:solid;border-width:8px 0 8px 16px;border-color:transparent transparent transparent rgb(228,227,213);}
@media (max-width:768px){.video-gallery{grid-template-columns:repeat(1,1fr);/* 2 videos per row on mobile */
}
}

