.sidebar-nav ul {list-style: none; padding: 0; margin: 0;}
.sidebar-nav a {font-weight: 400; text-decoration: none; display: block; padding: 1rem; border-bottom: 1px dotted var(--gray);}
.sidebar-nav li:last-of-type a {border: none;}
.sidebar-nav .active a {font-weight: 700;}
.sidebar-nav .active a:before {content: "\f058";font-family: FontAwesome; color: var(--primary); margin: 0 10px 0 0;}

.list-group .list-item:first-of-type {display: none;}
.list-group .list-item {display: grid; gap: 5px; border-bottom: 1px dotted var(--gray); font-size: .75rem; padding: 10px;}
.list-group .list-item:nth-of-type(even) {background: #fff;}

/* TABLET */
@media (min-width: 768px) {
.list-group .list-item:first-of-type {display: flex; background: var(--dark); color: #fff; border: none;}
.list-group .list-item {display: flex; gap: 5px;align-items: center; padding: 5px;}
.list-group .list-item > * {flex: 75px 1 1; padding: 5px;}
.list-group .list-item > *:nth-of-type(2) {flex-basis: 150px;}
.list-group .list-item > *:nth-of-type(7) {flex-basis: 115px;}

.list-group.account-history .list-item > * {flex-basis: 75px;}
.list-group.account-history .list-item > *:last-of-type {flex-basis: 100px;}
}

/* DESKTOP */
@media (min-width: 992px) {

}
