/* Blog List */
.blog-list-item {display: grid; gap: 15px; padding: 25px 0; border-bottom: 1px dotted #ccc;}
.blog-list-item .preheader {font-size: .8rem; font-weight: 700; color: #555; font-weight: 400;}
.blog-list-item .preheader a {font-weight: 600;}
.blog-list-item .text {align-content: flex-start; font-size: .9rem;}
.blog-list-item h2 {font-size: 1.5rem; line-height: 1.2; letter-spacing: -.5px;}
.blog-list-item h2 a {color: var(--text); text-decoration: none;}
.blog-list-item h2 a:hover {text-decoration: underline;}
.blog-list-item .author {margin: 0 0 1rem 0; font-style: italic;}
.blog-list-item img {border-radius: 10px; aspect-ratio: 1.5 / 1; object-fit: cover;}
.blog-list-item:last-of-type {border: none;}
.grid-blog aside {background: var(--light); padding: 20px; font-size: .825rem; border-radius: 15px;}
.grid-blog aside h4 {font-size: 1rem;}
.grid-blog aside h4 {border-top: 1px solid var(--gray); padding-top: 1rem;}
.grid-blog aside h4:first-of-type {border: none; padding-top: .5rem;}
.grid-blog aside > * {margin: 0 0 1rem 0;}

.pagination {display: flex; justify-content: center; gap: 10px; padding: 2rem 0; border-bottom: 1px solid var(--gray);}
.pagination .active {border: 2px solid var(--light); background: none;}

.tag-list {overflow: hidden; list-style: none !important; padding: 0; margin: 0;}
.tag-list li {float: left; margin: 0 5px 10px 0 !important;}
.tag-list li a {padding: 4px 6px; background: #fff; font-size: .85rem; border-radius: 4px; font-weight: 400; font-size: .825rem;}
.tag-list li a:hover {background: none;}

.category-list {list-style: square; padding: 0 0 0 1rem;}
.category-list li::marker {color: var(--primary);}
.category-list a {display: block; padding: 3px; font-size: .825rem; font-weight: 400;}
.category-list a:hover {padding: 3px 0 3px 6px;}

.news-header {border-bottom: 1px solid #ccc; margin: 1rem 0;}
.news-header h1 {color: var(--dark); font-size: 2.5rem; line-height: 1.2; margin: 1rem 0;}
.news-header .lead:before {left: calc(50% - 25px);}

.social-share {text-align: center; margin-top: 1rem;}
.social-share li {margin: 0 15px; padding: 0;}
.social-share a {font-size: 1.5rem; color: var(--primary); margin: 0 5px;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.blog-list-item {grid-template-columns: 2fr 3fr; gap: 25px;}

}

.blog-detail aside {margin-top: 150px;}
.blog-detail #hdr-basic {border-bottom: 1px solid #ccc; margin-bottom: 2rem; padding-bottom: 1rem;}
.blog-detail #hdr-basic h1 {border: none; margin: 0 0 1rem 0; padding: 0;}
.blog-detail img {margin: 0 0 2rem 0;}

/* DESKTOP */
@media (min-width: 992px) {
.grid-blog {grid-template-columns: 3.5fr 1.15fr; align-items: flex-start; gap: 50px;}

.grid-blog aside {position: sticky; top: 30px;}
}