.container {@include container;}
.grid {display: grid; gap: var(--spacer); align-items: center;}
.grid-gap-xm {gap: 10px;}
.grid-gap-sm {gap: 20px;}
.grid-gap-md {gap: 30px;}
.grid-gap-lg {gap: 40px;}
.content-sections > * {margin: var(--spacer-vert) auto;}

.auto-grid {display: grid; grid-template-columns: repeat( auto-fill, minmax(75px, 1fr) );}
.auto-grid-5 {display: grid; grid-template-columns: repeat( auto-fill, minmax(155px, 1fr) );}
.auto-grid-4 {display: grid; grid-template-columns: repeat( auto-fill, minmax(225px, 1fr) );}

.skinny {max-width: 800px;}

.mcp-info-list .item-details {margin: .5rem 0;}
.mcp-info-list .item-details strong {font-weight: 500;}
.mcp-info-list h3 {font-weight: 600;}

.email-receipt {padding: 1rem 0;}
.email-receipt > div {max-width: 750px; padding: 0rem 1rem 1rem 1rem; background: #fff; font-size: 75%; margin: 0 auto; box-shadow: 0 0 25px rgba(0,0,0,.05);}
.email-receipt header, .email-receipt footer {display: flex; justify-content: space-between; background: Var(--light); padding: 1rem; margin: 1rem -1rem 2rem -1rem;}
.email-receipt footer {margin: 0 -1rem -1rem -1rem;}
.email-receipt header img, .email-receipt footer img {max-width: 150px;}
.email-receipt footer img {max-height: 50px; mix-blend-mode: multiply;}
.flex-row-img {display: flex; justify-content: space-between; align-items: center; border-top: 1px solid #ccc; padding-top: 1.5rem;}
.flex-row-img img {max-width: 150px; max-height: 75px; mix-blend-mode: multiply;}

/* Receipt Tagline Item */
.receipt-footer-tagline a {text-align: center; font-size: 1rem; text-decoration: none; display: block;}
.receipt-footer-tagline span {display: block; font-size: .65rem;}



@media (min-width: 768px) {
.auto-grid-5 {display: grid; grid-template-columns: repeat( auto-fill, minmax(175px, 1fr) );}
.receipt-footer-tagline a {font-size: 1.5rem;}
.receipt-footer-tagline span {font-size: .85rem;}
}

@media (min-width: 768px) {
.grid-2 {grid-template-columns: 1fr 1fr;}
}
  
@media (min-width: 992px) {
.grid-3 {grid-template-columns: 1fr 1fr 1fr;}
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
}