@charset "UTF-8";
/* CSS Document
Client: Shive Hattery
Company: Informatics, Inc
Author: Jeff S
Date: October 2018

gray: #808080
blue: #0082be

*/

/* TYPOGRAPHY */
body {font-family: "Lato", sans-serif; font-weight: 500; font-size: 17px; background: #fff; color: rgba(0,0,0,.7);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
-moz-font-feature-settings: "liga" on;
}
:root {
--gray: #808080;
--blue: #0082be;	
}

h1, h2, h3, h4, h5 {font-weight: 900; color: #000; text-transform: uppercase; margin: 0 0 20px 0;}
h1 {font-size: 28px; margin: 10px 0;}
h2 {font-size: 21px; margin: 0 0 10px 0;}
h2.lead, h1.lead {font-size: 32px; font-weight: 400;}
h3 {font-size: 18px;}
h4 {font-size: 18px; text-transform: none;}
p, ul, ol {margin-bottom: 1.5em;}
.blue {color: var(--blue);}
.sub-title {font-size: 21px; font-weight: 700; color: #000; margin: 0 0 10px 0;}
.blog-header {border-bottom: 1px solid #ddd; margin: 0 0 20px 0;}
.blog-header .by-line {font-size: 14px;}

img {max-width: 100%; height: auto;}
hr {border-color: rgba(0,0,0,.15); margin: 30px 0; position: relative; width: 100%; overflow: hidden;}
.shive-content ul {padding: 0 0 0 20px; font-size: 17px; list-style: square;}
.shive-content ul li {margin-top: 8px;}
.shive-content strong {color: #000;}
.blue-box {background: #0082be; padding: 25px; color: #fff; text-align: center; min-height: 325px; display: flex; flex-direction: column; justify-content: center;}
.blue-box h2, .blue-box h3, .blue-box h4 {color: #fff;}
.blue-box .btn-theme a {border-color: #fff; color: #fff;}
.blue-box .btn-theme a:hover {background: rgba(0,0,0,.5); border-color: #fff;}
.shive-content .row + .row {padding-top: 25px;}
.content-box {background: #f4f4f4; padding: 25px; border: 1px solid #ccc; margin: 0 0 25px 0;}
.img-left, .img-right {margin: 0 0 25px 0;}
img.ccm-image-block {margin-bottom: 25px;}
ol li {margin-bottom: 8px;}

/* LINKS */
a {color: #0082be; text-decoration: underline;}
a:focus {text-decoration: none;}
a:hover {color: #808080;}
a.btn-theme, .btn-theme a {display: inline-block; padding: 10px 25px; text-transform: uppercase; font-size: 16px; border: 2px solid #000; color: #000; text-decoration: none; border-radius: 0;}
a.btn-theme:hover, .btn-theme a:hover {text-decoration: none; background: #0082be; border-color: #0082be; color: #fff;}
.container {position: relative;}

a.btn-blue, .btn-blue a {display: inline-block; padding: 10px 65px 10px 15px; text-transform: uppercase; font-size: 17px; text-decoration: none; border-radius: 0; background: none; color: #222; font-weight: 900; letter-spacing: 1px; border: 2px solid #0082be; position: relative;}
a.btn-blue:after, .btn-blue a:after {font-family: "FontAwesome"; background: url(../img/shive-plus.png) center center no-repeat #0082be; background-size: 25px auto; width: 50px; height: 100%; text-align: center; position: absolute; right: 0; top: 0; display: flex; justify-content: center; flex-direction: column; color: #fff; font-size: 25px; content: "";}
a.btn-blue:hover, .btn-blue a:hover {text-decoration: none; border-color: #222; color: #0082be; padding: 10px 70px 10px 15px;}
a.btn-blue:hover:after, .btn-blue a:hover:after {background: url(../img/shive-plus.png) center center no-repeat #222;background-size: 25px auto; }
/* Animate */
.ccm-page a, .title, .slide, .page-tools *, .page-list-item *, .download-link:before,.external-link:before, .thumbnail, .btn-blue a:after {
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
}
.cubic, #hdr-search, button span, #nav-main ul, .slide-text, .grid-item *, .people-item *, .cat-expand *, .mega-menu, .video-popover * {
-webkit-transition: all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:         all 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Header and Menu */
#header {border: 0; margin: 0 0 10px 0; padding: 15px 15px 0 15px; border-radius: 0; z-index: 250; background: #000; position: relative;}
#header .container {padding: 0;}
#logo {display: block; margin: 0 auto 5px auto; text-align: center; width: 285px;}
#toggle {margin: 0; width: 100%; border-radius: 0; text-align: left; padding: 15px;}
#toggle .button-wrap, #toggle-search .button-wrap {float: left; margin-right: 10px;}
#toggle p {margin: 0; color: #fff;}
#toggle .icon-bar {background: #fff; height: 3px; margin-top: 4px; border-radius: 2px;}
#toggle-search {border: none; padding: 15px 20px; margin: 0; background: 0; color: #fff; position: absolute; right: -15px; top: 45px;}
#hdr-search {position: absolute; top: 85px; left: -15px; right: -15px; background: #000; padding: 15px; opacity: 0; visibility: hidden; z-index: 5;}
#hdr-search.open {display: block; top: 95px; opacity: 1; visibility: visible;}
#hdr-search input {width: 70%; float: left; padding: 10px; font-size: 14px; border: none; border-radius: 0;}
#hdr-search button {border: 0; color: #fff; width: 30%; float: left; font-size: 14px; background: rgba(255,255,255,.3); padding: 10px;}
#navbar {border: 0;}
#nav-main {margin: 0; padding-bottom: 15px;}
#nav-main a {color: #fff; text-decoration: none; text-transform: uppercase; font-weight: 900; font-size: 13px; border-top: 1px solid rgba(255,255,255,.25); padding: 10px 15px; display: block;}
#nav-main li {position: relative;}
#nav-main li button {position: absolute; right: 0; top: 0; width: 40px; height: 40px; display: block; background: none; border: none;border-left: 1px solid rgba(255,255,255,0);}
#nav-main li button.collapsed { border-left: 1px solid rgba(255,255,255,.25);}
#nav-main li button span {display: block; width: 11px; height: 1px; background: #fff; position: absolute; left: 15px; top: 50%;}
#nav-main li button span + span {transform: rotate(90deg); opacity: 0;}
#nav-main li button.collapsed span + span {opacity: 1;}
#nav-main li:hover > a, #nav-main a:active, #nav-main a:focus {background: none; color: #0082be; opacity: 1;}
#nav-main ul {padding: 0 0 0 35px; margin: 0; list-style: square; color: #888;}
#nav-main ul a {text-transform: none; border: none; padding: 5px 5px 5px 5px; opacity: .8;}
#nav-main ul li:last-of-type {margin-bottom: 25px;}
#nav-main .mega-menu ul li:first-of-type a {text-transform: uppercase; opacity: 1; background: #000; position: relative; left: -25px; font-size: 16px;}

/* Slider */
.slider-home {margin-top: -10px;}
.slider-wrap {position: relative; overflow: hidden; background: url(../img/loading.gif) center center no-repeat #fff;}
.slider-wrap .next, .slider-wrap .prev {position: absolute; left: 0; top: 0; height: 100%; background: url(../img/chevron.png) 50% 50% no-repeat; width: 50px; color: #fff; background-size: 35px auto; opacity: .8;}
.slider-wrap .next {transform: rotate(180deg); left: auto; right: 0;}
.slider-wrap .next:hover, .slider-wrap .prev:hover {opacity: 1;}
.slide img, .slide video {width: 100%; height: auto;}
.slider-basic .slide, .slider-thumbs .slide, .slider-thumbs-css .slide {opacity: .5; border: 5px solid #fff; border-top: none;}
.slider-basic .slide img, .slider-thumbs .slide img, .slider-thumbs-css .slide img {height: 175px; width: auto;}
.slider-basic .slick-center, .slider-thumbs .slick-center, .slider-thumbs-css .slick-center {opacity: 1;}
.slider-home .container {padding: 0;}
.slide-text {display: none;}
.slider-wrap + .btn-theme, .slide + .btn-theme {margin-top: 25px;}
.slide a {text-decoration: none; display: block; position: relative; height: 100%; width: 100%;}
.thumb-wrapper .slick-dots {list-style: none; margin: 0; display: flex; padding: 0 5px; justify-content: center;}
.thumb-wrapper .slick-dots .thumbnail {margin: 5px; height: 80px; width: auto; opacity: .5; padding: 0; border: 0;}
.thumb-wrapper .slick-dots .thumbnail img {max-height: 100%; width: auto;}
.thumb-wrapper .slick-dots .slick-active .thumbnail {opacity: 1;}

.slider {opacity: 0;}
.slider.slick-initialized {opacity:1;transition:opacity .3s ease-out;}

/* Content */
.shive-content section {padding: 25px 0;}
.content {padding: 15px;}
.content p:last-of-type {margin: 0;}
.shive-plus {padding: 15px;}
.shive-plus .plus {position: relative; left: auto; top: auto; margin: 0 auto 25px auto;}
.shive-plus .plus-horz+.plus-horz {background: #000; right: 0;}
.shive-plus .plus-vert {background: #000;}
.shive-plus .btn-theme {text-align: center;}
/* .shive-content .row + .row {margin-top: 50px;} */

.plus {display: block; width: 150px; height: 100px; position: absolute; left: -125px; top: -90px;}
.plus-item {	
	animation-duration: .75s;
	-webkit-animation-duration: 0.75s;
	transition-timing-function: ease-out;
	animation-fill-mode: both;
}
.plus-horz {width: 0; height: 16px; background: var(--blue); display: block; position: absolute; top: 50%; margin-top: -8px;}
.plus-horz+.plus-horz {background: #fff; right: 0;}
.plus-vert {width: 16px; height: 0; background: #fff; position: absolute; right: 55px; display: block;}
.plus-animate .plus-horz, .slick-active .plus-horz {animation-name: plusgrowhorz;}
.plus-animate .plus-vert, .slick-active .plus-vert {animation-name: plusgrowvert;}

.plus.no-animate .plus-horz {width: 55px;}
.plus.no-animate .plus-vert {height: 100%;}
/* Project Grid */
.project-grid {display: block; overflow: hidden;}
.grid-item {display: block; text-decoration: none; width: 100%; position: relative; margin: 0 0 15px 0;}
.grid-item img {width: 100%;}
/*GOJ Updates 01-04-20*/
.grid-item .project-grid-text {position: absolute; right: 0; bottom: 0; background: rgba(0,0,0,.5); z-index: 5; padding: 10px; text-align: right;}
.grid-item .project-grid-text h4 {font-size: 16px; margin: 0; color: #fff;}
.grid-item .project-grid-text p {font-size: 14px; margin: 0; color: #fff;}

/* News Slides */
.news-slider-wrapper {position: relative; padding: 0 40px; margin: 0 0 25px 0;}
.news-slider-wrapper .news-prev, .news-slider-wrapper .news-next {background: url(../img/chevron-dark.png) 50% 50% no-repeat; position: absolute; left: 0; top: 0; height: 75%; width: 30px; background-size: contain; opacity: .5; display: block;}
.news-slider-wrapper .news-next {left: auto; right: 0; transform: rotate(180deg);}
.news-slider-wrapper .news-prev:hover, .news-slider-wrapper .news-next:hover {opacity: 1;}
.news-slide a {text-align: center; text-decoration: none; padding: 0 15px; display: block;}
.news-slide .date {margin: 15px 0 5px 0; color: #888; font-size: 16px;}
.news-slide .title {margin: 0; color: #000; font-size: 18px; opacity: 1;}
.news-slide a:hover .title {color: var(--blue);}
.box-border {padding: 25px 0 0 25px; position: relative; }
.box-border:after {position: absolute; left: 0; top: 0; right: 30px; bottom: 30px; content: ""; border: 15px solid #000;}
.box-border img {border: 10px solid #fff; position: relative; z-index: 5;}

/* Footer */
.shive footer {background: #313332; text-align: center; color: rgba(255,255,255,.5); padding: 25px 0 0 0; font-weight: 700; font-size: 16px; position: relative;}
.shive footer a {color: rgba(255,255,255,.5); text-decoration: none; padding: 5px; display: inline-block;}
.shive footer a:hover {color: rgba(255,255,255,.8);}
.shive footer ul {list-style: none;padding: 0; margin: 0;}
.social {margin: 25px 0;}
.social p {margin: 0 0 10px 0;}
.social ul {display: flex; justify-content: center; flex-wrap: wrap; padding: 0; margin: 0; list-style: none;}
.social a {font-size: 20px; width: 35px; height: 35px; line-height: 22px; border: 1px solid rgba(255,255,255,.5); border-radius: 50%; margin: 0 5px; padding: 5px !important;}
.shive footer .copy {background: rgba(0,0,0,.5); font-size: 13px; padding: 25px; margin: 25px 0 0 0; position: relative;}
.shive footer .copy span {display: block;}
.shive footer .server {position: absolute; right: 5px; bottom: 5px; color: rgba(0,0,0,.5);}
.shive footer #btn-top {position: absolute; right: 25px; top: 25px; display: block; width: 40px; height: 40px; border-radius: 50%; background: #777; line-height: 35px;}
.shive footer #btn-top i {color: #fff;}
.shive footer #btn-top:after {position: absolute; bottom: -15px; content: "BACK TO TOP"; width: 80px; font-size: 8px; color: #777; margin-left: -40px; left: 0; line-height: 10px; left: 50%;}

.page-tools {border-top: 1px solid rgba(0,0,0,.25); padding: 20px 0;}
.page-tools a {display: inline-block; padding: 5px; color: #888; text-decoration: none;}
.page-tools a i {border: 1px solid #999; display: inline-block; width: 35px; height: 35px; line-height: 33px; border-radius: 50%; text-align: center; color: #999;}
.page-tools a:hover i, .page-tools .share-list:hover a.share i {background: var(--blue); color: #fff; border-color: var(--blue);}
.page-tools a:hover {color: var(--blue);}
.page-tools .share-list {display: inline-block;}
.page-tools .share-list ul {list-style: none; margin: 0; padding: 0;}
.page-tools .share-list ul li {opacity: 0; display: inline-block;}
.page-tools .share-list:hover li {opacity: 1;}
.page-tools .share-list:hover a.share {cursor: auto;}

/* Shive Header Sec */
.shive-header {margin: 15px 0 0 0;}
.shive-header .breadcrumb {background: none; padding: 0; margin: 0 0 35px 0; font-size: 14px;}
.shive-header .breadcrumb a {color: #666; text-decoration: none;}
.shive-header .breadcrumb a:hover {text-decoration: underline; color: var(--blue);}
.shive-header hr {margin-top: 5px;}

/* Facts */
.facts {background: var(--blue); text-align: center; margin: 0 0 50px 0; padding: 25px 0;}
.fact-item {padding: 25px 0; margin: 0 25px; border-bottom: 1px solid #000;}
.facts .number {color: #000; font-size: 60px; display: block;}
.facts .text {color: #fff;}
.facts .row + .row {margin: 0 -15px;}

/* People */
.people-item {position: relative; display: block; overflow: hidden; margin: 0 0 30px 0; background: #104678; max-width: 300px; text-decoration: none;}
.people-item .text {width: 100%; color: #fff; text-align: center; padding: 10px; margin: 0; bottom: 0; background: #333; min-height: 120px;}
.people-item .text h3 {text-transform: none; color: #fff; margin: 0 0 5px 0; font-size: 18px;}
.people-item .text p {margin: 0; font-size: 12px;}
.people-item img {opacity: .3;}

.people-detail .container {text-align: center; max-width: 900px; margin: 0 auto;}
.people-detail .box-border {max-width: 300px; margin: 0 auto;}
.people-detail h1, .people-detail .title {color: var(--blue);}
.people-detail .title {font-style: italic;}
.people-detail .title span {display: block;}
.people-detail .social a {color: #000; font-size: 25px;}
.people-detail .social a:hover {color: var(--blue);}

/* Page List - Awards/Pub/News */
.page-list-item {text-decoration: none; border: 1px solid #ccc; display: block; margin: 0 0 25px 0;}
.page-list-item img {display: block; margin: 0 auto;}
.page-list-item h3 {text-transform: none; margin: 10px 0; padding: 10px 20px;}
.page-list-item p {color: #666; margin: 0 0 20px 0; font-size: 16px; padding: 0px 20px;}
.page-list-item p.date {color: #999; font-size: 14px; margin: 0 0 10px 0;}
.page-list-item:hover {text-decoration: none;}
.page-list-item:hover h3 {color: var(--blue);}
.search-cat {display: block; margin: 0 0 25px 0;}
.search-cat .well {margin: 0;}
.search-cat form {display: block; width: 100%; position: relative;}
.search-cat form .row:first-of-type {padding-bottom: 10px;}
.search-cat input {width: 100%; padding: 10px 15px; height: auto; font-size: 16px; border: 1px solid #222; border-radius: 0;}
.search-cat button {border: 0; color: #000; position: absolute; right: 15px; top: 0; padding: 7px 10px; background: none; font-size: 20px;}
.search-cat button:hover {color: var(--blue);}
.cat-expand {display: block; text-align: center; color: var(--blue); text-transform: uppercase; background: #f9f9f9; text-decoration: none; padding: 9px; border: 1px solid #ddd; margin: 15px 0 0 0; font-size: 18px;}
.cat-expand.collapsed {text-decoration: none;}
.cat-expand.collapsed i {transform: rotate(0);}
.cat-expand i {transform: rotate(180deg);}
#search-cat-list ul {margin: 0; padding: 0; list-style: none; display: flex; flex-wrap: wrap; font-size: 14px;}
#search-cat-list ul a {padding: 5px 10px; color: #000; opacity: .7; display: block; background: #ddd; margin: 5px 5px 0 0; text-decoration: none;}
#search-cat-list ul a:hover {text-decoration: underline; opacity: 1;}
.search-cat + hr {margin-top: 10px;}
.by-line a {color: rgba(0,0,0,.7);}
.by-line a:hover {color: var(--blue);}

.stacked-view .page-list-item {border: 0; border-bottom: 1px solid #ccc; display: block; overflow: hidden;}
.stacked-view .page-list-item p, .stacked-view .page-list-item h3 {padding: 0; margin: 0;}
.stacked-view .page-list-item h3 {margin: 10px 0;}
.stacked-view .page-list-item h3 a {text-decoration: none; color: #000;}
.stacked-view .page-list-item h3 a:hover {text-decoration: underline; color: var(--blue);}
.stacked-view .page-list-item .date {margin-bottom: 10px;}
.page-list-item .tags, .featured-pub .tags {list-style: none; padding: 0; margin: 15px 0; font-size: 14px;}
.page-list-item .tags li, .featured-pub .tags li {display: inline-block; float: left; padding: 5px; margin: 0;}
.page-list-item .tags li a, .featured-pub .tags li a {display: block; color: #666;}
.tags li:first-of-type {text-transform: uppercase; color: #000; font-weight: 900; padding-left: 0;}
.featured-pub a {color: #fff;}
.stacked-view .page-list-item .by-line, .featured-pub .by-line {margin: 0 0 10px 0; font-size: 16px;}

.featured-pub h3 a {color: #000; text-decoration: none;}
.featured-pub .by-line {margin: 0;}
.featured-pub .tags {margin: 0 0 10px 0;}
.featured-pub .tags li a {color: #fff;}

/* Work */
.border-box {border: 15px solid #000; padding: 25px; overflow: hidden;}
.page-list-work h3 {color: var(--blue);}
.page-list-work ul {list-style: none; padding: 0;}
.page-list-work ul a {color: #000; text-decoration: none; display: block;}
.page-list-work ul a:hover {color: var(--blue); text-decoration: underline;}

.cover-hover .grid-item .project-grid-text {width: 100%; height: 100%; text-align: center; display: flex; justify-content: center; flex-direction: column;}
.cover-hover .grid-item .project-grid-text h4 {border: 2px solid #fff; align-self: center; padding: 15px;}

.grid-item.grid-cta {background: var(--blue); padding: 25px; color: #fff;}
.grid-item.grid-cta h2 {color: #fff;}
.grid-item.grid-cta h4 {margin-top: 10px;}
.grid-item.grid-cta .btn-theme {margin: 0;}
.grid-item.grid-cta .btn-theme a {border-color: #fff; color: #fff; margin: 0;}
.grid-item.grid-cta .btn-theme a:hover {background: rgba(0,0,0,.5);}

.full-quote {background: #b7b7b4;}
.full-quote img {border-radius: 50%; border: 10px solid rgba(0,0,0,.1);}
.author {font-size: 17px; font-weight: bold; margin: 0;}
.title {font-size: 15px; opacity: .5;}
.quote {text-transform: uppercase; font-size: 24px; font-weight: 700; color: #000;}
.download-link {display: block; text-decoration: none; color: rgba(0,0,0,.35);}
.download-link:before {content: "\f019";font-family: FontAwesome; display: inline-block; width: 35px; height: 35px; border-radius: 50%; border: 1px solid rgba(0,0,0,.5); color: var(--blue); text-align: center; margin: 0 10px 0 0; padding-top: 2px;}
.download-link:hover:before {background: var(--blue); color: #fff;}
.download-link:hover {color: #000;}

/* SR updates: Apr 01, 2020 (For full quote external link block - external link) */
.external-link {display: block; text-decoration: none; color: rgba(0,0,0,.35);}
.external-link:before {content: "\f019";font-family: FontAwesome; display: inline-block; width: 35px; height: 35px; border-radius: 50%; border: 1px solid rgba(0,0,0,.5); color: var(--blue); text-align: center; margin: 0 10px 0 0; padding-top: 2px;}
.external-link:hover:before {background: var(--blue); color: #fff;}
.external-link:hover {color: #000;}
.project-details {border-bottom: 1px solid #ccc; margin-bottom: 20px; padding-bottom: 20px; font-size: 16px;}
.project-details h3 {margin: 20px 0 5px 0;}
.project-details h3:first-of-type {margin-top: 0;}
.project-details p {margin: 0 0 20px 0;}
.project-details a {font-size: 15px; display: inline; padding: 0 0px 3px 0;}

/* News */
.featured {background: var(--blue); padding: 25px; display: block; margin: 0 0 15px 0;}
.featured img {border: 10px solid #fff;}
.featured h3 {margin: 15px 0 5px 0;}
.featured p.date {margin: 0; color: #fff; font-size: 14px;}
.featured:hover {text-decoration: none;}

.media-contact {background: #000; padding: 25px; color: #fff; font-size: 16px;}
.media-contact p:last-of-type {margin: 0;}
.media-contact img {margin-bottom: 20px;}
.page-list {margin-top: 15px;}
.map-area {background: #0082be; padding: 15px;}

/* Careers */
.featured-content {padding: 0 5px; margin: 0 0 25px 0;}
.featured-content h3 {margin: 15px 0;}
.featured-content .text {padding-left: 35px;}

/* Image Text Overlay */
.img-text {position: relative; display: block; margin: 0 0 25px 0; background: var(--blue);}
.img-text img {position: absolute; width: 100%; height: 100%; object-fit: cover; max-width: none; left: 0; top: 0;}
.img-text .text {position: relative; z-index: 5; background: rgba(0,0,0,.5); padding: 50px; color: #fff; min-height: 325px;text-align: center;}
.img-text .text h2 {color: #fff;margin: 0 0 25px 0;}
.img-text .text h3 {color: #fff; text-transform: none;}
.img-text .text p {max-width: 400px;}
.img-text .text .btn-theme {margin: 0; display: inline-block;}
.img-text .text p {max-width: 550px; margin: 0 auto 25px auto;}
.img-text .text .btn-theme {margin: 0 auto;}
.img-text .text .btn-theme a {color: #fff; border-color: #fff;}

.img-text.plus-graphic img {position: relative; height: auto;}
.img-text.plus-graphic .text {position: absolute; left: 0; top: 0; z-index: 5; height: 100%; width: 100%; display: flex; flex-direction: column; justify-content: center; text-align: center; background: none; min-height: inherit;}
.img-text.plus-graphic .text p {margin: 0; max-width: none;}
.img-text.plus-graphic .text .inner {display: inline-block; padding: 5px; background: rgba(0,0,0,.5); border: 5px solid #fff; align-self: center; color: #fff; font-weight: 900; text-transform: uppercase; font-size: 14px; position: relative; margin: 0 15px;}
.img-text.plus-graphic .text .inner .plus {display: none;}

.video-popover {position: relative;}
.video-popover:before {content: "\f01d";font-family: FontAwesome; position: absolute; left: 50%; top: 20%; color: #fff; font-size: 50px; margin-left: -25px; z-index: 5;}
.video-popover p {text-decoration: none; color: #000; font-style: italic;} 
.video-popover a {text-decoration: none;}
.video-popover:hover p {color: var(--blue);}
.video-popover a img {opacity: .8;}
.video-popover a:hover img {opacity: 1;}
 
.job-search {background: var(--blue); margin: 0 0 25px 0; padding: 15px; font-size: 14px;}
.job-search label {display: block; font-weight: 500;}
.job-search input, .job-search select {display: block; width: 100%; height: 40px; border: 0; background: #f4f4f4; padding: 5px;}
.job-search #search-go, .job-search #search-reset {display: block; text-align: center; background: rgba(0,0,0,.7); color: #fff; text-decoration: none; padding: 10px; text-transform: uppercase; font-size: 15px;}
.job-search #search-reset {background: rgba(0,0,0,.2); margin: 5px 0 0 0;}
.job-search #search-go:hover {background: rgba(0,0,0,1);}
.job-search .item {margin: 0 0 10px 0;}
.job-item {display: block; padding: 25px 0; border-bottom: 1px solid #ccc;}
.job-item h3 {margin: 0 0 5px 0; text-transform: none; font-size: 21px;}
.job-item p {margin: 0;}
.job-item .date {font-size: 16px; color: #999; margin: 0 0 10px 0;}

.job-data {text-transform: uppercase; color: #888; font-size: 16px;}
.job-data strong {color: #222;}
.job-data span {display: block; margin: 0 0 10px 0;}
.job-data .btn-primary {padding: 5px 10px; text-decoration: none; font-weight: bold;}
.job-sidebar {background: #f4f4f4; padding: 15px; font-size: 14px; border: 1px solid #ddd;}
.job-sidebar h2 {margin: 15px 0; font-size: 16px;}
.job-sidebar .job-search {padding: 15px; display: block;}
.job-sidebar .job-search .item {width: 100%;}
.job-sidebar .job-search #search-go {position: relative; right: auto; bottom: auto; width: 100%; display: block; float: left;}
.job-sidebar .job-item h3 {font-size: 18px;} 
.job-sidebar .job-item .date {font-size: 14px;}
.job-sidebar .job-item:last-of-type {border: none;}
.job-sidebar h2:nth-of-type(2) {margin-bottom: 0;}

/* Contact */
.shive-form {margin-bottom: 25px;}
.shive-form label {font-size: 14px; color: #555;}
.shive-form label em {color: #999; font-style: normal;}
.shive-form .row + .row {margin-top: 0;}
.shive-form .form-control {border-radius: 0; background: #f9f9f9;}

/* Search */
#searchResults .searchResult h3 {font-size: 21px; border-top: 1px dotted #ccc; padding: 15px 0; margin: 0;}
#searchResults .searchResult:first-of-type h3 {border: none;}
.ccm-search-block-form input {width: 75%; float: left; height: 50px; background: #f4f4f4; border: 1px solid #ccc; padding: 10px;}
.ccm-search-block-form .btn {width: 23%; float: right; height: 50px; background: #0082be; color: #fff; font-weight: bold; border: none; border-radius: 0;}
.ccm-search-block-form #searchResults {display: block; padding: 15px 0; width: 100%; overflow: hidden;}
#tabs-search {font-size: 14px;}
#tabs-search li a {background: #eee;}
#tabs-search li.active a {background: #fff;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.img-left {max-width: 50%; float: left; margin: 0 20px 20px 0;}
.img-right {max-width: 50%; float: right; margin: 0 0 20px 20px;}

/* Header and Menu */
#header {padding: 0;}
.navbar-header {float: none;}
#logo {margin: 0 auto; padding: 25px 0 15px 0;}
#navbar {padding: 0;}
#nav-main {width: 100%; display: flex; justify-content: center; margin: 0; padding: 0;}
#nav-main a {padding: 15px; border: 0;}
#nav-main li button {display: none;}
#toggle-search {right: 0; bottom: 0; top: auto;}
#hdr-search {left: 15px; right: 15px; top: 100px;}
#hdr-search.open {top: 115px;}

#nav-main ul, #nav-main .mega-menu {display: none; position: absolute; left: 0; top: 100%; width: 200px; background: #000; padding: 10px; list-style: none;}
#nav-main ul li:last-of-type {margin: 0;}
#nav-main ul a {padding: 8px;}
#nav-main li:hover ul,  #nav-main li:hover .mega-menu {display: block;}

#nav-main li .mega-menu {width: 470px; padding: 0 20px 20px 20px;}
#nav-main li .mega-menu ul {display: block; position: relative; float: left; width: 50%;}
#nav-main .mega-menu ul li:first-of-type a {left: auto;}
#nav-main li .mega-menu a {padding: 5px;}

/* Slider */
.slider-basic .slide img, .slider-thumbs .slide img, .slider-thumbs-css .slide img {height: 350px;}
.slider-wrap .next, .slider-wrap .prev {background-size: 50px auto; width: 100px;}
.slider-wrap .next:focus, .slider-wrap .prev:focus {outline: none; opacity: 1;}
.slider-home .container {padding: 0 15px;}
.slider-home:after {position: absolute; left: 0; right: 0; top: 0; width: 100%; height: 350px; content: ""; background: #000; z-index: -260;}
.slider-home .slider-wrap {border: 10px solid #fff;}
.slide {position: relative;}
.slide .slide-text {display: block; padding: 0; color: #fff; text-decoration: none; text-transform: uppercase; font-size: 16px;position: absolute; bottom: 25px; right: 0; z-index: 50; text-align: right;transition-delay: .75s; transition-duration: .5s;}
.slide.slick-active .slide-text {opacity: 1;}
.slide-text span {display: inline-block; background: rgba(0,0,0,.75); padding: 10px 20px 10px 15px;}
.slide video {width: 100%; height: 100%; object-fit: cover;}
.col-sm-4 .slide .slide-text {opacity: 1;}

/* Content */
.shive-plus {padding: 80px 25px 25px 130px; position: relative;}
.shive-plus .plus {position: absolute; left: 10px; top: 0;}

/* Project Grid */
.grid-item {overflow: hidden; margin: 0;}
.grid-item img {width: 100%; height: 100%; object-fit: cover;}
.project-grid-wrapper {max-width: 1545px; margin: 0 auto;}
.project-grid {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	grid-template-rows: 50% 50%;	
}
.project-grid .grid-item:nth-of-type(1) {grid-column: 1 / 3; grid-row: 1 / 2;}
.project-grid .grid-item:nth-of-type(2) {grid-column: 1 / 2; grid-row: 2 / 3;}
.project-grid .grid-item:nth-of-type(3) {grid-column: 2 / 3; grid-row: 2 / 3;}
.project-grid .grid-item:nth-of-type(4) {grid-column: 3 / 4; grid-row: 1 / 3;}
.project-grid .grid-item:nth-of-type(5) {grid-column: 4 / 6; grid-row: 1 / 2;}
.project-grid .grid-item:nth-of-type(6) {grid-column: 4 / 6; grid-row: 2 / 3;}

.project-grid-2 {
	display: grid;
	grid-template-columns: 33% 17% 17% 33%;
	grid-template-rows: 18.4% 13.5% 13.5% 13.5% 13.5% 13.5% 13.5%;	
}
.project-grid-2 .grid-item:nth-of-type(1) {grid-column: 1 / 2; grid-row: 1 / 2;}
.project-grid-2 .grid-item:nth-of-type(2) {grid-column: 2 / 4; grid-row: 1 / 2;}
.project-grid-2 .grid-item:nth-of-type(3) {grid-column: 4 / 5; grid-row: 1 / 2;}
.project-grid-2 .grid-item:nth-of-type(4) {grid-column: 1 / 5; grid-row: 2 / 4;}
.project-grid-2 .grid-item:nth-of-type(5) {grid-column: 1 / 3; grid-row: 4 / 6;}
.project-grid-2 .grid-item:nth-of-type(6) {grid-column: 3 / 5; grid-row: 4 / 5;}
.project-grid-2 .grid-item:nth-of-type(7) {grid-column: 3 / 5; grid-row: 5 / 6;}
.project-grid-2 .grid-item:nth-of-type(8) {grid-column: 1 / 5; grid-row: 6 / 8;}

.project-grid-3 {
	display: grid;
	grid-template-columns: 33% 17% 17% 33%;
	grid-template-rows: 15% 15% 15% 15% 20% 20%;
}
.project-grid-3 .grid-item:nth-of-type(1) {grid-column: 1 / 3; grid-row: 1 / 3;}
.project-grid-3 .grid-item:nth-of-type(2) {grid-column: 3 / 5; grid-row: 1 / 2;}
.project-grid-3 .grid-item:nth-of-type(3) {grid-column: 3 / 5; grid-row: 2 / 3;}
.project-grid-3 .grid-item:nth-of-type(4) {grid-column: 1 / 5; grid-row: 3 / 5;}
.project-grid-3 .grid-item:nth-of-type(5) {grid-column: 1 / 2; grid-row: 5 / 7;}
.project-grid-3 .grid-item:nth-of-type(6) {grid-column: 2 / 4; grid-row: 5 / 6;}
.project-grid-3 .grid-item:nth-of-type(7) {grid-column: 4 / 5; grid-row: 5 / 6;}
.project-grid-3 .grid-item:nth-of-type(8) {grid-column: 2 / 4; grid-row: 6 / 7;}
.project-grid-3 .grid-item:nth-of-type(9) {grid-column: 4 / 5; grid-row: 6 / 7;}

.project-grid .grid-item, .project-grid-2 .grid-item, .project-grid-3 .grid-item {border: 7.5px solid #fff;}

/* Footer */
.shive footer ul {display: flex; justify-content: center; flex-wrap: wrap;}
.shive footer ul a {padding: 10px 15px;}
.shive footer .copy span {display: inline;}

/* Facts */
.facts {display: flex; flex-wrap: wrap;}
.fact-item {margin: 25px 0; border: 0; border-right: 1px solid #000; width: 33.3%; padding: 0 15px;}
.fact-item:nth-of-type(3n) {border-right: 0;}

/* Page List - Awards/Pub/News */
.page-list {display: flex; flex-wrap: wrap; justify-content: space-between;}
.page-list .page-list-item {width: 48%;}
.col-sm-4 .page-list {display: block;}
.col-sm-4 .page-list .page-list-item {width: 100%;}
.cat-expand {margin: 0;}

.page-list.stacked-view .page-list-item {width: 100%; position: relative; padding: 35px 0 35px 275px; box-shadow: none; margin: 0; min-height: 200px; overflow: hidden;}
.stacked-view .page-list-item img {position: absolute; left: 0; top: 35px; max-width: 250px;}
.stacked-view .page-list-item h3 {margin: 0 0 5px 0; font-size: 21px;}
.page-list.stacked-view .page-list-item:hover {background: none;}

/* Work */
.work-grid {display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0 -10px;}
.work-grid .grid-item {width: 25%; margin-bottom: 0; border: 10px solid #fff;}
.work-grid .grid-item:nth-of-type(2), .work-grid .grid-item:nth-of-type(4), .work-grid .grid-item:nth-of-type(11), .work-grid .grid-item:nth-of-type(12) {width: 50%;} 

.page-list-grid {display: flex; flex-wrap: wrap; justify-content: flex-start; margin: 0 -10px;}
.page-list-grid .grid-item {width: 50%; margin-bottom: 0; border: 10px solid #fff;}

/* News */
.featured {min-height: 425px;}
.media-contact {min-height: 425px;}
.img-text.full-center .text {padding: 150px 50px;}

/* Jobs */
.job-search {display: flex; width: 100%; float: left; padding: 5px 10px; position: relative;}
.job-search .item {flex: 2; margin: 10px;}
.job-search #search-go, .job-search #search-reset {flex: 1; margin: 10px; align-self: flex-end;}
.job-data span {border-right: 1px solid #ccc; padding-right: 10px; margin: 0 10px 10px 0; display: inline-block;}

.shive-location .featured, .shive-location .media-contact {min-height: 280px;}

/* Image Text Overlay */
.img-text .text {padding: 150px 50px;}
.img-text .text h2 {font-size: 42px;}
.img-text .text h3 {font-size: 28px;}
.img-text.plus-graphic .text .inner {padding: 15px; font-size: 24px;}
.img-text.plus-graphic .text .inner .plus {display: block;}

.people-item {margin: 0;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
/* Header and Menu */
#header .container {padding: 0 15px;}
.navbar-header {float: left;}
#logo {padding: 25px 0;}
#nav-main {width: auto; float: right; margin: 0 55px 0 0;}
#nav-main a {padding: 35px 15px;}
#toggle-search {bottom: 18px; right: 15px;}
#hdr-search {left: auto; right: 15px; width: 600px; top: 70px;}
#hdr-search.open {top: 90px;}

/* Slider */
.slider-basic .slide img, .slider-thumbs .slide img, .slider-thumbs-css .slide img {height: 450px;}
.slider-home:after {height: 425px;}
.img-text.plus-graphic .text .inner {padding: 25px 35px; font-size: 28px; border: 10px solid #fff; letter-spacing: 2px; margin-bottom: 15px;}

/* Content */
.shive-content section:first-of-type {padding: 25px 0;}
.shive-content section {padding: 50px 0;}

/* Project Grid */
.project-grid-text {opacity: 0; bottom: -10px;}
.grid-item:hover .project-grid-text {opacity: 1; bottom: 0;}

.grid-item.center-hover .project-grid-text {width: 100%; height: 100%; display: flex; flex-direction: column; justify-content: center; text-align: center;}
.grid-item.center-hover .project-grid-text p:after {content: "View Project"; display: block; padding: 5px 10px; background: rgba(0,0,0,.75); color: Var(--blue); width: 120px; margin: 10px auto; font-weight: bold; text-transform: uppercase;}
.grid-item.center-hover:hover {}

/* News Slider */
.news-slider-wrapper .news-prev, .news-slider-wrapper .news-next {width: 40px;}

/* Page List - Awards/Pub/News */
.page-list {display: flex; flex-wrap: wrap; justify-content: space-between;}
.page-list .page-list-item {width: 32%; box-shadow: 10px 10px 15px rgba(0,0,0,.035);}
.page-list-item:hover {background: #f5f5f5;}
.pagination {text-align: center; margin: 25px 0 15px 0;}
.pagination > li > a {color: #999; background: #f9f9f9;}
.pagination .active a {color: var(--blue); background: #fff; border-color: #ddd; font-weight: bold;}
.pagination li:first-of-type a, .pagination li:last-of-type a {font-weight: bold; color: #222;}

/* Work */
.two-col ul li {display: inline-block; float: left; width: 50%;}
.page-list-grid .grid-item {width: 25%;}
.cover-hover .grid-item .project-grid-text {opacity: 1;}
.cover-hover .grid-item .project-grid-text h4 {border-color: rgba(255,255,255,0);}
.cover-hover .grid-item:hover .project-grid-text h4 {border: 2px solid #fff;}

.locations-grid .grid-item .project-grid-text {opacity: 1 !important;}
.locations-grid .grid-item {width: 33.3%;}
.locations-grid .grid-item:hover .project-grid-text {background: var(--blue);}
.stacked-cols .page-list-grid + .page-list-grid {margin-top: 10px;}
.stacked-cols {margin: 25px 0;}
.stacked-cols .page-list-grid {margin: -10px -10px -10px 0;}
.stacked-cols .content-box {padding: 25px; max-width: 700px; margin: 0 auto 50px auto;}
.stacked-cols .blue-box {min-height: inherit; padding: 50px 25px 25px 25px;}
/* News */
.featured {min-height: 530px;}
.media-contact {min-height: 530px;}

/* Careers */
.featured-content {padding: 0 30px;}
.row .col-sm-4:nth-of-type(2) .featured-content:before {position: absolute; top: 25%; left: -45px; width: 75px; height: 1px; background: #000; content: "";}
.row .col-sm-4:nth-of-type(2) .featured-content:after {position: absolute; top: 25%; right: -35px; width: 75px; height: 1px; background: #000; content: "";}
.shive-location .featured, .shive-location .media-contact {min-height: 360px; font-size: 18px;}

/* People */
.people-item .text {bottom: -10px; opacity: 0; position: absolute; min-height: auto; background: none; padding: 15px;}
.people-item .text p {font-size: 14px;}
.people-item img {opacity: 1;}
.people-item:hover img {opacity: .3;}
.people-item:hover .text {bottom: 0; opacity: 1;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
/* Typography */
body {font-size: 18px;}
.row + hr {margin: 40px 0;}

/* Header and Menu */
#nav-main a {padding: 35px 20px;}
#nav-main ul, #nav-main .mega-menu {display: block; opacity: 0; visibility: hidden; top: 90%;}
#nav-main li:hover ul, #nav-main li:hover .mega-menu {opacity: 1; visibility: visible; top: 100%;}
#nav-main li:hover .mega-menu ul {top: auto; visibility: visible; opacity: 1;}

/* Slider */
.slider-basic .slide img, .slider-thumbs .slide img, .slider-thumbs-css .slide img {height: 650px;}
.slider-wrap .next, .slider-wrap .prev {width: 125px;}
.shive-location .featured, .shive-location .media-contact {min-height: 425px;}
.slide .slide-text {font-size: 17px;}
.stacked-cols .col-alpha {width: 30%; float: left;}
.stacked-cols .col-beta {width: 68%; float: right;}
.stacked-cols .content-box {padding: 20px 20px 0 20px;}
.stacked-cols .form-group {margin-bottom: 9px;}
}

@media only screen 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.project-grid-text {opacity: 1; bottom: 0;}
.people-item {position: relative; display: block; overflow: hidden; margin: 0 0 30px 0; background: #104678; max-width: 300px; text-decoration: none;}
.people-item .text {width: 100%; color: #fff; text-align: center; padding: 10px; margin: 0; bottom: 0; background: #333; min-height: 105px; position: relative; bottom: 0; opacity: 1;}
.people-item .text h3 {text-transform: none; color: #fff; margin: 0 0 5px 0; font-size: 18px;}
.people-item .text p {margin: 0; font-size: 12px;}
.people-item img {opacity: .3;}
}

/*  Animation */
/* -----------------------*/
/* TRANSITION ANIMATIONS */
/* ---------------------*/

.animate {
	animation-duration: .5s;
	-webkit-animation-duration: 0.5s;
	transition-timing-function: ease-out;
	animation-fill-mode: both;
	opacity: 0;
}

/* -- Fade In Up -- */
@keyframes fadeInUp {
  0% {opacity: 0;transform: translate3d(0, -2%, 0);}
  100% {opacity: 1;transform: none;}
}

.fadeinup {
animation-name: fadeInUp;
animation-delay: 0.2s;
}

/* -- Fade In -- */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadein {
animation-name: fadeIn;
animation-delay: 0;
animation-duration: .5s;
}

.delay-1 {animation-delay: .25s;}
.delay-2 {animation-delay: .35s;}
.delay-3 {animation-delay: .45s;}
.delay-4 {animation-delay: .55s;}
.delay-5 {animation-delay: .65s;}
.delay-6 {animation-delay: .75s;}
.delay-7 {animation-delay: .85s;}
.delay-8 {animation-delay: .95s;}
.delay-9 {animation-delay: 1.5s;}

/* -- Plus Grow -- */
@keyframes plusgrowhorz {
  0% {width: 0;}
  100% {width: 55px;}
}
/* -- Plus Grow -- */
@keyframes plusgrowvert {
  0% {height: 0;}
  100% {height: 100%;}
}

a {
cursor: pointer;
}
/* Work(Markets, Services) Grid item */
.project-grid-2 .grid-item:hover.grid-on-hover .project-grid-text {background: var(--blue);}
.project-grid-2 .grid-item.grid-on-hover .project-grid-text {opacity: 1 !important;}
.work-detail-related-post {margin: 0 0 25px 0;}
.page-list-item-related-post {margin: 0;}
.locations-grid-related-post .grid-item:hover .project-grid-text {background: var(--blue);}
.locations-grid-related-post .grid-item .project-grid-text {opacity: 1 !important;}
.hompage-location { color : white !important; margin-left: 7px;}
.slide-text a {text-decoration: underline;}

/* VIEW CSS FOR MOCKUP ONLY */
div.section-label{
    font-size: 18px;
    font-weight: 900;
    color:#0082be;
    text-transform: uppercase;
    margin: 0 0 20px 0;
}
ul.related-publication-list {
    list-style: none !important;
    padding: 0 0 0 0px !important;

}
li.related-publication {
    margin: 0 0 25px 0;
    border: 1px solid #ccc;
}
div.pub-thumbnail, div.pub-list-content {
    display: block;
}
div.pub-thumbnail {
    margin: 0, auto, 10px, auto;
}
div.pub-thumbnail img {
    width: 100%;
    height: auto;
}
div.pub-list-content a {
    text-decoration: none;
    text-align: center;
}
div.pub-list-content a h4 {
    margin: 10px 0;
    padding: 10px 20px;    
    text-decoration: none;
    text-transform: none;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

@media screen and (min-width: 768px){
    li.related-publication {
        box-shadow: 10px 10px 15px rgba(0,0,0,.035);
        transition: all .25s linear;
    }
}