.footer {background: var(--light); border-bottom: 5px solid var(--primary);}
.footer-cta {background: var(--primary); padding: 2rem; display: grid; gap: 2rem;}
.footer-cta h2 {color: #fff;}
.footer-cta .btn-theme {background: #fff; color: var(--primary);}
.footer-cta figure {border-radius: 15px; overflow: hidden; box-shadow: 0 0 25px rgba(0,0,0,.2);}

.footer ul {list-style: none; padding: 0; margin: 0;}
.footer ul a {font-weight: 600; text-transform: uppercase; text-decoration: none; font-weight: 700; font-size: .9rem; padding: 2px 0; display: block;}
.footer ul a:hover{ text-decoration: underline;}
.footer-copy {margin: 3rem 0 0 0; display: flex; flex-wrap: wrap; gap: 10px; font-size: .75rem; justify-content: center; border-top: 1px solid #ccc; padding: 2rem 0;}
.footer-copy a {color: var(--text-color);}
.footer-cols {display: grid; gap: 2rem; margin: 2rem 0 0 0;}
.footer-cols img {max-width: 150px;}

.ftr-social {display: flex; gap: 1rem;}
.ftr-social li a {font-size: 1.75rem;}

/* TABLET */
@media (min-width:768px){
.footer {margin-top: 150px; background: linear-gradient(white 23%, var(--light) 23%,);}
.footer-cta {background: none; display: grid; grid-template-columns: 2fr 1fr; padding: 50px var(--side-padding) 50px 0; gap: 0; align-items: center; margin-top: -175px;}
.footer-cta-content {background: var(--primary); padding: 50px 100px 50px 50px; border-radius: 0 300px 300px 0;}
.footer-cta figure {width: 120%; margin-left: -20%; aspect-ratio: 2 / 1;}
.footer-cols {grid-template-columns: 1fr 1fr 1fr 1fr; font-size: .85rem;}
}

@media (min-width: 1200px) {
.footer-cta {padding-right: var(--side-width);grid-template-columns: 2.5fr 1fr; }
.footer-cta-content { padding: 100px 250px 100px  var(--side-width);}
.footer-cta figure {margin-left: -30%; width: 130%;}
.footer-cols {grid-template-columns: 3fr 1fr 1fr 1fr;}
}