

/* WP Paragraph Styles */
.is-style-eyebrow {font-size:0.9rem;text-transform: uppercase; color: var(--primary-dark); letter-spacing: 2px; margin: 0 0 1.5rem 0;font-weight:900}
.is-style-lead {font-size: 1.65rem; line-height:1.2;font-weight: 400;font-family:var(--accent-text)}
.is-style-eyebrow::before{content:'';display:inline-block;margin-bottom:4px;width:20px;height:20px;background:url(../img/shapes/eyebrow-shape.svg) no-repeat center/cover,;margin-right:10px;vertical-align:middle;}
.is-style-callout {font-size: 1.25rem; border-left: 5px solid var(--primary); padding-left: 1.25rem;}
.is-style-max-width {max-width: 800px; @include margin-auto;}
.box{padding:var(--spacer);border:1px solid rgba(0,0,0,.1);background-color:#f9f9f9}

/* WP Paragraph Styles */
.is-style-linklist {list-style-type:none;padding-left:0;}
.is-style-linklist li {list-style-type:none;position:relative;padding-left:24px;margin-bottom:10px;line-height:1.3}
.is-style-linklist li::before{font-size:0.9rem;top:1px;content:"\f058";font-family:FontAwesome;position:absolute;left:0px;color:var(--primary)}

.wp-block-cover .wp-block-cover__inner-container .wp-block-columns{padding:50px 0px;margin: 0 auto;}
.wp-block-cover,.wp-block-cover-image{margin-top:var(--spacer-vert);margin-bottom:var(--spacer-vert);padding:var(--spacer-vert) 0;}
.wp-block-cover .wp-block-cover__inner-container {@include container;}
.wp-block-cover__background{opacity:0.85 !important;background-size:100% 100%;background: var(--primary-dark);}

/* WP Block Separator */
.wp-block-separator, hr {margin:40px auto; border: none; border-bottom: 1px solid #ccc; max-width: var(--max-width);} 

/* WP File Block Styles */
.wp-block-file:not(.wp-element-button){font-size:.85em;background:var(--light);padding:15px;border-radius:5px;display:inline-block;font-weight:700;}
.wp-block-file * + .wp-block-file__button{margin-left:.75em;background:var(--primary);color:#fff;font-weight:700;padding:10px;}

.wp-block-cover + .wp-block-group {margin-top: calc(var(--spacer-vert) * -1);} 
.wp-block-cover.has-background-dim:not([class*=-background-color]) {
    background-color:var(--dark)
}
.wp-block-cover .has-background-dim:not([class*=-background-color]),
.wp-block-cover-image .has-background-dim:not([class*=-background-color]),
.wp-block-cover-image.has-background-dim:not([class*=-background-color]),
.wp-block-cover.has-background-dim:not([class*=-background-color]) {
  background-color:#08002d;
}
.wp-block-cover .card.icon-card-horizontal h3{color:#d5e9f4} 


/* Columns */
.is-style-small-margin {margin-top: -2rem !important;}
.is-style-small-margin + .is-style-small-margin {margin-bottom: 3rem !important;}

.wp-block-group:has(+.overlap-top-element){padding:2.2rem 0 70px 0}
.overlap-top-element{margin-top:-90px;}
.overlap-bottom-element{margin-bottom:-8rem;}

.is-style-margin-negative-bottom{margin-bottom:-175px;z-index:0;padding-bottom:calc(var(--spacer-vert) + 100px)}



/* Background Sides */
.is-style-bkg-left, .is-style-bkg-right {padding: 1px 0; position: relative; z-index: 5; overflow: hidden;}
.is-style-bkg-left:after, .is-style-bkg-right:after {background: var(--primary-dark);position: absolute; top: 0; left: 0; height: 100%;width: calc( 100vw - ( (60vw - var(--max-width)/2)));; border-radius: 0 10px 10px 0; content:""; z-index: -1; border-radius: 0 var(--border-radius-sm) var(--border-radius-sm) 0;}
.is-style-bkg-right:after {left: auto; right: 0; border-radius: var(--border-radius-sm) 0 0 var(--border-radius-sm);}
.is-style-bkg-right:after{content:"";background-image:url("../img/shapes/dark-shape-lines-left.svg");background-position:top right;background-repeat:no-repeat;background-size:250px auto;}
.is-style-bkg-left:after{content:"";background-image:url("../img/shapes/dark-shape-lines-left.svg");background-position:top left;background-repeat:no-repeat;background-size:250px auto;}
.is-style-bkg-left.left-dark:after, .is-style-bkg-right.right-dark:after {background: var(--primary-dark);}
.is-style-bkg-left.left-dark:after{content:"";background-image:url("../img/shapes/white-shape-lines-left.svg");background-position:top left;background-repeat:no-repeat;background-size:250px auto;}
.is-style-bkg-right.right-dark:after{content:"";background-image:url("../img/shapes/white-shape-lines-left.svg");background-position:top right;background-repeat:no-repeat;background-size:250px auto;}
.is-style-bkg-left img, .is-style-bkg-right img{box-shadow:var(--box-shadow-cards-dark)}

/* Background Colors */
.is-style-bkg-dark{background-color:#00255b;background-image:url("../img/shapes/lines-bg.svg");background-position:center center;background-repeat:no-repeat;background-size:cover;position:relative;padding:1px 0;}
.is-style-bkg-light {position: relative;background: #F1F3F9; background-size: 100% auto; background-position: 5% center; padding: 1px 0; }
.is-style-bkg-dark,.left-dark,.right-dark, .right-dark strong,.left-dark strong,.is-style-bkg-dark strong,.is-style-bkg-dark p{color: #fff}

/* Overlapping */
.wp-block-group:has(+.theme-cards.overlap-top-element){padding:2.2rem 0 70px 0}
.theme-cards.overlap-top-element{margin-top:-90px;}
.wp-block-group.overlap-bottom-element .theme-cards,.wp-block-cover.overlap-bottom-element .theme-cards {margin-bottom:-8rem;}
.wp-block-group.overlap-bottom-element .theme-cards .card,.wp-block-cover.overlap-bottom-element .theme-cards .card{box-shadow:var(--box-shadow-cards-dark)}
.wp-block-group.overlap-bottom-element,.wp-block-cover.overlap-bottom-element {margin-bottom:10rem}

/* TABLET */
@media (min-width:768px){
.is-style-large-gap {gap: 4rem !important;}
.wp-block-group:has(+.theme-cards.overlap-top-element){padding:2.2rem 0 90px 0}
.theme-cards.overlap-top-element{margin-top:-100px;}
}

@media (min-width: 992px) {
  .wp-block-cover .wp-block-cover__inner-container .wp-block-columns{padding:0px 0px;}
  .wp-block-cover:has(+.overlap-top-element){padding:2rem 0 110px 0}
  .wp-block-group:has(+.theme-cards.overlap-top-element){padding:2rem 0 130px 0}
  .theme-cards.overlap-top-element {
    margin-top: -220px;
  }
} 
@media (min-width: 1200px) {
 .wp-block-group:has(+.theme-cards.overlap-top-element){padding:2rem 0 120px 0}
 .theme-cards.overlap-top-element{margin-top:-240px;}
  }

