/* Header */
.breadcrumb {background: none; font-size: .8rem; padding: 0; margin: 0 0 1rem 0;}
.page-hdr {margin-top: 75px; position: relative;}
.page-hdr .text {padding: 25px; position: relative; background: url(../img/blocks-1.png) bottom 50px right 25px no-repeat; background-size: 100px auto;}
.page-hdr figure {height: 200px; overflow: hidden;}
.page-hdr figure img {width: 100%; height: 100%; object-fit: cover;}

.hgroup {max-width: 750px; margin-bottom: 4rem;}
.hgroup p {font-size: 1.2rem;}

.icon-item h3 {background: url(../img/rog-icon.png) left top no-repeat; background-size: 20px auto; padding: 5px 0 10px 30px; margin: 0 0 5px 0;}
.icon-item p {border-left: 2px solid #eee; padding: 0 0 0 20px; margin: 0 0 0 9px;}

.card figure {margin: 0 0 2rem 0; border-radius: 10px; overflow: hidden;}
.card figure img {width: 100%; height: 100%; object-fit: cover;}
.card .btn-text {display: block; width: 100%;}
.card .btn-text:after {float: right;}
.card .btn-text:hover:after {margin: 0 5px 0 0;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.page-hdr figure {position: absolute; right: 0; width: 70%; height: 100%;}
.page-hdr figure:after {width: 50%; position: absolute; left: 0; top: 0; height: 100%; background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.85) 25%, rgba(255,255,255,0) 100%); content: "";}
.page-hdr .text {padding: 100px 0; max-width: 60%; z-index: 5;}
.page-hdr h1 {font-size: 3.25rem;}
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
.page-hdr {margin-top: 90px;}
.page-hdr .text {max-width: 50%;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.page-hdr {margin-top: 110px;}
.page-hdr h1 {font-size: 4.25rem;}
.page-hdr .text {padding: 125px 0;}
.page-hdr .text p {max-width: 350px;}
.page-hdr figure:after {width: 45%;}
}

@media (min-width: 1400px) {
.page-hdr .text {padding: 150px 0;}
}