
.footer .call-to-action {border-radius:12px;position: relative; padding:30px 10px 0px 10px; top: -50px; box-shadow: var(--box-shadow-lg);background:var(--primary);background-size:cover;}
.footer .call-to-action h2{font-size:1.85rem;color:#fff;margin:0px}
.footer .call-to-action .wp-block-column:nth-child(2) {text-align:center;}
.footer .call-to-action a:nth-last-child(1){width:100%}
.footer .call-to-action .wp-block-columns.is-layout-flex{gap:var(--column-gap-sm);}
.footer .call-to-action a i{margin-right:8px}

.footer .call-to-action a{color:#fff}
.footer .call-to-action .wp-block-column figure{display:none}
.footer .call-to-action .wp-block-column {position:relative}

/* Circled */
.footer .call-to-action h2 strong{position: relative;font-weight:700}
.footer .call-to-action h2 strong::before{content:"";position:absolute;bottom:0;left:0;width:100%;height:100%;background-image:url("../img/circle.svg");background-repeat:no-repeat;background-size:100% 100%;z-index:-1}
.wp-block-column h2 strong,.wp-block-column h1 em{position:relative;z-index:0;font-style:normal}


/* Button Light */
.footer .call-to-action .wp-block-button:nth-last-child(2) a{border:solid 1px var(--secondary-light);background:var(--secondary-light); padding: .65rem 1.65rem; color:#000; text-align: center; border-radius: 6px; text-decoration: none; font-weight: 700;position: relative; z-index: 5;transition:all .3s;overflow:hidden;z-index:1;
    &:before{content:'';position:absolute;bottom:0;left:0;width:0%;height:102%;background:var(--secondary);transition:all .3s;border-radius:6px;z-index:-1;}
    &:hover{color:#000;&:before{width:100%;}
    }
    }
    /* Button Dark */
.footer .call-to-action .wp-block-button:nth-last-child(1) a{border:solid 1px var(--primary-dark);background:var(--primary-dark); padding: .65rem 1.65rem; color:#fff; text-align: center; border-radius: 6px; text-decoration: none; font-weight: 700;position: relative; z-index: 5;transition:all .3s;overflow:hidden;z-index:1;
    &:before{content:'';position:absolute;bottom:0;left:0;width:0%;height:102%;background:#135899;transition:all .3s;border-radius:6px;z-index:-1;}
    &:hover{color:#fff;&:before{width:100%;}
    }
    }


/* TABLET */
@media (min-width:768px){
    .footer .call-to-action {padding:30px 30px 30px 30px;}
    .footer .call-to-action .wp-block-column:nth-child(2) {text-align:right;}
    .footer .call-to-action .wp-block-columns.is-layout-flex{gap:var(--column-gap-lg);}

}

@media (min-width: 992px) {
    .footer .call-to-action .wp-block-column figure{display: block; position:absolute;right:-120px;top:calc(50% - 10px);max-width:250px}
}


