/* Variables */
/* Variables */
:root {
  --primary: #0C8CC4;
  --secondary: #A6DE55;
  --navy: #1D2944;
  --dark-grey: #a3a4ad;
  --grey: rgb(65, 65, 72);
  --max-width: 1500px;
  --header: 'Marcellus', serif;
  --body: 'Nunito Sans', sans-serif;
  --text-color: rgba(0,0,0,.85);
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --shadow: 0 5px 25px rgba(255,161,0,.15);
}

/*
font-family: 'Marcellus', serif;
font-family: 'Nunito Sans', sans-serif
*/

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: var(--bkg); color: var(--text-color); 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, .callout{font-family: var(--header); color: var(--header-color);}
h1 {font-size: 3.5rem;line-height: 3.65rem;margin: 0 0 1.25rem 0; }
h2,.callout{font-size: 2.625rem;line-height:2.75rem;margin: 0 0 0.9rem 0;}
h3 {font-size: 2rem;line-height:2.5rem;margin: 0 0 1.25rem 0;}
h4 {font-size: 1.75rem;line-height:2rem;margin: 0 0 1.25rem 0;}
h5 {font-size: 1.4rem;line-height:1.85rem;margin: 0 0 1rem 0;}
h6 {font-size: 1.15rem;line-height:1.45rem;font-family: var(--header);margin-bottom:0.25rem}
h6.lead{font-size: 1.5rem;line-height: 2.15rem;margin: 0 0 1.25rem 0;}
p{font-size:0.95rem;line-height:1.5rem;}
p, ul, ol {margin-bottom: 1.25rem;}
p.compact{line-height:1.25rem;}
.stat{font-size:3rem;color:var(--primary);margin-bottom:15px;margin-top:20px}
a {transition: var(--transition); text-decoration: none!important; color: var(--primary);}
.preheader {color: var(--text-gray); text-transform: uppercase; letter-spacing: 3px; font-size: .825rem !important;}
img + h2, img + h3, img + h4 {margin-top: 2rem;}
p a {color: var(--primary);}
p a:hover {text-decoration: none;}
hr {margin: 25px 0; border: none; border-bottom: 1px solid var(--dark-grey);} 
.pull-quote {margin:20px auto;font-size: 1.25rem;font-weight: 700;font-style: italic;border-left: 2px solid var(--primary);padding-left: 20px;}
li::marker{color:var(--primary)}

.title-group .callout{margin:0 0 0px 0px;}
.title-group {margin:0 0 50px 0px;}
.text-center {max-width: 1200px!important;}
.border-right{border-right:solid 1px #c7c7c7}
.pad-large{padding-top:70px;padding-bottom:70px;}

/* Eyebrow */
.eyebrow{font-weight:700;font-size:.813rem;line-height:1.6em;letter-spacing:4px;text-transform:uppercase;font-family:var(--body);margin:10px 0;-ms-word-wrap:break-word;word-wrap:break-word;}
.eyebrow:before{content:"";/* Unicode character for a solid bullet */
 display:inline-block;width:10px;height:10px;margin-right:10px;background-color:var(--primary)}

/* Backgrounds */
.bg-main-blue{background:var(--primary)}
.bg-navy{background:var(--navy)}
.bg-dark-navy{background:#2C3753}
.bg-cream{background:#FAF7F7}

/* TABLET */
@media (min-width: 768px) {
  /* Shape Componants */
.side-rectangle{position:absolute;left:0;top:50%;transform:translateY(-50%);width:25px;height:250px;background:url("../img/side-rectangle.svg")no-repeat ;background-size: cover;opacity:50%}
} 

/* WIDE DESKTOP */
@media (min-width: 992px) {
  .side-rectangle{width:25px;}
  .pad-right{padding-right:40px}
  .pad-left{padding-left:40px}
  .pad-large{padding-top:100px;padding-bottom:100px;}
}

@media (min-width: 1200px) {
  .side-rectangle{width:50px;}
}
