.bkg-light {background: #f4f4f4; padding: 2rem 0;}
.custom-content {display: grid; gap: 2rem;}
.custom-content h2, .top-sellers h2 {font-size: 2.15rem; margin: 0 0 .5rem 0 !important; line-height: 1; letter-spacing: -.5px;}
.custom-content .eyebrow {margin: 0; text-transform: uppercase; letter-spacing: 1px;}
.custom-content p {font-size: 1rem;}
.custom-content h2 + p {margin: 0 0 2rem 0 !important;}
.custom-content .btn-link, .cta .btn-link {align-content: center; padding: 1rem 2rem; display: inline-block; font-weight: 700;background: rgb(244, 177, 19); color: #000;}
.custom-content .btn-link:hover, .cta .btn-link:hover {opacity: .85;}
.custom-content ul {padding: 0 0 0 1rem; margin: 1.5rem 0;}
.custom-content ul li {color: #000; padding: 2px;}
.custom-content ul li::marker {color: rgb(244, 177, 19);}

.custom-content h1 {font-size: 2.5rem; line-height: 1; margin: 1rem 0;}
.custom-content + .custom-content {margin-top: 4rem;}
.custom-content img {width: 100%;}
.padding-extra {padding: 4rem 0;}

.custom-content.align-top {align-items: flex-start; border-top: 1px solid #ccc; padding-top: 4rem;}

.bkg-dark {background: #111; color: #fff; position: relative; z-index: 1;}
.bkg-dark > img {position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover; opacity: .15; z-index: -1;}
.grid-item .number {font-size: 4rem; color: rgb(244, 177, 19); margin: 0;}
.grid-item h3 {font-size: 1.5rem; margin: 1rem 0;}
.grid-item img {max-width: 50px; height: 50px; object-fit: contain;}

.link-grid {display: grid; grid-template-columns: 1fr 1fr; gap: 1rem; margin: 1rem 0;}
.link-grid a {background: rgb(244, 177, 19); color: #000; position: relative; text-align: center; display: grid; grid-template-columns: 50px auto; padding: 1rem; line-height: 1; justify-content: flex-start; align-items: center; gap: 1rem; border-radius: 4px; transition: all 0.3s ease-in-out;}
.link-grid h3 {margin-top: auto; order: 2; margin: 0; text-align: left; font-size: 1.35rem; font-weight: 400;}
.link-grid img {width: 100%; height: auto; border-radius: 50%; order: 1; margin: 1rem auto; background :#fff; border: 5px solid #000; box-shadow: 5px 5px 10px rgba(0,0,0,.2); aspect-ratio: 1 / 1;transition: all 0.3s ease-in-out;}
.link-grid a:hover {background: rgb(255, 200, 50);}
.link-grid a:hover img {scale: 1.05;}

.max-width {max-width: 1050px; margin: 0 auto; padding: 0 2rem;}
.max-width-sm {max-width: 800px; margin: 1rem auto; padding: 0 2rem;}
.faq h3 {font-size: 1.75rem; font-weight: 400; margin: 0 0 1rem 0 !important;}
.faq h3 + p {margin: 0 0 2rem 0 !important; font-size: 1.15rem; border-left: 5px solid #eee; padding-left: 1.5rem;}
.faq h2 {font-size: 3rem; line-height: 1;}

.cta {text-align: center; border-top: 1px solid #ccc; padding-top: 2rem;}
.cta h2 {margin: 0 0 1rem 0 !important;}
.cta h2 + p {font-size: 1.5rem;}

.grid-4 {display: grid; gap: 1rem;}

.top-sellers {background: #f4f4f4; padding: 100px 0; margin: 100px 0 0 0;}
.top-sellers h2 {margin: 0 0 50px 0 !important; font-size: 3rem;}
.top-sellers-grid {display: grid; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); gap: 25px;}
.top-sellers-grid .feature-item {padding: 1rem; background: #fff; text-align: center; border-radius: 5px; box-shadow: 5px 5px 15px rgba(0,0,0,.05);}
.top-sellers-grid .feature-item a {display: block;}
.top-sellers-grid .feature-item img {width: 150px; height: 150px; object-fit: contain;transition: all 0.3s ease-in-out;}
.top-sellers-grid .feature-item h3 {font-size: 14px;}
.top-sellers-grid .feature-item:hover h3 {text-decoration: underline;}
.top-sellers-grid .feature-item:hover img {scale: 1.05;}

@media (min-width: 992px) {
.custom-content {display: grid; grid-template-columns: 1fr 1fr; align-items: center; gap: 4rem;}
.grid-4 {display: grid; grid-template-columns: 1fr 1fr; gap: 1rem;}
.grid-layout {grid-template-columns: 1fr 1; gap: 3rem;}

.link-grid a {grid-template-columns: 50px auto;}
.custom-content h1 {font-size: 3.25rem;}
}

@media (min-width: 1150px) {
    .grid-layout {grid-template-columns: 1fr 1.25fr; gap: 5rem;}
    .link-grid a {grid-template-columns: 70px auto;}
}