.is-style-bkg-light.testimonials{padding:75px 0;position: relative;}
.is-style-bkg-light.testimonials .theme-img{border:none;box-shadow:none}
.testimonials .theme-img img{border:none;box-shadow:none}
.testimonials .theme-img.two-images img:nth-last-of-type(2){display:none}
.testimonial  .theme-img img{display:none}
.testimonial {position: relative;}
.testimonials .theme-img.two-images img:nth-last-of-type(1){min-height:400px}

.testimonials .is-style-lead{font-family:var(--header);font-size:1.5rem;line-height:1.2;margin-bottom:35px;color:var(--primary)}
.testimonials .is-style-special{margin-bottom:12px;}
.testimonials p strong{display:block;color:var(--text);font-weight:400;font-size:0.80rem;}
.testimonials .has-text-align-right{text-align:left;border-bottom:1px solid #cdcdb0;padding-bottom:12px;}

/* Swiper */
.swiper-container{overflow:hidden}
.swiper-container{padding-bottom:20px;position: relative;}
.swiper-button-next::after, .swiper-button-prev::after {font-size: 12rem;}
.swiper-button-next,.swiper-button-prev{left:25px;top:100%!important;color:var(--primary,var(--primary))!important;}
.swiper-button-prev{padding-left:25px;}
.swiper-button-next{padding-right:25px;}
.swiper-pagination-bullet-active{background:var(--primary,var(--primary))!important;}
.swiper-pagination{z-index:4!important;}

.swiper-slide {display: grid; gap: var(--spacer);}
.swiper-slide  {grid-template-columns: 1fr 1fr; gap: var(--spacer);}




/* TABLET */
@media (min-width: 768px) {
    .is-style-bkg-light.testimonials{padding:50px 0 40px 0}
    .testimonials .has-text-align-right{text-align:right;padding-left:auto;margin-bottom:35px}

 }
    
    @media (min-width: 992px) {

    }
    
    /* WIDE DESKTOP */
    @media (min-width: 1200px) {
      .is-style-bkg-light.testimonials{padding:0px 0 40px 0}
      .testimonial{padding:100px 0;}
      .testimonials .has-text-align-right{text-align:right;padding-left:auto;margin-bottom:35px}
      .testimonials .is-style-lead,.testimonials .is-style-special,.testimonials p strong{padding-left:0%}

    .testimonials figure{margin:0}
    .testimonials .theme-img.two-images img:nth-last-of-type(1){padding-left:100px;height:500px;width: calc(100% - 0px);}
    .testimonials .theme-img.two-images img:nth-last-of-type(2){display:block;bottom:-150px;left:0;height:280px;width:210px;box-shadow:var(--box-shadow-lg)}
    .testimonial .theme-img{background:#333;position:absolute;left:0;bottom:0;height:100%;width:170px;}
    .testimonial .theme-img img{display:flex;height:100%;width:100%;object-fit: cover;}
    .testimonials .wp-block-columns  {position: relative;margin-top:0;margin-bottom:0;}
    .testimonial p{padding-left:200px}

    /* Swiper */
.swiper-container{padding-bottom:0px;position: relative;height:100%;}
.swiper-button-next{left:calc(50% + 90px) !important;top:230px !important;}
.swiper-button-prev{left:calc(50% + 90px) !important;top:300px !important;}
.swiper-button-prev{padding-left:0;}
.swiper-button-next{padding-right:0;}


    }

 
    
