/* Home Hero */
.search-hero {padding: calc(var(--spacer-vert) * 1.5) var(--side-padding); border-bottom: 5px solid var(--primary);}
.search-hero figure {position: absolute; inset: 0; background: var(--dark); margin: 0;}
.search-hero figure img {width: 100%; height: 100%; object-fit: cover; opacity: .35;}
.search-hero .content h1 {color: #fff;}

.search-box {background: #fff; padding: 2rem; border-top: 10px solid var(--accent-1); border-radius: var(--border-radius-sm); text-align: left; max-width: 800px; margin: 1rem auto;}
.search-box .form-group + .form-group {margin: 0;}
/* WIDE DESKTOP */
@media (min-width:992px){

}
