@charset "UTF-8";
/* CSS Document
Client: Piersall Law Firm
Company: Informatics, Inc
Author: Jeff S
Date: June 2019
*/

/* Variables */
:root {
  --primary: #25549f;
  --secondary: #001d36;
  --tertiary: #d2dbe0;
  --purple: #603593;
  --header: 'Mulish', sans-serif;
  --body: 'Mulish', sans-serif;
  --splash: #97d700;
  --accent: #753ba6;
  --silver: #728695;
}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: #fff; color: #555;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
-moz-font-feature-settings: "liga" on; font-feature-settings: "liga";
overflow-x: hidden;
}
h1, h2, h3, h4, h5 {font-family: var(--body); color: #222; letter-spacing: -.5px; color: var(--primary); margin: 0 0 10px 0;font-weight:800}
h1 {font-size: 3rem; text-transform: uppercase;}
h2 {margin: 10px 0 29px 0; padding: 0 0 30px 0; position: relative; font-size: 2rem;}
h2:after {position: absolute; left: 0; bottom: 0; width: 50px; height:3px; background: var(--primary); content: "";}
h2[style="text-align: center;"]::after, .h2-like[style="text-align: center;"]::after {left: 50%; margin-left: -25px; /* Half of length */}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem; font-family: var(--body); letter-spacing: normal; text-transform: uppercase; font-weight: 800; margin: 0 0 25px 0;}
p {margin-bottom: 2em;}
.lead {font-size: 24px; font-weight: 400;}
img {max-width: 100%; height: auto;}
hr {margin: 25px 0;}

/* LINKS */
a {color: var(--primary);}
a:hover {color: var(--primary); text-decoration: underline;}
a.btn-theme, .btn-theme > a {display: inline-block; padding: 15px 25px; color: #fff; text-transform: uppercase; background: var(--splash); font-weight: 800; font-family: var(--header);}
a.btn-theme:hover, .btn-theme > a:hover {opacity: 1; background: #92bc32; text-decoration: none;}

/* Animate */
.ccm-page a, a:after, a:before, #nav-main ul, .feature-grid img, h2:after, .grid-item .text {
-webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
-moz-transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
-o-transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


/* Mobile First */
.container {position: relative;}
.content section {position: relative;}


/* Hero */
#hero {position: relative; overflow: hidden;}
#hero img {position: absolute; left: 0; top: -50px; width: 100%; height: calc(100% + 50px); object-fit: cover;}
#hero .text {padding: 60px 25px 40px 25px;text-align: center;position: relative;z-index: 5;}
#hero:after {width: 100%; height: 100%; background: rgba(0,0,0,.35); content: ""; position: absolute; left: 0; top: 0;}
#hero .text h1 {margin-bottom:30px;font-weight:900;color: #fff; }
#hero .text p {margin-left:0px}
.padded-multiline {font-weight:800; color: #fff; font-style: italic; font-size: 1.5rem; line-height: 1.7; padding: 2px 0; }
.padded-multiline span { background-color: #98d700;color: #fff; display: inline;padding: 0.6rem;
/* Needs prefixing */
box-decoration-break: clone;-webkit-box-decoration-break: clone;}

#hero.secondary {height: auto; margin: 25px 0; padding: 0 0 25px 0; border-bottom: 1px dotted #ccc;}
#hero.secondary:after {display: none;}
#hero.secondary img {display: none;}
#hero.secondary .breadcrumb {padding: 0; background: none; margin: 10px 0; font-size: .8rem;}

.homepage-content {background: #fff}
.homepage-content {padding: 20px}
.homepage-content h2:after {position: absolute; left: 0px; bottom: -5px; width: 35px; height:3px; background: var(--splash); content: "";}
.homepage-content h2{padding-left:0px;padding-right:10px;margin-bottom:30px;font-size:2rem}

/* Grid */

.grid-item {display: block; margin: 0 0 25px 0;}
.grid-item .text {background: var(--primary); padding: 25px; color: #fff;}
.grid-item .text h2 {color: #fff; text-transform: uppercase; text-shadow: 0 0 30px rgba(0,0,0,.8);}
.grid-item .text span {text-transform: uppercase; color: var(--splash); font-weight: 700; font-size: .8em; letter-spacing: 1px;}
/*
.grid-item h2 {text-shadow: 0px 0px 40px  #000000; padding:25px; color: #fff; margin: 0; color: #fff; text-transform: uppercase;}
.grid-item h2:after {display:none}
.grid-item {position: relative; display: block; background: #fff; overflow: hidden; height: 300px;}

.feature-grid {display: grid; grid-gap: 25px; margin: 25px 0;}


/* FOOTER */
.footer-cta {background: var(--tertiary); text-align: center; padding: 50px 0;}
.footer-cta .cta-links {display: grid; grid-template-columns: repeat( auto-fit, minmax(150px, 1fr) );}
.footer-cta .cta-links a {padding: 25px; background: var(--primary); color: #fff; display: block;}
.footer-cta .cta-links a h4 {color: #fff;}
.cta-links {margin-bottom:-125px;}
.footer-cta .cta-links .col:nth-of-type(1) a:hover {background:rgb(54 97 166 / 95%)}
.footer-cta .cta-links .col:nth-of-type(2) a:hover {background:rgb(96 53 147 / 95%)}
.footer-cta .cta-links .col:nth-of-type(3) a:hover {background:rgb(114 134 149 / 95%)}
.footer-cta .cta-links .col:nth-of-type(4) a:hover {background:rgb(150 215 0 / 95%) }
.footer-cta .cta-links .col:nth-of-type(1) a {background:rgb(54 97 166 / 85%)}
.footer-cta .cta-links .col:nth-of-type(2) a {background:rgb(96 53 147 / 85%)}
.footer-cta .cta-links .col:nth-of-type(3) a {background:rgb(114 134 149 / 85%)}
.footer-cta .cta-links .col:nth-of-type(4) a {background:rgb(150 215 0 / 85%) }

.footer-cta  h3{text-transform:uppercase;padding-bottom:20px;font-weight:800;font-size:1.5em;text-align:center;letter-spacing:0.1em}
.footer-cta span{text-transform:none;letter-spacing:0em;font-weight:400;}

.feature-image{position:absolute;width:100%;left:0px;top:0px;height:100%;;z-index:1;object-fit: cover;}
.footer-cta .col{overflow:hidden;position:relative}
.footer-cta a{position:relative;z-index:9999}
.footer-cta a:hover{text-decoration:none;}

.footer-cta .cta-links .col a {opacity:1; }
.footer-cta a img{width:70px;}
.footer-cta h4 {padding:20px 0px 0px 0px;margin:0;}

.footer-copyright{background:var(--silver);color:#fff;padding:20px 0px; }
.footer-copyright p{margin-bottom:0px;font-size:14px;}
.footer-copyright a{color:#fff;}
.mainfooter .col-md-3{margin-bottom:30px;}
.mainfooter{color:#fff;background:var(--secondary);padding:140px 0px 20px 0px}
.mainfooter h5{margin-bottom:15px;}
.mainfooter a, h5{letter-spacing: 0.5px;color:#fff;font-size:16px;}
.socialfooter p {  letter-spacing: -2px;}
.socialfooter p span {font-weight:800;text-transform:uppercase;margin-right:5px; letter-spacing: 0.5px; }
.socialfooter{text-align:right}
.socialfooter a{margin-left:5px;padding:5px;color:#00c6ff}
.socialfooter a:hover,.mainfooter a:hover{color:#96d700}
.mainfooter ul{padding-left:0px;line-height:24px;}
.mainfooter ul p{margin-bottom:13px}
.mainfooter .nomarker {padding-left:20px;list-style-type: square;line-height:30px;}
.nomarker {color: #00c6ff}
.nomarker :nth-of-type(2){color: var(--purple);}
.nomarker :nth-of-type(3){color: var(--silver);}
.nomarker :nth-of-type(4){color: var(--splash);}
.nomarker :nth-of-type(5){color: var(--purple);}
.nomarker span {color: #fff;}
.footerlogo{margin-bottom:20px;float:left;width:100%}
.footerlogo img{max-width:200px;}

/* Directory */
#list-search {display: flex; background: #eee; margin: 0 0 20px 0; padding: 0;}
#list-search .flex-row { border: 1px solid #ccc; border-bottom: none;}
#list-search form {width: 100%;}
#list-search .form-group {width: 100%; float: left; padding: 5px 15px; margin: 0 0 5px 0;}
#list-search .alpha-list {width: 100%; float: left; text-align: center; border-top: 1px solid rgba(0,0,0,.15); background: var(--primary);}
#list-search .alpha-list a {color: #fff; font-size: 16px;}
#list-search .alpha-list a:hover {background: rgba(0,0,0,.1); text-decoration: none;}
#list-search form label {color: rgba(0,0,0,.5); font-size: 14px; text-transform: uppercase; margin: 0;}
#list-search .search-go {display: block; text-align: center; padding: 3px 15px; background: var(--primary); overflow: hidden; float: left; color: #fff; text-transform: uppercase; margin: 5px 15px 15px 15px; opacity: .9;}
#list-search .search-go:hover {opacity: 0.7; text-decoration: none; color: #fff;}
#list-search .form-control {border: none; border-radius: 0; background: #fff; border: 1px solid #aaa;}
#list-search  form .form-control:focus {background: #fff;}
#list-search  a.btn-theme, .btn-theme > a {display: inline-block; padding: 15px 25px; color: #fff; background: var(--primary); }
#list-search  .bluebutton a.btn-theme, .btn-theme > a {background: var(--silver);}
#list-search  a.btn-theme-blue, .btn-theme > a {display: inline-block; padding: 15px 25px; color: #fff; background: var(--silver); }
a.btn-theme-blue, .btn-theme > a {;font-weight: 800; }

.direcotry-list {display: grid; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) ); gap: 25px;}
.direcotry-list .directory-item {padding: 15px; border: 1px solid #ccc; box-shadow: 5px 5px 15px rgba(0,0,0,.03);}
.direcotry-list .fa-li{color: var(--primary);font-size:13px;padding:2px;}
.direcotry-list h3{color:#333}
.direcotry-list .fa-ul {list-style-type: none;margin-left: 1.3em;padding-left: 0;}
.direcotry-list li {padding-left:3px;padding-bottom:5px;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.img-left {max-width: 50%; float: left; margin: 0 25px 25px 0;}
.img-right {max-width: 50%; float: right; margin: 0 0 25px 25px;}
h2 {font-size: 2.5rem;}
hr {margin: 45px 0;}

/* Hero */
#hero {height: 50vh;}
#hero .text, #hero .container {height: 100%; display: flex; justify-content: center; flex-direction: column;}
#hero .text h1 {font-size: 5rem;line-height: 0.9;}

/* Grid */
.feature-grid {grid-template-columns: 1fr 1fr;}
.grid-item:nth-last-of-type(3) {grid-column: span 2;}

#list-search .flex-row {display: flex; padding: 5px;}
#list-search .form-group {flex: 1; padding: 5px;}
#list-search .search-go { align-self: flex-end; margin: 5px 5px 10px 5px;}
#list-search .alpha-list {width: 100%;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
#hero {height: 85vh; min-height: 700px; padding-top: 100px;}
#hero .text {text-align: left; align-items: flex-start; width: 60%; padding: 0;}
#hero .text h1 {font-size: 6rem;}
#hero .text p {display: inline;}

#hero.secondary {min-height: auto; border: none; padding: 0; margin: 0 0 25px 0;}
#hero.secondary img {display: block; position: relative; top: 0; height: 150px; margin: 0 0 25px 0;}

/* Grid */
.feature-grid {display: grid; gap: 25px; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 350px 100px 350px; margin: 50px 0 0 0;}
.grid-item {height: auto;}
.grid-item:nth-of-type(1) {grid-area: 1 / 1 / 3 / 2;}
.grid-item:nth-of-type(2) {grid-area: 3 / 1 / 4 / 2;}
.grid-item:nth-of-type(3) {grid-area: 1 / 2 / 2 / 4;}
.grid-item:nth-of-type(4) {grid-area: 2 / 2 / 4 / 3;}
.grid-item:nth-of-type(5) {grid-area: 2 / 3 / 4 / 4;}
.grid-item:hover img {opacity: .35; transform: scale(1.1);}
.grid-item:nth-of-type(1):hover {background: var(--primary);}
.grid-item:nth-of-type(2):hover {background: var(--primary);}
.grid-item:nth-of-type(3):hover {background: var(--purple);}
.grid-item:nth-of-type(4):hover {background: var(--primary);}
.grid-item:nth-of-type(5):hover {background: var(--purple);}

.grid-item {margin: 0; overflow: hidden; position: relative;}
.grid-item .text {position: absolute; top: calc(100% - 200px); background: none;}
.grid-item .text p {padding: 0; font-size: 14px; max-width: 350px;}
.grid-item .text h2 {height: 150px; padding: 0 0 15px 0; margin: 0 0 25px 0; display: flex; justify-content: flex-end; flex-direction: column;}
.grid-item .text h2:after {bottom: 0; left: 0;}
.grid-item:hover .text {top: 0;}
.feature-grid img {width: 100%; height: 100%; object-fit: cover; object-position: left top; mix-blend-mode: multiply;}

.homepage-content {padding: 20px;position: relative;margin-top: 70px;background: #fff;box-shadow: 0 0 50px rgba(0,0,0,.05);}
.overlap-img {padding:15px;}
.hpg-overlap .footer-cta {padding-top: 140px; margin-top: -100px;}
.homepage-content p{padding-left:80px;padding-right:10px;}
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.container {max-width: 1150px;}
}

/* ----------------------*/
/* -- MENU AND HEADER -- */
/* ----------------------*/
/* GLOBAL */
#header {border: 0; margin: 0; border-radius: 0; position: relative; font-family: var(--header); z-index: 600; background: var(--primary); border-top: 5px solid var(--splash);}
#logo img {max-width: 230px; height: auto;padding:20px;}
#hdr-cta .btn-theme {position: relative; padding-left: 70px; line-height: 1;}
#hdr-cta .btn-theme .fa {color: #fff; background: rgba(0,0,0,.2); position: absolute; left: 0; top: 0; bottom: 0; width: 50px; line-height: 50px; text-align: center;}
#navbar ul {list-style: none; padding: 0; margin: 0;}
#navbar #nav-main > .nav-path-selected > a {}
#navbar #nav-main a {color: #fff;font-size: 16px; padding: 12px; font-weight: 800; display: block;}
#navbar #nav-main ul {border-top: 1px dotted #ccc; padding: 15px 0; list-style: none;}
#navbar #nav-main ul a {padding: 10px 10px 10px 20px; font-size: 14px; border: none; font-weight: normal;}
#navbar #nav-main ul a:before {display: inline-block; width: 5px; height: 5px; background: var(--splash); margin: 0 12px 4px 0; content: "";}
#navbar #nav-main li:hover > a {text-decoration: none; background: rgba(0,0,0,.1);}

#mininav {display: flex;}
#mininav a {color: #fff; display: block; padding: 5px 10px; font-size: 11px; text-transform: uppercase; letter-spacing: .5px; opacity: .85;}
#mininav a:hover {opacity: 1;}

#sec-nav {margin: 0 0 25px 0;}
#sec-nav ul {list-style: none; padding: 0; margin: 0;}
#sec-nav ul li {margin: 0;}
#sec-nav ul a {font-size: 18px; padding: 15px; display: block; border-bottom: 1px dotted #ccc; font-family: var(--header); color: #888;}
#sec-nav a:hover {text-decoration: none; background: var(--primary); color: #fff;}

.cta {padding: 15px 30px; background: #eee; margin: 25px 0; border-top: 5px solid var(--primary);}

.pagetitle{font-weight:800;}
.socialheader a{color:#00c6ff;padding:0px 5px;}
.socialheader a:hover{color:var(--splash)}
.directory-content-box{padding:25px;box-shadow: 0 0 50px rgba(0,0,0,.05);background:#fff}
hr{border-top:1px solid #ccc}
.homepage-content h2{font-weight:900}
.text-center {}
.text-center h2:after {left: calc(50% - 25px);}

#hdr-cta .btn-theme .heart .fa {color: #fff; background: rgb(0 0 0 / 0%); position: absolute; left: 0; top: 0; bottom: 0; width: 50px; line-height: 50px; text-align: center;}
.btn-theme:hover .heart  .fa {  animation: pulse 1s infinite;
  animation-timing-function: linear;   }
#hdr-cta .btn-theme {position: relative; padding-left: 70px; line-height: 1;}
#hdr-cta .btn-theme .fa {color: #fff; background: rgba(0,0,0,.2); position: absolute; left: 0; top: 0; bottom: 0; width: 50px; line-height: 50px; text-align: center;}
#hdr-cta .heart .btn-theme .fa {}
@keyframes pulse {0% { transform: scale(1); }50% { transform: scale(1.3);}100% { transform: scale(1); }}

.affa-feature-img img{max-width:100px;margin-bottom:20px;}
.affa-feature-img .fa{color:#fff;margin:40px auto 100px auto;    width: 50px;height: 50px;background: var(--splash);font-size: 20px;text-align: center;display: flex;flex-direction: column;justify-content: center;border-radius: 50%;margin: 0 auto 15px auto;}

/* ONLY MOBILE */
@media (max-width: 992px) {
#toggle {background: rgba(0,0,0,.2);color: #fff;display: flex;margin: 0;width: 100%;border-radius: 0;padding: 0 10px;text-transform: uppercase;font-weight: bold;line-height: 50px;height: 50px;justify-content: flex-end;font-size: 20px;}
#toggle .fa {font-size: 22px; margin: 0 0 0 10px; line-height: 48px;}

#hdr-cta {text-align: center;}
#hdr-cta .btn-theme {position: absolute;left: 0;z-index: 5;font-size: 18px;height: 50px;box-shadow: none;border-radius: 0;}
#navbar #nav-main {margin: 0 -15px; list-style: none; padding: 25px;}
#navbar #nav-main li:first-of-type a {border: none;}


.overlap-img {margin-bottom:100px;}
.hpg-overlap .footer-cta {padding-top: 140px; margin-top: -100px;}
.homepage-content p{padding-left:0px;padding-right:10px;}
.socialheader{padding:15px 0px 0px 0px;z-index:1040; width:100%; text-align:right;top:10px;position:absolute}
.affa-feature-img {padding:0px 10px;margin:30px auto 0px auto}
hr {margin: 45px 0;}

}
/* TABLET */
@media (min-width: 768px) {
.navbar-header {display: flex;justify-content: flex-end;align-items: center;}
#logo {margin-right: auto;}
#hdr-cta .btn-theme {position: relative; top: auto;}
#toggle {width: auto;margin: 0;padding: 0 25px;position: relative;}

.cta-inner {padding-bottom: 25px;}
.cta-inner span {display: inline-block;}
.cta-inner a.phone {display: inline-block; margin: 0;}
.cta-inner a.btn-theme {top: 20px;}

.homepage-content {padding: 20px}
.homepage-content h2:after {position: absolute; left: 0px; bottom: -20px; width: 35px; height:3px; background: var(--splash); content: "";}
.homepage-content h2{padding:0 0px 0px 0px;margin-bottom:30px;font-size:2rem}

.socialheader{padding:15px 30px 0px 0px;z-index:3333; width:100%; text-align:right;top:140px;position:absolute}
}

/* WIDE DESKTOP */
@media (min-width: 992px) {
#header {width: 100%;}
.navbar-header {float: none; position: relative;}
#logo {position: absolute; left: 0; top: 0; }
#logo img {width: 210px; height: auto; max-width: none; }
#hdr-cta .btn-theme {position: relative; right: 0; top: 0; height: 50px; line-height: 1.4;}
#nav-main {display: flex; justify-content: flex-end;}
#navbar {padding: 0;}
#navbar #nav-main a {padding: 25px 15px; position: relative;}
#navbar #nav-main a:after {position: absolute; left: 50%; opacity: 0; bottom: 0; width: 0; height: 3px; background: var(--splash); content: "";}
#navbar #nav-main > li:hover > a {background: rgba(0,0,0,.2);}
#navbar #nav-main > li:hover > a:after, #navbar #nav-main > li.nav-path-selected > a:after {left: 0; opacity: 1; width: 100%;}
#nav-main:after {position: absolute; right: -20vw; bottom: 0; width: 80vw; height: 73px; background: linear-gradient(90deg, rgba(0,0,0,0), rgba(0,0,0,.3)); content: ""; z-index: -1;}

/* DROPDOWNS */
#navbar #nav-main li {position: relative;}
#navbar #nav-main ul {position: absolute; top: 100%; right: 0; width: 250px; background: var(--primary); visibility: hidden; opacity: 0; border: none;}
#navbar #nav-main li:hover ul {visibility: visible; opacity: 1;}

#mininav {position: absolute; top: 15px; right: 170px;}
#mininav a {}

.content-box{background:#fff;}
.content-box img{padding:10px;}
	
.homepage-content {padding: 50px}
.homepage-content h2:after {position: absolute;left: 15px;bottom: -50px;width: 35px;height:3px;background: var(--splash);content: "";}
.homepage-content h2{padding:0 0px 0px 15px;margin-bottom:30px;font-size:2rem}

.socialheader{padding:15px 30px 0px 0px;z-index:500; width:100%; text-align:right;top:150px;position:absolute}
.affa-feature-img {margin:40px auto 100px auto}
/*
    #logo {padding: 40px 0;}
#navbar #nav-main {position: absolute; bottom: 15px; padding-right: 10px; margin-right: 10px; right: 325px; display: flex; }
#navbar #nav-main:after {position: absolute; right: 0; top: 10px; height: 50px; width: 1px; background: #ccc; content: "";}
#navbar #nav-main a {border: none; padding: 20px 10px;}
#navbar #nav-main ul {position: absolute; left: 50%; margin-left: -125px; top: 105%; width: 250px; background: #fff; border-top: 5px solid var(--primary); display: block; visibility: hidden; opacity: 0; box-shadow: 5px 5px 10px rgba(0,0,0,.2);}
#navbar #nav-main ul:before {display: block; width: 10px; height: 10px; position: absolute; left: 50%; top: -10px; margin-left: -5px; content: "";
border-left: 10px solid transparent; border-right: 10px solid transparent;border-bottom: 10px solid var(--primary);}
#navbar #nav-main li {position: relative;}
#navbar #nav-main li:hover ul {opacity: 1; visibility: visible; top: 100%;}

#navbar #nav-mini {position: absolute; top: 10px; right: 15px; display: flex;}
#navbar #nav-mini a {padding: 5px;}
#navbar #nav-mini a:before {width: 5px; height: 5px; display: inline-block; background: var(--secondary); content: ""; vertical-align: middle; margin: 0 5px 5px 0;}
#hdr-cta {position: absolute; right: 15px; top: 50px; font-size: 24px;}
#hdr-cta .btn-theme {border-radius: 25px; font-size: 16px;}
*/
}

@media (min-width: 1200px) {
    #logo img {width: 215px; padding: 15px 5px;}
    #navbar #nav-main a {padding: 30px 30px 25px 30px;}
    #nav-main:after {height: 78px;}
}


/* Bootstrap Expand Nav Tablet Too */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}

