#main-nav > li > a {padding: 0;}
#main-nav > li {
  color: #fff;
    display: block;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 15px;
}

#menu {
  justify-content: flex-start;
  padding-top: 80px
}

#menu .sub-menu {
  list-style: none;
  padding: 0
}


#menu .sub-menu ul {
  border-left: 4px solid hsla(0,0%,100%,.1);
  margin: 15px 0;
  padding: 0 15px;
  list-style: none;
}
#menu .sub-menu .menu-group li {display: block;}
#menu .sub-menu .menu-group li a {padding: 3px 10px 3px 0; border-radius: 4px;}
#menu .sub-menu .menu-group li a:hover {background: #f9f9f9; color: #111; padding: 3px 5px 3px 5px;}
#menu .sub-menu .menu-title {
  color: #63bde9;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 0 0 5px;
  text-transform: uppercase;
  display: block; text-align: left;
}
#menu .sub-menu a {
  padding: 3px 0;
}

#menu .sub-menu .menu-challenge {display: none;}
#menu #main-nav li:nth-of-type(2) .menu-challenge {display: block; grid-column: span 3; grid-row: 2;}
#menu .sub-menu .menu-challenge a {
  background: hsla(0,0%,100%,.2);
  border-radius: 10px;
  display: block;
  margin: 15px 0 25px;
  padding: 15px 50px 15px 15px;
  position: relative;
  padding: 20px 75px 20px 20px;
  border-left: 5px solid #ff981e;
  border-radius: 0 10px 10px 0;
}

#menu .sub-menu .menu-challenge h3 {
  color: #fff;
  font-size: 1.5rem;
  margin: 0 0 10px;
  letter-spacing: -.25px;
}

#menu .sub-menu .menu-challenge p {
  font-size: 1.2rem;
  line-height: 1.4;
  margin: 0
}

#menu .sub-menu .menu-challenge a:after {
  background: rgba(0,0,0,.2); background: #fff; border: 1px solid rgba(0,0,0,.2);
  border-radius: 50%;
  content: "\f061";
  display: grid;
  font-family: FontAwesome;
  height: 30px;
  place-items: center;
  position: absolute;
  right: 15px;
  top: calc(50% - 15px);
  width: 30px;
  color: #ff981e;
}
#menu .sub-menu .menu-challenge a:hover {color: #333; background: #f4f4f4;}
#menu .sub-menu .menu-challenge a:hover:after {color: #fff; background: #ff981e;}

@media (min-width: 1000px) {
  
  #menu {padding-top:0}
  #main-nav > li, #main-nav > li a {font-size: 15px; opacity: 1;}
  #menu .sub-menu li {display: block;}
  #main-nav .sub-menu {background: #fff; padding: 25px; box-shadow: 0 0 25px rgba(0,0,0,.2); width: 280px; left: calc(50% - 140px);}
  #main-nav li:nth-of-type(2) .sub-menu {width: 700px; left: calc(50% - 350px); right: 0; }
  #main-nav .sub-menu a {padding: 3px 5px 3px 5px; border-radius: 4px;}
  #main-nav .sub-menu a:hover {padding: 3px 3px 3px 8px; background: #f9f9f9; color: #000;}
  
  #main-nav .sub-menu:before {border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid #fff; content: "";
  position: absolute; left: 50%; top: -5px;width: 5px;
  height: 5px;
  transform: rotate(180deg);
  } 
  #main-nav li:nth-of-type(2) .sub-menu {display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: auto auto;}
  #menu #main-nav li .sub-sub-menu {position: relative; inset: inherit; top: auto; width: auto; padding: 0; box-shadow: none; margin: 0; border-radius: 0; border-left: 3px solid rgba(0,0,0,.1);}
  #menu #main-nav li .sub-sub-menu a {padding: 3px 5px 3px 7px;}
  #menu #main-nav li .sub-sub-menu a:hover {padding: 3px 2px 3px 10px;}

#menu .sub-menu-grid {display: grid; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );}
#menu .sub-menu .menu-challenge a {background: #f4f4f4;padding: 20px 75px 20px 20px;margin: 25px 0 0 0;}
#menu .sub-menu .menu-challenge h3 {color: #222;}
#menu ul li ul.sub-menu {top: 150%;}   
  #menu ul li:hover ul.sub-menu {
      opacity: 1;
      top: 140%;
  }

// .sub-menu h3 {margin:10px 0 20px 0;}
// .sub-menu h3.toggle button{font-size:1.7rem;}
// .sub-menu h3 .btn-link {color: #63bde9;font-size: 1.5rem;margin-left:18px;position: relative;}
// .sub-menu h3 .btn-link:hover {color: #63bde9;}
// ul.sub-menu li {margin-left:45px;margin-right:10px;}

// .dropdown{margin:10px 0;padding-bottom:15px;background:#455364;padding:25px;border-radius:24px;}

// #menu ul .sub-menu h3:after{content:"\f078";font-family:'Font Awesome 5 Free';font-weight:900;position:absolute;top:50%;right:20px;transform:translateY(-50%);transition:transform 0.3s ease;}
// #menu ul .sub-menu h3[aria-expanded="true"]:after{content:"\f077";}
// #menu ul .sub-menu h3 a{font-size:1.75rem;font-weight:bold;margin-top:15px;width:100%;text-align:left;background:#ff981e;border:0;border-radius:50px;color:#fff!important;display:inline-block;font-family:Montserrat;opacity:.85;padding:15px 20px;position:relative;letter-spacing:0px;}

// #menu ul .sub-menu h3 a:hover{opacity:1;}
// #menu ul .sub-menu li{display:block;}
// #menu ul .sub-menu{padding:0 0 0 0px;}

// @media (min-width: 1001px) {
// .dropdown{margin:10px 0;padding-bottom:15px;background:none;padding:25px;border-radius:0;}
// #menu ul .sub-menu h3:after{display:none}
// #menu ul .sub-menu h3[aria-expanded="true"]:after{display:none}
//   ul.sub-menu li {margin-left:20px;margin-right:10px;}
//   ul.sub-menu li li {list-style: none;}
//   .sub-menu-grid {
//     display: flex;
//     gap: 35px;
//     padding-bottom: 20px;
//   }
//   #menu ul .sub-menu .col {
//     flex: 25%;
//     flex-direction: column;
//   }
//   #menu ul .sub-menu {
//     left: calc(50% - 400px);
//     padding: 25px;
//     top: 105%;
//     width: 800px;
//     display: block !important; /* Ensure the mega menu is always displayed */
//   }
//   .sub-menu .collapse {
//     display: block !important; /* Ensure all collapsible sections are always open */
//   }
//   .sub-menu h3.toggle button {
//     pointer-events: none; /* Make the buttons non-interactive */
//     cursor: default; /* Change cursor to default */
//   }
// }
}