@charset "UTF-8";
/* CSS Document
Client: Mid Iowa Tools
Company: Informatics, Inc
Author: Austin G
Date: Feb 2021
*/

/* Variables */
:root {
  --primary: #30438E;
  --secondary: #1a2860;
  --blue: #30438E;
  --red: #ED1C24;
  --green: #00723B;
  --darkblue: #1a2860;
  --lightblue: rgb(0, 153, 255);
  --lightbluehov: rgb(0, 55, 156);
  --bluehov: #4564dd;
  --darkred: #be171e;
  --darkgreen: #005a2f;
  --darkblack: #16181f;
  --lightblack: #191c27;
  --light: #eee;
  --lighter: #7a7a7a;
  --dark: #333;
  --spacer: 25px;
  --text: rgba(0,0,0,.85);
  --light-text: rgba(255,255,255,.65);
  --dark-text:#31333b;
  --header: 'Oswald', sans-serif;
  --body: 'Roboto', sans-serif;
}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: #fff; color: var(--text);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;
font-feature-settings: "liga";
text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5 {font-family: var(--header); font-weight: 700; color: var(--secondary); letter-spacing: -1px; margin: 0 0 1rem 0;text-transform: uppercase;
}
h1 {font-size: 3rem;}
h2 {font-size: 2rem; position: relative; padding: 0 0 1rem 0;}
h2[style="text-align: center;"]::after, .h2-like[style="text-align: center;"]::after {left: 50%; margin-left: -25px; /* Half of length */}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
p {margin-bottom: 2em;}
.preheader {text-transform: uppercase; font-weight: bold; color: var(--primary); margin: 0 0 10px 0;}
img {max-width: 100%; height: auto;}
hr {margin: 25px 0;}
.lead {font-size: 1.25rem;}
.lead-2 {font-size: 1.75rem;color: var(--blue);font-family: var(--header);font-weight: 400;margin-bottom: 1rem;}
.paddingbig{padding:80px;}
.bggrey{background:#eee url("../img/patterngrey.jpg")repeat;}
i{color:var(--darkred);}
.btn-theme i{color:#fff}

/* Lists with Icons */
.iconlist li {list-style-type :none;padding: 0.4rem 0.4rem; display: flex;line-height:1}
.iconlist li i{vertical-align: middle;margin-right: 10px;}
.colorbox .iconlist ul {padding:0px}

/* LINKS */
a {color: var(--primary); text-decoration: none;}
a:hover {color: var(--secondary);text-decoration: none;}
a.btn-theme, .btn-theme > a , .btn{font-weight:600;display: inline-block; padding: 15px 25px; background: var(--primary); color: #fff; text-decoration: none;}
a.btn-theme:hover, .btn-theme > a:hover, .btn {border:none;border-radius:0px;background: var(--secondary); text-decoration: none;}
.btn-theme .fa{padding-left:15px;font-size:17px;}

/*===== Button fill on hover =====*/
.button-fill-left {box-shadow: inset 0px 0px 0px var(--darkred);transition: all 0.5s !important; }
.button-fill-left:hover {box-shadow: inset 330px 0px 0px var(--darkred);}
/*===== FOOTER --- Button fill on hover =====*/
/* Fill from left */
.footer .button-fill-left {box-shadow: inset 0px 0px 0px var(--primary);transition: all 0.5s !important; }
.footer .button-fill-left:hover {box-shadow: inset 330px 0px 0px var(--lightbluehov);}
/* Animate */

#navbar #nav-main a.btn-theme i,.ccm-page a, #nav-main ul, a.btn-theme:after,.toolbar .contact li,.footer .social i, .toolbar .social i,.input-group-btn:last-child>.btn, .btn, .services:hover .buttonbox i {
-webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
-moz-transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
-o-transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Mobile First */
.container {position: relative;}
.content section {padding: var(--spacer) 0;}
.sidebar-grid {display: grid; grid-gap: var(--spacer);}
.copyright img{max-width:50px;}
.copyright{padding:20px 0px;border-top:5px solid var(--primary)}
.narrow .col-md-6{padding:20px 25px 0px 25px;margin:0px auto 30px auto}
.ctabox{padding:25px;position: absolute;left:10%;bottom: -30px;width:80%;}
.flex-grid .testimonial {position:relative;flex: 2;padding:120px 40px 60px;}
.greybg .flex-grid{padding:25px 0px;}
.flex-grid .contactbox {position:relative;float:left;flex: 2;padding:40px}
.greybg {position:relative;padding:35px 0px}
#testsection {width:100%;height: 140px;background:#000;background-size:cover;}

.testimonial:after{content: '';position: absolute;top:50px;left: 50px;width:60px;height: 40px;background-image: url(../img/quotesleft.png);background-size:cover;opacity:0.4}
.footer {padding:25px 0px;}
.subhead {margin:22px 0px 0px 0px;display: block;font-size: 16px;font-weight: 400;padding-left:10%;position: relative;color: var(--dark-text);text-transform: uppercase;}
.narrow .bordertitle h1{position: absolute;font-size: 50px;line-height: 50px;color: transparent;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);
-webkit-text-stroke: 1px #ddd;top:11px;margin-bottom: 0;padding-left:25px;width: 100%;z-index: -1;}
.bordertitle h1{position: absolute;font-size: 50px;line-height: 50px;color: transparent;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);
  -webkit-text-stroke: 1px #ddd;top:-9px;margin-bottom: 0;padding-left:15px;width: 100%;z-index: -1;}.section-title .bordertitle h1{-webkit-text-stroke: 1px #cccddd;font-size: 50px;line-height:50px;top:46px;padding-left:0px;z-index:0;}
.section-title .subtitle{letter-spacing:0.3px;font-family:var(--body);margin:20px 0px 10px 0px;display: block;font-size: 16px;font-weight: 400;position: relative;color: var(--dark-text);text-transform: uppercase;}
.section-title h2{font-size:2.3rem}
.section-title{margin:80px auto 40px auto;}
.servicesbg{padding:40px 0px 40px 0px;background:url("../img/services-bg.jpg");width:100%;height:auto;background-position:top}
.basicgrid p,.servicegrid p{font-size: 15px;line-height: 25px;margin-bottom: 14px;color:var(--lighter);padding:0px 25px 0px 25px}
.basicgrid h3, .servicegrid h3{font-size: 1.4rem;line-height: 25px;letter-spacing:0.04px;padding:25px 25px 0px 25px}
.basicgrid {display: grid;grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );}
.servicegrid{display: grid; grid-template-columns: repeat( auto-fit, minmax(290px, 1fr) );}
#navbar #nav-main a {font-size:1.2rem}
#hdr-request .btm-theme a{padding:0px 10px}

.colorbox{background-blend-mode: multiply; background:var(--darkblack) url("../img/pattern.jpg") repeat;color:#fff;padding:50px 0px 30px 0px}
.colorbox img{width:100%;margin:35px 0px}
ul.timeline {margin-top:43px;list-style-type: none;position: relative;}
ul.timeline:before {content: ' ';background: #d4d9df;display: inline-block;position: absolute;left: 10px;width: 2px;height: 100%;z-index: 400;margin-top:3px;}
ul.timeline > li {margin:20px 0;}
ul.timeline > li:before {content: ' ';background: white;display: inline-block;position: absolute;border-radius: 50%;border: 3px solid;border-color:var(--blue);left: 1px;width: 20px;height: 20px;z-index: 400;margin-top:3px;}
ul.timeline h4{font-size:1.5rem;color:var(--light); padding: 0 0 0rem 0;margin:5px auto}
.iconlist li strong{line-height:1.3}.iconlist li i{line-height:1.5}
.testbox{max-width:1170px;margin:-100px auto 0 auto}
.brandbox img{min-width:70%}
.brandbox {margin-top:5px}

/* Header */
#header #logo img  {transition: max-width 0.2s;}
#header.is-sticky {margin-top: -42px;position: fixed;width:100%;z-index: 9999;}
#header.is-sticky #logo img {max-width: 200px}
#header{margin-top:230px;}
#nav-wrapper{-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;height:200px;background:var(--darkblack)}
#nav-wrapper.is-sticky{height:146px;}

.shopnow .btn {font-size: inherit;background: none;cursor: pointer;padding:20px 30px 20px 90px;display: inline-block;text-transform: uppercase;position: relative;-webkit-transition: all 0.3s;-moz-transition: all 0.3s;transition: all 0.3s;}
.shopnow .btn-sep:before {background: rgba(177, 189, 255, 0.15);border-right:1px solid rgb(177, 189, 255, 0.2)}
.shopnow .btn-1 {background: var(--darkblue) ;color: #fff; }
.shopnow .btn-1:before {position: absolute;height: 100%;left: 0;top: 0;line-height: 3;font-size: 140%;width: 60px;}
.shopnow h4{margin:0px;color:#fff;letter-spacing: 0.5px;font-size:16px}

#logo {display: block; text-align: left;padding:20px 0px 20px 15px;}
#logo img {max-width:250px }
#header a.btn-theme {background: var(--darkblue); color: #fff;}
#navbar #nav-main a.btn-theme{color:#fff}
#navbar #nav-main ul a {font-size: 1.0rem; padding:9px 15px; font-weight: 400;}
#navbar #nav-main ul a.is-sticky{font-size: 1.1rem; padding:13px}
#navbar #nav-main ul a:hover{padding:9px 20px; }
#header a.btn-theme:hover {background: var(--lightblue);}
#navbar #nav-main a.btn-theme:hover,#navbar #nav-main a.btn-theme:hover i{color:var(--dark-text);}

.header,.header2  {position: relative; width: 100%; overflow: hidden; background: var(--dark); display: flex; justify-content: center; flex-direction: column;}
.header .container ,.header2 .container {height: 100%;}
.header figure,.header2 figure  {width: 100%; height: 100%; position: absolute;}
.header figure img,.header figure video {background:var(--darkblack);;width: 100%; height: 100%; object-fit: cover; opacity: 0.5;}
.header .text,.header2 .text  {color: #fff; text-align: center; padding: 50px 0px ; }
.header .text h1,.header2 .text h1  {color: #fff;}
.header .breadcrumb {background: none; padding: 0;}
.toolbar{background-color:var(--lightblack);padding:12px 15px;font-family:oswald;position:relative;display: block;border-bottom:1px solid #222634;font-size: 13px;color: var(--light);}
.toolbar .contact i,.toolbar .contact a i{margin-right:7px;color:var(--bluehov);}
.toolbar .social i{display:inline-block;margin:0px 0px 0px 15px;color:var(--light);font-size: 1.2em;}
.toolbar .social a i:hover{color:var(--red);}
.group {display: flex;flex: 1; /* new */justify-content: space-between; }
.toolbar li{display: inline;}
.toolbar .contact a :hover{color:var(--red);}
.toolbar .contact,.toolbar .contact  a{color:#fff;z-index:2;position:relative;margin-right:25px;}
.hidebox{display:none;}
#line hr {margin: 0px 0px;}
.header .text {color: #fff; text-align: center; padding: 50px 0 55px 0px; }
#hero {min-height: 40vh;}
#hero h1{font-size: 4rem;color: transparent;-webkit-text-stroke: 1px #f1f1f1;margin: 0 0 0.4rem 0;}
.header2 .text h1{font-size: 4rem;color: transparent;-webkit-text-stroke: 1px #f1f1f1;}
#hero .subtext{font-size: 1.17rem;color:#fff;}
#hero.is-sticky{padding-top:122px}

/* Secondary */
.breadcrumb{padding:15px 0px 0px 0px;color:#95a5bf;background:#fff;}
.breadcrumb i{margin-right:6px;font-size:0.9rem}
.breadcrumb li a, .breadcrumb i{color:var(--secondary)}
.breadcrumb li a:hover{color:var(--darkred)}
#sec-nav ul {list-style: none; padding: 0; margin: 0 0 1rem 0;}
#sec-nav ul a { font-size:1.06rem;background:#f0f4f7;font-family:oswald;font-weight:400;display: block; padding: 15px;; margin: 0 0 1px 0;}
#sec-nav ul a:hover,#sec-nav .selected li a:hover { background:#cfd9e4;color:var(--darkblue);padding-left:25px}
#sec-nav .selected li a {background:#dbe2e8;}
.ctaboxside{padding:30px 20px;background:var(--darkblue);}
.ctaboxside h4{color:#fff;margin:0px 0px 10px 0px;font-size:1.5rem;}
.ctaboxside p{color:#fff;margin:0px 0px 0px 0px;font-size:0.9rem;}
.sidebartext h3{font-size:1.5rem;color: var(--primary);}
.sidebartext{padding:30px 20px;background:#f0f4f7;}
.sidebartext p{margin:0px 0px 15px 0px;font-size:0.9rem;}
.phoneside {display:flex;font-size:2.3rem;font-family:oswald;font-weight:600;color: var(--primary);}
.phoneside i{vertical-align: middle;margin-right:7px;font-size:2.0rem;margin-top:-10px;color: var(--primary);}

.header2 figure img,.header figure video {width: 100%; height:auto;}

/* Footer */
#angle{width:100%;position:absolute;bottom:-7px;left:0px}
.footer {font-size: .9rem;background:#fff;border-top: solid 1px #ddd }
.footer .ftr-cols {display: grid; gap: var(--spacer);}
.footer img {width: 200px; margin: 0 0 1rem 0;}
.footer ul {list-style: none; margin: 0; padding: 0 0 0 0px; }
.footer li:marker {color: var(--primary); content: "";}
.footer a {font-weight:600;color: var(--primary); display: block;padding: 0px 0px 12px 0px;line-height:16px}
.footer a:hover {text-decoration: none;color: var(--darkred)}
.footer .nav-path-selected a {font-weight: 700; text-decoration: none;}
.footer .contact-links i{color:var(--darkred); margin: 0 9px 0 0;}
.footer .copy {background: var(--secondary); margin: 0; padding: 25px; margin-top :var(--spacer); color: var(--light-text); text-align: center; font-size: .8rem;}
.footer p{max-width:400px}
.copyright img{float:right;}
.footer h5{font-size:1.05rem;color:var(--blue)}
.footer ul{margin-bottom:15px}
.footer h3:before {position: absolute;content: '';left: 0px;bottom: 0px;width: 100px;height: 2px;background-color: rgba(77, 25, 25, 0.3);}
.footer h3:after {position: absolute;content: '';left: 0px;bottom: 0px;width: 45px;height: 2px;background-color:  var(--darkred);;}
.footer h3{position: relative;padding-bottom: 18px;text-transform: capitalize;margin: 0 0 1.5rem 0;}
.copyright{background:#000 url("../img/copyrightbg.jpg");background-size:cover;color:#fff;font-size: 0.8rem;}
.copyright p{display:block;float:left;margin:0}
.footercta{padding:24px;box-shadow: 10px 10px 8px 10px #888888;}
.footer hr{border-color:#ccc}
.footer .social i{background:var(--blue);;color: #fff;width: 30px;height: 30px;font-size: 19px;text-align: center;margin-right: 10px;line-height:30px}
.footer .social i:hover.fa-twitter{background:var(--green);} 
.footer .social i:hover.fa-linkedin-in{background:var(--red);}
.footer .social i:hover.fa-facebook-f{background:var(--bluehov);}
.footer .social a {display:inline-block;margin-top:10px}

.footer-icon-content span{transition: all .25s linear 0s;font-family:oswald;font-style:uppercase;color:var(--secondary);display: block;font-size: 16px;line-height: 1;letter-spacing: 0.5px;text-decoration:underline}
a .footer-icon-content:hover span{transition: all .25s linear 0s;color:var(--lightbluehov);text-decoration:underline}

/* Testimonials - Request Section */
.flex-grid .testimonial {position:relative;background-blend-mode: multiply; background:var(--darkblue) url("../img/testimonialbg.jpg");background-size:cover;  background-position: center;color:#fff}
.flex-grid .contactbox {background:#fff;}
.buttonmain.btn {background:var(--primary);font-family:oswald;font-weight:400;font-size:1.1rem;margin-top:30px;float:left;padding:20px 40px}
.buttonmain.btn:hover {background:var(--darkblue);color:#fff}

.testimonial h4{color:#fff;margin:0}
.testimonial p{font-size:1.1rem}
.testimonial span{font-size:0.9rem}
.testimonial .btn {background:#fff;color:var(--primary);padding:10px 15px;margin-bottom:20px}
.testimonial .btn:hover{background: var(--primary);padding:10px 15px;color:#fff}
.starrating{margin-bottom:20px;}.starrating i{color:#fff}

.contactbox  .form-control{padding:25px 0px;font-size:1.1rem;border:none;border-bottom:solid 1px #999;border-radius:0px;box-shadow:none}
.contactbox  .form-control::placeholder {font-size:0.8rem;color:#666}
.contactbox  .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */font-size:0.8rem;color:#666}
.contactbox  .form-control::-moz-placeholder { /* Firefox 19+ */font-size:0.8rem;color:#666}
.contactbox  .form-control:-ms-input-placeholder { /* IE 10+ */font-size:0.8rem;color:#666}
.contactbox  .form-control:-moz-placeholder { /* Firefox 18- */font-size:0.8rem;color:#666}
.contactbox h2{padding:0rem}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1 {font-size: 4rem;}
h2 {font-size: 2.5rem;}
.img-left {max-width: 50%; float: left; margin: 0 25px 25px 0;}
.img-right {max-width: 50%; float: right; margin: 0 0 25px 25px;}
.footer {padding:40px 0px;}
.copyright img{max-width:50px;}
.copyright{padding:20px 0px;}
.flex-grid .testimonial {flex: 1.5;padding:120px 40px 60px;}
.flex-grid .contactbox {flex: 2;padding:50px}
.greybg .flex-grid {display:flex;}
.greybg {padding:75px 0px;}
#testsection {height: 290px;}
.testbox {margin: -180px auto 0 auto;}
.greybg .flex-grid{padding:25px 0 25px 0}
.narrow .bordertitle h1{font-size: 60px;line-height: 60px;top:3px;margin-bottom: 0;}
.bordertitle h1{font-size: 60px;line-height: 60px;top:-19px;margin-bottom: 0;}
.section-title .bordertitle h1{font-size: 60px;line-height:60px;top:42px;}
.section-title .subtitle{font-size: 22px;}
.section-title h2{font-size:3.0rem}
.section-title{margin: 20px auto 20px auto; position: relative;}
.servicesbg{padding:70px 0px 80px 0px}
.colorbox{padding:80px 0px}
.iconlist li strong{line-height:1.3}.iconlist li i{line-height:1.3}
.breadcrumb{padding:4px 0px 4px 0px;}
#hero {min-height: 60vh;}
#hero h1{font-size: 6rem;;margin: 0 0 0.6rem 0;line-height:5.8rem}
#hero .subtext{font-size: 1.5rem;}
#hero .text{padding:135px 0px 100px 0px}
.header2 .text  {padding: 85px 0px 100px 0px; }
.brandbox img{min-width:60%}
.hidebox{display:inline;}
.toolbar:after {width: 45%;}
#logo {padding:20px 0px 20px 15px;}
#header.is-sticky #logo img {max-width: 230px;}
#header.is-sticky #navbar #nav-main ul a:hover {padding:15px 15px 15px 21px;}
#nav-wrapper{height:146px;}
#nav-wrapper.is-sticky{height:101px;}

/* Content */
.content section {padding: 50px 0;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  :root { --spacer: 50px;}
.sidebar-grid {grid-template-columns: 3fr 1.5fr;}
.footer .servicelinks .col-md-6{width:50%;float:left;padding-left:0px;}
.flex-grid .testimonial {flex: 1.85;padding:113px 40px 60px;min-height:450px}
.narrow .col-md-6{padding:0px 35px}
.ctabox{ padding:25px;position: absolute;left:0px;bottom:-20px;width:50%;}
.greybg .flex-grid {display:flex;}
.greybg {padding: 80px 0px}
#testsection {height: 350px;}
.testbox {margin: -200px auto 0 auto;}
.subhead {margin:20px 0px 0px 0px;display: block;font-size: 16px;font-weight: 500;padding-left:10%;position: relative;color: #110729;text-transform: uppercase;}
.narrow .bordertitle h1{position: absolute;font-size: 60px;line-height: 60px;top:-19px;padding-left:35px;}  
.bordertitle h1{position: absolute;font-size: 60px;line-height: 60px;top:-20px;padding-left:15px;}  
#navbar #nav-main #hdr-request .btn-theme {padding:24px 20px;}
#hero {min-height: 65vh;}
#hero h1{font-size: 8.5rem;;margin: 0 0 0.4rem 0;line-height:8.2rem}
#hero .subtext{font-size: 1.85rem;padding-top:10px}
#hero .text{padding:100px 0px 120px 0px}
.header2 .text  {padding: 80px 0px 105px 0px;}
.toolbar:after {width: 40%;}
.colorbox img{padding:0px 20px;margin:0px 0px}
#logo img {max-width:250px }
#logo {padding:20px 0px}
#header.is-sticky #navbar #nav-main a {font-size: 1.0rem; padding:18px;line-height:11px}
#navbar #nav-main a {font-size:1rem;padding:15px 15px}
#header.is-sticky #navbar #nav-main ul a {font-size: 1.0rem; padding:15px;line-height:11px}
.footer .ftr-cols {grid-template-columns: auto auto auto auto auto;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
#navbar #nav-main a {font-size:1.1rem}
#navbar #nav-main #hdr-request .btn-theme {padding:22px 25px;margin-left:15px;}
.colorbox img{padding:0px 20px}
#hero h1{font-size: 10rem;;margin: 0 0 0.7rem 0;line-height:9.5rem}
#hero .subtext{font-size: 2.15rem;padding-top:10px}
#hero .text{padding: 50px 0px 120px 0px}
.narrow .bordertitle h1{position: absolute;font-size: 70px;line-height: 70px;top:-30px;padding-left:35px;}  
.bordertitle h1{position: absolute;font-size: 70px;line-height: 70px;top:-31px;padding-left:15px;}  
.section-title .bordertitle h1{font-size: 70px;line-height:70px;top: -40px;}
.brandbox img{min-width:50%}
#logo img {max-width:260px }
#logo {padding:20px 0px}
#header.is-sticky #logo img {max-width: 240px}
#header.is-sticky #navbar #nav-main a {font-size: 1.1rem; padding:18px}
#header.is-sticky #navbar #nav-main #hdr-request .btn-theme {padding: 18px 25px;}

#nav-wrapper{height:148px;}
#nav-wrapper.is-sticky{height:105px;}
}

/* ----------------------*/
/* -- MENU AND HEADER -- */
/* ----------------------*/
/* GLOBAL */
#header { -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;background:var(--darkblack);border: 0; margin:0; border-radius: 0; position: relative; font-family: var(--header); z-index: 100;}
#hero { -webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;}
#navbar ul {list-style: none; padding: 0; margin: 0;}
#navbar #nav-main > .nav-path-selected > a {color: var(--primary);}
#navbar #nav-main a {color: var(--light-text); font-weight: 400; text-decoration: none; padding: 15px; display: block;}
#navbar #nav-main a:hover {color: var(--light)}
#navbar #nav-main ul {border-left: 1px solid #ccc; margin: 0 0 1rem 1rem}
#navbar #nav-main ul a:hover {color: var(--light);background:var(--lightblack)}
#navbar #nav-main ul a{border-bottom:1px solid #000;border-top:1px solid #222634}

#myVideo {right: 0;bottom: 0;min-width: 100%;min-height: 100%;}

.content li{list-style-type:none;}
.flexed {flex-wrap: wrap;}
.subhead:before {content: '';height: 2px;width: 7%;background: var(--darkred);position: absolute;top: 45%;left: 0;}
.content ul{padding-inline-start:0px;}
.content .btn-theme{margin:30px auto 0px auto}
.narrow img {width: 100%; height: auto;}
.ctabox{color:#fff;background:var(--darkblue); }
.ctabox h4{color:#fff;}
.btn-more i {padding-left: 8px;}
.btn-more {font-weight:600}
.buttonbox {margin-top:18px;}
.buttonbox a{color:#fff;}
.buttonbox .btn-more  {width:100%;float:left;}
.buttonbox a:hover{color:var(--light-text);}
.servicegrid .buttonbox a{color:var(--dark-text)}
.servicegrid .buttonbox {border-top:1px solid #ddd;padding:25px;margin-top:auto;}
.services{margin:15px;background:#fff;display: flex;flex-direction:column;position:relative;box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);  transition: all .3s;}
.services::after {content: "";position: absolute;z-index: -1;top: 0;left: 0;width: 100%;height: 100%;box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);opacity: 0;  transition: all .3s;}
.services:hover {-webkit-transform: scale(1.03, 1.03);transform: scale(1.03, 1.03);}
.services:hover .buttonbox i{width:30px;height:30px;line-height: 30px;color:#fff;padding:0px;}
.services .buttonbox i{transition: all .25s linear 0s;color:#fff;margin-left: 10px;margin-right: 0;width:22px;height:22px;line-height: 22px;border-radius: 22px;background: var(--darkred);color: #fff;font-size: 11px;position: relative;text-align: center;padding:0px;}
.services .btn-more {height: 35px;display: flex;align-items: center;width:100%}
.topimage{ margin-bottom: 0;position: relative;overflow: hidden;  transition: all 2s;}
.topimage img{ transition: all .3s;}
.services:hover img{transform: scale(1.05)}
.imagebox{width:100%;float:left;max-height:490px;overflow:hidden}
.imagebox img{width:100%;margin:25px 0px}
.calloutbox{margin-top:auto;background:var(--darkred)}
.colorbox h2{color:#fff}
.colorbox h2::after {position: absolute;content: '';left: 0px;bottom: 0px;width: 45px;height: 2px;background-color: #fff;}
.colorbox h2::before {position: absolute;content: '';left: 0px;bottom: 0px;width: 100px;height: 2px;background-color: rgba(255, 255, 255, 0.5);}
.basicbox {margin:10px;background:#fff;display: flex;flex-direction:column;position: relative; }
.basicbox .buttonbox i{transition: all .25s linear 0s;}
.basicbox:hover .buttonbox i{width:30px;height:30px;line-height: 30px;color:#fff;padding:0px;}
.basicbox .buttonbox i{margin-left: 10px;margin-right: 0;width:22px;height:22px;line-height: 22px;border-radius: 22px;background: var(--blue);color: #fff;font-size: 11px;position: relative;text-align: center;padding:0px;}
.basicbox .btn-more {height: 35px;display: flex;align-items: center;width:100%}
.basicbox:hover img{transform: scale(1.1) }
p.date{font-size:13px}
.basicbox h3{margin:0px 0px 5px 0px;font-size:1.5rem;text-transform:none; transition: all 0.25s;}
.basicbox:hover h3{color:var(--lightbluehov);}
.postitionrelative{position:relative;width:100%;float:left}
.boxmain {margin:30px 15px;display: flex;flex-direction:column;position: relative; }
.centered{max-width:900px}
p.nogap{margin:0px}

/* .centered .btn-theme{background: var(--darkred);}
.centered .btn-theme a:hover{background: var(--primary);} */

/* ONLY MOBILE */
@media (max-width: 992px) {
#hdr-request {display: none;}
.mobile-menu {display: flex;}
#header .container {width: 100%; padding: 0;}
#toggle {background: var(--lightblack); color: #fff; display: flex; align-items: center; margin: 0; border-radius: 0; padding: 0 10px; text-transform: uppercase; font-weight: bold; font-size: 16px; justify-content: flex-end; flex-grow: 1;}
#toggle .fa {font-size: 22px; margin: 0 0 0 10px; line-height: 48px;color:#fff}
#navbar #nav-main {padding: 15px 0;}
.toolbar .container{width:100%}
}

/* TABLET */
@media (min-width: 768px) {
}

/* WIDE DESKTOP */
@media (min-width: 992px) {
.mobile-menu {display: none;}
.header-wrapper {display: flex; align-items: center;}

#header {padding: 0;}
#navbar {flex-grow: 1; padding: 0;}
#navbar #nav-main {display: flex; justify-content: flex-end; align-items: center;}
#navbar #nav-main a {padding: 20px 18px;}
#navbar #nav-main ul {position: absolute; left: 50%; margin-left: -125px; top: 105%; width: 250px; background:var(--darkblack);  display: block; visibility: hidden; opacity: 0; box-shadow: 5px 5px 20px rgba(0,0,0,.2); padding: 15px 5px; border: 0; border-top: 5px solid var(--primary);}
#navbar #nav-main ul:before {display: block; width: 10px; height: 10px; position: absolute; left: 50%; top: -10px; margin-left: -5px; content: "";
border-left: 10px solid transparent; border-right: 10px solid transparent;border-bottom: 10px solid var(--primary);}
#navbar #nav-main li {position: relative;}
#navbar #nav-main li:hover ul {opacity: 1; visibility: visible; top: 100%;}

}


@media (min-width: 1200px) {
}

/* Bootstrap Expand Nav Tablet Too */
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}







 