/* NEW DWCI FORM CSS */
.dwci-form {margin: 0 0 50px 0;}
.dwci-form h2 {font-size: 36px; color:#00539b; font-weight: 400; border-bottom: 1px dotted #ccc; text-align: center; padding: 0 0 20px 0; margin: 0 0 20px 0; position: relative;}
.dwci-form h2:after {border-left: 8px solid transparent; border-right: 8px solid transparent; border-top: 10px solid #97D800; position: absolute; bottom: -5px; left: calc(50% - 4px); content: "";}
.dwci-form form {font-size: 16px; padding: 2rem; border-radius: 15px; border: 1px solid #ddd; box-shadow: 0 0 15px rgba(0,0,0,.05); max-width: 600px; margin: 0 auto 2rem auto;}
.dwci-form .form-group {border-bottom: 1px dotted #ccc; padding: 1.5em 0; margin: 0;}
.dwci-form .form-group p {font-size: 14px; opacity: .7; font-style: italic;}
.dwci-form label {font-size: 1.25em; font-weight: 700; margin: 0;}
.dwci-form label.form-check-label {font-size: 1em; font-weight: 400;}
.dwci-form .form-control {border-radius: 3px !important; background: #f9f9f9;}
.dwci-form #donation-form input[type="checkbox"], input[type="radio"] {margin: 2px 0;}
.dwci-form .form-actions {margin-top: 2em;}
.dwci-form .form-actions .btn-primary {border: none; padding: 15px 25px; font-size: 1em; letter-spacing: .5px; display: block; font-weight: 500; width: 100%;}

.dwci-form .form-flex {display: flex; gap: .5em;}
.dwci-form .form-group {display: grid; gap: .5em;}
@media (min-width: 992px) {
.dwci-form form {padding: 4rem;}
}