/* CSS Document
Client: Starter File
Company: Informatics, Inc
Author: Jeff S
Date: Aug 2022
*/

@import "base/reset";
@import "base/animations";
@import "layout/header";
@import "layout/footer";
@import "layout/blog";
@import "components/slider";
@import "components/slider-custom";
@import "themes/base";
@import "themes/custom";
