/* CSS Document
Client: Informatics Starter Theme
Company: Informatics, Inc
Author: Jeff S
Date: Jan 2024
*/

// Abstracts
// @import "abstracts/mixins"; 
// @import "abstracts/utility";

// Vendors 
// @import "vendors/flickity";
@import "vendors/wpcols-for-demo";  // can delete once in WP

// Core
@import "core/reset";
@import "core/animations";
@import "theme/brand"; // fonts, colors, typography

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/blog";

@import "components/custom/hero";
@import "components/custom/content";
@import "components/custom/testimonials";
@import "components/custom/resources";
@import "components/custom/video-hero";

@import "components/standard/theme-img";
@import "components/standard/theme-cards";
@import "components/standard/theme-headers";

@import "components/wp-overrides/list";
@import "components/wp-overrides/buttons";



// @import "components/standard/cards";


// Wordpress Theme 
// @import "theme/layout"; // enhance WP layout ux
// @import "theme/brand"; // fonts, colors, typography
// @import "theme/block_styles"; // extend WP core blocks
// @import "theme/buttons"; // style WP buttons

// // Theme Layouts
// @import "layout/header_top";
// @import "layout/header";
// @import "layout/footer";
// @import "layout/blog";

// Core Components
// @import "components/standard/hero";
// @import "components/standard/page-headers";
// @import "components/standard/image_blocks";
// @import "components/standard/cards";
// @import "components/standard/sidebar"; 
// @import "components/standard/cta"; 
// @import "components/standard/contact_form";
// @import "components/standard/accordion";

// // Custom Components
// @import "components/custom/add-new-here";