.hero-content {padding: var(--side-padding);}
.feed {background: var(--primary-dark); overflow: hidden;}

.hero-search {position: relative;}
.hero-search input {width: 100%; padding: 15px; border-radius: 10px; box-shadow: 0 10px 20px rgba(0,0,0,.2); border: none;}
.hero-search button {position: absolute; right: 0; top: 0; padding: 15px; color: var(--accent-1); border: none; background: none;}
.hero-tools {display: grid; gap: 15px;}
.hero-tools .flex {flex-wrap: wrap; gap: 15px;}
.hero-tools .flex a {width: 100%;}

.feed {padding: var(--spacer) 0;}
.flickity-button {background: rgba(255,255,255,.25); border: 2px solid #fff; color: #fff; transition: var(--transition);}
.flickity-prev-next-button.previous {left: 20px;}
.flickity-prev-next-button.next {right: 20px;}
.flickity-button:hover {background: var(--accent-2);}
.flickity-page-dots {bottom: -35px;}
.flickity-page-dots .dot {background: #fff; margin: 0 4px; width: 7px; height: 7px;}
.flickity-page-dots .dot.is-selected {background: var(--accent-2);}

.gallery-cell {width: 70%; padding: 0 15px;}
.gallery-cell .card {width: 100%; opacity: .15; transition: var(--transition); box-shadow: none; background: none;}
.gallery-cell .card figure {border-radius: var(--border-radius-sm);}
.gallery-cell .card .content {color: var(--text-color-inverse); padding: var(--spacer) 0;}
.gallery-cell .card .content h3 {color: #fff;}
.gallery-cell .card .content h3 {color: #fff;}
.gallery-cell .card .content .wp-element-button {color: #fff;}

.gallery-cell.is-selected .card {opacity: 1;}

/* TABLET */
@media (min-width: 768px) {
.hero-content {padding: 100px;}
.hero .feed {padding: 75px 0;}
.hero-tools .flex {flex-wrap: nowrap;}
}


/* WIDE DESKTOP */
@media (min-width: 992px) {
.hero {display: grid; grid-template-columns: var(--side-width) 1fr 1fr var(--side-width); align-items: center;}
.hero .hero-content {grid-column: 2; padding: 50px 0; position: relative; z-index: 5;}
.hero .feed {grid-column: 3 / span 2; border-radius: var(--border-radius-xl) 0 0 var(--border-radius-xl);}
.hero-tools {width: calc(100% + 50px);}
.hero-tools .flex {flex-wrap: nowrap; gap: 10px;}

.feed {padding: 50px 0 100px 0;}
.flickity-prev-next-button.previous {top: 105%; left: 17%;}
.flickity-prev-next-button.next {top: 105%; right: auto; left: calc(17% + 50px);}

.hero h1 {font-size: 4.5rem; padding-right: 150px;}
.hero-content p {padding-right: 100px;}
}

/* WIDE DESKTOP */
@media (min-width: 1500px) {
    .gallery-cell {width: 50%;}
}

