.footer {position: relative; background: var(--primary); z-index: 5; padding: var(--spacer-vert) 0 0 0; color: var(--text-color-inverse);}
.footer > img {position: absolute; top: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; opacity: .3; mix-blend-mode: multiply;}
.ftr-cols .text { margin: 1.25rem 0 0 75px;}
.ftr-cols .text a {color: #fff;}
.ftr-cols {display: flex; flex-wrap: wrap; gap: 2rem; justify-content: space-between;}
.ftr-cols  .col img {max-width: 225px;}
.ftr-cols h3 {font-size: 1.25rem;}
.ftr-cols ul {list-style: none; padding: 0;}
.ftr-cols ul a {color: var(--text-color-inverse); opacity: .75; display: block; padding: 5px 5px 5px 0}
.ftr-cols ul a:hover {color: #fff; text-decoration: none; opacity: 1; padding: 5px 0 5px 5px;}
.ftr-copy {margin: var(--spacer-vert) auto 0 auto; width: 100%; text-align: center; color: var(--text-color-inverse); padding: 25px 15px; background: rgba(0,0,0,.2); font-size: .85rem;}
.ftr-copy a {color: var(--text-color-inverse);}
@media (min-width: 992px) {
.footer .footer-content {padding: 100px 25px;}
}