/* WP Button Styles */
/* Primary */
.wp-block-buttons {margin: var(--spacer) 0;}
.wp-block-button__link{background: var(--primary); padding: .75rem 1.65rem; color: #fff; text-align: center; border-radius: 35px; text-decoration: none; font-weight: 700;position: relative; z-index: 5; }
$color:var(--primary);
.wp-block-button__link{transition:all .3s;overflow:hidden;z-index:1;
&:before{content:'';position:absolute;bottom:0;left:0;width:0%;height:100%;background:var(--primary-dark);transition:all .3s;border-radius:10rem;z-index:-1;}
&:hover{color:#fff;&:before{width:100%;}
}
}

/* Navbar button Light */
nav a:nth-last-child(2)  {border:solid 1px var(--primary);background:#fff; padding: .65rem 1.65rem; color: var(--primary); text-align: center; border-radius: 35px; text-decoration: none; font-weight: 700;position: relative; z-index: 5;transition:all .3s;overflow:hidden;z-index:1;
    &:before{content:'';position:absolute;bottom:0;left:0;width:0%;height:100%;background:var(--primary);transition:all .3s;border-radius:10rem;z-index:-1;}
    &:hover{color:#fff;&:before{width:100%;}
    }
    }

/* Text */
.is-style-btn-text {position:relative}
.is-style-btn-text .wp-block-button__link {background: none; padding: 1rem 0; color: var(--primary); box-shadow: none;overflow:visible}
.is-style-btn-text .wp-block-button__link:before {display: none;}
.is-style-btn-text .wp-block-button__link:after{content:'\f061';font-family:'Font Awesome 5 Free';font-weight:900;position:absolute;right:-20px;bottom:5px;transform:translateY(-50%) rotate(-45deg);transition:var(--transition);}

.is-style-btn-text .wp-block-button__link:hover {color: var(--primary-dark);}
.is-style-btn-text .wp-block-button__link:hover:after {right:-25px;bottom:10px}

/* Secondary */
.is-style-btn-secondary .wp-block-button__link {background: var(--secondary);}
.is-style-btn-secondary .wp-block-button__link:hover {background: var(--hover);}