/* BG-Image-Call Out */
.bg-image-sec img{position:absolute;width:100%;height:100%;object-fit:cover;object-position:center;z-index: -5;}
.bg-image-sec{position:relative;overflow:hidden}
.corner-left{background: url(../img/gradient-corner-left.png);position:absolute;left:0;top:0;width:410px;height:215px;z-index: -1;}
.corner-right{background: url(../img/gradient-corner-right.png);position:absolute;right:0;bottom:0;width:410px;height:215px;z-index: -1;}

.callout-box {padding:45px}
/* ONLY MOBILE */
@media (max-width: 991px) {
.callout-box {padding:25px}
}