/* Call-Out Cards */
.card-img-top{position:relative;height:250px;overflow:hidden;border-radius: 0;}
.card-img-top img{height:250px;width:100%;object-fit: cover;object-position: center;margin:0 auto}
.card-body{padding:40px 50px}
.card-body{padding:25px 20px}
.card{border:none;transition:var(--transition);border-radius:0px;filter:var(--shadow);}
.card:hover{ filter:var(--shadow-hover);}
.card h4{font-size:2.5rem;line-height:2.75rem;margin-bottom: 0.6rem;}


/* Call-To-Action Cards */
.cta-cards-color .card{display:flex;background:var(--primary)!important;padding:20px;text-align: center;color:#fff;font-weight:300;font-size:1.5rem;line-height:1.75rem;filter:var(--shadow);}
.cta-cards-color .card .icons{height:70px;width:auto;margin:0 auto}
.cta-cards-color .card-img-top{height:auto;padding:1.5em 1.5em 1em 1.5em}
.cta-cards-color p{margin-bottom:1.5em}

/* News Cards */
.info .card-img-top{position:relative;height:250px;overflow:hidden;border-radius: 0;}
.info .card-img-top img{transition:var(--transition);height:250px;width:100%;object-fit: cover;object-position: center;}
.info .card:hover .card-img-top img{ transform: scale(1.1);}
.info .card-body{padding:35px 0px}
.info .card{border:none;filter:none}
.info-box{font-weight:700;text-transform:uppercase;font-family:var(--bold-condensed);font-size:1.10rem;bottom:0px;left:0;padding:5px 10px;position: absolute;text-align: center;color: #fff;z-index: 1;background-color: var(--tertiary);}

.cta-cards-color p{margin-bottom:1.5em}

/* Generic Cards */
.generic .card-img-top{position:relative;height:170px;overflow:hidden;border-radius: 0;}
.generic .card-img-top img{height:100%;width:auto;object-position: bottom;object-fit:contain;}
.generic .card-body{padding:15px 0px}
.generic .card{border:none;filter:none;padding:15px}
.generic .h4{text-transform:none;}
.generic .card:hover{filter:none;}

/* Carousel Cards */
.carousel-item .card:hover,.carousel-item .card{ filter:var(--shadow-small);}

/* Project Listing Cards */
.project-listing .card-footer{padding:20px;background:#fff;border:none;}
.project-listing .card-img-top{position:relative;height:450px;overflow:hidden;border-radius: 0;}
.project-listing .card-img-top img{height:450px;width:100%;object-fit: cover;object-position: center;margin:0 auto}

@media (min-width: 992px) {
.project-listing .card-img-top{height:250px}
.project-listing .card-img-top img{height:250px;}
}
@media (max-width: 450px) {
 .project-listing .card-img-top{height:250px}
 .project-listing .card-img-top img{height:250px;}
}
