.details-info{width:80%;padding:25px;background:#fff;filter:var(--shadow);position:relative;margin:-40px auto 20px auto}
.details-info .info-box{position:relative;display:inline;}
.details-info h2{font-size:2rem;line-height:2.1rem;margin:25px 0 1.25rem 0;text-transform: uppercase;}

@media (min-width: 992px) {
  .details-info{max-width:400px;position:absolute;margin:0px auto;left:50px;bottom:-50px }
}

