
.colorbg{--bg-image: url('../img/bluebg-img1.jpg');--bg-image-opacity:0.2;display:grid;position:relative;isolation: isolate;background:var(--primary);}
.colorbg::after { content: "";position: absolute;z-index:-1;inset:0;opacity:var(--bg-image-opacity);background-image:var(--bg-image);background-size: cover;background-position:center;}

.margin-overlay{margin-top:30px;margin-bottom:-30px;}
.quote-box{filter:var(--shadow);background:#ffffff;}
.colorbg .quote-box{background: url(../img/angles-texture.jpg) no-repeat calc(100% + 100px) 50% #ffffff; background-size:65%;}
.quote-marks{background: url(../img/quote-marks.png) no-repeat;background-size: 100%;background-position:center;width:35px;height:35px;margin:0 auto}
.quote-box p{font-size:1.5rem;padding:30px;font-weight:300;}
.quote-box p:last-child{margin-bottom:0}
.name{font-size:1.125rem;font-weight:bold;display: block;margin-top:25px}
.title{font-size:0.875rem;font-weight:normal;font-style:italic;display: block;}


@media (min-width: 768px) {
    .margin-overlay{margin-top:60px;margin-bottom:-60px;}
  }


/* ONLY MOBILE */
@media (max-width: 991px) {
    
    .quote-box{width:92%;margin:0 auto;overflow: hidden;}
    .margin-overlay{margin-top:20px;margin-bottom:-20px;}
}