.stat-container{display:flex;}
.vert-align-center{align-items: center;}

.stat {text-align: center;}
.stat .number {font-size: 5.0rem; line-height: 5.0rem; color: var(--primary);display: block; font-weight: 300;filter: drop-shadow(0px 2px 3px #ccc);}
.stat .blurb {display: block; font-size:1.188rem;line-height: 1.5rem }
.src{display:block;font-size:1rem;font-style:italic}

@media (min-width: 992px) {
.stat .number {font-size: 6.25rem;line-height: 6.3rem; }
.stat .blurb {font-size:1.188rem;line-height: 2rem }
}

@media (min-width: 1500px) {
.stat .number {font-size: 7.25rem;line-height: 7.5rem; }
.stat .blurb {padding:0px 40px;}
}