.accordion-content {
    height: 0;
    overflow: hidden;
}
.accordion-content p:first-of-type {
    padding: var(--space-5) 0 0 0;
}
.accordion-content p:last-of-type {
    margin: 0;
    padding-bottom: var(--space-5);
}
.accordion-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    background: none;
    border: None;
    font-size: var(--font-lg);
    border-bottom: 1px solid var(--tan-300);
    padding: var(--space-5) 0;
}

.accordion-item .ph-light {
    transition: transform 0.3s ease;
    background: var(--green-100);
    place-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    padding: 4px 0 0 0;
    font-size: 1rem;
}

.accordion-item.active .ph-light {
    transform: rotate(45deg);
    /* plus → close */ }