:root {
    --primary-color: #0064a3;
    --primary-dark: #00446f;
    --secondary-color: #f59c00;
    --link-hover:#0087db;
    --bs-pagination-active-bg: #0064a3;
    --bs-pagination-color: #0064a3;
}

body{font-family: 'Open Sans', sans-serif;font-size:1.05rem;}
.main-content {width: 100%;}
p{font-size:1.1rem}

h1,h2,h3,h4,h5,h6 {font-family: 'Open Sans', sans-serif!important;font-weight:600}
h2{font-size: 2.15rem;line-height:2.75rem;}
h4{font-size: 1.75rem;}
.main-content-inner h1,.main-content-inner h2,.main-content-inner h3,.main-content-inner h4,.main-content-inner h5,.main-content-inner h6 {margin: 0px 0px 10px 0px;font-family: 'Open Sans', sans-serif!important;font-weight:600}
.page-link{ color:var(--primary-color)}
.page-link:hover{ color:var(--link-hover)}
.ship-dashboard .btn{border-radius:0.3rem;font-size: 1rem; padding:10px 18px;}

.bg-secondary-color{background-color:var(--secondary-color);}
.bg-secondary-color .text-white p{color:#ffffff!important}

/* Sidebar */
.sidebar-menu {background: var(--primary-color);}
.metismenu li a {color:rgba(255, 255, 255, 0.90); padding:9px 15px;}
.metismenu li a i ,.metismenu li a:after{color:rgba(255, 255, 255, 0.85);}
.sidebar-menu .badge.badge-light{color:var(--primary-color)}
.metismenu >li:hover>a,
.metismenu >li.active>a {color: #fff;background: var(--primary-dark);}
.sidebar-header {background: #fff;border-bottom: 1px solid  var(--primary-dark);}
hr.sidebar-divider {margin: 0 1rem 1rem;border-top: 2px solid #fff;}
.metismenu li a {font-size: 16px;}
.ship-icon{max-width:30px;margin-bottom:5px;margin-right:10px}

/* Toolbar */
.page-title-area {padding: 15px 30px;}
.user-profile{background:#fff;display:block;text-align:left;transition: 0.3s;margin-left:20px;padding:0px 20px;border-left:solid 1px #ccc;}
.user-profile h4{transition: 0.3s;}
.user-profile:hover h4{color:var(--link-hover)}
.header-area .nav-btn {margin: -4px 30px 0 0;font-size:0.75rem}
.header-area .nav-btn span {width:28px;background: #777;box-shadow: none;margin:4px auto}
.user-name {color:var(--primary-color);font-size:1rem;padding:0px}
.user-title{color:#5a5c69;font-size:0.8rem;line-height: 0.8rem;padding:5px 0px 0px 0px}
.breadcrumbs li a {color:var(--primary-color);}
.search-box input {background: #edf0f3;}
.btn-primary:hover {background: var(--link-hover);}
.btn-primary {background: var(--primary-color);border:none}
.header-area .btn-primary i{display:none;}
.header-area .btn-primary {margin:5px 0px;font-size:1.1rem;padding:10px 15px; border-radius: 5px; box-shadow: 5px 5px 10px rgba(0,0,0,.1); font-size: .9rem;}
.hide-prof{display: none;}
.fav-page i{padding-right:7px}
a.fav-page {color:#5a5c69}
a.fav-page:hover {color:var(--primary-color)}
.page-title {margin-right: 25px;}

.search-box input::-webkit-input-placeholder {color: #333;}
.search-box input::-moz-placeholder {color: #333;}
.search-box input:-ms-input-placeholder { color: #333;}

/* FAQ*/
.gradiant-bg .card-header a{background:var(--primary-color);}
.sidebox{padding:15px;border-radius: 4px;background:#fff;}
.sidebox .sidenav,.sidebox a,.cat-title{border-bottom:solid 1px #ccc;padding:15px 10px;transition: 0.3s;color:#5a5c69}
.sidebox .sidenav:nth-last-child(-n+1) {border-bottom:none}
.sidebox .sidenav:hover,.sidebox .sidenav.active{background:var(--primary-color);color:#fff}
.cat-title{color:var(--primary-color);font-weight:600}
.according .card-header a {padding: 16px 35px 16px 15px;line-height: 1.75rem;font-size: 1rem;}
.according .card-body {font-size: 1rem;}
.header-title{font-size: 1.75rem;margin-top:5px;color:var(--primary-color)}

/* Resource Library */
.resources a .card-title{font-size:1.65rem;line-height:2.1rem;color:var(--primary-color);text-decoration: none;transition: 0.3s;}
.resources a .card-title:hover{color:var(--link-hover);}
.resources .card,.callout-boxes .card{padding:30px;transition: 0.3s;width:100%; background: #fff;}
.resources .card:hover{box-shadow: 0 .55rem 1.75rem 0 rgba(0,11,40,.10) !important;}
.resources .card-footer{background:none;padding:30px 0px 0px 0px;margin-top:30px}
.resource{background:#edf0f3;padding:20px}
.resources label{font-size:0.9rem}

/* Toolbox */
.callout-boxes .card-body,.resources .card-body{padding:0px}
.callout-boxes .card-footer{background:none;padding:0px 0px 0px 0px;margin-top:5px;border-top:none}
.callout-boxes .card{padding:25px;}
.toolbox li{margin:10px 0px}
.toolbox hr{margin:35px 0px}
.content-area{padding:25px;margin-right:15px}
.resource li{margin:5px 0px}


/* Footer */
.footer-area{text-align:left;padding: 2rem;color:#5a5c69;border-top:#d4d7e6 solid 1px;margin-top:40px;flex-shrink: 0;line-height: 1rem;font-size: 0.7rem;}

.ship-icon { margin: 0 1rem 0 0;}

@media  (max-width: 1365px) {
    .nav-btn {background:#f1f1f1;}
}
@media (min-width: 240px) and (min-width: 748px){
.mobile-nav-area{display:none}
.content-area{margin-left:15px}

}

@media (min-width: 240px) and (max-width: 748px){
.hide-prof{display: block;margin-right:15px;width:100%;text-align: left;}
.user-profile{margin:0px;padding:0px;margin-top:15px;border-left:none}
.show-prof{display: none;}
.fav-page span{display:none}
.fav-page i{font-size:1.1rem}

.page-title {margin-right: 20px;}
.header-area .col-sm-6,.header-area .col {flex: 1 0 100%;}
.notification-area{display:none}
.page-title-area::before {display:none}
.page-title-area{padding:25px}
.offset{margin-left:0px;}
.content-area{margin-left:15px}

}
@media  (min-width: 1200px) {
    .ship-icon {width: 1px; opacity: 0; margin: 0;}
    .sbar_collapsed .ship-icon {width: 50px; opacity: 1; margin: 0 1rem 0 0;}
}