/* GLOBAL */
#hdr-top {background: var(--light-gray);border-top:5px solid var(--primary);border-bottom:solid #ccc 1px; text-align: center; color: var(--text-color); padding: .60rem 0 .55rem 0; font-size: 82%;}
#hdr-top p {margin: 0;}
#hdr-top ul { list-style: none; padding: 0; margin: 0; display: flex; gap: 2rem; justify-content: center;}
#hdr-top ul li {position: relative;margin:0}
#hdr-top ul li:after {width: 1px; height: 1rem; display: block; position: absolute; left: -2rem; top: 2px; background: #737373; opacity: .5; content: ""; margin: 0 1rem;}
#hdr-top ul li:first-of-type:after{display: none;}
#hdr-top ul a {color: var(--text-color);text-decoration: none;font-weight:700}
#hdr-top ul a:hover {color: var(--primary-light); text-decoration: none;}
#hdr-top .container{display:flex;justify-content:space-between;align-items:center;gap:1rem;}
#hdr-top ul{display:flex;align-items:center;}

@media (max-width: 991px) {
#hdr-top ul li.hidden-sm:after{display: none;}
}

/* TABLET */
@media (min-width: 768px) {
#hdr-top .container {display: flex; justify-content: space-between;}
}
@media (min-width: 992px) {
#hdr-top em{font-family:var(--accent-text);font-size:1.1rem}
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
}

/* SUPER WIDE DESKTOP */
@media (min-width: 1500px) {
}



