/* TYPOGRAPHY */
html {
  font-size: 100%;
}

body {
  font-family: var(--body);
  font-weight: 400;
  font-size: 1rem;
  background: var(--bkg);
  color: var(--text-color);
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1,
h2, .h2-like,
h3,
h4,
h5 {
  font-family: var(--header);
  line-height: 1;
  margin: 0 0 1rem 0;
  font-weight: 500;
  letter-spacing: 0;
  color: var(--blue);
}

h1 {
  font-size: 3.5rem;
  line-height: 1;
}

h2, .h2-like {
  font-size: 3.25rem;
}

h3 {
  font-size: 2rem;
  
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.4rem;
}

p,
ul,
ol {
  margin-bottom: 1.25rem;
}

p strong {
  color: #222;
}

ul {
  padding: 0 0 0 15px;
}

ul li::marker {
  color: var(--accent-2);
}

blockquote {
  font-size: 150%;
  font-family: var(--serif);
  font-style: italic;
}

.loud-text {
  font-size: 10rem;
  text-align: center;
}

/* Links */
a {
  transition: var(--transition);
  color: var(--theme-primary);
  text-underline-offset: 4px;
  text-decoration-color: var(--green);
}

p a {
  text-decoration: underline;
  color: var(--darkgreen);
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
}

p a:hover {
  text-decoration: none;
}


.is-style-bigger {
  font-size: 1.1rem;
}

.cta-list {
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
}

.cta-list a {
  font-family: var(--header);
  font-size: 1.25rem;
  color: var(--text-color);
}

.object-fit {
  position: relative;
}

.object-fit>* {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h2.pretty {
  text-wrap: balance;
}

.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
  margin: 2rem auto;
  column-gap: 2rem;
  
}

.feature-list li {
  padding: 1.5rem 0;
  color: var(--blue);
  font-weight: 500;
  border-top: 2px solid var(--blue);
  display: block;
}
// .feature-list li:hover {
//   border-top-style: dashed;
// }
/* TABLET */
@media (min-width: 768px) {}

/* DESKTOP */
@media (min-width: 992px) {
  :root {
    
  }

}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
  :root {

  }
}
@media screen and (min-width: 1800px) {
  body {
    font-size: 1.15rem;
  }
}