
.theme-cta {text-align: center;}
.theme-cta h2 {max-width: 80%; margin: 0 auto 2rem auto;}
.theme-cta p {opacity: .85;}
.theme-cta .warble {color: var(--green);}
.theme-cta .btn-theme {
    padding-inline: 3rem;
    text-align: center;
    // font-size: 1.25rem;
}
.green {color: var(--green) !important;}