/* Accordian */
.accordion{padding:18px; margin: 0;background:var(--light);border:solid #eee 2px;border-radius:20px}
.accordion-item {margin:10px 0}

.accordion-collapse.collapsed {height: 0;overflow: hidden;-webkit-transition-delay: 0.2s;transition-delay: 0.2s;transition: height 0.2s ease;}
.accordion-collapse.show {height: auto;}

.accordion-item h3 {padding: 1.45rem 2rem; font-size: 1.35rem; display: flex; justify-content: space-between; align-items: center; margin: 0; gap: 2rem; font-weight: 400; line-height: 1.4;background:#fff;border-radius:150px;border:solid #eee 1px;color:var(--primary);letter-spacing:1px}
.accordion-item h3 .fa {color: var(--primary); font-size: 20px;transform: rotate(180deg); transition: var(--transition);}
.accordion-item h3:hover {cursor: pointer;}
.accordion-item .accordion-body {padding: 2rem;}
.accordion .accordion-item:last-of-type h2 {border-bottom: none;}
.accordion-item .accordion-body p:last-of-type {margin: 0;} 
.accordion-item h3.collapsed .fa {transform: rotate(0deg);}
h3.collapsed{height:auto;}

.fa-chevron-circle-down::before,.fa-circle-chevron-down::before{content:"+";}


@media (min-width: 992px) {
 }

