.card .wp-block-buttons{margin-top:auto;margin-bottom: 0;}
.card {position: relative; box-shadow: 0 10px 25px rgba(0,0,0,.1);  transition: box-shadow .5s; border-radius: var(--border-radius-lg); overflow: hidden; background: #fff;display: flex;flex-direction:column;}
.card .content p.date:last-of-type {margin-bottom:20px}

.card figure {overflow: hidden; margin: 0; aspect-ratio: 1.5 / 1;}
.card figure img {width: 100%; height: 100%; object-fit: cover;}
.card .content {padding: var(--spacer);display:flex;flex-direction:column;flex-grow:1}
.card .content p:last-of-type {margin: 0;}

/* Icon Cards */
.icon-card{position:relative;background:#fff;display:grid;grid-template-columns:1fr;gap:10px;}
.icon-holder{position:relative;width:66px;height:66px;background:var(--secondary);display:flex;align-items:center;text-align:center;align-content:center;padding:10px;border-radius:12px;transform:scale(1) translateX(0%) rotateZ(calc(-1 * (11 * 1deg)));transform-origin:0 100%;transition:all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);z-index:1;}
.card.icon-card .content{gap:20px;}
.card:hover .icon-holder{transform:scale(1) translateX(0%) rotateZ(calc(-1 * (0 * 1deg)));}
.icon-card:after{background:#09f url(../img/shadow.jpg);transition:var(--transition);width:120px;height:15px;position:absolute;left:0px;z-index:0;top:80px;content:"";background-size:cover;}
 .card:hover.icon-card:after{width:120px;width:90px;height:10px;left:10px;top:84px;}

 /* Bio Cards */
.card.bio-card  figure {overflow: hidden; margin: 0; aspect-ratio: 0.85 / 1;}
h5.name{margin-bottom:5px;font-size:1.1rem;letter-spacing: 0px;}
.bio-card p{font-size:0.85rem}
.card.bio-card  .content {padding: 15px 23px 10px 23px}

.card.bio-card.single {margin-top:-80px;z-index: 9;}
.card.bio-card.single .content {padding: 35px 25px 20px 25px}
.card.bio-card.single .sec-nav  {margin: 25px 0 10px 0}


/* Hovers */
.card:hover{box-shadow:var(--box-shadow-lg)}
.card h3 a{color:var(--text);text-decoration: none;font-weight:400}
.card:hover h3 a{color:var(--primary)}
.card img{ transition:var(--transition)}
.card:hover figure img{transition:var(--transition);transform:scale(1.08)}

/* TABLET */
@media (min-width:768px){
.card.bio-card.single {max-width:90%}
.icon-card:after{width:120px;height:15px;left:5px;z-index:0;top:86px;}
.card .content{padding:30px 30px 20px 30px}
.card{height:100%;}
.card:hover.icon-card:after{width:120px;width:90px;height:10px;left:12px;top:90px;}
}

@media (min-width: 992px) {
    .card.bio-card.single .content {padding: 45px 35px 10px 35px}
    .card.bio-card.single {margin-top:-110px;z-index: 9;}
    }

@media (min-width: 1200px) {
    .card.bio-card.single {margin-top:-120px;z-index: 9;}
    .card{height:100%;}
}
