.hero{position: relative;}
.hero::before{content:"";position:absolute;bottom:0;left:0;width:280px;height:100%;background:url("../img/pineapple-header.svg") no-repeat 0% 50%;z-index:-1;pointer-events:none;}

.hero .theme-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    padding-right:25px;
    padding-left:25px
    }
    .hero .theme-img img{height:100%;}

    .hero .theme-img img:nth-child(1){ grid-area: 1 / 1 / 4 / 2; }
    .hero .theme-img img:nth-child(2){ grid-area: 4 / 1 / 6 / 2; }
    .hero .theme-img img:nth-child(3){ grid-area: 1 / 2 / 3 / 3; }
    .hero .theme-img img:nth-child(4){ grid-area: 3 / 2 / 6 / 3; }

    .hero .theme-img img:nth-child(1){border-radius:400px;}
    .hero .theme-img img:nth-child(2){border-radius:400px 400px 400px 40px;box-shadow:var(--box-shadow-lg)}
    .hero .theme-img img:nth-child(3){border-radius:400px 40px 400px 400px;box-shadow:var(--box-shadow-lg)}
    .hero .theme-img img:nth-child(4){border-radius:400px;}

.hero-content {padding: var(--side-padding);}
.hero h1 {font-size: 2.7rem;line-height:1.2}
.hero h1 em {color:var(--primary)}

.hero-search {position: relative;}
.hero-search input {width: 100%; padding: 15px; border-radius: 10px; box-shadow: 0 10px 20px rgba(0,0,0,.2); border: none;}
.hero-search button {position: absolute; right: 0; top: 0; padding: 15px; color: var(--accent-1); border: none; background: none;}
.hero-tools {display: grid; gap: 15px;}
.hero-tools .flex {flex-wrap: wrap; gap: 15px;}
.hero-tools .flex a {width: 100%;}

/* TABLET */
@media (min-width: 768px) {
.hero-content {padding: 50px 25px;}
.hero-tools .flex {flex-wrap: nowrap;}
}

/* WIDE DESKTOP */
@media (min-width: 992px) {
.hero .theme-img {max-height:680px;}
.hero {display: grid; grid-template-columns: var(--side-width) 1fr 1fr var(--side-width); align-items: center;}
.hero .hero-content {grid-column: 2; position: relative; z-index: 5;}
.hero-tools {width: calc(100% + 50px);}
.hero-tools .flex {flex-wrap: nowrap; gap: 10px;}

.hero h1 {font-size: 3.5rem;line-height:1.2}
.hero p{margin:30px 0 40px 0;font-size:1.1rem;padding-left:35px;position:relative;text-align:left}
.hero p:before{content:"";position:absolute;left:0;top:0;height:100%;width:4px;
background-color:var(--secondary);}
.hero .theme-img{padding-left:50px}
}

@media (min-width: 1100px) {
.hero {grid-template-columns: var(--side-width) 450px auto var(--side-width);}
.hero .hero-content {padding: 50px 0;}
}
/* WIDE DESKTOP */
@media (min-width: 1500px) {
    .gallery-cell {width: 50%;}
}

