/* CSS Document
Client: Starter File
Company: Informatics, Inc
Author: Jeff S
Date: Aug 2022
*/

/* Variables */
:root {
  accent-color: var(--primary);
  --primary: #3C613F;
  --secondary: #D95447;
  --tertiary: #D2D827;
  --light: #F1EDEA;
  --dark: #2C2923;
  --dark-green: #242E25;
  --spacer: 25px;
  --grid-spacer-med: 25px
  --text: rgba(0,0,0,.85);
  --light-text: rgba(255,255,255,.75);
  --header: 'Lato', serif;
  --body: 'Lato', sans-serif;
  --serif: 'Georgia', serif;
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --shadow: 0 5px 25px rgba(255,161,0,.15);
  --light-gradient: linear-gradient(35deg, rgba(253,247,238,1) 0%, rgba(245,228,203,1) 100%);
  --side-width: calc( (100vw - var(--max-width))/2 );
  --grid-gap-sm: 5px;
  --grid-gap-md: 15px;
  --grid-gap-lg: 25px;
  --skinny: 800px;
}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: #fff; color: var(--text); 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;
font-feature-settings: "liga";
text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {font-family: var(--header); font-weight: 800; letter-spacing: -1px; margin: 0 0 1rem 0; line-height: 1;}
h1 {font-size: 3rem;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
p, ul, ol {margin-bottom: 1.5em;}
img {max-width: 100%; height: auto;}
hr {margin: 25px 0;} 
a {transition: var(--transition);}
.preheader {text-transform: uppercase; color: var(--secondary); letter-spacing: 1px; font-weight: 800; margin: 0 0 .5rem 0;}
.callout {font-weight: 700; font-style: italic; color: var(--tertiary); font-size: 1.25rem;}
.highlight {position: relative; z-index: 5;}
.highlight:after {position: absolute; left: 0; top: 0; width: 100%; height: calc(100% + 15px); background: url(../img/highlight.png) center center no-repeat; content: ""; background-size: contain; z-index: -1;}
.link-list {list-style: none; padding: 0;}
.link-list li a {font-size: 1.25rem; text-decoration: none;}
.link-list li a:hover {text-decoration: underline;}
.link-list li::before {content: "\f138";font-family: FontAwesome; color: var(--primary); margin: 0 5px 0 0;}
input {accent-color: var(--primary);}
img + h2, img + h3, img + h4, img + p, img + p.preheader {margin-top: 2rem;}
.box {background: var(--light); padding: 25px;}
.lead {font-size: 1.5rem; font-weight: 400;}

/* Buttons Links */
a {color: var(--primary);}
a:hover {text-decoration: underline; color: var(--primary);}
.btn-theme {display: inline-block; padding: 10px 15px; color: #fff; text-transform: uppercase; color: #fff; background: var(--secondary); font-weight: 800; border-radius: 0 10px 0 10px; text-decoration: none; border: 2px solid var(--secondary);}
.btn-theme:hover {color: #fff; text-decoration: none;}
.btn-theme + .btn-theme {margin-left: 10px; color: #fff; background: var(--secondary);}
a.btn-theme:hover {box-shadow: inset 0 0 0 3px rgba(0,0,0,.25); background: var(--secondary);}

/* Layout */
.content section {padding: var(--spacer) 0;}
/* .content img {margin-bottom: 2rem;}*/
.grid {display: grid; gap: var(--grid-gap-md);}
.grid.grid-gap-sm {gap: var(--grid-gap-sm);}
.grid.grid-gap-md {gap: var(--grid-gap-md);}
.grid.grid-gap-lg {gap: var(--grid-gap-lg);}
.grid .text {height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: flex-start;}
.grid-2-sm {grid-template-columns: 1fr 1fr;}
.border-middle .col:first-of-type {border-right: 1px solid var(--primary); padding: 0 var(--spacer) 0 0;}
.bkg-light {background: var(--light);}
.bkg-dark .preheader, .bkg-dark .callout {color: var(--tertiary);}
.grid-box-4 {display: grid; grid-template-columns: 1fr 1fr; gap: 25px;}
.grid-page-list {grid-template-columns: repeat( auto-fill, minmax(225px, 1fr) );}
.flex {display: flex;}
.width-skinny {max-width: var(--skinny); margin: 0 auto;}

/* Header */
.page-hdr {position: relative; overflow: hidden; z-index: 5; text-align: center; background: var(--dark);}
.page-hdr img {position: absolute; z-index: -1; opacity: .3; width: 100%; height: calc(100% + 25px); top: -25px; object-fit: cover;}
.page-hdr .text {padding: 50px 25px;}
.page-hdr h1 {color: #fff; margin: 0 0 .5rem 0;}
.page-hdr .breadcrumb {background: none; padding: 0; margin: 0; color: #fff; opacity: .75;}
.page-hdr .breadcrumb a {color: #fff; text-decoration: underline;}

/* Hero */
#hero {text-align: left;}
#hero img {opacity: 1; width: 100%;  height: calc(100% + 25px); top: -25px; object-fit: cover;}
#hero .text {background: rgba(0,0,0,.65); padding: 50px 25px;}
#hero .text-inner {max-width: 550px;}
#hero h1 {font-size: 18px; color: var(--tertiary);}
#hero .h1-like {font-size: 2.5rem; color: #fff; font-weight: 800; margin: 0 0 1rem 0; line-height: 1.1;}
#hero p {color: #fff; font-size: 1.1rem;}
#hero .btn-theme:first-of-type, .ftr-cols .btn-theme:first-of-type {background: rgba(0,0,0,.5); border: 2px solid var(--secondary); color: #fff;}
#hero .btn-theme:hover, .ftr-cols .btn-theme:hover {color: #fff; background: var(--secondary);}
#hero .preheader {color: var(--tertiary);}

/* Ico Card */
.ico-card {padding: 25px; text-align: center; text-decoration: none; color: var(--dark); background: #fff; border-radius: 0 25px 0 25px; box-shadow: 5px 5px 15px rgba(0,0,0,.1); display: flex; justify-content: center; flex-direction: column;}
.ico-card img {width: 75px; height: 75px; object-fit: contain; margin: 0 auto 1rem auto; transition: var(--transition);}
.ico-card h3 {color: var(--dark); margin: 0 0 1rem 0;}
.ico-card p {margin: 0;}
.ico-card:hover {text-decoration: none; color: var(--text);}
.ico-card:hover p {text-decoration: underline;}
.ico-card:hover img {transform: scale(1.1);}
.ico-callout {font-size: 1rem;}
.ico-callout span {font-size: 1.25rem; display: block; font-size: 2rem; font-weight: 800; color: var(--primary);}

/* Ico Link */
.ico-link {display: grid; grid-template-columns: 35px auto; font-weight: 700; color: var(--text); border: 1px solid rgba(0,0,0,.85); padding: 10px; text-decoration: none; font-size: 1.15rem; border-radius: 0 15px 0 15px; box-shadow: 5px 5px 5px rgba(0,0,0,.05); gap: 10px; align-items: center; background: #fff;}
.ico-link img {max-height: 40px;}
.ico-link:hover {background: var(--light); color: var(--text); text-decoration: none;}

/* Two Col Dark Overlap */
.content .two-col-dark-overlap {padding: 0; color: #fff;}
.two-col-dark-overlap .col {padding: 25px;}
.two-col-dark-overlap .col:nth-of-type(2) {background: var(--dark);}

/* Feature Circle Combo */
.img-circle-combo {position: relative;}
.img-circle-combo img {border-radius: 50%; border: 25px solid #EAF0D1;}
.img-circle-combo img:nth-of-type(2) {position: absolute; left: -25px; top: 25px; width: 40%; border: solid 10px #fff;}
.logo-links img {max-height: 95px; margin: 0 0 1rem 0;}
.logo-links .col:first-of-type {border-right: 1px solid var(--primary); padding-right: 25px;}
.logo-links .col:last-of-type {padding-left: 25px;}
.logo-links a {transform: scale(1); transition: var(--transition); display: block;}
.logo-links a:hover {transform: scale(1.1);}

/* Hgroup */
.hgroup {text-align: center; margin: 0 auto 3rem auto; max-width: 800px;}

/* Hover Card */
.hover-card {display: block; position: relative; z-index: 5; overflow: hidden; display: flex; justify-content: center; flex-direction: column; text-align: center; background: var(--dark); text-decoration: none; border-radius: 0 15px 0 15px; min-height: 325px;}
.hover-card img {position: absolute; inset: 0; z-index: -1; opacity: .5;transition: var(--transition); width: 100%; height: 100%; object-fit: cover;}
.hover-card h3 {margin: 0; color: #fff; padding: 150px 25px 100px 25px; position: relative;}
.hover-card h3:after {width: 80%; height: 50px; background: url(../img/highlight-2.png) center center no-repeat; background-size: contain; content: ""; position: relative; left: 10%; bottom: calc(50% - 65px); display: block; z-index: -1; opacity: 0; transition: var(--transition);}
.hover-card:hover img {transform: scale(1.1); opacity: .25;}
.hover-card:hover {background: var(--dark-green); text-decoration: none;}
.hover-card:hover h3:after {opacity: 1; bottom: calc(50% - 45px);}

.hover-card.green-header {justify-content: flex-end; min-height: 250px;}
.hover-card.green-header img {opacity: 1;}
.hover-card.green-header h3 {background: var(--primary); padding: 15px; font-size: 1.25rem; letter-spacing: normal;}

.card {background: #fff; box-shadow: 0 0 15px rgba(0,0,0,.1); border-radius: 0 15px 0 15px; overflow: hidden;}
.card figure {height: 175px; overflow: hidden;}
.card figure img {width: 100%; height: 100%; object-fit: cover;}
.card .text {height: calc(100% - 175px); padding: 25px; font-size: .9rem; line-height: 1.3; align-items: flex-start;}
.card .text a {text-transform: uppercase; font-weight: 800;}

/* Img Bkg Full */
.content .img-bkg-full {padding-top: 0; position: relative; z-index: 5;}
.img-bkg-full > figure {width: 100%; height: 300px; background: var(--primary); position: absolute; z-index: -1;}
.img-bkg-full > figure img {width: 100%; height: 100%; object-fit: cover; mix-blend-mode: multiply; opacity: .5;}
.img-bkg-full .text {padding: 25px; background: #fff; margin: 25px 0 0 0; font-size: 1.1rem;;}
.img-bkg-full .text p:last-of-type {margin: 0;}
.img-bkg-full .text .btn-theme {font-size: .9rem;}
.img-bkg-full .grid {gap: 0;}
.img-bkg-full .grid img {width: 100%; height: 100%; object-fit: cover;}

/* Img Bkg Full */
.img-bkg-full .grid {margin: 75px 0 25px 0;}
.img-bkg-full .text {margin: 0; padding: 50px; font-size: 1.25rem;}

/* Video LInks */
.video-link {display: flex; justify-content: center; align-items: center; flex-direction: column; position: relative; min-height: 300px; z-index: 5;}
.video-link img {margin: 50px 0 50px 0; box-shadow: 10px 10px 5px rgba(0,0,0,.05);}
.video-link:before {width: 80%; height: 100%; background: var(--primary); content: ""; position: absolute; left: 10%; top: 0; z-index: -1; border-radius: 0 25px 0 25px;}
.video-link a {position: absolute; top: calc(50% - 50px); z-index: 5; font-size: 2rem; width: 100px; height: 100px; background: #fff; display: flex; justify-content: center; flex-direction: column; align-items: center; text-decoration: none; border-radius: 50%; border: 5px solid var(--primary);padding: 16px;border-radius: 50%;background: #fff;cursor: pointer;box-shadow: 0 0 0 var(--primary);animation: pulseAnim 2s infinite;}

@keyframes pulseAnim {
  0% { box-shadow: 0 0 0 0 var(--primary);}
  70% { box-shadow: 0 0 0 50px rgba(210, 85, 43, 0);}
  100% { box-shadow: 0 0 0 0 rgba(210, 85, 43, 0);}
}

/* Landing Hero */
.landing-hero .grid {max-width: 800px; margin: 0 auto;}
.landing-hero .ico-card {height: 100%;}
.content-feed .card figure {height: 200px;}
.content-feed .card .text {padding: 25px;}

/* Sec Nav */
.grid-sidebar aside > * {margin: 0 0 2rem 0;}
#sec-nav ul {list-style: none; padding: 0; margin: 0; display: grid; gap: 5px;}
#sec-nav ul a {display: block; padding: 15px; font-weight: 700; border-left: 5px solid var(--primary); background: var(--light); text-decoration: none;}
#sec-nav ul a:hover {padding: 15px 10px 15px 20px; background: none;}
#sec-nav ul .active a {background: var(--primary); color: #fff;}

/* Icon Content */
.icon-content {display: grid; grid-template-columns: 35px auto; gap: 15px;}
.icon-content i {font-size: 2rem; color: var(--tertiary);}
.icon-content h3 {margin: 0 0 .5rem 0;}

/* Person Item */
.person-item img {border-radius: 0 15px 0 0; margin: 0;}
.person-item .text { background: var(--light); padding: 25px; border-radius: 0 0 0 15px;;}
.person-item .text > * {margin: 0 0 .5rem 0;}
.person-item h4 {color: var(--primary);}
.person-item ul {list-style: none; padding: 0;}
.person-item ul .fa {color: var(--primary); min-width: 20px;}

/* Full Feature */
.full-feature .text {padding: 25px; background: #fff;}
.full-feature figure img {width: 100%; height: 100%; object-fit: cover;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
:root {
  --spacer: 50px;
  --grid-spacer-med: 50px
}
h2 {font-size: 2.5rem;}
.img-right {float: right; margin: 0 0 2rem 2rem; max-width: 50%;}
.img-left {float: left; margin: 0 2rem 2rem 0; max-width: 50%;}

/* Layout */
.grid-2-md {grid-template-columns: 1fr 1fr;}
.grid-3 {grid-template-columns: 1fr 1fr 1fr;}
.grid-4 {grid-template-columns: 1fr 1fr;}

#hero .text {padding: 100px 0;background: linear-gradient(90deg, rgba(0,0,0,.75) 20%, rgba(0,0,0,.1) 50%);}

/* Landing Hero */
.content .landing-hero {padding-bottom: 0;}
.landing-hero .grid {margin-bottom: -50px;}
.landing-hero + section {padding-top: calc(var(--spacer) * 2);}

.hgroup p {font-size: 1.25rem; max-width: 600px; margin: 0 auto;}
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
:root {
  --spacer: 50px;
  --max-width: 940px;
  --grid-gap-sm: 15px;
  --grid-gap-md: 25px;
  --grid-gap-lg: 50px;
}

/* Layout */
.grid {grid-gap: var(--grid-gap-md);}
.grid-2 {grid-template-columns: 1fr 1fr;}
.grid-2-5 {grid-template-columns: 2fr 5fr;}
.grid-4 {grid-template-columns: 1fr 1fr 1fr 1fr;}
.grid-sidebar {grid-template-columns: 3fr 1fr; gap: 50px;}
#hero .text {padding: 100px 0;}
#hero .h1-like {font-size: 3.25rem;}

/* Two Col Dark Overlap */
.two-col-dark-overlap .grid-2 {grid-template-columns: 1fr 50px 1.25fr;}
.two-col-dark-overlap .col:nth-of-type(1) {grid-area: 1 / 1 / 2 / 3; padding: var(--spacer) 0  var(--spacer) var(--side-width); z-index: 1;}
.two-col-dark-overlap .col:nth-of-type(2) {grid-area: 1 / 2 / 2 / 4; padding: var(--spacer) var(--side-width) var(--spacer) calc(var(--spacer) * 2);}

/* Offset Callout */
.offset-callout .ico-card:nth-of-type(1) {margin-bottom: 175px;}
.offset-callout .ico-card:nth-of-type(2) {margin-top: 175px;}

/* Img Bkg Full */
.img-bkg-full .grid {margin: 75px 0 25px 0;}
.img-bkg-full .text {margin: 0; padding: 50px; font-size: 1.25rem;}

.full-feature {display: grid; grid-template-columns: 2fr 1.25fr; gap: 0;}
.full-feature .text {padding: 35px; margin: 2rem 0 2rem -2rem; border-radius: 0 15px 0 15px;}

.grid-page-list {display: grid; grid-template-columns: 325px minmax(0, auto); gap: 75px;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
  --spacer: 75px;
  --max-width: 1140px;
  }
  h2 {font-size: 2.75rem;}

  .grid-page-list {display: grid; grid-template-columns: 350px minmax(0, auto); gap: 75px;}

}