/* CSS Document
Client: Starter File
Company: Informatics, Inc
Author: Jeff S
Date: Aug 2022
*/

@import "base/reset";
@import "layout/footer";
@import "layout/header";
@import "layout/blog";
@import "components/slider";
@import "components/slider-custom";


/* Variables */
:root {
  accent-color: var(--primary);
  --primary: #3C613F;
  --secondary: #D95447;
  --tertiary: #D2D827;
  --light: #F1EDEA;
  --dark: #2C2923;
  --dark-green: #242E25;
}




/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}