.card{border:solid 1px #ddd;border-radius:var(--border-radius-lg);padding:15px;background:rgba(255,255,255,.25);backdrop-filter:blur(3px);display:flex;flex-direction:column;height:auto;}
.card .content{background:#fff;transition:var(--transition);border-radius:var(--border-radius-sm);border:solid 2px #D0CDE0;padding:30px;display:flex;flex-direction:column;flex:1;}
.card .content .text{flex-grow:0;}
.card .wp-block-buttons{margin-top:auto;}
.card:hover .content{box-shadow:var(--box-shadow-lg);}
.card figure{overflow:hidden;margin:0;aspect-ratio:1.75 / 1;}
.card figure img{width:100%;height:100%;object-fit:cover;}
.card .content p:last-of-type{margin:0;}

.card.icon-card .content{background:#fff;transition:var(--transition);border-radius:var(--border-radius-sm);border:solid 2px #D0CDE0;padding:30px;}
.card.icon-card:hover .content{transform:translateY(-30px);box-shadow:var(--box-shadow-lg);background:var(--primary) url('/img/grid-bg.webp') no-repeat;background-size:contain;background-position:top;}
.card .wp-block-button{margin-top:20px}
.card.icon-card:hover .content{color:#fff;border:solid 2px var(--primary);}
.card.icon-card:hover .wp-block-button__link{background:rgb(0,72,255);}
.card.icon-card:hover .wp-block-button__link:hover{background:var(--accent-2);}
.card.icon-card:hover .is-style-btn-text .wp-block-button__link{background:none;color:var(--accent-2);}
.card.icon-card figure{overflow:hidden;margin:0;aspect-ratio:1 / 1;width:130px;height:130px;border-radius:50%;background-color:#f8f8f8;display:flex;align-items:center;justify-content:center;padding:10px;margin-bottom:25px;}
.card.icon-card figure img{width:calc(100% - 30px);height:calc(100% - 30px);object-fit:cover;scale:1;transition:scale 0.3s ease;}
.card.icon-card:hover figure img{scale:1.2;}

.theme-cards{max-width:var(--max-width);margin:var(--spacer-vert) auto;display:flex;flex-wrap:wrap;gap:1rem;justify-content:center;position:relative;z-index:5;}
.theme-cards.small .card{flex:180px 0 1;}
.theme-cards.medium .card{flex:250px 0 1;}
.theme-cards.large .card{flex:320px 0 1;}
.theme-cards.tall-image figure{aspect-ratio:1 / 1.5;}
.theme-cards.overlap-top-element{margin-top:-90px;margin-bottom:0px}
.theme-cards.flex-grow .card{flex-grow:1 !important;}

/* TABLET */
 @media (min-width:768px){
.card-body{padding:30px;}
}
@media (min-width:992px){
.theme-cards.overlap-top-element{margin-top:-120px;}
.theme-cards.large .card{flex:300px 0 1;}
}
@media (min-width:1200px){
.theme-cards.overlap-top-element{margin-top:-150px;}
.theme-cards.large .card{flex:345px 0 1;}
}
