.sidebar.box {padding: 0; border-radius: 5px;position: relative;}
.sidebar.box + .sidebar.box {margin-top: 2rem;}
.sidebar.box h4 {background: var(--primary-dark); color: #fff; text-align: center; padding: var(--spacer); margin: 0; font-size: 1.75rem; font-family: var(--header); font-weight: 700; letter-spacing: normal;}
.sec-nav ul {list-style: none; padding: var(--spacer); margin: 0;}
.sec-nav ul a {display: block; padding: 10px 15px 10px 10px; color: var(--text); text-decoration: none; border-bottom: 1px dotted var(--dark);}
.sec-nav ul li:last-of-type a {border: none;}
.sec-nav ul a:hover {padding: 10px 10px 10px 15px; text-decoration: none;}
.sec-nav ul > .current_page_item > a {position: relative; padding: 10px 5px 17px 25px; color: var(--dark); font-weight: 700;}
.sec-nav ul > .current_page_item > a:before {content: "\f0d9";font-family: FontAwesome; color: var(--primary); margin: 0 0 0 7px; text-decoration: none; position: absolute; left: 5px; top: calc(50% - 10px); font-size: .75rem;}

.sec-nav ul ul {display: none; padding: 15px 0 15px 0px;}
.sec-nav ul > .current_page_ancestor > ul {display: block; border-bottom: 1px dotted var(--gray);}
.sec-nav ul ul a {font-size: .85rem; border: none;}
.sec-nav ul > .current_page_ancestor > a {font-weight: 700;}

.tag-list ul {display: flex; flex-wrap: wrap; list-style: none; padding: var(--spacer); gap: 5px; margin: 0;}
.tag-list a {padding: 4px 6px; background: #fff; font-size: .85rem; border-radius: 4px; display: inline;}
.tag-list li a:hover {background: none;}

/* TABLET */
@media (min-width: 768px) {
.sidebar.box:before{background:url(../img/shapes/squares.svg);width:100px;height:100px;position:absolute;right:-30px;top:-30px;content:"";background-size:cover;z-index:-1;}
}