/* Variables */
:root {
  /* Colors */
  --primary: #00A8EE;
  --green: #77B22C;
  --grey: #8897AC;
  --blue: #00A8EE;
  --darkblue: #00629C;
  --yellow: #FFC000;
  --red: #E02537;
  --light: #F5F9FF;
  --dark: #111;

  /* Fonts */
  --header: "area-normal", sans-serif;
  --body: "area-normal", sans-serif;
  --text-color:#292B2E;
  --header-color:#211F1F;
  
  /* Globals */
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --box-shadow-sm: 10px 15px 22px rgba(0,0,0,0.09);
  --shadow: 0 12px 44px rgba(0, 0, 0, 0.09);

  /* Spacing */
  --max-width: 1200px;
  --side-padding: 1.5rem;
  --spacer: 1.5rem;
  --spacer-lg: 2.5rem;
  --spacer-vert: 2rem;
  --column-gap: 2rem;
  --column-gap-lg:4rem;
  --fixed-header-height: 140px;
}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {font-family: var(--body);line-height: 1.65rem; font-weight: 500; font-size: 0.938rem; background: var(--bkg); color: var(--text-color); padding: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-rendering: optimizeLegibility;}

h1, h2, h3, h4, h5 {color:var(--header-color);font-family: var(--header);font-weight:900; margin: 0 0 1rem 0; color: var(--header-color);line-height:1.2;}
h1 {font-size: 5.313rem;}
h2 {font-size: 2rem;}
h2::after{content:url("../img/divider.svg");display:block;margin: 15px 0px 30px 0px;width:90px;height:20px;line-height:1rem;}
h2.has-text-align-center::after{margin: 15px auto 30px auto;}
.has-text-align-center{text-align: center;max-width: 700px !important;margin:0 auto;padding-left: var(--side-padding);
  padding-right: var(--side-padding);}

h3 {font-size: 1.375rem;line-height: 1.1;}
h4 {font-size: 1.25rem; font-weight: 700;}
h5 {font-size: 1rem; font-family: var(--body); font-weight: 700;}

p, ul, ol {margin-bottom: 1.25rem;}
p.is-style-lead{font-size: 1.35rem;line-height:1.5;}

/* ADDED STYLES */
blockquote {font-weight:700;font-style: italic;border-left: 1px solid var(--primary);padding-left: 16px;margin: 16px 0;}
b,strong{font-weight: 700;color:var(--primary)}
li::marker {color:var(--primary)}
ul{padding-left:15px;}
hr{margin:170px 0px}
/* Images */
.wp-block-columns + figure,figure + h2{margin-top:50px}

.ratings img {max-width: 325px;margin:35px 0px}

/* Links */
a {transition: var(--transition); color: var(--primary);}
p a {font-weight: 800; text-decoration: underline;}
p a:hover {text-decoration: none;}

/* TABLET */
@media (min-width: 768px) {
} 

/* DESKTOP */
@media (min-width: 992px) {
  :root {
  --spacer-vert: 4rem;
  }
  h2 {font-size: 3rem;}
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
  // :root {
  // --spacer-vert: 6rem;
  // }  
}
