/* WP Paragraph Styles */
.is-style-eyebrow {font-weight:700; margin: 0 0 .5rem 0;}
.is-style-lead {font-size: 1.4rem; font-weight: 700;text-transform: uppercase;font-family:var(--header);line-height:1.2}
.is-style-callout {font-size: 1.25rem; border-left: 5px solid var(--accent-2); padding-left: 1.25rem;}
.is-style-max-width {max-width: 800px; @include margin-auto;}

/* WP Column Section Colors */
/* Light background */
.is-style-bkg-left, .is-style-bkg-right {padding: 1px 0; position: relative; z-index: 5; overflow: hidden;}
.is-style-bkg-left:after, .is-style-bkg-right:after {position: absolute; top: 0; left: 0; height: 100%;width: calc( 100vw - ( (60vw - var(--max-width)/2)));background: var(--light); border-radius: 0 10px 10px 0; content:""; z-index: -1; border-radius: 0 var(--border-radius-xl) var(--border-radius-xl) 0;}
.is-style-bkg-right:after {left: auto; right: 0; border-radius: var(--border-radius-xl) 0 0 var(--border-radius-xl);}
.is-style-bkg-light {background:var(--light); padding: 1px 0; }

.is-style-bkg-blue {background: url(../img/bkg-logomark.png) no-repeat var(--primary-dark); background-size: 600px auto; background-position: 5% center; padding: 1px 0; color: var(--text-color-inverse);}
.is-style-bkg-blue strong {color: #fff;}

.is-style-linklist {list-style-type:none;padding-left:0;}
.is-style-linklist li {list-style-type:none;position:relative;padding-left:24px;margin-bottom:10px;line-height:1.3}
.is-style-linklist li::before{content:"\f058";font-family:FontAwesome;position:absolute;left:0px;color:var(--primary)}

/* WP Block Separator */
.wp-block-separator, hr {margin:40px auto; border: none; border-bottom: 1px solid #ccc; max-width: var(--max-width);} 

/* WP File Block Styles */
.wp-block-file:not(.wp-element-button) {
    font-size: .85em;
    background: var(--light);
    padding: 15px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
}
.wp-block-file * + .wp-block-file__button {
    margin-left: .75em;
    background: var(--primary);
    color: #fff;
    font-weight: 700;
    padding: 10px;
}

/* Columns */
.is-style-small-margin {margin-top: -2rem !important;}
.is-style-large-gap {gap: 4rem !important;}
.is-style-small-margin + .is-style-small-margin {margin-bottom: 3rem !important;}


/* WP Block Cover */
.wp-block-cover {margin: var(--spacer-vert) auto; min-height: 350px; padding: 2rem 0;}
.wp-block-cover, .wp-block-cover h2, .wp-block-cover h3 {color: #fff;}
.wp-block-cover .wp-block-cover__background {opacity: .65;}
.wp-block-cover p.is-style-eyebrow, .wp-block-cover p.is-style-loud {color: var(--secondary);}
// .wp-block-cover + .wp-block-group {margin-top: calc(var(--spacer-vert) * -1);}
.wp-block-cover .wp-block-cover__inner-container {@include container;}
.wp-block-cover__background {background: var(--primary-dark) !important; opacity: .85 !important;}

#content {
    .wp-block-cover h2, .wp-block-cover h3 {color: #fff;}
    .wp-block-cover p {color: var(--text-color-inverse);}
    }
    .wp-block-cover:has(+ .overlap-top-element) {
        padding: 2rem 0 4rem 0;
    }
    
    @media (min-width: 768px) {
        .wp-block-image .alignleft, .wp-block[data-align="left"] > .wp-block-image {float:left; margin: 0 2rem 2rem 0; max-width: 50%;}
        .wp-block-image .alignright, .wp-block[data-align="right"] > .wp-block-image {float:right; margin: 0 0 2rem 2rem; max-width: 50%;}
        }
        