/* TABLET */
.hero-two-col .text .is-style-lead {font-style: italic; position: relative; padding-top: 1rem; margin-top: 1rem;}
.hero-two-col .text .is-style-lead:before {width: 50px; height: 3px; background: var(--primary); display: block; content: ""; position: absolute; left: 0; top: 0px;}

@media (min-width: 768px) {
.hero-two-col {padding: 0 4rem;}
.hero-two-col .text {text-align: center; padding: 2rem 0; max-width: 550px; margin: 0 auto;}
.hero-two-col .text h1 {font-size: 4rem;}
.hero-two-col .text .is-style-lead:before {left: calc(50% - 25px);}
.hero-two-col .wp-block-buttons {justify-content: center;}
}
/* WIDE DESKTOP */
@media (min-width: 992px) {
.hero-two-col {padding: 0; grid-template-columns: 1.25fr 1fr; margin: 25px 0 2rem 0;}
.hero-two-col .text {text-align: left; display: flex; justify-content: center; flex-direction: column; padding: 0 2rem 0 0;}
.hero-two-col .wp-block-buttons {justify-content: flex-start; padding-left: 75px;}
.hero-two-col .text {padding: 0;}
.hero-two-col .text .is-style-lead {padding: 0 50px 0 75px;}
.hero-two-col .text .is-style-lead:before {left: 0; top: 12px;}
}
