/* Default Border Radius */
figure img {border-radius: 5px;}

/* Circle Image */
.img-circle {position: relative;}
.img-circle img {border-radius: 50%; aspect-ratio: 1/1; object-fit: cover;}
.img-circle:after {position: absolute; right: 0; bottom: 0; width: 140px; height: 140px; background: url(../img/dots.svg); content: ""; background-size: cover;}

/* Image Dots */
.img-dots {position: relative;}
.img-dots img {border-radius: 10px; aspect-ratio: 1/1; object-fit: cover;}
.img-dots:after {position: absolute; left: -70px; bottom: calc(50% - 70px); width: 140px; height: 140px; background: url(../img/dots.svg); content: ""; background-size: cover;}

/* Image Callout */
.img-dots.img-text:after {left: auto; right: -70px;}
.img-text {height: 100%; display: flex; justify-content: center; flex-direction: column;}
.img-text .text {position: relative; width: 50%; margin: 2rem 0; border-radius: 10px; z-index: 5; background: var(--primary); padding: 25px;}
.img-text .quote {font-family: var(--header); font-size: 1.25rem; color: #fff;}
.img-text .author {margin: 0; color: var(--accent-1);}
.img-text img {height: 100%; width: 80%; margin-left: 20%; position: absolute;}

/* Image Combo */
.img-combo {padding: 0 25px 100px 50px;}
.img-combo img {aspect-ratio: inherit;}
.img-combo img:nth-of-type(1) {width: 80%; margin-left: 10%;}
.img-combo img:nth-of-type(2) {position: absolute; bottom: 0; left: 0; border: 15px solid #fff; width: 50%;}
.img-combo:after {left: 50%; top: auto; bottom: 25px;}