.hero-image{display:flex;justify-content:center;align-items:center;position:relative;}
.home-header .hero-image{height:100vh}
.hero-image figure{z-index:-1;position:absolute;opacity:0.25;top:0;left:0;right:0;bottom:0;margin:0;}
.hero-image img{object-fit:cover;width:100%;height:100%;}
.hero-content{color:#fff;}
.hero-content h1{font-size:5.563rem;line-height:6.3rem}
.hero-content h1::before{content:'';position:absolute;top:-30px;left:50%;transform:translateX(-40px);width:80px;height:1px;background-color:var(--primary);}

.scroll-downs p{font-size:0.8rem;}
.scroll-downs{color:#fff;position:absolute;right:0;bottom:75px;left:0;margin:0px auto;width:100px;height:45px;}
.mousey{margin:5px auto;width:3px;padding:7px 9px;height:25px;border:2px solid #fff;border-radius:25px;opacity:0.75;box-sizing:content-box;}
.scroller{width:3px;height:7px;border-radius:25%;background-color:#fff;animation-name:scroll;animation-duration:2.2s;animation-timing-function:cubic-bezier(.15,.41,.69,.94);animation-iteration-count:infinite;}
@keyframes scroll{0%{opacity:0;}
10%{transform:translateY(0);opacity:1;}
100%{transform:translateY(15px);opacity:0;}
}

/* WIDE DESKTOP */
@media (min-width: 992px) {
.home-header .hero-content{margin-top:120px}
.hero-content h1{font-size:6.563rem;line-height:6.7rem}
}

