.results-header {margin: 0 0 var(--spacer); padding: var(--spacer) 0;}
.results-filter {list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap; gap: 10px;}
.results-filter a {display: block; padding: 5px 10px; border-radius: 5px; background: var(--light); color: var(--primary); border: 2px solid var(--light); font-size: .85rem;}
.results-filter .results-active a {background: none; color: var(--text); background: #fff;}
.results-filter a:hover {background: none;}

@media (min-width: 992px) {
.results-header {margin: 0; padding: 150px 0 var(--spacer-vert);}
}

@media (min-width: 1500px) {
.results-header {padding: 175px 0 var(--spacer-vert);}    
}