.large-text p{font-size:2.25rem;line-height:2.85rem;margin-bottom:0px;font-weight: 300;color:var(--dark)}
.callout-info .col-lg-5{padding-right:100px;margin-right:100px;border-right: 1px solid var(--light-gray);}
.callout-info .text-center{max-width:1000px}

@media (min-width: 768px) {
   
  }
  
  @media (min-width: 1500px) { 

  }
  
  /* ONLY MOBILE */
  @media (max-width: 991px) {
  .callout-info .col-lg-5{padding-right:15px;margin-right:0;border-right:none}
  .large-text p{font-size:1.75rem;line-height:2.2rem;}

  }