.hero-angle{min-height:550px;background: url(../img/angles-single.png) no-repeat; }
.hero .lead{font-size:1.3125rem;margin-bottom:30px}
.hero h1 {text-transform: uppercase;}
.hero h1 span, .hero h1 em, .page-hdr h1 span, .page-hdr h1 em {color:var(--secondary); font-style: normal;}
.homepage h1 {font-size:6.25rem;line-height:5.7rem;margin-bottom:15px; text-transform: uppercase;}
  
.scroll-down {position: relative;font-size:0.75rem;margin-top:50px;text-transform:uppercase;}
.scroll-down i {font-size:0.9rem;position: absolute;top: 0;animation: up-down 2s infinite ease-in-out;}
.scroll-down span {padding-left:15px;}

@keyframes up-down {0% {top: 0;}50% {top: 8px;}100% {top: 0;}}

.img-combo {display: grid; grid-template-columns: 1fr 1fr; gap: 25px; position: relative; margin: 0 0 2rem 0;}
.img-combo img {box-shadow:var(--shadow);width:100%;height:100%;object-fit:cover;object-position: center;}
.img-combo img:nth-of-type(2) {margin: 50px 0 0 0;}
.img-single img{box-shadow:var(--shadow)}

@media (min-width: 992px) {
.hero {margin-top:185px}
.hero-angle{ background-position:calc(100% + 200px) 50%}
}

@media (min-width: 1500px) { 
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
.hero {margin-top:150px}
}

/* ONLY MOBILE */
@media (max-width: 991px) {

.hero hr{display:none}
.hero-angle{ background-position:50% 100%}
.hero img{max-height:550px;margin:0 auto;margin-bottom:25px;}
.two-col .col{min-height:300px} 
.one-col img{min-height:400px;}
}