/* Content */
.content {padding: var(--spacer-vert) var(--side-padding);}
.content header {margin-bottom: var(--spacer-vert);}

.grid {display: grid; gap: var(--col-gap);}

.feature-row {padding: 2rem 0; font-size: .9rem;}
.feature-row figure {aspect-ratio: 2.5 / 1;}
.feature-row figure img {width: 100%; height: 100%; object-fit: cover;}
.feature-row + .feature-row {border-top: 1px solid var(--gray);}
.feature-row p a {display: block; margin: 1rem 0 0 0; font-weight: 700;}

.group-dark {background: var(--blue); color: #fff;}
.group-dark {
    h2, h3, h4 {color: #fff;}
}

.is-text-center {text-align: center;}

.number-item {max-width: 80%;}
.number-item h3 {align-items: center; text-wrap: balance; font-size: 2rem; font-weight: 600; display: flex; gap: 25px;}
.number-item h3 span {font-size: 5rem; border-right: 1px solid var(--blue); padding-right: 25px;}

.emoji-cycle {
    display: inline-block;
    transform-origin: center;
    will-change: transform;
  }

.bkg-light-right {position: relative; z-index: 5;}
.bkg-light-right:after {width: 50%; height: 100%; content: ""; background: var(--light); position: absolute; right: 0; top: 0; z-index: -1;}

.bkg-dark {background: var(--blue); color: #fff;}
.bkg-dark h2 {color: #fff;}
.bkg-media {position: relative; z-index: 5;}
.bkg-media > figure {position: absolute; inset: 0; z-index: -1; height: 100%; width: 100%; overflow: hidden; background: var(--blue);}
.bkg-media > figure img, .bkg-media > figure video {opacity: .1; width: 100%; height: 100%; object-fit: cover;}


.bkg-media .bkg-rotator {position: absolute; inset: 0; z-index: -1; height: 100%; width: 100%; overflow: hidden; background: var(--blue); opacity: .1;}
.bkg-media .bkg-rotator img {opacity: 0; width: 100%; height: 100%; object-fit: cover; position: absolute; inset: 0; transform: scale(1);transition: opacity 1s ease, transform 1s ease;}

.feature-list {display: grid; grid-template-columns: repeat( auto-fit, minmax(375px, 1fr) ); list-style: none; padding: 0;}
.feature-list li {padding: 15px; border-bottom: 1px solid rgba(255,255,255,.25); font-size: 1.25rem;}

/* TABLET */
@media (min-width: 768px) {
.header-row {display: grid; grid-template-columns: 1fr 1fr; gap: var(--col-gap); align-items: flex-end; margin-bottom: var(--spacer-vert);}
.header-row > * {margin: 0;}

.grid-1-7 {display: grid; grid-template-columns: 1fr 7fr;}
.grid-2-6 {display: grid; grid-template-columns: 2fr 6fr;}
.grid-3-5 {display: grid; grid-template-columns: 3fr 5fr;}
.grid-4-4 {display: grid; grid-template-columns: 4fr 4fr;}
.grid-5-3 {display: grid; grid-template-columns: 5fr 3fr;}
.grid-6-2 {display: grid; grid-template-columns: 6fr 2fr;}
.grid-7-1 {display: grid; grid-template-columns: 7fr 1fr;}

}

/* WIDE DESKTOP */
@media (min-width: 992px) {
.feature-row {display: grid; grid-template-columns: 3fr 1fr 2fr 2fr; gap: var(--col-gap);}
.feature-row figure {display: subgrid; padding-right: 1fr;}
.feature-row h3 {grid-column: 3; text-wrap: balance; width: 50%;}

.grid-3 {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: var(--col-gap);}
.grid-2 {display: grid; grid-template-columns: 1fr 1fr; gap: var(--col-gap);}

// .sequence-items .sequence-item {margin-top: 50px;}
// .sequence-items .sequence-item:nth-of-type(2) {margin-top: 100px;}
// .sequence-items .sequence-item:nth-of-type(3) {margin-top: 150px;}

.sequence-item {position: relative; display: grid; }

.sequence-item .number {font-family: var(--body); font-size: 4rem; background: var(--green); width: 5rem; height: 5rem; display: grid; place-content: center; color: #fff; font-weight: 300;}

.header-link {display: grid; grid-template-columns: 6fr 2fr; align-items: center;}
.header-link .col:nth-of-type(2) {text-align: right;}
}

/* WIDE DESKTOP */
@media (min-width: 1120px) {
    
}



/* GSAP TESRT */
// .scroll-section header {position: sticky; top: 125px; z-index: 25;}
.horizontal-section {
    height: 60vh;
    position: relative;
  }
  
  .panels {
    display: flex;
    height: 100%;
  }
  
  .panel {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
  }


  