
.hero {padding: 8rem var(--side-padding) 0 var(--side-padding); background: var(--light); background: linear-gradient(to bottom, white calc(100% - 65px), var(--tan) 0);}
.hero h1 {font-size: clamp(3rem, 5.15vw, 6.5rem); line-height: .95;}
.hero figure img, .hero figure video {border-radius: 0;}

.hero p {text-wrap: balance;}
/* TABLET */
@media (min-width: 768px) {
} 

/* WIDE DESKTOP */
@media (min-width: 992px) {
.hero {display: grid; grid-template-columns: 1fr 1fr; gap: var(--col-gap); height: 93vh; align-items: center;}
.hero figure {height: 100%; margin: 0;}
.hero figure img, .hero figure video {width: 100%; height: 100%; object-fit: cover; position: absolute; inset: 0;}
.hero .text {padding-bottom: 50px;}
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {

}
