/* 2 Column Grid */
.grid-columns .text{align-self:center;}

.content section{padding:50px 0px}
.grid-container{display:grid;grid-template-columns:repeat(auto-fill,minmax(100%,1fr));grid-gap:20px;}
.contain{width:100%;max-width:var(--max-width);margin:0 auto;padding:0 var(--spacer);}
.contain-fluid{width:100%;position:relative;overflow:hidden}
.container{@include container;}
.grid,.grid-md{display:grid;gap:25px;}
.align-self-center{align-self:center;}
.flex{display:flex;justify-content:center;gap:20px;}
.flex-container{display:flex;flex-direction:column;justify-content:space-between;align-items:center;}
.flex-container-scale {display: flex;flex-wrap: wrap;gap:40px;}

@media (min-width:768px){
.grid-container{display:grid;grid-template-columns:repeat(auto-fill,minmax(250px,1fr));grid-gap:20px;}
.grid-columns{display:grid;grid-template-columns:repeat(2,1fr);gap:75px;}
.grid-2x2{grid-template-columns:repeat(2,1fr);grid-template-rows:repeat(2,1fr);gap:25px;}
.grid.grid-hero .text{grid-column:span 2;display:flex;justify-content:center;flex-direction:column;padding:0px 50px 0px 0px;}
.grid.grid-hero{display:grid;grid-template-columns:repeat(auto-fill,minmax(250px,1fr));gap:25px !important;}
.col-4-md,.col-md-4{grid-column:span 4;}
}

@media (min-width:992px){
.content section{padding:100px 0px}
.grid{@include grid-12-col}
.grid-2x2{grid-template-columns:repeat(2,1fr);grid-template-rows:repeat(2,1fr);gap:25px;}
.grid .span-5-lg{grid-column:span 5;}
.grid .col-lg-1{grid-column:span 1;}
.grid .col-lg-2{grid-column:span 2;}
.grid .col-lg-3{grid-column:span 3;}
.grid .col-lg-4{grid-column:span 4;}
.grid .col-lg-5{grid-column:span 5;}
.grid .col-lg-6{grid-column:span 6;}
.grid .col-lg-7{grid-column:span 7;}
.grid .col-lg-8{grid-column:span 8;}
.grid .col-lg-9{grid-column:span 9;}
}

/* WIDE DESKTOP */
@media (min-width:1200px){
.content section{padding:100px 0px}
}


