
#logo {max-width: 240px; display: block; position: relative;}
.menu ul {list-style: none; padding: 0; margin: 0;}
.toolbar{display: none;}

/* ONLY MOBILE */
@media (max-width: 991px) {
.mobile-header{display:grid;grid-template-columns:auto 40px;gap:50px;padding:25px;border-bottom:solid 1px var(--secondary);}
.desktop-header #logo, .hidden-sm {display: none !important;}
#site-header {z-index:99999;border-bottom:1px solid var(--secondary);background:#4C2572}
#logo {max-width: 140px; display: block; position: relative;}
.seperator{display:none;}
#menu-utility li.phone{display:none;}
.toolbar{background:#3f1e60;;padding:12px 25px;display: flex;justify-content: space-between;color:#fff;font-weight: 800;font-size:1.2rem;align-items: center;}
.toolbar a{color:#EEFFD8;font-size:0.85rem;text-transform: uppercase;}
.toolbar i{margin-right:5px;color:var(--secondary);transform: scale(1);transition:var(--transition)}
.toolbar a:hover{color:var(--secondary);}
.toolbar a:hover i{color:var(--secondary);transform: scale(1.1)}

/* Menu Toggle */
#menu-toggle {font-size:.7rem; letter-spacing: 0.5px; text-transform: uppercase; background: none; padding: 0; margin: 0; border: none;  font-weight: 800; color:#fff; width: 38px; height: auto; position: relative; line-height: 1;text-align: left;}
#menu-toggle > div {position: absolute; width: 100%; height: 100%; top: 0; left: 0; transition: var(--transition);}
#menu-toggle .closed {display: flex; flex-direction: column; gap: 4px;}
#menu-toggle .closed .bar {width: 100%; height: 3px; background: var(--secondary); display: block;margin-bottom: 3px;}
#menu-toggle .closed .bar:nth-child(3) {margin-bottom:5px}
#menu-toggle .open .bar {width: 100%; height: 3px; transform: rotate(45deg); background: var(--secondary); display: block; transform-origin: center;position: absolute;left: 0;top: 46%;}
#menu-toggle .open .bar:nth-last-of-type(2) {transform: rotate(-45deg)}
#menu-toggle.collapsed .open {opacity: 0; visibility: hidden; display: flex;justify-content: center;}
#menu-toggle.collapsed .closed {opacity: 1; visibility: visible;display: flex;justify-content: center;}
#menu-toggle .open {opacity: 1; visibility: visible; display: flex;justify-content: center;}
#menu-toggle .closed {opacity: 0; visibility: hidden;display: flex;justify-content: center;}

/* Menu Buttons */
.btn-expand {position: absolute; right: var(--spacer); top: 0; width: 40px; height: 57px; border: none; background: 0; display: grid; place-content: center;}
.btn-expand .bar {background: var(--secondary);width: 15px; height: 3px;  display: block; transition: var(--transition);}
.btn-expand .bar:nth-of-type(2) {transform: rotate(90deg); position: relative; top: -3px; opacity: 0;}
.btn-expand.collapsed .bar:nth-of-type(2) {opacity: 1;}
.menu-close-btm {background: none; border: none; padding: 15px var(--spacer) 0 var(--spacer); width: 100%;}
.menu-close-btm img {margin: 0 1rem;}

/* Menu Main */
#menu-utility li,#menu-main li{transition:var(--transition);display:block;border-bottom:2px dotted rgba(255,255,255,0.5);position:relative;padding:5px 25px;margin:0;}
#menu-main a {color: #fff; font-size:0.9rem; text-transform: uppercase; font-weight: 800; letter-spacing:0.5px; display: block; width: 100%;padding: 15px 10px 7px 10px;}
.show #menu-utility ul li:last-of-type, .show #menu-main ul li:last-of-type{border-bottom:none}
#menu-utility ul li a, #menu-main ul li a{color:var(--secondary)}

/* Menu Utility */
#menu-utility a {color: var(--secondary); font-size:0.9rem; text-transform: uppercase; font-weight: 800; letter-spacing:0.5px; display: block; width: 100%;padding: 15px 15px 7px 10px; }
#menu-main li:hover,#menu-utility li:hover {transition: var(--transition);background:#3F1964;}

#menu-main ul li:hover {transition: var(--transition);background-image:#632C8B;}
#menu-utility .btn-theme{padding:13px;background:var(--primary);background-image:var(--primary);color:#fff;margin-top:0;border-top:1px solid #fff;border-radius:0px;background-size:100% auto;}
#menu-utility .btn-theme:hover{background:#4C2572;background-image:#632C8B;}

}

/* DESKTOP */
@media (min-width: 992px) {
 #menu-main li{margin-bottom:0px;padding:8px 0px;}
.phone::after{content:'';position:absolute;top:0;right:10px;bottom:0;width:1px;border-right:1px dotted #fff;background-color:#000;}
.phone{display:inline;color:var(--secondary);font-weight:800;font-size:0.8rem}
.phone b{color:#fff;margin-left:5px;margin-right:30px;font-weight:800;font-size:1.10rem}
.page-hdr{padding-top:150px}
.btn-expand,.menu-close-btm,#menu-toggle,.mobile-header,.hidden-lg{display:none;}
.desktop-header{@include container;display:grid;grid-template-columns:250px auto;align-items:center;}
#logo{display:block;height:115px;}
#logo img{position:absolute;left:0;top:0;}
#logo img:nth-last-of-type(1){opacity:0;}
#logo img:nth-last-of-type(2){opacity:1;}
#site-header.scroll{#logo img:nth-last-of-type(1){opacity:1;}
#logo img:nth-last-of-type(2){opacity:0;}

}
#site-header {border-top:solid 8px var(--primary);width: 100%; position: fixed; left: 0; right: 0; top: 0;padding-top: 0px;align-items: center; z-index: 15; transition: var(--transition);}
#site-header:after {width: 100%;border-bottom: 1px solid rgba(0,0,0,.15); top: 0; content: ""; position: absolute; left: 0;}
#menu-main{display:flex;justify-content:flex-end;padding-top: 65px;padding-bottom: 15px;}
#menu-main a {text-transform: uppercase; font-weight:800; color: #fff;padding: 18px 0px; font-size:0.78rem; display: block; margin: 0 0 0 0.8rem; position: relative; }
#menu-main a:hover,#menu-utility li a:hover{color:var(--secondary)}
#menu {display: block;border-bottom:1px rgba(255,255,255,0.20) solid}
#menu-main > li:hover > a,#menu-main a:hover  {color: var(--secondary);}
#menu-utility .btn-theme{margin-left:10px}

#menu-utility {margin: 0 0 0 auto;height: 70px; display: flex; position: absolute; top: 0; left: 0; right: 0; align-items: center;@include container; z-index: 5;}
#menu-utility li a{font-size:0.8rem; font-weight: 800; color:#fff; padding: 14px 5px; margin: 0;letter-spacing: 0.2px;}
#menu-utility li:first-of-type {margin: 0 0 0 auto;}
.seperator{color:#fff;font-weight:700;padding:0px 5px}

/* Dropdowns */
#menu-main li {position: relative;}
#menu-main ul {display: block; position: absolute; top: 105%; left: calc(50% - 140px); width: 320px; background: #fff; columns: 1; padding: 25px; border-radius: 5px; visibility: hidden; opacity: 0; transition: var(--transition);box-shadow: 0px 14px 14px 14px rgba(0, 0, 0, 0.1);}
#menu-main ul:before {position: absolute; left: calc(50% - 3.5px); top: -5px; content: "";    width: 0; height: 0; border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 5px solid #fff;}
#menu-main li:hover ul {opacity: 1; top: 100%; visibility: visible;background:#f1f1f1}
.home-header #menu-main ul a,#menu-main ul a{padding:5px;margin:0;color:var(--text-color);text-transform:none;border-bottom:2px dotted var(--secondary);}
#menu-main ul a:hover{color:var(--primary)}

#menu-utility li {margin-bottom: 0px;position: relative;}
#menu-utility ul:before {position: absolute; left: 25px; top: -5px; content: "";    width: 0; height: 0; border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 5px solid var(--primary);}
#menu-utility ul.locations {width: 300px;}
#menu-utility li ul a {color: #fff; text-transform: none; display: block; padding: 5px 0; min-width: 100px; }
#menu-utility ul a:hover {text-decoration: underline;}
#menu-utility ul a:hover:after {margin-left: 7px;}
#menu-utility li:hover ul {opacity: 1; top: 32px; visibility: visible;}

/* Dark Header */
#site-header.scroll {z-index:99999;background: #302B31; box-shadow: 0 15px 25px rgba(0,0,0,.05);border-bottom:solid #302B31 1px;}
.hidden-lg {display: none !important;}

/* Last Nav Buttons */
#menu-main .btn-theme a{display:inline-block;padding:18px 20px 18px 20px;transition:var(--transition);background:var(--bg-color);color:var(--primary);border:none;border-radius:100px; margin: 0 0 0 1.5rem;}
#menu-main .btn-secondary a{display:inline-block;padding:18px 20px 18px 20px;transition:var(--transition);border:solid 1px var(--bg-color);border-radius:100px;}
#menu-main .btn-theme a:hover {background:var(--primary);color:#fff}
#menu-main .btn-secondary a:hover {background:var(--primary);color:#fff;border:solid 1px var(--primary)}
}

/* WIDE DESKTOP */
@media (min-width:1200px){
.phone::after{right:15px;}
.phone b{color:#fff;margin-left:5px;margin-right:40px;font-weight:800;font-size:1.15rem}
#menu-main .btn-secondary a,#menu-main .btn-theme a{padding:18px 25px 18px 25px}
.desktop-header{grid-template-columns:240px auto;}
#menu-main a{font-size:0.85rem;padding:18px 0px;margin:0 0 0 1.2rem;}
}
/* SUPER WIDE DESKTOP */
@media (min-width:1500px){
#menu-main a{font-size:0.9rem;margin:0 0 0 1.2rem;}
}
