/* CSS Document
Client: SHIVE-HATTERY
Company: Informatics, Inc
Author: Jeff S
Date: Feb 2023
*/

// Abstracts
@import "abstracts/variables";
@import "abstracts/mixins";

// Vendors 
/* Bootstrap Reqs */
@import "../bootstrap/scss/functions";
@import "../bootstrap/scss/variables";
@import "../bootstrap/scss/maps";
@import "../bootstrap/scss/mixins";
@import "../bootstrap/scss/root";
@import "../bootstrap/scss/transitions";

/* Bootstrap Components */
@import "../bootstrap/scss/accordion";
@import "../bootstrap/scss/bootstrap";

// Swiper
@import "vendors/swiper/swiper";

// Core
@import "core/reset";
@import "core/animations";
@import "core/theme";

// Layout
@import "layout/header";
@import "layout/footer";
@import "layout/grid";
@import "layout/wordpress";

// Components
@import "components/buttons";
@import "components/page-headers";
@import "components/stats";
@import "components/sidebar";
@import "components/project_listing";
@import "components/accordion";
@import "components/cards";
@import "components/bg_singlebox";
@import "components/callout_largetext";
@import "components/hero";
@import "components/quotes";
@import "components/clients";
@import "components/casestudy";
@import "components/carousel";
@import "components/scroll-items";




