/* CSS Document
Client: CRMEA
Company: Informatics, Inc
Author: Jeff S
Date: Sep 2022
*/

/* Variables */
:root {
  accent-color: var(--primary);
  --primary: #902782;
  --secondary: #FBB700;
  --tertiary: #902782;

  --light: #eee;
  --light-2: #DEDBD2;
  --dark: #222;
  --bkg: #fff;
  
  --blue: #38A7DE;
  --orange: #FBB700;
  --purple: #902782;
  --green: #A3BF22;
  --lightgreen: #D8DB00;
  --teal: #009FB2;
  --brown: #4F4540;

  --spacer: 25px;
  --spacer-lg: 25px;
  --grid-spacer-med: 25px
  --text: rgba(0,0,0,.85);
  --light-text: rgba(255,255,255,.75);
  --light-border: rgba(0,0,0,.25);
  --header: houschka-pro, sans-serif; 
  --body: open-sans, sans-serif; 
  --serif: 'Georgia', serif;
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --shadow: 0 5px 25px rgba(255,161,0,.15);
  --light-gradient: linear-gradient(35deg, rgba(253,247,238,1) 0%, rgba(245,228,203,1) 100%);
  --side-width: calc( (100vw - var(--max-width))/2 );
  --max-width: 90%;
  --grid-gap-sm: 5px;
  --grid-gap-md: 15px;
  --grid-gap-lg: 25px;
  --skinny: 800px;
}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: var(--bkg); color: var(--text); 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;
font-feature-settings: "liga";
text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {font-family: var(--header); font-weight: 700; letter-spacing: -1px; margin: 0 0 1rem 0; line-height: 1; color: var(--dark);}
h1 {font-size: 3rem; letter-spacing: -2px;}
h2 {font-size: 2rem; line-height: 1;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
p, ul, ol {margin-bottom: 1.75em;}
hr {margin: 25px 0;} 
a {transition: var(--transition);}

img + h2, img + h3 {margin-top: 1rem;}
.col .grid {margin-bottom: 1.75rem;}

.preheader {text-transform: uppercase; color: var(--blue); letter-spacing: 1px; font-weight: 700; margin: 0 0 .5rem 0;}
.text-blue {color: var(--blue);}
.text-orange {color: var(--orange);}
.text-green {color: var(--green);}
.text-purple {color: var(--purple);}
.text-orange {color: var(--orange);}

.callout {font-style: italic; color: var(--tertiary); font-size: 1.25rem; padding: 25px; background: var(--light);}

.link-list {list-style: none; padding: 0;}
.link-list li a {font-size: 1.25rem;}
.link-list li::before {content: "\f138";font-family: FontAwesome; color: var(--primary); margin: 0 5px 0 0;}
input {accent-color: var(--primary);}
.box {background: var(--light); padding: 25px;}
.lead {font-size: 1.25rem; font-weight: 400; margin-bottom: 2rem;}

/* Buttons Links */
a {color: var(--primary); text-decoration: underline;}
a:hover {text-decoration: none; color: var(--primary);}
.btn-theme {display: inline-block; padding: 10px 15px; color: #fff; text-transform: uppercase; color: #fff; background: var(--primary); font-weight: 700; font-size: .85rem; border-radius: 4px; text-decoration: none;}
.btn-theme:hover {color: #fff;}
.btn-theme + .btn-theme {margin-left: 10px; color: var(--primary); box-shadow: inset 0 0 0 2px var(--primary); background: #fff;}
a.btn-theme:hover {box-shadow: inset 0 0 0 3px rgba(0,0,0,.25);}
.arrow-link {text-transform: uppercase; font-weight: bold; transition: var(--transition); text-decoration: none; letter-spacing: 1px;}
.arrow-link:after {content: "\f061";font-family: FontAwesome; margin: 0 0 0 5px;transition: var(--transition);}
.arrow-link:hover {text-decoration: underline;}
.arrow-link:hover:after {margin-left: 9px;}

.content ul {padding: 0 0 0 15px; list-style: square;}
.content ul li::marker {color: var(--orange);}
.content ul li + li {margin-top: 5px;}

/* Layout */
.content section {padding: var(--spacer) 0;}
.grid {display: grid; gap: var(--grid-gap-md);}
.grid + .grid {margin-top: 2rem;}
.grid.grid-gap-sm {gap: var(--grid-gap-sm);}
.grid.grid-gap-md {gap: var(--grid-gap-md);}
.grid.grid-gap-lg {gap: var(--grid-gap-lg);}
.grid .text {height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: flex-start;}
.grid-2-sm {grid-template-columns: 1fr 1fr;}
.sidebar-grid aside {order: 2;}
.border-middle .col:first-of-type {border-right: 1px solid var(--primary); padding: 0 var(--spacer) 0 0;}
.bkg-light {background:var(--light);}
.bkg-light-1 {background: var(--light-2);}
.bkg-dark .preheader, .bkg-dark .callout {color: var(--tertiary);}
.grid-box-4 {display: grid; grid-template-columns: 1fr 1fr; gap: 25px;}
.grid-pagelist {display: grid; grid-template-columns: repeat( auto-fill, minmax(225px, 1fr) );}
.flex {display: flex;}
.width-skinny {max-width: var(--skinny); margin: 0 auto;}
.texture {background: url(../img/pattern-wave.jpg); background-size: 100% auto;}
.content aside > * {margin-bottom: 2rem;}
.highlight {position: relative;}
.highlight:after {width: 105%;height: 35px;background: var(--blue); content: "";position: absolute;z-index: -1;left: -2.5%;bottom: 30px;transition: var(--transition);animation: 1s ease-in-out 1.2s 1 both grow;transform: skew(-7deg);}
@keyframes grow {
    from {width: 0;}
    to {width: 105%;}
}
.padding-top-sm {padding-top: 15px !important;}

/* Image Combo */
.img-combo {position: relative; padding: 0 0 125px 0;}
.img-combo img {border-radius: 5px;}
.img-combo img:nth-of-type(1) {width: 80%;}
.img-combo img:nth-of-type(2) {width: 60%; position: absolute; right: 0; bottom: 0;  border-right: 0; border-bottom: 0;}
.img-combo:after {position: absolute; right: 65%; bottom: 20%; content: ""; width: 75px; height: 75px; border: 5px solid var(--green); border-radius: 5px;}
.img-combo:before {position: absolute; right: 15%; top: 15%; content: ""; width: 50px; height: 50px; border: 5px solid var(--orange); border-radius: 5px;}
.img-combo.tall {padding-bottom: 275px;}
.img-combo.tall img:nth-of-type(2) {width: 50%;}

/* Stat Item */
.number-item {border-left: 7px solid var(--blue); padding: 0 0 0 1rem; min-height: 95px; font-family: var(--header); }
.number-item h3 {font-size: 2.5rem; margin: 0 0 .25rem 0; letter-spacing: -2px;}
.number-item p {margin: 0; font-size: 1.25rem; line-height: 1.1; font-weight: 500;}

/* Hgroup */
.hgroup {text-align: center; margin: 0 0 3rem 0; overflow: hidden;}
.hgroup .preheader {margin: 0 0 .5rem 0;}

/* Page List */
.page-list {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 15px; }
.page-list-item {position: relative; min-height: 225px;background: #111; z-index: 5; text-decoration: none;  overflow: hidden; border-radius: 5px; overflow: hidden;}
.page-list-item:after {content: ""; position: absolute; inset: 7px; border-radius: 3px; border: 1px solid rgba(255,255,255,.25);}
.page-list-item img {position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover; opacity: .55; transition: var(--transition);}
.page-list-item .text {position: relative; z-index: 5; display: flex; flex-direction: column; justify-content: center; height: 100%; text-align: center; padding: 25px; color: #fff; align-items: center;}
.page-list-item .text h3 {color: #fff; margin: 0 0 1.5rem 0; font-size: 1.5rem; background: var(--blue); padding: 0; border-radius: 5px; background: none; transition: var(--transition); position: relative;}
.page-list-item h3:after {width: 105%; height: 10px;background: var(--purple); content: "";position: absolute;z-index: -1;left: -2.5%;bottom: -10px;transition: var(--transition); transform: skew(-7deg);}
.page-list-item.visible h3:after {animation: 1s ease-in-out 1.2s 1 both grow;}

.page-list-item .text p {margin: 0 auto -65px auto; opacity: 0; transition: var(--transition); max-width: 350px;}
.page-list-item:hover p {margin: 0 auto; opacity: 1;}
.page-list-item:hover img {opacity: .15; transform: scale(1.2); transition-duration: 3s;}
.page-list-item:hover h3:after {height: 50px; transform: scale(1.1, 1) skew(-10deg);}

.bkg-texture {background: var(--light); position: relative; z-index: 5;}
.bkg-texture > img {position: absolute; left: 0; top: 0; bottom: 0; width: 50%; height: 100%; object-fit: cover; mix-blend-mode: multiply; z-index: -1;}

#testimonials {background: var(--dark); position: relative; overflow: hidden; z-index: 5; padding: var(--spacer-lg) 0;}
#testimonials figure {position: absolute; inset: 0;}
#testimonials figure > div {height: 100%;}
#testimonials figure img {object-fit: cover; opacity: .25; height: 100%; width: 100%; z-index: -1; }
#testimonials .container > img {margin: 0 auto 25px auto; display: block; width: 75px;}
.testimonials, .content-feed {overflow: hidden; width: 100%;}
.testimonial {text-align: center; padding: 0 25px;}
.testimonial p {font-size: 1.25rem; font-style: italic; color: #fff; padding: 0 50px;}
.testimonial p + p {font-style: normal; font-size: 1rem; text-transform: uppercase;}
#testimonials .close-quote {margin: -25px auto 100px auto; width: 100px; transform: rotate(180deg); display: block;}

.swiper-button-next, .swiper-button-prev, .swiper-button-next-2, .swiper-button-prev-2 {color: var(--secondary) !important;}
.swiper-pagination-bullet-active {background: var(--secondary) !important;}
.swiper-container-horizontal > .swiper-pagination-bullets {text-align: center;}
.swiper-pagination-bullet {background: #fff; opacity: .7;}
#testimonials  .swiper-button-prev {left: var(--side-width);}
#testimonials  .swiper-button-next {right: var(--side-width);}
#testimonials .swiper-container-horizontal > .swiper-pagination-bullets {bottom: 25px;}

.feed-pagination {width: 100%; text-align: center; position: relative; padding: 10px 0; margin: 1rem 0 0 0;}
.feed-pagination .swiper-pagination-bullet {background: #555; opacity: .5; margin: 0 2px;}
.feed-pagination .swiper-button-next:after, .feed-pagination .swiper-button-prev:after {font-size: 1.5rem;}

.content .content-twocol {padding: 0;}
.content-twocol .text {padding: 25px;}
.content-twocol .img img {width: 100%; height: 100%; object-fit: cover;}

.grid-news {display: block;}
.grid-news .list-text {padding: 25px;}
.grid-news .list-items {padding: 0 25px;}

.info-card {font-size: .9rem; border-radius: 5px; overflow: hidden; box-shadow: 0px 0px 10px rgba(0,0,0,.1);}
.info-card figure {height: 175px; overflow: hidden;}
.info-card figure img {width: 100%; height: 100%; object-fit: cover;}
.info-card .text {background: #fff; padding: 25px; background: #fff;  border-radius: 0 0 5px 5px ;}
.info-card h3 {font-size: 1.45rem; line-height: 1.1; margin: 0 0 5px 0;}
.info-card a {margin-top: auto; padding: 7px 5px; display: block; text-align: center; font-size: .8rem;}
.feed-pagination {padding: 50px; width: calc(100% - 200px); margin: 0 0 0 100px;}
.content aside .info-card .text {padding: 25px; min-height: auto;}

.content-cta {position: relative; z-index: 5; border-radius: 5px;}
.content-cta:after {content: ""; display: block; border: 1px solid rgba(255,255,255,.25); inset: 10px; position: absolute; border-radius: 4px; z-index: -1;}
.content-cta figure {position: absolute; z-index: -1; height: 100%; background: var(--dark); border-radius: 5px; overflow: hidden;}
.content-cta figure img {width: 100%; height: 100%; object-fit: cover; object-position: center center; opacity: .35}
.content-cta .text {text-align: center; padding: 100px;}
.content-cta .text h2 {color: #fff; margin: 0 0 1.5rem 0;}
.content-cta .text p {color: #fff; max-width: 80%; margin: 0 auto 2rem auto;}
.content-cta .text .arrow-link {border: 1px solid #fff; padding: 15px 25px; display: inline-block; background: rgba(0,0,0,.25); border-radius: 3px; color: #fff; font-size: .8rem;}
.content-cta .text .arrow-link:hover {text-decoration: none; background: rgba(0,0,0,.5);}
.col .content-cta .text {align-items: center; padding: 75px 25px;}
.col .content-cta .text h2 {font-size: 2.25rem;}

#sec-nav {z-index: 5; position: relative;}
#sec-nav h3 {font-size: .85rem; background: var(--blue); color: #fff; margin: 0; text-transform: uppercase; padding: 15px; text-align: center; letter-spacing: 2px; border-radius: 5px 5px 0 0;}
#sec-nav > ul {list-style: none; margin: 0; padding: 15px; background: #fff; box-shadow: 5px 5px 50px rgba(0,0,0,.1); border-radius: 0 0 5px 5px;}
#sec-nav ul a {display: block; padding: 18px 20px; text-decoration: none; color: var(--text); font-family: var(--header); font-weight: 700; font-size: 1rem; position: relative; border-left: 7px solid rgba(0,0,0,0);}
#sec-nav ul a:after {content: "\f061";font-family: FontAwesome; margin: 0 0 0 1rem; color: rgba(0,0,0,.2); position: absolute; right: 10px; top: calc(50% - 12px); opacity: 0; transition: var(--transition);}
#sec-nav > ul > .active > a {background: #f4f4f4; border-left: 7px solid var(--blue);}
#sec-nav > ul > .active > a:after {opacity: 1; color: var(--blue);}
#sec-nav > ul > li > a:hover {padding: 18px 15px 18px 25px;}
#sec-nav > ul > li > a:hover:after {opacity: 1;}
#sec-nav li {margin: 0;}
#sec-nav ul ul {list-style: square; padding: 15px 0 15px 35px; border-bottom: 1px solid #ddd; margin: 0 0 10px 0;}
#sec-nav ul ul li::marker {color: #ddd;}
#sec-nav ul ul a {font-weight: 400; padding: 7px 10px 7px 0;}
#sec-nav ul ul .active a {font-weight: 700;}
#sec-nav ul ul a:hover {padding: 7px 7px 7px 5px;}
#sec-nav ul ul a {font-weight: 400; padding: 7px 10px 7px 0;}
#sec-nav ul ul .active::marker {color: var(--blue);}

.page-list-section {position: relative;z-index: 5;}
.page-list-section > figure {position: absolute; height: 400px; top: 0; width: 100%; background: #f4f4f4; z-index: -1;}
.page-list-section > figure img {width: 100%; height: 100%; object-fit: cover; opacity: .1;}
.page-list-section .hgroup h2 {margin: 0 0 3rem 0;}

.page-list {gap: 25px; display: grid; grid-template-columns: repeat( auto-fit, minmax(275px, 1fr) );}
.page-list .hero-box .text {padding: 200px 0 0 30px;}

.bkg-pattern {background: url(../img/angle-pattern.png); background-size: cover;}

.hgroup-col {display: grid; grid-template-columns: 450px auto; margin: 0 0 2rem 0; align-items: center;}
.hgroup-col p {margin: 0;}

.content .full-padding {padding: var(--spacer);}
.full-feature {display: grid; grid-template-columns: 1fr 50px 1fr; grid-template-rows: 25px auto 25px;}
.full-feature figure {grid-area: 1 / 1 / 4 / 3;}
.full-feature figure img {width: 100%; height: 100%; object-fit: cover;}
.full-feature .text {grid-area: 2 / 2 / 3 / 4; background: #fff; padding: 50px; border-radius: 5px; box-shadow: 0 0 15px rgba(0,0,0,.1);}
.full-feature + .full-feature {margin-top: 2rem;}
.flex-center {display: flex; justify-content: center; flex-direction: column;}

.bkg-texture {position: absolute; z-index: -1; width: 100%;}

.bkg-pattern-2 {background: url(../img/bkg-tris.png) right top no-repeat;}

.ico-link-grid {list-style: none; padding: 0; margin: 0; display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr 1fr; gap: 15px; list-style: none !important;}
.ico-link-grid a {padding: 25px 15px; display: flex; flex-direction: column; justify-content: center; text-align: center; font-family: var(--header); color: var(--text); font-weight: 600; font-size: 1rem; line-height: 1.1; text-decoration: none; background: var(--purple); height: 100%; border-radius: 5px; color: #fff; position: relative; z-index: 5; box-shadow: 5px 5px 10px rgba(0,0,0,.1);}
.ico-link-grid a:after {content: ""; display: block; border: 1px solid rgba(255,255,255,.25); inset: 6px; position: absolute; border-radius: 4px; z-index: -1;}
.ico-link-grid a .fa {font-size: 2rem; margin: 0 0 10px 0;}
.ico-link-grid li:nth-of-type(2n) a {background: var(--teal);}
.ico-link-grid li:nth-of-type(3n) a {background: var(--green);}
.ico-link-grid a:hover {background: #eee !important; color: var(--purple); transform: scale(1.05);}
.ico-link-grid a:hover:after {border-color: var(--purple); inset: 0; border: 3px solid var(--purple);}
.ico-link-grid li {margin: 0 !important;}
#hdr-basic {margin-top: 125px;}

.img-bkg-full {position: relative; z-index: 5; background: #fff;}
.img-bkg-full > img {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover; mix-blend-mode: multiply; z-index: -1; opacity: .2;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
:root {
  --spacer: 50px;
  --spacer-lg: 50px;
  --grid-spacer-med: 50px 
}
h1 {font-size: 4.5rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 2rem;}
.img-right {float: right; margin: 0 0 2rem 2rem; max-width: 40%;}
.img-left {float: left; margin: 0 2rem 2rem 0; max-width: 40%;}
.grid {clear: both;}
.grid-2-3 {grid-template-columns: 2.15fr 3fr;}
.grid-3 {grid-template-columns: 1fr 1fr 1fr;}
.grid-4 {grid-template-columns: 1fr 1fr;}

#hdr-basic h1 {font-size: 3rem; border-bottom: 1px solid #ddd; padding: 0 0 25px 0;}

.content .content-twocol {display: grid; grid-template-columns: 2fr 2.75fr; padding: 0;}
.content .content-twocol .text {padding: 50px;}
}

/* Medium devices (tablets, 992px and up) */
@media (min-width: 992px) {
:root {
  --spacer: 50px;
  --max-width: 940px;
  --grid-gap-sm: 15px;
  --grid-gap-md: 25px;
  --grid-gap-lg: 50px;
}
hr {margin: 3rem 0; border-color: #ddd;}

/* Layout */
.grid {grid-gap: var(--grid-gap-lg);}
.grid-2 {grid-template-columns: 1fr 1fr;}
.grid-2-5 {grid-template-columns: 2fr 5fr;}
.grid-4 {grid-template-columns: 1fr 1fr 1fr 1fr;}
.grid-sidebar {grid-template-columns: 1fr 3fr; gap: 50px;}
.grid-news {grid-template-columns: 375px minmax(0, auto); overflow: hidden;}
.grid-news .list-text {padding-right: 75px;}
.sidebar-grid {grid-template-columns: 1.15fr 3fr;}
.sidebar-grid aside {order: 1;}
.sidebar-grid > .col {order: 2; margin-top: -15px;}
.sidebar-grid #sec-nav {margin-top: -100px;}
.grid-blog {grid-template-columns: 3fr 1fr;}
#hdr-basic {margin-top: 150px;}

.content .content-twocol .text {padding: var(--spacer-lg) var(--side-width) var(--spacer-lg) var(--spacer-lg); position: relative;}

.grid-news {display: grid; grid-template-columns: 375px minmax(0, auto); padding: 0 0 0 var(--spacer-lg); gap: var(--grid-gap-lg); background: #fff;}
.grid-news .list-text {padding: var(--spacer) 0; padding-top: var(--spacer-lg); padding-right: 75px; position: relative;}
.grid-news .list-text:after {position: absolute; width: 350px; height: 350px; background: url(../img/corner-pattern.jpg) bottom right; content: ""; z-index: 1; background-size: 100% auto; mix-blend-mode: multiply; right: -50px; bottom: 0;}

.grid-news .list-items {background: url(../img/angle-pattern.png);padding: var(--spacer) 0; padding-top: var(--spacer-lg);}
.grid-news .content-feed {width: calc(100% + 150px); margin: 0 -75px 0 -75px;}
.grid-news .content-feed .info-card {margin: 0 0 0 10px;}
.grid-news .content-feed .info-card .text {height: 100%; min-height: 245px; display: flex; flex-direction: column; justify-content: flex-start;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root {
  --spacer: 75px;
  --spacer-lg: 125px;
  --max-width: 1140px;
  }
  h2 {font-size: 2.75rem;}

  .page-list-item .text h3 {font-size: 1.75rem;}

  .info-card h3 {font-size: 1.65rem;}
  .grid-news .content-feed .info-card .text{ padding: 35px; min-height: 310px;}

}