@charset "UTF-8";
/* CSS Document
Client: Lil' Drug Store / Preston Kelly
Company: Informatics, Inc
Author: JS
Date: August 2019
*/

/* TYPOGRAPHY */
body {font-family: "Montserrat", sans-serif; font-weight: 400; font-size: 15px; background: #fff; color: rgba(0,0,0,.85);
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
text-rendering: optimizeLegibility;
-moz-font-feature-settings: "liga" on;
}
:root {
--gold: #fcb813;
--ornage: #f7931e;
--blue: #0071bc;
--green: #00a99d;
--lightgray: #d8d8d8;
--darkgray: #595959;	
}

h1, h2, h3, h4, h5 {font-weight: 900; color: #000; text-transform: uppercase; margin: 0 0 15px 0;}
h1 {font-size: 32px; margin: 10px 0;}
h2 {font-size: 24px; margin: 0 0 10px 0;}
h2.lead {font-size: 32px; font-weight: 400;}
h3 {font-size: 18px;}
h4 {font-size: 18px; font-weight: 700;}
p, ul, ol {margin-bottom: 1.5em;}
.blue {color: var(--blue);}

img {max-width: 100%;}
hr {border-color: rgba(0,0,0,.15); margin: 30px 0; position: relative; width: 100%; overflow: hidden;}
.bkg-darkgray {background: var(--darkgray);}
.fun-list ul {list-style: none; padding: 0; margin: 15px 0;}
.fun-list ul li {font-size: 18px; margin: 4px 0;}
.fun-list ul li::before {content: "\f00c";font-family: FontAwesome; margin: 0 10px 0 0; font-size: 20px; color: var(--gold);}

/* LINKS */
a {color: var(--gold);}
a:focus, a:hover {text-decoration: underline;}
a:hover {text-decoration: underline; color: var(--gold);}
a.btn-theme, .btn-theme a {display: block; padding: 25px; text-transform: uppercase; color: #fff; text-decoration: none; font-weight: 900; text-align: center;}
a.btn-theme::after, .btn-theme a::after {content: "\f054";font-family: FontAwesome; margin-left: 10px;}
a.btn-theme:hover, .btn-theme a:hover {text-decoration: none; color: var(--gold);}
.container {position: relative;}

/* Animate */
.ccm-page a, .page-list-item::before {
-webkit-transition: all .25s linear;
-moz-transition: all .25s linear;
-o-transition: all .25s linear;
transition: all .25s linear;
}
.cubic, .toggle-icon .fa, #hdr-search, #nav-main .fa, #toggle-search .fa, button, a:after, a.page-list-item, .page-list-item * {
-webkit-transition: all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:         all 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav-main ul {
-webkit-transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition:         all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Header and Menu */
#header {border: 0; margin: 0; position: relative; border-radius: 0; z-index: 250; background: #000; position: relative;}
#logo {display: inline-block; width: 150px; padding: 15px;}

#toggle {margin: 10px 0 0 0; float: right; border-radius: 0; text-align: left; padding: 15px;}
#toggle p {margin: 0; color: #fff; font-size: 10px; text-transform: uppercase;}
#toggle .toggle-icon {position: relative; width: 40px; height: 40px;}
#toggle .toggle-icon .fa {color: #fff; font-size: 36px; position: absolute; top: 0; text-align: center; opacity: 1;}
#toggle.collapsed .toggle-icon .fa-close {top: 10px; left: 4px; opacity: 0;}
#toggle.collapsed .toggle-icon .fa-align-justify {opacity: 1; top: 0;}
#toggle .toggle-icon .fa-align-justify {opacity: 0; top: -10px;}
#toggle .toggle-icon .fa-close {opacity: 1; top: 0; left: 4px;}

#nav-main {margin: 15px 0;}
#nav-main a {color: #fff; text-decoration: none; font-weight: 800; font-size: 18px; border-top: 1px solid rgba(255,255,255,.5); padding: 20px 15px; display: block;}

#nav-main li {position: relative;}
#nav-main li button {position: absolute; right: 0; top: 10px; height: 40px; width: 50px; display: block; background: none; border: none;color: #fff; border-left: 1px solid rgba(255,255,255,.25); padding: 5px 0 0 0;}
#nav-main li button i {transform: rotate(0);}
#nav-main > li > a > .fa {display: none;}
#nav-main li button.collapsed i {transform: rotate(-180deg);}
#nav-main li:hover > a, #nav-main a:active, #nav-main a:focus, #nav-main li.nav-path-selected > a {background: none; color: var(--gold);}
#nav-main ul {padding: 0 0 0 25px; margin: 0; list-style: none;}
#nav-main ul a {text-transform: none; border: none; padding: 5px; font-weight:  400; font-size: 16px;}
#nav-main ul li:last-of-type {margin-bottom: 25px;}
#nav-main .mega-menu span {display: none;}

#toggle-search {display: none;}
#hdr-search {margin-bottom: 25px; overflow: hidden;}
#hdr-search.open {display: block; top: 95px; opacity: 1; visibility: visible;}
#hdr-search input {background: rgba(255,255,255,.5); width: 80%; float: left; padding: 10px; font-size: 14px; border: none; height: 50px;}
#hdr-search button {border: 0; color: #fff; width: 20%; height: 50px; float: left; background: var(--darkgray); padding: 10px; font-size: 20px;}

/* Footer */
#footer {background: #000; color: #fff; padding: 50px 15px;}
#footer h3 {color: #fff;}
#footer ul {list-style: none; padding: 0; margin: 0 0 25px 0;}
#footer a {color: #fff; padding: 5px 0; display: inline-block;}
#footer a:hover {color: var(--gold);}
#footer .social a {font-size: 30px; margin: 0 10px 10px 0;}
#footer p.copy {margin: 0; font-size: 12px; padding: 15px;}

/* Hero */
#hero .content-two-col .text {text-align: center; padding: 25px 0;}
#hero figure {display: none;}
.hero-links {background: var(--gold); padding: 15px;}
.hero-links a {display: block; text-transform: uppercase; padding: 15px 50px 15px 25px; color: #000; font-weight:  700; position: relative; font-size: 20px;}
.hero-links a::after {content: "\f054";font-family: FontAwesome; float: right; position: absolute; right: 15px; top: calc(50% - 20px);}
.hero-links a:hover {color: var(--darkgray); text-decoration: none;}

/* Results */
.results {padding: 25px 0 0 0; background: var(--darkgray); color: #fff;}
.results h2 {color: #fff; text-align: center;}
.results h2 img {display: block; margin: 0 auto;}
.results-slider-wrapper {position: relative;}
.results-slider-wrapper #prev, .results-slider-wrapper #next {color: #fff; position: absolute; left: 0; top: calc(50% - 100px); z-index: 50; transform: scale(.6);}
.results-slider-wrapper #next {color: #fff; left: auto; right: 0;}
.results-slider-wrapper #next img {transform: scaleX(-1);}
.results-slider {padding: 0 50px;}
.results-slider button {border: none; background: none; text-align: left;}
.results-slider button:active, .results-slider button:focus {outline: none;}
.results-slider button:hover {transform: scale(1.1);}
.results-slider .slide {padding: 0 15px;}
.results-slider .slide img {margin: 0; padding: 25px;}
.results-slider .slide h3 {color: #fff;}

/* Content */
.bkg-blue {background: var(--blue);}
.bkg-blue .text {padding: 35px 15px; color: #fff;}
.bkg-blue .text h2 {color: #fff;}
.content-two-col .btn-theme {background: var(--darkgray);}

.products-map {padding: 50px 15px; text-align: center;}
.products-map figure {margin: 15px 0;}
.products-map .text h3 {margin-top: 35px;}
.hover-map {position: relative; padding-bottom: 50px;}
.img-magnifier-glass { position: absolute; border: 4px solid #000; border-radius: 50%; cursor: none; width: 150px; height: 150px; box-shadow: 10px 10px 15px rgba(0,0,0,.2);}

.cta {background: var(--blue); padding: 25px 25px 0 25px; text-align: center; margin: 25px 0 0 0;}
.cta h2 {text-transform: none; color: #fff;}

.news {padding: 35px 0 0 0;}
.news h2 {text-align: center;}
.news .page-list-blog .blog-item {display: none; margin: 0 0 25px 0; padding: 25px 15px;}
.news .page-list-blog .blog-item:first-of-type {display: block;}
.news .btn-theme {background: var(--green);}
.blog-item h3 {text-transform: none; font-weight: 700;}
.blog-item date {font-weight: 400; text-transform: uppercase; margin: 0 0 15px 0; display: block; font-size: 80%;}
.blog-item .btn-theme {text-align: left; color: #000; font-weight: 400; padding: 10px 0; background: none;}

.page-hdr {text-align: center; padding: 35px 0;}
.page-hdr h1 {margin: 0 0 15px 0;}
.page-hdr p {font-size: 18px; font-weight: 300; max-width: 800px; margin: 15px auto;}
.page-hdr .breadcrumb {background: None; font-size: 80%; margin: 0; text-transform: uppercase;}
.page-hdr .breadcrumb a {color: #000;}
.page-hdr .breadcrumb li {color: #999;}

.filter-nav {text-align: center;}
.filter-nav button {border: none; background: var(--gold); text-transform: uppercase; font-weight: 300; display: inline-block; padding: 10px; width: 300px; margin: 0 0 15px; border: 4px solid var(--gold);}
.filter-nav button:hover {border-color: #e98b3a;}
.filter-nav button:active, .filter-nav button:focus, .filter-nav button.active {background: #e98b3a; border-color: #e98b3a;}
.filter-nav h3 {margin: 25px 0;}

.filtr-item {width: 50%; padding: 15px; min-height: 250px; }
.filtr-item button {border: none; background: none; text-align: left;}
.filtr-item img {margin: 0 0 15px 0; width: 100%; height: 100px; object-fit: contain;}
.filtr-item p {font-size: 75%;}
.filtr-item button:hover {transform: scale(1.1);}

#result-modals .modal-content {border-radius: 0; margin: 15px; padding: 15px;}
#result-modals .modal-content .results-content {border-top: 1px solid #000; padding: 25px 0; margin: 25px 0;}
#result-modals .modal-content .results-content ul {margin: 25px 0; padding: 0 0 0 25px;}
#result-modals .modal-content .results-content ul li {margin: 0 0 10px 0;}

#result-modals button.close {font-size: 10px; text-transform: uppercase; opacity: 1; color: #000; position: absolute; top: 10px; right: 20px;}
#result-modals button.close span {font-size: 50px; display: block;}

#result-modals .modal-buttons {display: flex;}
#result-modals .modal-buttons button {border: none; background: var(--lightgray); padding: 20px 15px;}
#result-modals button.btn-close {background: var(--lightgray); color: #000; text-transform: uppercase; border: none; padding: 20px; display: block;width: 100%; text-align: center; margin: 0 10px;}
#result-modals .modal-buttons button:hover {background: #eee;}

#result-modals .flex {display: flex; margin: 60px 0 25px 0; }
#result-modals .flex img {max-width: 100px;}
#result-modals h4 {margin: 10px 0 5px 0;}
#result-modals .flex h4 {margin: 25px 0 5px 0;}
#result-modals .flex .col {padding: 10px;}

.hero-img {position: relative; margin: 0 0 25px 0; }
.hero-img-clip {height: 300px;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0 65%);
    clip-path: polygon(0 0, 100% 0, 100% 65%, 50% 100%, 0 65%);
}
.hero-img-old-product {height: 400px; background: #f4f4f4; border-bottom: 1px solid #ccc;}
.hero-img-old-product img {object-fit: cover; mix-blend-mode: multiply;}
.hero-img img.clip {height: 125%; width: 100%; object-fit: cover; position: absolute; left: 0; top: -25%;}
.hero-img img.icon {border-radius: 50%; background: var(--blue); padding: 15px; border:10px solid #fff; position: absolute; left: 50%; margin-left: -65px; bottom: -55px; transform: scale(.7);}

.page-list {display: flex; flex-wrap: wrap;}
.page-list .page-list-item {padding: 25px; color: rgba(0,0,0,.85); margin: 0 0 25px 0;}
.page-list .page-list-item {width: 50%; font-size: 75%;}
.page-list .page-list-item p {margin: 0 0 20px 0;}
.page-list .page-list-item:after {display: inline-block; content: "Learn More"; text-transform: uppercase; padding: 5px 10px; background: var(--gold); box-shadow: 5px 5px 5px rgba(0,0,0,.05);}
.page-list .page-list-item:hover {text-decoration: none; transform: scale(1.1);}
.page-list .page-list-item:hover:after {background: #e98b3a;}
.page-list .page-list-item img {width: 100%; height: 120px; object-fit: contain;}

.page-list-icons .page-list-item::before {content: "\f00c";font-family: FontAwesome; display: block; width: 50px; height: 50px; border-radius: 50%; background: var(--blue); color: var(--gold); font-size: 25px; text-align: center; line-height: 42px; margin: 0 0 15px 0; box-shadow: 5px 5px 10px rgba(0,0,0,.1); border: 4px solid #fff;}
.page-list-icons .page-list-item:hover:before {color: #e98b3a;}

.page-hdr hr {margin-bottom: 0;}
.page-list-news .page-list-item {display: block; color: rgba(0,0,0,.85); max-width: 900px; margin: 0 auto;}
.page-list-news .page-list-item img {margin: 0 0 25px 0; box-shadow: 5px 5px 0 #fff, 10px 10px 0 var(--green);}
.page-list-news .page-list-item h3 {text-transform: none; font-weight: 700;}
.page-list-news .page-list-item date, .page-hdr date {text-transform: uppercase; font-size: 75%; margin: 0 0 15px 0; display: block;}
.page-list-news .page-list-item:hover {text-decoration: none;}
.page-list-news .page-list-item:hover h3 {color: var(--gold);}
.page-list-news .page-list-item:hover img {box-shadow: 5px 5px 0 #fff, 10px 10px 0 var(--gold);}

#pagination {text-align: center;}
#pagination a {font-size: 20px;}
.news-hdr {font-size: 36px;}
.container.skinny {max-width: 900px; margin: 0 auto; width: 100%;}
.social-share {list-style: none; padding: 0; margin: 50px 0 15px 0; display: flex; flex-wrap: wrap; text-transform: uppercase; padding: 15px; background: #eee; justify-content: center;}
.social-share li {display: flex; flex-direction: column; justify-content: center;}
.social-share a {font-size: 30px; margin: 0 5px; padding: 5px;}
.social-share a:hover {color: var(--green);}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
#logo {width: 125px;}

/* Hero */
#hero figure {display: block;}
#hero .content-two-col .text {padding: 50px 50px 50px 0; min-height:  500px; display: flex; flex-direction: column; justify-content: center;}

.content-two-col {position: relative;}
.content-two-col .text {width: 50%; text-align: left !important; padding: 75px 75px 75px 0;}
.content-two-col figure {position: absolute; top: 0; right: 0; width: 50%; bottom: 0;}
.content-two-col figure img {position: absolute; left: 0; top: 0; width: 100%; height: 100%; object-fit: cover;}

.products-map .text {text-align: left; overflow: hidden; padding: 15px 50px; border-bottom: 2px solid var(--blue);}
.products-map .text h3 {width: 275px; float: left; margin: 20px 0;}
.products-map .text p {margin: 0; padding: 15px 0;}
.products-map .text:last-of-type {border: none;}

.news h2 {margin: 25px 0;}
.news .page-list-blog {display: flex; padding: 25px 0;}
.news .page-list-blog .blog-item {display: block; border-right: 2px solid var(--green); padding: 0 50px;}
.news .page-list-blog .blog-item:last-of-type {border: none;}

.filter-nav .col-inner {display: flex; justify-content: center;}
.filter-nav button {width: auto; margin: 5px;}
.filtr-item {width: 33.3%; padding: 25px;}

#result-modals .modal-content {padding: 50px;}
#result-modals .flex {margin-top: 15px;}
#result-modals .flex img {max-width: 175px; margin-right: 25px;}

.page-list .page-list-item {width: 33.3%;}

.page-list-news .page-list-item {position: relative; padding: 25px 0 25px 300px;}
.page-list-news .page-list-item img {margin: 0; position: absolute; left: 0; top: 15px; width: 250px;}
.page-list-news .page-list-item h3 {text-transform: none; font-weight: 700; font-size: 24px;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
#logo {margin: 0 auto; padding: 25px 0;}
#navbar {padding: 0; float: right; position: absolute; right: 0; bottom: 0;}
#nav-main {display: flex; justify-content: right; margin: 0; padding: 0;}
#nav-main a {padding: 30px 15px; border: 0; text-transform:  uppercase; font-size: 16px;}
#nav-main li button {display: none;}
#nav-main > li > a > .fa {margin-left: 5px; display: inline;}

#toggle-search {display: block; background: none; border: none; padding: 25px 25px; color: #fff; height: 80px; position: relative;}
#toggle-search .fa {position: absolute; top: 32px; left: 10px; font-size: 20px;}
#toggle-search .fa-close {opacity: 0; top: 20px;}
#toggle-search.open .fa-search {opacity: 0;}
#toggle-search.open .fa-close {opacity: 1; top: 32px;}
#hdr-search {position: absolute; right: 0; top: 60px; visibility: hidden; opacity: 0; background: var(--lightgray);}
#hdr-search.open {visibility: visible; opacity: 1; top: 80px;}

#nav-main > li {position: relative;}
#nav-main > li:after {}
#nav-main ul li:last-of-type {margin: 0;}
#nav-main ul a {padding: 8px;}
#nav-main ul {display: block; position: absolute; left: 0; top: 95%; background: rgba(0,0,0,.85); padding: 10px; list-style: none; width: 300px; display: block; visibility: hidden; opacity: 0;}
#nav-main > li:hover > ul,  #nav-main > li:hover > ul.mega-menu {visibility: visible; top: 100%; opacity: 1;}
#nav-main > li:hover > a > .fa {transform: rotate(180deg);}

#nav-main .mega-menu {width: 700px; padding: 30px 20px; left: 50%; margin-left: -400px; display: block; visibility: hidden; opacity: 0;}
#nav-main .mega-menu > li {width: 60%; margin-right: 5%; float: left; border-right: 1px solid rgba(255,255,255,.25);}
#nav-main .mega-menu > li:last-of-type {width: 35%; border: none;}
#nav-main .mega-menu > li > a {text-transform:  uppercase; font-size: 13px; font-weight: 900;}
#nav-main .mega-menu ul {display: block; position: relative; top: auto; width: 100%; background: none;}
#nav-main .mega-menu ul a {padding: 10px 5px; font-weight: bold; font-size: 17px;}
#nav-main .mega-menu .two-col {display: flex; flex-wrap: wrap; width: 100%;}
#nav-main .mega-menu .two-col li {width: 50%;}
#nav-main > li:hover > ul.mega-menu ul {visibility: visible; opacity: 1;}
#nav-main .mega-menu span {display: block; font-size: 75%; font-weight: 400;}

/* Content */
.hero-links {padding: 25px 0;}
.hero-links .container {display: flex;}
.hero-links a {padding: 5px 15px; text-align: center; line-height: 1.1; border-right: 2px solid #000;}
.hero-links a:last-of-type {border: none;}
.hero-links a:after {display: none;}

.filter-nav {display: flex; text-align:left; margin: 50px 0; justify-content: space-between;}
.filter-nav h3 {margin: 0 0 10px 0;}
.filter-nav button {width: auto; margin: 0 5px 0 0; padding: 10px;}
.filtr-item {width: 25%; padding: 25px 40px; min-height: 300px;}

.page-list .page-list-item {width: 25%;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
h1 {font-size: 46px;}
h2 {font-size: 32px;}
a.btn-theme, .btn-theme a {font-size: 18px; padding: 30px;}

/* Header and Menu */
#nav-main a {padding: 30px 23px;}
#nav-main .mega-menu {width: 800px; margin-left: -450px;}

.page-list .page-list-item {width: 20%;}
.page-list.max-four .page-list-item {width: 25%;}

}

/* Bootstrap Expand Nav Tablet Too */
@media (max-width: 992px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in {
      display:block !important;
  }
}

/*  Animation */
/* -----------------------*/
/* TRANSITION ANIMATIONS */
/* ---------------------*/

.animate {
	animation-duration: .5s;
	-webkit-animation-duration: 0.5s;
	transition-timing-function: ease-out;
	animation-fill-mode: both;
	opacity: 0;
}

/* -- Fade In Up -- */
@keyframes fadeInUp {
  0% {opacity: 0;transform: translate3d(0, 2%, 0);}
  100% {opacity: 1;transform: none;}
}

.fadeinup {
animation-name: fadeInUp;
animation-delay: 0.2s;
}

/* -- Fade In -- */
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.fadein {
animation-name: fadeIn;
animation-delay: 0;
animation-duration: .5s;
}

.delay-1 {animation-delay: .25s;}
.delay-2 {animation-delay: .35s;}
.delay-3 {animation-delay: .45s;}
.delay-4 {animation-delay: .55s;}
.delay-5 {animation-delay: .65s;}
.delay-6 {animation-delay: .75s;}
.delay-7 {animation-delay: .85s;}
.delay-8 {animation-delay: .95s;}
.delay-9 {animation-delay: 1.5s;}