@charset "UTF-8";
/* CSS Document
Client: Lil' Drug Store / Preston Kelly
Company: Informatics, Inc
Author: JS
Date: December 2021
*/

/* TYPOGRAPHY */

:root {
--gold: #fcb813;
--ornage: #f7931e;
--blue: #0071bc;
--green: #00a99d;
--lightgray: #d8d8d8;
--darkgray: #595959;	
--dreamblue: #00aced;
--dreamgreen: #89c33e;
--transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#giving header {text-align: center; background: var(--dreamblue); margin: 0 0 25px 0; position: relative; z-index: 5;}
#giving header h1 {color: #fff; margin: 0; padding: 25px 0;}
#giving header img {width: 80px; position: absolute; left: calc(50% - 225px); top: 5px; z-index: -1; mix-blend-mode: multiply; opacity: .5;}
#giving header a {display: block; color: #fff; position: relative; top: -15px;}
#giving .container {margin: 50px auto;}
#giving h2, #giving h3 {text-transform: none; font-weight: 700; color: var(--dreamblue);}
#giving h3 {font-size: 21px; color: var(--dreamblue);}
#giving ul {list-style: square; padding: 0 0 0 25px;}
#giving ul li::marker {color: var(--dreamblue);}
#giving ul a {color: #333; text-decoration: underline; font-size: 16px; display:  block; padding: 3px;}
#giving .skinny img {margin: 0 0 50px 0; box-shadow: 10px 10px 0 #fff, 15px 15px 0 var(--dreamblue);}
.two-col {display: grid; grid-template-columns: 1fr 1fr;}

.btn-dream a {background: var(--dreamblue); padding: 10px 15px; color: #fff; display: inline-block; font-weight: 700; text-transform: uppercase; border-radius: 5px;}
.btn-dream a:hover {background: var(--blue); text-decoration: none;}

.dreamwork {background: #000; padding: 25px; display: grid; gap: 25px; margin: -25px 0 25px 0;}

.video-link {position: relative; display: block; color: #fff; text-transform: uppercase; background: #000; overflow: hidden;}
.video-link .overlay {position: absolute; width: 100%; height: 100%; display: flex; justify-content: center; flex-direction: column; text-align: center; z-index: 5;}
.video-link i {font-size: 4rem; color: #fff; margin: 0 0 1rem 0;}
.video-link p {margin: 0; font-weight: 600; letter-spacing: 2px;}
.video-link img {transition: var(--transition);;}
.video-link:hover {color: #fff;}
.video-link:hover img {opacity: .8; transform: scale(1.05);}

.img-combo {position: relative; padding: 0 75px 125px 0; margin: 0 0 25px 0;}
.img-combo img:nth-of-type(2) {position: absolute; bottom: 0 ; right: 25px; width: 50%; border: 15px solid #fff; border-bottom: none; z-index: 5; border-right: none;}
.img-combo:after {width: 75px; height: 75px; background: var(--dreamgreen); position: absolute; bottom: 75px; left: 75px; content: ""; border: 10px solid #fff;}

.dream-nav {display: grid; gap: 15px;}
.dream-nav a {background: var(--dreamblue); display: block; color: #fff; text-transform: uppercase; display: grid; grid-template-columns: 75px auto; gap: 25px; align-items: center; font-size: 2.5rem; border-radius: 5px; box-shadow: 5px 5px 15px rgba(0,0,0,.1);}
.dream-nav a img {background: #fff; padding: 5px; border-radius: 50%; width: 75px; height: 75px; object-fit: contain; border: 5px solid #fff; transition: var(--transition);}
.dream-nav a:hover {background: var(--blue); text-decoration: none;}
.dream-nav a:hover img {transform: scale(1.1);}

.explore {border-bottom: 1px solid #ccc; text-align: center; margin: 2rem 0 2.5rem 0;}
.explore span {display: inline-block; padding: 5px 10px; background: #fff; position: relative; bottom: -17px;}

.project-item {position: relative; margin: 0 0 25px 0;}
.project-item .text {background: var(--dreamblue); color: #fff; padding: 95px 25px 25px 25px; position: relative;}
.project-item .text h3 {color: #fff !important; text-transform: uppercase !important; font-size: 2.5rem;}
.project-item .project-logo {width: 150px; height: 150px; padding: 15px; border-radius: 50%; border: 5px solid var(--dreamblue); display: flex; justify-content: center; flex-direction: column; background: #fff; position: absolute; top: -75px; left: calc(50% - 75px); box-shadow: 5px 5px 25px rgba(0,0,0,.1);}
.project-item .text a {display: inline-block; padding: 10px 15px; background: var(--dreamgreen); color: #fff; border: 2px solid #fff; font-weight: 700; text-transform: uppercase; display: inline-flex; align-items: center; align-self: flex-start;}
.project-item .text a i {font-size: 2rem; margin: 0 5px 0 0;}
.project-item .text a:hover {background: #72a82d; text-decoration: none;}

.team-list {display: grid; grid-template-columns: repeat( auto-fit, minmax(205px, 1fr) ); grid-template-rows: repeat( auto-fit, 200px); gap: 35px;}
.team-list .empty {display: none;}
.team-item {border: 3px solid var(--dreamblue); border-top: none; border-right: none; padding: 0 0 15px 15px; grid-row: span 2;}
.team-item img {margin: 0 0 15px 0;}
.team-item p {margin: 0; font-size: 13px;}

.fact-item {background: var(--dreamblue); color: #fff; padding: 25px;border: 2px solid var(--dreamblue); display: flex; justify-content: center; flex-direction: column;}
.fact-item:nth-of-type(even) {background: #fff; color: var(--dreamblue);}
.fact-item p {margin: 0; text-transform: uppercase;}
.fact-item p strong {font-size: 3rem;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
.dreamwork {display: grid; grid-template-columns: 1fr 1fr;}
.fact-grid {display: grid; grid-template-columns: 1fr 1fr 1fr; }
.fact-item p strong {font-size: 5rem; display: block;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
.dreamwork {padding: 0;}
.dreamwork .col {display: flex; justify-content: center; flex-direction: column; align-items: center;}
.dreamwork .logo {max-width: 400px; float: right; display: block;}

.dream-nav {grid-template-columns: 1fr 1fr 1fr;}
.dream-nav a {padding: 15px; font-size: 1.75rem;}

.project-item {display: grid; grid-template-columns: 2fr 1.5fr;}
.project-item .bkg-img {order: 1; width: 100%; height: 100%; object-fit: cover;}
.project-item .text {padding: 25px; position: initial;}
.project-item .project-logo {left: auto; right: -25px; top: calc(50% - 75px);}

.project-item:nth-last-of-type(even) {grid-template-columns: 1.5fr 2fr;}
.project-item:nth-last-of-type(even) img {order: 1;}
.project-item:nth-last-of-type(even) .text {order: 2; padding: 25px;}
.project-item:nth-last-of-type(even) .project-logo {right: auto; left: -25px;}

.project-item .text h3 {font-size: 3rem !important;}

.team-item:nth-of-type(odd) {position: relative; top: 125px;}
.team-list {padding-bottom: 75px;}
.team-list .empty {display: block;}
.fact-item p strong {font-size: 7rem; display: block; margin: -10px 0;}

#giving .skinny .img-right {max-width: 50%; float: right; margin: 0 0 15px 25px;}
#giving .skinny .img-left {max-width: 50%; float: left; margin: 0 25px 25px 0;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1275px) {
  .project-item:nth-last-of-type(even) .project-logo {right: auto; left: -65px;}
  .project-item .project-logo {right: -65px; }


}
