/* CSS Document
Client: Covenant Workplace Solutions
Company: Informatics, Inc
Author: Jeff S
Date: Sep 2022
*/

/* Variables */
:root {
  accent-color: var(--primary);
  --primary: #255072;
  --secondary: #AAD4D3;
  --tertiary: #6D6E71;
  --bkg: #fff;
  --light: #EDF0F0;
  --dark: #222222;
  --spacer: 25px;
  
  --spacer-lg: 50px;
  --grid-spacer-med: 25px
  --text: rgba(0,0,0,.85);
  --light-text: rgba(255,255,255,.75);
  --header: 'Montserrat', serif;
  --body: 'Montserrat', sans-serif;
  --serif: 'Georgia', serif;
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --shadow: 0 5px 25px rgba(255,161,0,.15);
  --light-gradient: linear-gradient(35deg, rgba(253,247,238,1) 0%, rgba(245,228,203,1) 100%);
  --max-width: 400px;
  --side-width: calc( (100vw - var(--max-width))/2 );
  --grid-gap-sm: 5px;
  --grid-gap-md: 15px;
  --grid-gap-lg: 25px;
  --skinny: 800px;
}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: var(--bkg); color: var(--text); 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;
font-feature-settings: "liga";
text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5 {font-family: var(--header); font-weight: 700; letter-spacing: -1px; margin: 0 0 1rem 0; line-height: 1; color: var(--primary);}
h1 {font-size: 3rem; letter-spacing: 1px; font-weight: 700; text-transform: uppercase;}
h2 {font-size: 2rem;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
p, ul, ol {margin-bottom: 1.5em;}
img {max-width: 100%; height: auto;}
hr {margin: 25px 0;} 
a {transition: var(--transition);}
.preheader {text-transform: uppercase; color: var(--tertiary); letter-spacing: 1px; font-weight: 800; margin: 0 0 .5rem 0; position: relative; padding: 0 0 0 60px; font-size: .9rem;}
.preheader:before {width: 50px; height: 3px; background: var(--tertiary); content: ""; position: absolute; left: 0; top: 8px;}

.hgroup {text-align: center; margin: 0 auto 3rem auto; max-width: 950px;}
.hgroup .preheader {padding: 0 0 .5rem 0; margin: 0 0 .5rem 0;}
.hgroup .preheader:before {left: calc(50% - 25px); top: 100%;}

.link-list {list-style: none; padding: 0;}
.link-list li a {font-size: 1.25rem;}
.link-list li::before {content: "\f138";font-family: FontAwesome; color: var(--primary); margin: 0 5px 0 0;}
input {accent-color: var(--primary);}
.box {background: var(--light); padding: 25px;}
.lead {font-size: 1.25rem; font-weight: 400;}

.content-cta {padding: 25px 25px 25px 35px; font-size: 1.35rem; color: var(--primary); font-style: italic; border-left: 4px solid var(--secondary); margin: 2rem 0; background: var(--light); border-radius: 0 5px 5px 0;}
.content-cta p:last-child {margin-bottom: 0;}

/* Buttons Links */
a {color: var(--primary); text-decoration: underline;}
a:hover {text-decoration: none; color: var(--primary);}
.btn-theme > a, button.btn-theme, a.btn-theme {border: none; display: inline-block; padding: 15px 25px; text-transform: uppercase; font-weight: 700;text-decoration: none; position: relative; z-index: 5; font-size: .9rem; letter-spacing: 1px; font-family: var(--body); position: relative; background: var(--primary); color: #fff; border-radius: 50px; overflow: hidden;}
a.btn-theme:before, .btn-theme > a:before, span.btn-theme:before, button.btn-theme:before, a.btn-theme:before {content: ''; position: absolute; width: 100%; transform: scaleX(0); height: 100%; top: 0;left: 0; background-color: var(--tertiary);transform-origin: bottom right; transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); z-index: -1; }
a.btn-theme:hover:before, .btn-theme > a:hover:before, span.btn-theme:hover:before, button.btn-theme:hover:before {transform: scaleX(1);transform-origin: bottom left;}

.btn-text a {text-transform: uppercase; font-weight: bold; transition: var(--transition); text-decoration: none;}
.btn-text a:after {content: "\f061";font-family: FontAwesome; margin: 0 0 0 5px;transition: var(--transition);}
.btn-text a:hover {color: var(--tertiary);}
.btn-text a:hover:after {margin-left: 9px;}

/* Layout */
.content section {padding: var(--spacer) 0;}
.grid {display: grid; gap: var(--grid-gap-md);}
.grid.grid-gap-sm {gap: var(--grid-gap-sm);}
.grid.grid-gap-md {gap: var(--grid-gap-md);}
.grid.grid-gap-lg {gap: var(--grid-gap-lg);}
.grid .text {height: 100%; display: flex; justify-content: center; flex-direction: column; align-items: flex-start;}
.grid-2-sm {grid-template-columns: 1fr 1fr;}
.border-middle .col:first-of-type {border-right: 1px solid var(--primary); padding: 0 var(--spacer) 0 0;}
.bkg-light {background: var(--light);}
.bkg-dark .preheader, .bkg-dark .callout {color: var(--tertiary);}
.grid-box-4 {display: grid; grid-template-columns: 1fr 1fr; gap: 25px;}
.grid-pagelist {display: grid; grid-template-columns: repeat( auto-fill, minmax(225px, 1fr) );}
.flex {display: flex;}
.width-skinny {max-width: var(--skinny); margin: 0 auto;}

/* Header */
.page-hdr {background: #fff;}

/* Hero */
#hero {margin: 100px 0 50px 0;}
#hero h1 {letter-spacing: -2px; text-transform: none;}

/* Stat Block */
.stat-block {background: var(--primary); padding: 15px; color: #fff; text-align: center; font-size: .85rem; border-radius: 10px; box-shadow: 5px 5px 15px rgba(0,0,0,.15);}
.stat-block span {color: var(--secondary); font-size: 2.5rem;}
.stats-graphic .stat-block {margin: 1rem 0;}
.stats-graphic img {border-radius: 10px;}

.stats-overlap .grid .col {order: 2;}
.stats-overlap .grid .text {order: 1;}

/* Ico Item */
.icon-item img {max-height: 65px; margin: 0 0 .5rem 0;}
.icon-item {font-size: .9rem;}
.icon-item h3 {font-size: 1.35rem;}

/* Card */
.card {background: #fff; border-radius: 5px; overflow: hidden; box-shadow: 5px 5px 15px rgba(0,0,0,.1);}
.card figure {height: 175px; width: 100%;}
.card figure img {width: 100%; height: 100%; object-fit: cover;}
.card .text {height: auto; padding: 25px; font-size: .9rem;}
.card .text p:last-of-type {margin: 0;}

/* Testimonials */
#testimonials {background: var(--primary); position: relative; overflow: hidden; z-index: 5; padding: var(--spacer) 0;}
#testimonials figure {position: absolute; inset: 0;}
#testimonials figure img {object-fit: cover; opacity: .25; height: 100%; width: 100%; z-index: -1; }
.img-quote {margin: 0 auto 25px auto; display: block; width: 75px;}

.testimonials, .content-feed {overflow: hidden; width: 100%;}
.testimonial {text-align: center; padding: 0 25px;}
.testimonial p {font-size: 1rem; font-style: italic; padding: 0; color: #fff;}
.testimonial p + p {font-style: normal; font-size: 1rem; color: var(--secondary);}
.testimonial p + p strong {display: block; text-transform: uppercase;}

#testimonials .swiper-pagination {position: relative;}
#testimonials .swiper-button-prev {left: 15px;}
#testimonials .swiper-button-next {right: 15px;}
.swiper-pagination-bullet-active {background: var(--secondary) !important;}

.bkg-img-full {background: var(--primary); position: relative; z-index: 5; color: #fff; overflow: hidden;}
.bkg-img-full > img {position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover; z-index: -1; opacity: .3; mix-blend-mode: multiply;}
.bkg-img-full > img.bkg-parallax {height: calc(100% + 75px); top: -75px;}
.bkg-img-full h2, .bkg-img-full h2 {color: #fff;}
.bkg-img-full .preheader {color: var(--secondary);}
.bkg-img-full .preheader:before {background: var(--secondary);}
.bkg-img-full .btn-text a {color: var(--secondary);}
.bkg-img-full .col img {border-radius: 10px;}

.check-list {list-style: none; padding: 0;}
.check-list li {position: relative; padding: 5px 5px 5px 25px;}
.check-list li:before {content: "\f00c";font-family: FontAwesome; color: var(--secondary); position: absolute; left: 0; top: 5px;}

/* Page Header */
.page-hdr {position: relative; z-index: 5; margin-top: 75px;}
.page-hdr figure {position: absolute; inset: 0; width: 100%; z-index: -1; background: #111; overflow: hidden;}
.page-hdr figure img {width: 100%; height: 100%; object-fit: cover; opacity: .5;}
.page-hdr .text {padding: 75px 25px; text-align: center;}
.page-hdr .breadcrumb {background: none; padding: 0; margin: 0 0 .5rem 0; font-size: .9rem; color: #fff;}
.page-hdr .breadcrumb a {color: #fff;}
.page-hdr h1 {color: #fff;}

.content aside > * {margin: 0 0 2rem 0;}
#sec-nav ul {list-style: none; padding: 0px; margin: 0; background: var(--light); border-top: 5px solid var(--secondary);}
#sec-nav ul a {display: block; padding: 20px 25px; text-decoration: none; font-weight: 400; font-size: .9rem; letter-spacing: -.5px; border-bottom: 1px dotted rgba(0,0,0,.2); position: relative;}
#sec-nav ul li:last-of-type a {border: 0;}
#sec-nav ul .active > a {border-radius: 0; font-weight: 700;}
#sec-nav ul a:hover {padding: 20px 20px 20px 30px; background: rgba(255,255,255,.5);}
#sec-nav ul .active > a::after {content: "\f0da";font-family: FontAwesome; position: absolute; right: 15px; font-size: 1.1rem;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
:root {
  --spacer: 50px;
  --grid-spacer-med: 50px
}
h2 {font-size: 2.5rem;}
.img-right {float: right; margin: 0 0 2rem 2rem; max-width: 50%;}
.img-left {float: left; margin: 0 2rem 2rem 0; max-width: 50%;}
.grid-2-md {grid-template-columns: 1fr 1fr;}
.grid-4 {grid-template-columns: 1fr 1fr;}

/* Hero */
#hero .grid {grid-template-columns: 1fr .95fr;}
#hero h1 {font-size: 2.65rem;}

/* Stat Graphic */
.stats-graphic {position: relative;}
.stats-graphic img {box-shadow: 5px 5px 15px rgba(0,0,0,.15);}
.stats-graphic .stat-block {width: 200px; position: absolute; right: -25px; top: 10%;}
.stats-graphic .stat-block:nth-of-type(2) {left: -25px; top: 40%;}
.stats-graphic .stat-block:nth-of-type(3) {right: -25px; top: 60%;}

.grid-3-stack-tab .card {display: grid; grid-template-columns: 1.25fr 2fr;}
.grid-3-stack-tab .card figure {height: 100%;}
}

/* Small devices (tablets, 992px and up) */
@media (min-width: 992px) {
:root {
  --spacer: 50px;
  --spacer-lg: 150px;
  --max-width: 940px;
  --grid-gap-sm: 15px;
  --grid-gap-md: 25px;
  --grid-gap-lg: 50px;
}
h1 {font-size: 3.5rem;}

/* Layout */
.grid {grid-gap: var(--grid-gap-md);}
.grid-2 {grid-template-columns: 1fr 1fr;}
.grid-2-1 {grid-template-columns: 1.5fr 1fr;}
.grid-2-5 {grid-template-columns: 2fr 5fr;}
.grid-4 {grid-template-columns: 1fr 1fr 1fr 1fr;}
.grid-sidebar {grid-template-columns: 1.25fr 3fr; gap: 50px;}
.grid-blog {grid-template-columns: 3fr 1fr; gap: 25px;}
.grid-testimonials {grid-template-columns: 575px minmax(0, auto); display: grid; gap: 25px;}
.grid-3-stack-tab {grid-template-columns: 1fr 1fr 1fr;}

.stats-overlap .grid {gap: 50px;}
.stats-overlap .grid .col {order: 1;}
.stats-overlap .grid .text {order: 2;}
.stats-overlap .stats-graphic {position: relative; margin-right: 50px;}
.stats-graphic .stat-block {right: -50px; top: 10%;}
.stats-graphic .stat-block:nth-of-type(2) {left: -25px; top: 40%;}
.stats-graphic .stat-block:nth-of-type(3) {right: -50px; top: 60%;}

.grid-3-stack-tab .card {display: inline;}
.grid-3-stack-tab .card figure {height: 175px;}

#hero {margin-top: 115px;}

#testimonials .img-quote {margin: 0 0 2rem 0;}
#testimonials .testimonial {text-align: left; padding: 0 50px;}
#testimonials .swiper-pagination {position: relative; text-align: left; padding: 0 0 0 50px;}

.page-hdr {margin-top: 90px;}

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
:root {
--spacer: 75px;
--max-width: 1140px;
}
h2 {font-size: 2.5rem;}
.grid-testimonials {grid-template-columns: 675px minmax(0, auto); display: grid; gap: 25px;}


#hero .text h1 {font-size: 4rem;}
  
#testimonials .swiper-button-prev {left: var(--side-width);}
#testimonials .swiper-button-next {right: var(--side-width);}
#testimonials .testimonial p {font-size: 1.25rem;}

.stats-graphic {height: calc(100% + 100px); margin-top: -125px;}
.stats-graphic img {height: 675px; object-fit: cover;}

.page-hdr {margin-top: 110px;}
.page-hdr .text {padding: 115px 0;}
}

@media (min-width: 1600px) {

}