/* WP Paragraph Styles */
.is-style-eyebrow {text-transform: uppercase; color: var(--darkgreen); letter-spacing: 3px; margin-bottom: .5rem; font-weight: 600;}
.is-style-lead {font-size: 1.35rem; font-weight: 400;}
.is-style-callout {font-size: 1.25rem; border-left: 5px solid var(--accent-1); padding-left: 1.25rem;}
.is-style-max-width {max-width: 800px !important; margin-bottom: 3rem; margin-inline: auto;}
.is-style-balance {text-wrap: balance;}