.wp-block-social-links {padding: 0 !important; font-size: 1.5rem;}
.wp-block-social-links:not(.is-style-logos-only) .wp-social-link {
    background-color: transparent !important;
    color: #fff;
    font-size: 1.5rem;
}