@charset "UTF-8";
/* CSS Document
Client: Informatics Starter Template
Company: Informatics, Inc
Author: Jeff S
Date: June 2019
*/

/* Variables */
:root {
  --primary: #CD3794;
  --primary-dark: #AF277A;
  --secondary: #DEE22A;
  --secondary-light: #F9FADE;
  --secondary-light-border: #D4D6A5;
  --tertiary: #7D4884;
  --light: #EBF4FA;
  --light-border: #D1E5F2;
  --dark: #111;
  --spacer: 25px;
  --text: rgba(0,0,0,.85);
  --light-text: rgba(255,255,255,.75);
  --header: 'Comfortaa', sans-serif;
  --body: 'Mulish', sans-serif;
  --serif: 'Georgia', serif;
  --transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);

}

/* TYPOGRAPHY */
html {font-size: 100%;}
body {
font-family: var(--body); font-weight: 400; font-size: 1rem; background: #fff; color: var(--text); overflow-x: hidden;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
-moz-font-feature-settings: "liga" on;
font-feature-settings: "liga";
text-rendering: optimizeLegibility;
}
h1, h2, h3, h4, h5 {font-family: var(--header); font-weight: 700; color: var(--dark); letter-spacing: -1px; margin: 0 0 1rem 0;}
h1 {font-size: 2.25rem;}
h2 {font-size: 2rem; line-height: 1.25; letter-spacing: -1.5px;}
h3 {font-size: 1.5rem;}
h4 {font-size: 1.25rem;}
p, ul {margin-bottom: 2em;}
.preheader {text-transform: uppercase; font-weight: 800; letter-spacing: 1px; color: var(--primary); margin: 0 0 10px 0;}
img {max-width: 100%; height: auto;}
hr {margin: 25px 0;}

.lead {font-size: 1.25rem; padding: 1rem 0 0 0; position: relative;}
.lead:before {display: block; width: 40px; height: 5px; background: var(--primary); position: absolute; content: ""; border-radius: 3px; top: 0; left: 0;}
.hgroup {text-align: center;}
.hgroup .lead:before {left: 50%; margin-left: -25px; top: 0;}
.hgroup .lead {padding: 1rem 0 0 0; max-width: 650px; margin: 0 auto 2rem auto;}

/* LINKS */
a {color: var(--primary); text-decoration: underline;}
a:hover {color: var(--primary);}
a.btn-theme, .btn-theme a {background: var(--primary); color: #fff; padding: 15px 12px; border-radius: 5px; text-transform: uppercase; font-weight: 800; text-decoration: none; text-align: center; letter-spacing: 2px; font-size: .9rem; position: relative; z-index: 5; box-shadow: 5px 5px 0 var(--secondary); overflow: hidden; display: block;}
.btn-theme span {display: block; font-size: .6rem; font-weight: 400;}
a.btn-theme:hover, .btn-theme a:hover {box-shadow: 0 0 0 var(--secondary); background: var(--primary-dark);}
a.btn-theme:before, .btn-theme > a:before, span.btn-theme:before {content: ''; position: absolute; width: 100%; transform: scaleX(0); height: 100%; top: 0;left: 0; background-color: var(--tertiary);transform-origin: bottom right; transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1); z-index: -1;}
a.btn-theme:hover:before, .btn-theme > a:hover:before, span.btn-theme:hover:before {transform: scaleX(1);transform-origin: bottom left;}

.btn-text a {font-weight: 700; font-size: 1rem; text-decoration: none; position: relative; display: inline; z-index: 5; color: var(--dark); padding: 5px 0 5px 0;}
.btn-text a::before {height: 10px; width: 100%; background: var(--secondary); content: ""; position: absolute; left: 0; bottom: 2px; z-index: -1; opacity: .5; transition: var(--transition);}
.btn-text a:hover::before {bottom: 5px; opacity: .65;}
.btn-text a:after, a.btn-text:after {content: "\f061";font-family: FontAwesome; color: var(--primary); margin: 0 5px 0 0; transition: var(--transition); margin: 0 0 0 5px;}
.btn-text a:hover::after {margin: 0 0 0 8px;}

/* Animate */
.ccm-page a,
#nav-main ul,
a.btn-theme:after {
-webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
-moz-transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
-o-transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
transition: all 300ms  cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* Layouts */
.container {position: relative;}
.content section {padding: var(--spacer) 0; position: relative;}
.grid {display: grid; gap: 25px;}
.bkg-plus {position: relative; z-index: 5;}
.bkg-plus:before {position: absolute; z-index: -1; width: 100%; height: 400px; background: url(../img/plus.png) right 25px top 75px no-repeat; background-size: 200px; content: ""; top: 0;}
.bkg-light {background: var(--light);}
.bkg-dark {position: relative; z-index: 5;}
.bkg-dark:before {position: absolute; z-index: -1; width: 100%; height: 474px; background: url(../img/bkg-office.jpg) no-repeat var(--tertiary); content: ""; top: 0; background-position: center center;}
.bkg-dark .hgroup {color: #fff;}
.bkg-dark .hgroup h2 {color: #fff;}
.bkg-dark .hgroup .preheader {color: var(--secondary);}
.bkg-dark .hgroup .lead:before {background: var(--secondary);}
.bkg-light-colors {background: url(../img/bkg-light-colors.jpg) center bottom no-repeat; background-size: auto 400px;}
.bkg-color-top {background-position: center -250px;}
.grid-sidebar-left aside > * {margin: 0 0 2rem 0;}
/* Header */
.img-lines {position: relative;}
.img-lines img:last-of-type {position: absolute; left: -10%; top: 15%; width: 130%; max-width: none; mix-blend-mode: multiply;}
.breadcrumb {background: none; padding: 0; font-size: .8rem;}
#secondary .breadcrumb {margin: 0 0 15px 0;}

/* Alert */
.alert {background: var(--secondary-light); border: 1px solid var(--secondary-light-border); border-radius: 15px; padding: 20px 35px 20px 20px; font-size: .8rem; display: block; color: var(--text); text-decoration: none;}
.alert strong {color: var(--primary);}
.alert h3 {font-size: 1.15rem; margin: 0 0 .25rem 0;}
.alert {position: relative; box-shadow: 5px 5px 15px rgba(0,0,0,.05);}
.alert:after {content: "\f061";font-family: FontAwesome; color: var(--primary); margin: 0 5px 0 0; transition: var(--transition); position: absolute; right: 10px; top: calc(50% - 10px);}
.alert p:last-of-type {margin: 0;}
.alert-img {padding-left: 90px;}
.alert-img img {position: absolute; left: -10px; bottom: -1px; width: 100px;}
.alert:hover:after {right: 5px;}
.alert:hover {background: var(--light); border-color: var(--light-border); text-decoration: none;}

/* CTA Items */
.divider {position: relative; margin: 0 0 1.25rem 0;}
.divider:after {width: calc(100% - 155px); content: ""; height: 1px; background: #ccc; position: absolute; right: 0; top: 10px;}
.cta-links a, .cta-link {display: block; padding: 15px; background: var(--light); border-radius: 15px; border: 1px solid var(--light-border); display: flex; justify-content: space-between; font-size: 1rem; font-weight: 700; color: var(--text); text-decoration: none; }
.cta-links a:after, .cta-link:after {content: "\f061";font-family: FontAwesome; color: var(--primary); margin: 0 5px 0 0; transition: var(--transition);}
.cta-links a:hover:after, .cta-link:hover:after {margin: 0;}
.cta-links a:hover, .cta-link:hover {background: var(--secondary-light); border-color: var(--secondary-light-border);}

/* Feature Card */
.feature-card {border-radius: 10px; overflow: hidden; font-size: .9rem; box-shadow: 0 0 15px rgba(0,0,0,.05); height: 100%;}
.feature-card figure {height: 200px; overflow: hidden;}
.feature-card figure img {width: 100%; height: 100%; object-fit: cover; transition: var(--transition);}
.feature-card .text {padding: 25px; background: #fff; display: flex; justify-content: center; flex-direction: column; height: calc(100% - 200px);}
.feature-card .cta-link {font-size: 1rem; padding: 15px; border-radius: 10px; margin-top: auto;}
.feature-card:hover img {transform: scale(1.1);}

/* Testimonials */
.testimonials {overflow-x: hidden; }
.testimonial-wrapper {background: #fff; padding: 25px; border-radius: 25px; box-shadow: 0 0 15px rgba(0,0,0,.05); margin: 0 0 2rem 0;}
.testimonial .text {display: flex; justify-content: center; flex-direction: column; padding: 0;}
.testimonial p {font-size: 1.25rem; margin: 0 0 1rem 0; color: var(--text); font-style: italic;}
.testimonial p.author {font-size: 1rem; font-weight: 800; text-transform: uppercase; color: var(--primary); font-style: normal;}
.swiper-pagination-bullet-active {background: var(--primary);}
.swiper-pagination-bullets {text-align: center;}

/* Blog Items */
.blog-item {text-align: left;}

/* Footer */
.footer {background: var(--light); padding: 3rem 0 0 0; font-size: .9rem;}
.ftr-grid {display: flex; flex-wrap: wrap; gap: 25px;}
.ftr-grid .col {flex: 1 1 100px;}
.footer h3 {font-size: 1.25rem;}
.footer ul {list-style: none; padding: 0 0 0 15px; border-left: 1px solid #ccc;}
.footer ul a {padding: 5px; display: block; color: var(--text);}
.footer ul a .fa {color: var(--primary); width: 18px;}
.footer ul a:hover {padding: 5px 0 5px 10px; text-decoration: none; color: var(--dark);}
.copy {background: var(--primary-dark); margin: 0; padding: 15px; text-align: center; color: #fff; font-size: .8rem; margin: 3rem 0 0 0;}
.copy a {color: #fff;}

/* FPA Form */
.fpa-form label {text-transform: uppercase; font-size: .8rem;}
.fpa-form .form-group {margin: 0 0 10px 0;}
.fpa-form .form-control {padding: 12px 15px; height: auto;}

/* Page List */
.page-list-text {margin: 2rem 0;}
.landing-page-list {display: grid; grid-template-columns: 1fr 1fr;}
.landing-page-list a {display: block;position: relative; height: 175px;}
.landing-page-list figure {overflow: hidden; border-radius: 15px; box-shadow: 0 0 0 5px #fff; height: 100%;}
.landing-page-list h3 {display: block; font-family: var(--body); font-size: 1rem; background: var(--primary); color: #fff; text-decoration: none; padding: 15px; letter-spacing: normal; position: absolute; bottom: 0; left: 0; width: 100%; margin: 0; opacity: .9; transition: var(--transition); display: flex; justify-content: space-between; align-items: center; border-radius: 0 0 15px 15px;}
.landing-page-list h3:after {content: "\f061";font-family: FontAwesome; color: #fff; margin: 0 0 0 5px; transition: var(--transition); font-size: .8rem;}
.landing-page-list img {transform: scale(1); transition: var(--transition); width: 100%; height: 100%; object-fit: cover;}
.landing-page-list a:hover img {transform: scale(1.1);}
.landing-page-list a:hover h3 {background: var(--tertiary); opacity: 1;}
.landing-page-list a:hover h3:after {color: var(--secondary);}
.landing-page-list a:after {content: ""; width: 100%; height: 100%; background: var(--secondary); position: absolute; left: 0; top: 0; z-index: -1; transform: rotate(0deg); border-radius: 15px;transition: var(--transition); }
.landing-page-list a:hover:after {transform: rotate(10deg);}

#secondary {background: var(--light); margin: -2rem 0 0 0; padding: 25px; border-top: 1px solid var(--light-border); text-align: center;}
#secondary p {margin: 0;}
.img-fun {position: relative; width: 100%; z-index: 5; margin: 1rem auto;}
.img-fun img {border-radius: 15px; opacity: 1;box-shadow: 0 0 0 5px #fff; width: 100%; height: 100%; object-fit: cover;}
.img-fun:after {content: ""; width: 100%; height: 100%; background: var(--secondary); position: absolute; left: 0; top: 0; z-index: -1; transform: rotate(7deg); border-radius: 15px;transition: var(--transition); }
.secondary-grid aside > * {margin: 0 0 2rem 0;}
.secondary-grid aside .cta-links {gap: 15px;}

#nav-sec ul {list-style: none; padding: 10px 0; border-radius: 15px; overflow: hidden; background: var(--light);}
#nav-sec ul a {display: block; padding: 15px 25px; color: var(--text);}
#nav-sec .nav-path-selected a {background: #fff; border-left: 5px solid var(--primary);}
#nav-sec ul a:hover {padding: 15px 20px 15px 30px; background: rgba(0,0,0,.05);}
#nav-sec ul .nav-path-selected a:hover {background: none;}

.share {list-style: none; padding: 0; display: flex;}
.share a {color: var(--primary); text-decoration: none; font-size: 2rem; margin: 0 1rem 0 0;}
.share a:hover {color: var(--secondary);}

#simple {text-align: center; background: var(--light); margin: -2rem 0 0 0; padding: 50px 25px;}
#simple p {margin: 0;}

.map-link {border-radius: 15px; overflow: hidden;border: 1px solid var(--secondary-light-border); }
.map-link .text {padding: 25px; background: var(--secondary-light); font-size: 1.1rem; border-top: 1px solid var(--secondary-light-border);}
.map-link .btn-theme {margin: 0 0 0 0;}
.clinic-detail ul + .preheader, .cta-links + .preheader {margin: 2rem 0 1rem 0;}
.clinic-detail ul {list-style: none; padding: 0;}
.clinic-detail ul li {padding: 2px 0;}
.clinic-detail ul strong {float: right;}
.clinic-detail {gap: 50px;}
.clinic-detail + .preheader {margin: 2rem 0;}
#clinic-testimonials .testimonial {display: block; padding: 50px; text-align: center;}

/* Blog */
.news-list {display: grid;}
.news-item h2 {font-size: 2.15rem; margin: 0 0 1rem 0; line-height: 1.1;}
.news-item p {margin: 0 0 1rem 0;}
.news-item {display: grid; gap: 25px; padding: 0 0 35px 0; margin: 0 0 35px 0; border-bottom: 1px solid #ccc;}
.blog-sidebar h3 {text-transform: uppercase; font-size: 1rem; color: var(--primary);}
.blog-sidebar ul {list-style: disc; padding: 0 0 0 15px;}
.blog-sidebar ul li {margin: 0;}
.blog-sidebar ul li a {padding: 5px; display: inline-block;}
.blog-sidebar ul li::marker {color: var(--primary);}
.blog-sidebar a {color: var(--text); text-decoration: underline;}
.blog-sidebar .list-inline {display: flex; flex-wrap: wrap; list-style: none; padding: 0;}
.blog-sidebar .list-inline li:before {display: none;}
.blog-sidebar .list-inline a {background: var(--light); padding: 3px 6px; font-size: 1rem; margin: 0 5px 5px 0;}
.blog-sidebar > * {margin: 0 0 2rem 0;}
.blog-info ul {list-style: none; padding: 0; margin: 1rem 0; display: flex; flex-wrap: wrap; justify-content: center;}
.blog-info ul li {margin: 0 10px;}
.large-text {font-size: 1.1rem;}
.skinny {max-width: 800px;}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
h1 {font-size: 2rem;}
h2 {font-size: 2rem;}
.img-left {max-width: 50%; float: left; margin: 0 25px 25px 0;}
.img-right {max-width: 50%; float: right; margin: 0 0 25px 25px;}
.lead {padding: 0 0 0 55px;}
.lead:before {top: 12px;}
.blog-grid.grid {display: grid; grid-template-columns: 2.65fr 1fr; align-items: flex-start; gap: 50px;}
.grid.align-top .col {justify-content: flex-start;}

/* Layouts */
.grid-2, .grid-2-md {grid-template-columns: 1fr 1fr;}
.grid-3 {grid-template-columns: 1fr 1fr 1fr; gap: 15px;}
.grid .col {display: flex; justify-content: center; flex-direction: column;}
.grid-1-2 {display: grid; grid-template-columns: 1fr 2fr;}
.grid-2-1 {display: grid; grid-template-columns: 2fr 1fr;}
.page-list {display: grid; grid-template-columns: repeat( auto-fill, minmax(250px, 1fr) );}

/* Feature Full */
.feature-full {position: relative; z-index: 1;}
.feature-full:after {height: 100%; width: 45%; position: absolute; content: ""; background: url(../img/bkg-cali.jpg); top: 0; left: 0; z-index: -1; background-size: cover;}
.feature-full .feature-full-text {margin: 100px 0 0 0;}

/* Header */
.hero-grid {grid-template-columns: 1.25fr 1fr; gap: 50px; margin: 1rem 0;}
#secondary {margin-top: 115px; text-align: left;}
#secondary .grid {grid-template-columns: 1fr 2.15fr; gap: 50px;}
#secondary .grid .text {order: 2;}
.secondary-grid {display: grid; grid-template-columns: 1fr 2.15fr; gap: 50px;}
.secondary-grid aside {align-self: flex-start;}
#simple {margin-top: 115px;}

/* Testimonials */
.testimonial-wrapper {margin: 2rem 0;}
.testimonial p {font-size: 1.25rem; margin: 1rem 0 0 0;}
.testimonial .text {padding: 0;}

/* Page List */
.landing-page-list {display: grid; grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );}
.landing-page-list a {height: 225px;}

/* Clinic Detail */
.clinic-detail {display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 15px;}

/* News */
.news-item {grid-template-columns: 1fr 2fr;}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
:root { --spacer: 50px;}
h1 {font-size: 2.5rem;}
.lead {font-size: 1.5rem;}

/* Layouts */
.grid {gap: 25px;}
.grid-4-lg {grid-template-columns: 1fr 1fr 1fr 1fr;}
.dgn-plus {z-index: 5;}
.dgn-plus:before {position: absolute; left: 50px; bottom: calc(100% - 105px); width: 175px; height: 175px; content: ""; background: url(../img/plus.png); background-size: cover; mix-blend-mode: overlay; z-index: -1;}
.dgn-plus-alt {position: relative;}
.dgn-plus-alt:before {position: absolute; left: auto; top: auto; right: 50px; bottom: -75px; width: 175px; height: 175px; content: ""; background: url(../img/plus.png); background-size: cover; mix-blend-mode: overlay; z-index: -1; mix-blend-mode: multiply;} 

.divider + .grid-sidebar-left {margin-top: 3rem;}
.grid-sidebar-left {grid-template-columns: 1fr 2fr; align-items: flex-start; margin: 0 0 0 0; gap: 50px;}
.grid-sidebar-left .col:first-child {order: 2;}
.grid-sidebar-left aside {order: 1;}

/* Header */
.hero-grid {grid-template-columns: 1fr 1fr; gap: 100px;}
.header .alert {margin-left: 55px;}
#landing .col.text {order: 2;}

/* Testimonials */
.testimonial {display: grid; grid-template-columns: 1.5fr 2fr; gap: 50px;}
.testimonial p {font-size: 1.5rem; padding: 0 25px 0 0;}
.feature-full .feature-full-text {margin: 50px 0 0 25px;}

.ftr-grid .col:first-of-type {flex: 1 1 300px;}
.ftr-grid .col {flex: 1 1 auto;}

.page-list-text {display: grid; grid-template-columns: 1.5fr 2fr;}

/* Secondary Layout */
#secondary {margin-top: 130px; padding: 75px 0; margin: 130px 0 0 0; position: relative; z-index: 5;}
#secondary .lead {padding-right: 150px;}
#secondary figure {position: absolute; width: 290px; top: -25px;}
#secondary .grid {gap: 75px}
.secondary-grid {gap: 75px;}
.secondary-grid aside {margin-top: 0px;}
#simple {margin-top: 130px; position: relative; z-index: 5;}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  :root { --spacer: 50px;}
  h1 {font-size: 3rem;}

  #secondary figure {position: absolute; width: 350px; top: -15px;}
  .secondary-grid aside {margin-top: 85px;}
  #secondary .lead {padding-right: 25px;}

}

/* Animations */
.floating { 
    animation-name: floating;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}