@charset "UTF-8";
/* CSS Document
Client: Informatics Starter Template
Company: Informatics, Inc
Author: Jeff S
Date: April 2022
*/
/* ----------------------*/
/* -- MENU AND HEADER -- */
/* ----------------------*/
.hdr-topper {background: var(--light); border-bottom: 1px solid var(--light-border);}
.hdr-tools {display: flex; justify-content: center;}
.hdr-tools a {display: block; padding: 5px; color: var(--text); font-size: .8rem;}
#logo {max-width: 115px; margin-right: auto;}

#nav-main {margin: 1rem 0;}
#nav-main a {font-size: 1.1rem; color: var(--dark); font-weight: 700; text-decoration: none; display: block;}
#nav-main li ul {width: 100%; padding: 0;}
#nav-main li ul li {border: 0;}
#nav-main li ul li a {font-size: 1rem; font-weight: 400; padding: 10px 15px 10px 35px;}

/* ONLY MOBILE */
@media (max-width: 768px) {
#header {border-bottom: 1px solid var(--secondary-light-border); margin: 0 0 var(--spacer) 0; box-shadow: 0 5px 10px var(--light);}
#header .container {width: 100%; padding: 0;}
.mobile-menu {display: flex; justify-content: flex-end; align-items: center; gap: 15px; padding: 15px;}
#toggle {background: none; text-transform: uppercase; font-weight: 700; letter-spacing: 1px; margin: 0; border: none; border-radius: 0; font-size: .6rem;}
#toggle .menu-label {display: block;}
#toggle .fa {font-size: 1.5rem;}
#navbar {margin: 0; border-top: 1px solid var(--secondary-light-border);}
#header .btn-theme span {letter-spacing: normal;}
#nav-mini {display: grid; grid-template-columns: 1fr 1fr; list-style: none; padding: 0; gap: 15px; margin: 0 0 1rem 0;}
#nav-mini a {padding: 10px 15px; font-size: .8rem; display: block; background: var(--secondary-light); color: var(--text); border-radius: 5px; border: 1px solid var(--secondary-light-border);}

#nav-main button {border: none; background: none; color: var(--secondary); padding: 15px 25px; border-left: 1px dotted var(--secondary-light-border);}
#nav-main button .fa {transform: rotate(180deg);}
#nav-main button.collapsed .fa {transform: rotate(0deg);}
#nav-main li {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; border-bottom: 1px dotted var(--secondary-light-border);}
#nav-main li ul li:last-of-type {margin: 0 0 1rem 0;}
#nav-main .hdr-cta {display: none;}
}

/* TABLET */
@media (min-width: 768px) {
#header {position: fixed; width: 100%; top: 0; left: 0; z-index: 50; transition: var(--transition);}
#header.scroll {background: #fff; box-shadow: 0 10px 10px rgba(0,0,0,.025); top: -36px;}
.header {margin-top: 125px;}
#header .container {display: flex; align-items: center; justify-content: space-between;}
#header .container:before, #header .container:after {display: none;}
#header .hdr-topper .container {display: block;}
#logo {display: block; max-width: 125px;}
.hdr-tools {justify-content: flex-start;}
.mobile-menu .hdr-cta {display: none;}
#navbar {padding: 0;}
#nav-main {display: flex; align-items: center;}
#nav-main li button {display: none;}
#nav-main a {display: flex; align-items: center; font-size: .9rem; padding: 10px 5px; letter-spacing: -.5px;}
#nav-main > li > a:after {content: "\f078";font-family: FontAwesome; color: var(--secondary); margin: 0 0 0 5px; font-size: .7rem; transition: var(--transition);}
#nav-main .hdr-cta .btn-theme {display: block; color: #fff; line-height: 1.2; letter-spacing: 2px; font-weight: 800; padding: 10px 15px; margin: 0 0 0 15px;}
#nav-main .hdr-cta .btn-theme span {letter-spacing: normal;}
#nav-main .hdr-cta .btn-theme:after {display: none;}

.hdr-tools a {font-size: .75rem;}
#nav-mini {position: absolute; top: -28px; right: 15px; display: flex; align-content: center; list-style: none; padding: 0; margin: 0;}
#nav-mini a {font-size: .75rem; padding: 5px; color: var(--text);}

#nav-main a:hover {background: none; opacity: 1;}
#nav-main .hdr-cta .btn-theme:hover {background: var(--primary-dark);}
#nav-main li:hover a:after {color: var(--primary);}
#nav-main li ul {position: absolute; display: block; top: 105%; left: calc(50% - 125px); width: 250px; background: #fff; z-index: 5;list-style: none;box-shadow: 0 5px 10px rgba(0,0,0,.05); border-radius: 15px; padding: 10px; border: 1px solid var(--secondary-light-border); margin: 0; opacity: 0; visibility: hidden; transition: var(--transition); z-index: 15;}
#nav-main li:hover ul {top: 100%; opacity: 1; visibility: visible;}
#nav-main li ul li a {padding: 10px; border-radius: 5px;}
#nav-main li ul li a:hover {padding: 10px 5px 10px 15px; background: var(--secondary-light);}
}

/* DESKTOP */
@media (min-width: 992px) {
#logo {max-width: 175px; position: relative; top: 15px;}
#nav-main a {font-size: 1.1rem; padding: 20px 15px;}
#nav-main .hdr-cta .btn-theme {font-size: 1.1rem; padding: 12px 10px;}
#nav-main .hdr-cta .btn-theme span {letter-spacing: 1px;}
.hdr-tools a, #nav-mini a {font-size: .8rem; position: relative; padding: 8px 5px;}
#nav-mini {top: -30px;}
#nav-mini a {padding: 5px 10px;}
#nav-mini a:before {content:""; height: 15px; width: 1px; background: var(--secondary-light-border); position: absolute; left: 0; top: 7px;}
#nav-mini li:first-of-type a:before {display: none;}
}

/* WIDE DESKTOP */
@media (min-width: 1200px) {
#logo {max-width: 200px;}
#nav-main .hdr-cta .btn-theme {padding: 15px;}
}
/* GLOBAL 
#header {border: 0; margin: 0; border-radius: 0; position: relative; z-index: 100;}
#logo {display: block; text-align: center; padding: 15px 15px 5px 15px;}
#logo img {max-width: 150px;}
#navbar ul {list-style: none; padding: 0; margin: 0;}
#navbar #nav-main > .nav-path-selected > a {color: var(--primary);}
#navbar #nav-main a {color: var(--dark); font-weight: 700; text-decoration: none; padding: 15px; display: block;}
#navbar #nav-main ul {border-left: 1px solid #ccc; margin: 0 0 1rem 1rem;}
#navbar #nav-main ul a {font-size: .9rem; padding:10px 15px; font-weight: 400;}

#hdr-tools {background: var(--primary);}
#hdr-tools ul {list-style: none; padding: 0; margin: 0; display: flex; justify-content: center;}
#hdr-tools ul a {padding: 10px 5px; display: block; color: #fff; text-align: center; font-size: .9rem;}

/* ONLY MOBILE 
@media (max-width: 992px) {
#hdr-request {display: none;}
.mobile-menu {display: flex;}
#toggle {background: var(--primary-dark); color: #fff; display: flex; align-items: center; margin: 0; border-radius: 0; padding: 0 10px; text-transform: uppercase; font-weight: bold; font-size: 16px; justify-content: flex-end; flex-grow: 1;}
#toggle .fa {font-size: 22px; margin: 0 0 0 10px; line-height: 48px;}
#navbar #nav-main {padding: 15px 0;}
#hdr-tools .nav-mini {display: none;}
#hdr-tools ul li {flex: 1;}

}

/* WIDE DESKTOP 
@media (min-width: 992px) {
.mobile-menu {display: none;}
.header-flex {display: flex; align-items: center; justify-content: space-between;}
#navbar .nav-mini {display: none;}

#header {padding: 0;}
#logo {padding: 0;}
#navbar {flex-grow: 1; padding: 0;}
#navbar #nav-main {display: flex; justify-content: flex-end; align-items: center;}
#navbar #nav-main a {padding: 50px 25px;}
#navbar #nav-main #hdr-request .btn-theme {padding: 15px 25px;}
#navbar #nav-main ul {position: absolute; left: 50%; margin-left: -125px; top: 105%; width: 250px; background: #fff; border-top: 5px solid var(--primary); display: block; visibility: hidden; opacity: 0; box-shadow: 5px 5px 20px rgba(0,0,0,.2); padding: 15px 5px; border: 0; border-top: 5px solid var(--primary);}
#navbar #nav-main ul:before {display: block; width: 10px; height: 10px; position: absolute; left: 50%; top: -10px; margin-left: -5px; content: "";
border-left: 10px solid transparent; border-right: 10px solid transparent;border-bottom: 10px solid var(--primary);}
#navbar #nav-main li {position: relative;}
#navbar #nav-main li:hover ul {opacity: 1; visibility: visible; top: 100%;}
}

@media (min-width: 1200px) {
}

/* Bootstrap Expand Nav Tablet Too 
@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in {
        display:block !important;
    }
}
