/* Page List */
.page-list-grid {grid-template-columns: 1fr 1fr;}
.page-list-grid .hover-card figure {aspect-ratio: 3 / 4;}
.page-list-grid .hover-card .text {position: absolute; bottom: 0; left: 0; padding: 150px 25px 15px 25px; color: #fff;background: linear-gradient(0deg, rgba(0,0,0,0.85) 0%, rgba(0,0,0,0) 100%); display: block; width: 100%; border-radius: 0 0 5px 5px;}
.page-list-grid .hover-card .text h3 {font-size: 1.15rem;}
.page-list-grid .hover-card:hover .text h3 {color: var(--secondary);}

@media (min-width: 768px) {
.page-list-grid {grid-template-columns: 1fr 1fr 1fr;}
}

@media (min-width: 992px) {
.page-list-grid {grid-template-columns: 1fr 1fr 1fr 1fr; gap: 30px;}
.page-list-grid .hover-card {grid-column: span 1;}
.page-list-grid .hover-card .text h3 {font-size: 1.5rem;}
}