/* PAGE HEADERS */

/* Globals */
.page-header .text {text-align: center; padding: var(--spacer) 0; grid-column: span 12;}
.page-header .text p a {color: #fff; text-decoration: underline; text-decoration-color: var(--secondary);}
.page-header.basic-header .text h1 {text-transform: uppercase;}
.page-header.basic-header .text p {color: #d8d8d8;}
.page-header .text h1 strong {font-weight: 600;}
.page-header .is-style-btn_text a {color: #fff;}

.bio-links-img {position: relative; display: block; margin: 0 auto; width: 100%; max-height: 600px;}
.bio-links-img img {border-radius: 5px; width: 100%; height: 100%; object-fit: cover;}
.bio-links-img .social {padding: 15px; margin: 0; position: absolute; right: 0; bottom: 0;}
.bio-links-img .social a {color: #fff;}
.bio-links-img .social a:hover {background: var(--primary);}

.simple-header .text {padding: 25px 0;}
.header-center {text-align: center;}

/* ONLY MOBILE */
@media (max-width: 991px) {
.page-header figure {height: 250px; position: relative;}
.page-header figure img {width: 100%; height: 100%; object-fit: cover;}
.page-header .text {background: var(--primary); color: #fff;}
.page-header .text h1 {color: #fff;}
.page-header .text:last-child {margin: 0;}

.bio-header figure {display: none;}
.bio-links-img {max-width: 300px;}
}

.basic-header {position: relative;}
.basic-header .text {background: none; padding: 50px var(--spacer);}
.basic-header .text p, .basic-header .text-center {color: #fff; margin: 0 auto;}
.basic-header figure {width: 100%; height: 100%;position: absolute; left: 0; bottom: 0; z-index: -1; overflow: hidden;}
.basic-header figure:after {position: absolute; inset: 0;background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.25) 65%, rgba(0,0,0,0.65) 100%); content: "";}
.basic-header figure img {width: 100%; height: 100%; object-fit: cover; object-position: center bottom;}
/* DESKTOP */
@media (min-width: 992px) {
.page-header {margin-top: 40px; position: relative; overflow: hidden;}
.page-header .text {text-align: left; position: relative; z-index: 5; color: #fff; padding: 300px 0 var(--spacer-vert) 0;}
.page-header .text h1 {color: #fff;}
.page-header figure {width: 100%; height: 100%;position: absolute; left: 0; bottom: 0; z-index: -1; overflow: hidden;}
.page-header figure:after {position: absolute; inset: 0;background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.25) 65%, rgba(0,0,0,0.65) 100%); content: "";}
.page-header figure img {width: 100%; height: 100%; object-fit: cover; object-position: center bottom;}

.bio-header {overflow: visible;}
.bio-header .text {padding: 100px 0 var(--spacer) 0;}
.bio-header .bio-links-img {grid-column: 8 / span 4; position: relative; margin-bottom: -375px;}
.bio-header-overlap {margin-top: 125px;}

.basic-header .text {padding: 125px 25px 60px 25px;}
.simple-header .text {padding: 175px 0 25px 0;}
}

@media (min-width: 1500px) {
.simple-header .text {padding: 175px 0 25px 0;}
}